### decompose

In [2]:
import pandas as pd
from utils import parse_specific_composition, add_row_number, parse_specific_composition_zh
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:3', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [3]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
new_query_examples = [
                      "How many clubs play for the wru division one east in total?; How many clubs play 22 game for the wru division one east?",
                      "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      "what's the position gene hartley finish in 1952?; what's the position gene hartley finish in 1953?",
                      ]
num_k = 3
inds = [1, 5, 26]
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""
Table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": normalised_data[i]['query'],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.""",
    suffix=
    """
Table: {table}
Query: {query}
New query: """,
    input_variables=["query", "table"],
)

In [4]:
task_name = 'tabfact'
split = 'test'
model_name = 'gpt-3.5-turbo'
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
# string_information = pd.read_csv(f"../result/aug/{task_name}_{split}_string.csv", index_col='table_id')
engine = create_engine('sqlite:////media/disk1/chatgpt/zh/tabular_data/db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine=engine)

In [5]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### step-back

In [6]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [8, 19, 33,]
num_k = 3
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which college list be public?",
    "what is the constuctor of the jean behra?",
    "what are all the points when jason richardson be their leading scorer that month?"
    # "how many race did davíd garza pérez participate in each season?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": normalised_data[i]['query'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Table: {table}
Query: {query}
New query:""",
    input_variables=["query", "table"],
)

In [7]:
def get_k_shot_with_answer_noinfo(k: int=1):
    sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
            ]
    thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
    tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
    claims = ["2 be the fewest point that roger dutton / tony wright receive"]
    # inds from test split
    examples_prompt = PromptTemplate(input_variables=["SQL", "table", "claim", "thought", "output"], template=
    """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Query: {claim}
Thought: {thought}
Answer: {output}
    """)
    examples_dict = dict(zip(["SQL", "table", "claim", "thought", "output"], [sqls[0], tables[0], claims[0], thoughts[0], '0']))
    prompt_template = FewShotPromptTemplate(
        examples=[examples_dict],
        example_prompt=examples_prompt,
        prefix="""Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and verify whether the provided claim/query is true or false.
You should output in the following format:
Thought: your step by step thought
Answer: return 0 if the query is false, or 1 if the query true
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Query: {query}""",
        input_variables=["table", "query", "SQL"],
)
    return prompt_template

def get_k_shot_with_answer(k: int=1):
    sqls = ["SELECT DISTINCT Type FROM DF WHERE Type != 'audio';"
            ]
    thoughts = ["Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video, the claim is True."]
    tables = ["<table>\n<thead>\n<tr><th> Type </th></tr>\n</thead>\n<tbody>\n<tr><td>video   </td></tr>\n<tr><td>audio/video   </td></tr>\n</tbody>\n</table>"]
    claims = ["other than audio, the payload type is video."]
    extras = ["The payload types for audio include audio, video, and audio/video."]
    # inds from test split
    examples_prompt = PromptTemplate(input_variables=["SQL", "table", "information", "claim", "thought", "output"], template=
    """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Claim: {claim}
Thought: {thought}
Answer: {output}
    """)
    examples_dict = dict(zip(["SQL", "table", "information", "claim", "thought", "output"], [sqls[0], tables[0],extras[0], claims[0], thoughts[0], '1']))
    prompt_template = FewShotPromptTemplate(
        examples=[examples_dict],
        example_prompt=examples_prompt,
        prefix="""Below is a sub-table generated by excuting the corresponding SQL with additional extra information. You need to understand the logic behind the SQL filtering. Think step by step and verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true.
You should output in the following format:
Thought: your step by step thought
Answer: final answer
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Claim: {query}
""",
        input_variables=["table", "query", "SQL", "information"],
)
    return prompt_template

In [10]:
def get_k_shot_with_aug(k: int=2):
    examples_prompt = PromptTemplate(input_variables=["table", "claim","aug",  "output", "linking"], template=
    """
    Table: {table}
    Extra information: {aug}
    
    Query: {claim}
    Column linking: {linking}
    Columns: {output}""")
    examples_dict = []
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>\n</tbody>\n</table>',
                                        "claim": 'Mesa Trouble was the last title that sid marcus directed.',
                                        "aug": "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year. \n1. Number: The episode number in the series \n2. Title: The title of the episode \n3. Directed_by_: The director of the episode \n4. Released_: The release year of the episode",
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
                                        "output": "Released_, Number, Title, Directed_by_"}])
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
    Based on the Table below, your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
    Approach this task as follows:
    Read the query thoroughly and list every possible link from query term to column in the Table. 
    Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
        suffix=
        """
    Table: {table}
    Extra information: {aug}
    
    Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template


def get_k_shot_with_aug_wiki(k: int=2):
    table_loader = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    examples_dict = []
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader.dataset[95]['question'],
                                        "aug": "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year. \n1. Number: The episode number in the series \n2. Title: The title of the episode \n3. Directed_by_: The director of the episode \n4. Released_: The release year of the episode",
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
                                        "output": "Released_, Number, Title, Directed_by_"}])
    
    # "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year."
    # "№<The episode number in the series>\nTitle<The title of the episode>\nDirected_by_<The director of the episode>\nReleased_<The release year of the episode>"
    examples_prompt = PromptTemplate(input_variables=["table", "aug","claim", "output", "linking"], template=
    """
    Table: {table}
    Extra information: {aug}
    
    Query: {claim}
    Column linking: {linking}
    Columns: {output}""")
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
    Based on the Table below, your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
    Approach this task as follows:
    Read the query and extra information thoroughly and list every possible link from query term to column in the Table. 
    Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
        suffix=
        """
    Table: {table}
    Extra information: {aug}
    
    Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template

In [11]:
from utils import parse_output
def scene_A(query, sample, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n' + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        if verbose:
            print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        if verbose:
            print(stage_1_batch_pred)
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            sample_data = add_row_number(sample_data)
        
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        extra_information.append('row_number: row number in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\nColumn information:\n' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
        # print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data, table_caption=sample['table']['caption']), cb.total_tokens

### RUN

In [12]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [13]:
import concurrent.futures
from typing import List
import os
import json
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

## 调整extrainformation的位置

In [14]:
from utils import parse_output
# Please provide a clear, complete statement in response to the question. However, if you cannot answer the query based on the sub-table or sub-table returns no data, just output 'Cannot get answer from sub-table'. 
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering and answer the query using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, complete statement in response to the query. If you cannot answer the query based on the sub-table, just return 'Cannot get answer from sub-table'.""" )
def scene_B(query, sample, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.

sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    # get columns
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug_wiki(), verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n'+ '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            sample_data = add_row_number(sample_data)
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        extra_information.append('row_number: row number in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data, table_caption=sample['table']['caption']),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

### query aug

In [32]:
##### no info

from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
# from FlagEmbedding import FlagReranker
from openai import BadRequestError, RateLimitError
from tqdm.notebook import tqdm
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}
Query: {query}

Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.
""" )
tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 0

# with tqdm(total=len(table_loader.dataset) - 0, desc=f"Processing",ncols=150) as pbar:
#     while i < len(table_loader.dataset):
#         try:
sample = table_loader.normalize_table(
                    table_loader.dataset[i])
all_tokens = 0
all_queries = []
formatter = TableFormat(format='none', data=sample, save_embedding=False)
sample_data = formatter.get_sample_data(sample_type='random', query=sample['query'])
with get_openai_callback() as cb:
    llm_chain = LLMChain(llm=model, prompt=step_back_prompt, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    if batch_pred[0]['text'].strip() != sample['query']:
        all_queries.append(batch_pred[0]['text'].strip())
    llm_chain = LLMChain(llm=model, prompt=decompose_prompt, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
all_tokens += cb.total_tokens
all_queries = list(set(all_queries))
args_list = [{"query": q, "sample": sample} for q in all_queries]
# print(len(args_list))
ans_from_B = parallel_run_kwargs(scene_B, args_list)
results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0]]
all_tokens += sum([res[1] for res in ans_from_B])
#With answer
# results= []
with get_openai_callback() as cb:
    imp_input = scene_A(sample['query'], sample, True)
    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=True)
    batch_pred = llm_chain.batch([{"query":sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
    # print(batch_pred[0])
    all_tokens += cb.total_tokens
    # print('ALL TOKENS', all_tokens)
    ids.append(i)
    labels.append(sample['query'])
    outputs.append(batch_pred[0]['text'])
    tokens.append(all_tokens)
    extra_quries.append(';'.join(all_queries)) 
        #         if (i + 1) % 10 == 0:
        #                 print(f'saving {i}')
        #                 save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)
        #                 outputs = []
        #                 labels = []
        #                 ids = []
        #                 tokens = []
        #                 extra_quries = []
        #         i += 1
        #         pbar.update(1)
        # except ValueError as e:
        #     print(f'******************Value Error {i}****************************')
        #     i += 1
        #     pbar.update(1)
        
        # except BadRequestError as e:
        #     print('*************************Bad Request**************')
        #     i += 1 
        #     print('*************************Rate limit**************')
        #     pass

> Entering new LLMChain chain...
Prompt after formatting:

    Based on the Table below, your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
    Approach this task as follows:
    Read the query thoroughly and list every possible link from query term to column in the Table.
    Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.


    Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
    Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

    Query: Mesa Trouble was the last title that sid marcus directed.
    Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
    Columns: Released_, Number, Title, Directed_by_


    Table: <table>
<caption>1989 u.s. open (golf)</caption>
<thead>
<tr><th>  place</th><th>        player</th><th>      country</th><th>                  score</th><th>  to_par</th><th>  money</th></tr>
</thead>
<tbody>
<tr><td>1      </td><td>curtis strange</td><td>united states</td><td>71 + 64 + 73 + 70 = 278</td><td>- 2     </td><td>200000 </td></tr>
<tr><td>8      </td><td>peter jacobsen</td><td>united states</td><td>71 + 70 + 71 + 70 = 282</td><td>+ 2     </td><td>24307  </td></tr>
<tr><td>t9     </td><td>paul azinger  </td><td>united states</td><td>71 + 72 + 70 + 70 = 283</td><td>+ 3     </td><td>19968  </td></tr>
</tbody>
</table>
    Extra information: The table contains information about the 1989 U.S. Open (golf) including the player's name, country, score, to par score, and money earned.
1. place: The position the player finished in the tournament
2. player: The name of the player who participated in the tournament
3. country: The country the player represents
4. score: The breakdown of the player's scores for each round of the tournament
5. to_par: The player's score in relation to par for the tournament
6. money: The amount of money earned by the player for their performance in the tournament

    Query: a majority of the people who score under par be from the united state

> Finished chain.
Column linking: score -> to_par, country -> country
Columns: score, to_par, country
 score, to_par, country


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>1989 u.s. open (golf)</caption>
<thead>
<tr><th>  row_number</th><th>      country</th><th>                  score</th><th>  to_par</th></tr>
</thead>
<tbody>
<tr><td>1           </td><td>united states</td><td>71 + 64 + 73 + 70 = 278</td><td>- 2     </td></tr>
<tr><td>8           </td><td>united states</td><td>71 + 70 + 71 + 70 = 282</td><td>+ 2     </td></tr>
<tr><td>9           </td><td>united states</td><td>71 + 72 + 70 + 70 = 283</td><td>+ 3     </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1989 U.S. Open (golf) including the player's name, country, score, to par score, and money earned.

Query: a majority of the people who score under par be from the united state
SQL:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL with additional extra information. You need to understand the logic behind the SQL filtering. Think step by step and verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true.
You should output in the following format:
Thought: your step by step thought
Answer: final answer
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Claim: other than audio, the payload type is video.
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video, the claim is True.
Answer: 1



SQL Excuted:
```SELECT country, to_par
FROM DF
WHERE to_par < 0
AND country = 'united states'```
Sub-table: <table>
<caption>1989 u.s. open (golf)</caption>
<thead>
<tr><th>      country</th><th>  to_par</th></tr>
</thead>
<tbody>
<tr><td>united states</td><td>- 2     </td></tr>
<tr><td>united states</td><td>- 1     </td></tr>
<tr><td>united states</td><td>- 1     </td></tr>
<tr><td>united states</td><td>+ 1     </td></tr>
<tr><td>united states</td><td>+ 2     </td></tr>
<tr><td>united states</td><td>+ 3     </td></tr>
<tr><td>united states</td><td>+ 3     </td></tr>
<tr><td>united states</td><td>+ 3     </td></tr>
</tbody>
</table>
Extra information:
Based on the sub-table generated from the SQL query, there were 3 players from countries other than the United States who scored under par in the 1989 U.S. Open (golf).
Based on the sub-table generated from the SQL query, there were 8 players from the United States who scored under par in the 1989 U.S. Open (golf).

Claim: a majority of the people who score under par be from the united state


> Finished chain.