### decompose

In [1]:
from prompt_manager import get_k_shot_with_answer, view_instruction, row_instruction
import pandas as pd
from utils import parse_specific_composition
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse

In [2]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
    # "after 2005 , the winner of the lifetime achievement award be andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle",
                  "all 12 club play a total of 22 game for the wru division one east",
                #   "a gamecube game loss the award in each of the first 3 year",
                "from 1980 to 2011 , apoel bc lose more than 2 time as many game as it win",
                  "polona hercog 1890partner with alberta brianti after she have stephanie vogt as the partner",
                  ]
task_examples = ["query rewrite", "query decompose", "query ambiguity resolve"]
new_query_examples = [
    # "Who were the winners of the lifetime achievement award after 2005?;",
                      "How many clubs play for the wru division one east in total?; How many clubs play 22 game for the wru division one east?;",
                    #   "a gamecube game loss the award in each of the first 3 year",
                    "from 1980 to 2011 , how many games did apoel bc lose?; from 1980 to 2011 , how many games did apoel bc win?;",
                      "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      ]
num_k = 3
inds = [1, 124, 5]
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
examples = [TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(table_loader.dataset[inds[i]]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Query: {query}
Sub-Table: {table}
new_query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub-queries. Based on the table, provide at most 2 continuity sub-queries for knowledge that you need. 
Split the queries with ’;’.""",
    suffix=
    """Query: {query}
Sub-Table: {table}
new_query: 
    """,
    input_variables=["query", "table"],
)

# Sub-questions are separated by semicolons.
# answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
#                                     template="""
# Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
# SQL Excuted: 
# ```{SQL}```
# Sub-table: {table}
# Query: {claim}
# answer the question given in the query. Only return the string instead of other format information. Do not repeat the question.
# """ )

In [3]:
task_name = 'tabfact'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.01)
schema_information = pd.read_csv(f"result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine=engine)

In [4]:
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
sample = table_loader.normalize_table(table_loader.dataset[2])

### step-back

In [5]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [8, 15]
num_k = 2
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
examples = [TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(table_loader.dataset[inds[i]]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which college list be public?",
    "which game be all score over time?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Sub-Table: {table}
new_query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['statement'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Query: {query}
Sub-Table: {table}
    """,
    input_variables=["query", "table"],
)

In [47]:

table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
i = 90
sample = table_loader.normalize_table(table_loader.dataset[i])
all_queries = []
formatter = TableFormat(format='none', data=sample, use_sampling=True)
llm_chain = LLMChain(llm=model, prompt=step_back_prompt, verbose=True)
batch_pred = llm_chain.batch([{"query": sample['query'], "table": formatter.format_html()}], return_only_outputs=True)

> Entering new LLMChain chain...
Prompt after formatting:
Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.


Query: only 1 of the college list be public , and it be in new orleans
Sub-Table: <table>
<caption>gulf coast athletic conference</caption>
<thead>
<tr><th>          institution</th><th>               location</th><th>  men_s_nickname</th><th>  women_s_nickname</th><th>  founded</th><th>                                    type</th><th>  enrollment</th><th>     joined</th></tr>
</thead>
<tbody>
<tr><td>edward waters college</td><td>jacksonville , florida </td><td>tigers          </td><td>lady tigers       </td><td>1866     </td><td>private / (african methodist)           </td><td>800         </td><td>2010       </td></tr>
<tr><td>talladega college    </td><td>talladega , alabama    </td><td>tornadoes       </td><td>lady tornadoes    </td><td>1867     </td><td>private / (united church of christ)     </td><td>600         </td><td>1999 , 2011</td></tr>
<tr><td>dillard university   </td><td>new orleans , louisiana</td><td>bleu devils     </td><td>lady bleu devils  </td><td>1869     </td><td>private / (methodist & church of christ)</td><td>900         </td><td>1981       </td></tr>
</tbody>
</table>
new_query: which college list be public?


Query: during the 1926 - 27 new york ranger season , game 26 , 29 , 30 , and 34 be all score in overtime
Sub-Table: <table>
<caption>1926 - 27 new york rangers season</caption>
<thead>
<tr><th>  game</th><th>  february</th><th>          opponent</th><th>  score</th><th>     record</th></tr>
</thead>
<tbody>
<tr><td>34    </td><td>24        </td><td>ottawa senators   </td><td>1 - 0  </td><td>19 - 11 - 4</td></tr>
<tr><td>27    </td><td>6         </td><td>pittsburgh pirates</td><td>2 - 1  </td><td>16 - 8 - 3 </td></tr>
<tr><td>31    </td><td>17        </td><td>montreal maroons  </td><td>4 - 1  </td><td>18 - 9 - 4 </td></tr>
</tbody>
</table>
new_query: which game be all score over time?


Query: the term end for vilson ahmeti be after the term end for ylli bufi
Sub-Table: <table>
<thead>
<tr><th>                        name</th><th>                   born_died</th><th>                  term_start</th><th>                    term_end</th><th>             political_party</th></tr>
</thead>
<tbody>
<tr><td>sali berisha                </td><td>1944 -                      </td><td>11 september 2005           </td><td>15 september 2013           </td><td>democratic party of albania </td></tr>
<tr><td>pandeli majko (2nd time)    </td><td>1967 -                      </td><td>22 february 2002            </td><td>31 july 2002                </td><td>socialist party of albania  </td></tr>
<tr><td>prime ministers 1991 onwards</td><td>prime ministers 1991 onwards</td><td>prime ministers 1991 onwards</td><td>prime ministers 1991 onwards</td><td>prime ministers 1991 onwards</td></tr>
</tbody>
</table>


> Finished chain.

In [48]:
batch_pred[0]['text']

'new_query: which term end be after the term end for ylli bufi?'

In [6]:
def get_k_shot_with_answer(k: int=1):
    sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"]
    thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. Therefore, the claim that 2 is the fewest points they received is false. The output should be 0."]
    tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
    claims = ["2 be the fewest point that roger dutton / tony wright receive"]
    # inds from test split
    examples_prompt = PromptTemplate(input_variables=["SQL", "table", "claim", "thought", "output"], template=
    """
    SQL Excuted: 
    ```{SQL}```
    Sub-table: {table}
    ...

    Query: {claim}
    Thought: {thought}
    Output: {output}
    """)
    examples_dict = dict(zip(["SQL", "table", "claim", "thought", "output"], [sqls[0], tables[0], claims[0], thoughts[0], '0']))
    prompt_template = FewShotPromptTemplate(
        examples=[examples_dict],
        example_prompt=examples_prompt,
        prefix="""Below are some sub-tables generated by excuting the SQL. You need to understand the logic behind the SQL filtering. Complete task using all information below. Please think step by step and return 0 or 1 without any other information at last.""",
        suffix=
        """
    {information}
    Query: {query}
    Thought: """,
        input_variables=["table", "query"],
)
    return prompt_template

In [ ]:
[' who finish in first place and who do not manage to get in the top 3?', 'How many skaters finished in the top 3?', ' Who finished in first place?']

In [38]:
# def get_k_shot_with_aug(k: int=2):
#     table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)

#     inds = [3, 6, 260, 33]
#     Output_examples = [
#                        'team, goals_for',
#                        'year, game, platform_s',
#                        'name, population_density_km_2_, population_2011_census_'
#                        'leading_scorer, score, date']
#     linking_examples = ['the team -> team; the most goal for -> goals_for',
#                         'gamecube -> platform_s; gamecube game -> game; the first 3 year -> year;',
#                         'alberta -> name; population density -> population_density_km_2_; 4257744 less people -> population_2011_census_; 2011 -> population_2011_census_'
#                         'jason richardson -> leading_scorer; leading scorer -> score; month -> date; 23 point per game -> leading_scorer'
#     ]
#     examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
#     """
#     Table: {table}
#     Query: {claim}
#     Column linking: {linking}
#     Columns: {output}""")
#     num_k = 3
#     examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_nl_sep(table_loader.dataset[inds[i]]['table']['caption']),
#                                         "claim": table_loader.dataset[inds[i]]['statement'],
#                                         "linking": linking_examples[i],
#                                         # "summary": summary_examples[i],
#                                         "output": Output_examples[i]} for i in range(num_k)]
#     prompt_template = FewShotPromptTemplate(
#         examples=examples_dict,
#         example_prompt=examples_prompt,
#         prefix=
#         """
#     Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
#     Approach this task as follows:
#     Read the question thoroughly and list every possible link from query term to column in Table.
#     Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
#     # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
#     # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
#     # Here are some examples:""",
#         suffix=
#         """
#     Table: {table}
#     Query: {claim}
#     Column linking:
#     """,
#         input_variables=["table", "claim"],
# )
#     return prompt_template

def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)

    inds = [3, 6, 260, 33]
    Output_examples = [
                       'team, goals_for',
                       'year, game, platform_s',
                       'name, population_density_km_2_, population_2011_census_'
                       'leading_scorer, score, date']
    linking_examples = ['the team -> team; the most goal for -> goals_for',
                        'gamecube -> platform_s; gamecube game -> game; the first 3 year -> year;',
                        'alberta -> name; population density -> population_density_km_2_; 4257744 less people -> population_2011_census_; 2011 -> population_2011_census_'
                        'jason richardson -> leading_scorer; leading scorer -> score; month -> date; 23 point per game -> leading_scorer'
    ]
    examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
    """
    Table: {table}
    Query: {claim}
    Column linking: {linking}
    Columns: {output}""")
    num_k = 3
    examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_nl_sep(table_loader.dataset[inds[i]]['table']['caption']),
                                        "claim": table_loader.dataset[inds[i]]['statement'],
                                        "linking": linking_examples[i],
                                        # "summary": summary_examples[i],
                                        "output": Output_examples[i]} for i in range(num_k)]
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
    # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
    # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
    # Here are some examples:""",
        suffix=
        """
    Table: {table}
    Query: {claim}
    """,
        input_variables=["table", "claim"],
)
    return prompt_template

In [39]:
from utils import parse_output
sample = table_loader.normalize_table(table_loader.dataset[66])
k_shot_prompt = get_k_shot_with_aug()
formatter = TableFormat(format='none', data=sample, use_sampling=True)
llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=True)
summary_information = pd.read_csv(f"result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
schema_information = pd.read_csv(f"result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
composition_information = pd.read_csv(f"result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
summary_aug, column_aug = summary_information.loc[sample['id']]['summary'], summary_information.loc[sample['id']]['column_description'] 
col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
extra_col_info = []
for i_c in range(len(col_names)):
    extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
stage_1_batch_pred = llm_chain.batch([dict({
    'table': formatter.format_nl_sep(table_caption=sample['table']['caption']),
                                            'claim': 'Who finished in first place?',
                                    # 'claim': sample['query'],
                                    'aug': ""
                                    # 'aug':  summary_aug + '\n'.join(extra_col_info),
                                    })], return_only_outputs=True)[0]['text']
# pred = llm_chain.batch([dict({"query": 'Who is one of the three nominees for a Drama Desk Award?'})])
# print(pred[0]['text'])
print(stage_1_batch_pred)

> Entering new LLMChain chain...
Prompt after formatting:

    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.


    Table: 1986 - 87 north west counties football league
Col :position|team|played|drawn|lost|goals_for|goals_against|goal_difference|points_1
Row 1 :12|ashton town|24|9|11|29|39|10|15 2
Row 2 :10|padiham|24|8|12|35|39|4|16
Row 3 :1|atherton collieries|24|4|4|46|22|+ 24|36
    Query: the team with the most goal for in the 1986 - 87 north west county football league be flixton
    Column linking: the team -> team; the most goal for -> goals_for
    Columns: team, goals_for


    Table: list of game of the year awards
Col :year|game|genre|platform_s|developer_s
Row 1 :2011|the legend of zelda : skyward sword|action - adventure|wii|nintendo ead , monolith soft
Row 2 :2010|mass effect 2|action rpg : ( third - person ) shooter|xbox 360 , windows , playstation 3|bioware
Row 3 :2001|super smash bros melee|fighting|gamecube|hal laboratory , inc
    Query: a gamecube game loss the award in each of the first 3 year
    Column linking: gamecube -> platform_s; gamecube game -> game; the first 3 year -> year;
    Columns: year, game, platform_s


    Table: list of canadian provinces and territories by population
Col :rank|name|population_2011_census_|percent_of_national_population|percent_growth_2006_11|land_area_km_square|population_density_km_2_|house_of_commons_seats|house_of_commons_seats_percent|c_2013_population_july_est
Row 1 :2|quebec|7903001|23.6%|4.7%|1356547.02|5.8|75|24.4%|8155334
Row 2 :5|manitoba|1208268|3.6%|5.2%|552329.52|2.2|14|4.5%|1265015
Row 3 :3|british columbia|4400057|13.1%|7.0%|922509.29|4.8|36|11.7%|4581978
    Query: alberta have a more population density even though it have 4257744 less people in 2011
    Column linking: alberta -> name; population density -> population_density_km_2_; 4257744 less people -> population_2011_census_; 2011 -> population_2011_census_jason richardson -> leading_scorer; leading scorer -> score; month -> date; 23 point per game -> leading_scorer
    Columns: name, population_density_km_2_, population_2011_census_leading_scorer, score, date


    Table: 1979 world figure skating championships
Col :rank|name|nation|sp_+_fs|points|places
Row 1 :28|belinda coulthard|australia|28|145.92|238
Row 2 :16|renata baierova|czechoslovakia|13|164.00|144
Row 3 :24|franca bianconi|italy|22|149.04|218
    Query: Who finished in first place?


> Finished chain.
Columns: rank, name, nation, sp_+_fs, points, places

In [8]:
from utils import parse_output
def scene_A(query, sample, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
    formatter = TableFormat(format='none', data=sample, use_sampling=True)
    k_shot_prompt = get_k_shot_with_aug()
    
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['id']]['summary'], aug_information.loc[sample['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': formatter.format_html(table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        # stage 2: SQL generation
        
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = [formatter.normalize_col_name(c.strip()) for c in stage_1_batch_pred.split(',')]
        formatter.normalize_schema(schema_information.loc[sample['id']]['schema'])
        try: 
            formatter.data = formatter.data.loc[:, columns]
            formatter.all_data = formatter.all_data.loc[:, columns]
        except:
            pass
        extra_information = '\n'.join(parse_specific_composition(composition_information.loc[sample['id']]['composition'], formatter.data.columns))
        stage_2_batch_pred = llm_chain.batch([dict({'table': formatter.format_html(table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + extra_information
                                            })], return_only_outputs=True)[0]['text']
    print("total_tokens:", cb.total_tokens)
    print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        formatter.data = manager.execute_from_df(stage_2_batch_pred, formatter.all_data, table_name='DF')
    except:
        formatter.data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(formatter.data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, formatter.format_html(), cb.total_tokens

In [12]:
inds = [0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
        49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
        82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
       124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
       167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
       200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
       251]

In [9]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

In [10]:
from typing import List
import os
import json
def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

### RUN

In [67]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.1)
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)

save_path = f"result/answer/tabfact_zh_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
Below are some sub-tables, each sub-table is generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task by using useful information below.
You can use one of the sub-tables or use all sub-tables.
{information}
Query: {query}
verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.
""" )
tokens = []
outputs = []
labels = []
stage_1 = []
stage_2 = []
# muilti_answer_instruction = get_k_shot_with_answer()
i = 
    
sample = table_loader.normalize_table(
                    table_loader.dataset[i])
labels.append(sample['label'])
all_queries = [sample['query']]
formatter = TableFormat(format='none', data=sample, use_sampling=True)
llm_chain = LLMChain(llm=model, prompt=step_back_prompt, verbose=False)
batch_pred = llm_chain.batch([{"query": sample['query']}], return_only_outputs=True)
all_queries.append(batch_pred[0]['text'].split(':')[-1])
print(batch_pred[0]['text'].split(':')[-1])

args_list = [{"query": q, "sample": sample} for q in all_queries]
results = parallel_run_kwargs(scene_A, args_list)
temp = [f"""
SQL Excuted: 
```{res[1]}```
Sub-table: {res[2]}""" for res in results if len(res[1]) > 0]
tokens.append(sum([res[3] for res in results]) / len(results))
llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
batch_pred = llm_chain.batch([{"query": sample['query'], "information": '\n'.join(temp)}], return_only_outputs=True)
print(batch_pred[0])
outputs.append(batch_pred[0]['text'])
# llm_chain = LLMChain(llm=model, prompt=decompose_prompt, verbose=False)
# batch_pred = llm_chain.batch([{"query": sample['query'], "table": formatter.format_html(table_caption=sample['table']['caption'])}], return_only_outputs=True)
# print(batch_pred[0]['text'].split(':')[-1].split(';'))
# all_queries.extend(batch_pred[0]['text'].split(':')[-1].split(';'))
# "Is the following query true or false?" +

SyntaxError: invalid syntax (1272733091.py, line 23)

In [9]:
acc = 0
non_equal = []
for ind, (pred, gold) in enumerate(zip(ttt, labels )):
            if pred == str(gold):
                acc += 1
            else:
                non_equal.append(ind)

In [11]:
print(non_equal)

[1, 8, 11, 14, 22, 26, 29, 37, 38, 40, 47, 49, 50, 56, 57, 59, 63, 65, 66, 68, 72, 76, 78, 82, 84, 87, 88, 90, 95, 96, 99]

In [8]:
[0, 1, 3, 14, 22, 38, 40, 42, 43, 44, 47, 49, 50, 51, 53, 59, 61, 63, 68, 69, 72, 74, 75, 76, 78, 80, 82, 83, 89, 91, 92, 98, 99]

[0, 1, 3, 14, 22, 25, 33, 38, 40, 42, 43, 44, 47, 49, 50, 51, 53, 59, 61, 63, 68, 69, 72, 74, 75, 76, 78, 80, 82, 83, 89, 91, 92, 98, 99]

In [13]:

1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 
40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72,
79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100,
108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 
136, 137, 139, 140, 141, 144, 145, 148, 158, 167,
169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 
220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 
246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 
281, 282, 283, 286, 287, 294, 296

[1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72, 79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100, 108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 136, 137, 139, 140, 141, 144, 145, 148, 158, 167, 169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 281, 282, 283, 286, 287, 294, 296]

In [30]:
print(data.iloc[25, :]['preds'])

To verify the claim, we need to look at the sub-table and check if there are at least 3 people who tie for fifth place and are from the United States.

Since we do not have access to the sub-table, we cannot directly verify the claim. However, based on the SQL query provided, we can infer that the query is filtering for players who are in fifth place and from the United States. Therefore, if the query returns at least 3 players, then the claim is true.

So, based on the logic of the SQL query, if the query returns at least 3 players, the claim is true. If not, the claim is false.

Therefore, we cannot definitively determine the truth of the claim without the sub-table.

In [27]:
data.head()

,table_name,extra_information,preds,token
0,1-29063233-1.html.csv,"The episode ""The Nightmare Begins"" happened ea...","To verify the claim that the episode ""Sweet Dr...",4077
1,1-29063233-1.html.csv,NaN,"To verify the claim that ""David Moore directed...",4338
2,1-29063233-1.html.csv,"The episode of ""The Lady of the Lake"" with the...",The SQL query is filtering the table DF to onl...,4469
3,1-29063233-1.html.csv,Cannot get answer from sub-table.,The SQL query is filtering the table DF to onl...,3912
4,1-29063233-1.html.csv,Beauty and the Beast (part 2) has more UK view...,The SQL query retrieves the titles and UK view...,4182

In [7]:
import  pandas as pd
data = pd.read_csv('./result/answer/tabfact_zh_04-25_15-42-17.csv')

ttt = eval_blury_string(data['preds'])
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
labels = []
for i in range(100):
    labels.append(table_loader.dataset[i]['label'])

In [4]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [21]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)
# args_list = [{"query": 'Who took the loss in the game on August 30 and who suffered the loss in the game on August 31?', "sample": sample},{"query": sample['query'], "sample": sample}]
# args_list = [{"query": q, "sample": sample} for q in all_queries]

# results = parallel_run_kwargs(scene_A, args_list)
# print(results)
# print(cb.total_tokens)

In [ ]:
muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
                                    template="""
Below are some sub-tables generated by excuting the SQL. You need to understand the logic behind the SQL filtering. Complete task using all information below. 
{information}
Query: {query}
verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step.
""" )
temp = [f"""
SQL Excuted: 
```{res[1]}```
Sub-table: {res[2]}""" for res in results]
muilti_answer_instruction = get_k_shot_with_answer()
llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
batch_pred = llm_chain.batch([{"query": sample['query'], "information": '\n'.join(temp)}], return_only_outputs=True)

In [35]:
def scene_B():
    agent_prompt = ChatPromptTemplate.from_messages(
    [
        (
            "system",
            """Based on the history information, your task is to only based on the conversation information to answer the user query.
    If you cannot get the answer from past history, reorganize the question and return the question explicitly. If you are confident in the answer, answer it directly.""",
        ),
        MessagesPlaceholder(variable_name="chat_history"),
    ]
)
    chain = LLMChain(llm=model, prompt=agent_prompt, verbose=True)
    return chain.invoke(
    {
        "chat_history": Agent_history.messages,
    }
)['text']
    
    #维护一个Agent Memory
Agent_history = []
agent_prompt = ChatPromptTemplate.from_messages(
    [
        # (
        #     "system",
        #     """"""
            
        #     # return 'A' if you think you need more information, else return 'B'. You should only use information during the conversation.,
        # ),
        MessagesPlaceholder(variable_name="chat_history"),
    ]
)
system =  PromptTemplate(input_variables=["history"], template="""Based on the history information, your task is to only based on the conversation information to answer the user query. 
Note: Do not use information on your own, only use information from the conversation history!

conversation histroy:
{history}

The output should choose from Choice A and Choice B:
Choice A: ###If you cannot get the answer from conversation histroy, reorganize the question and return the question explicitly.
Choice B: ###If you are confident in the answer, answer it directly.""")
chain = LLMChain(llm=model, prompt=system, verbose=True)
Agent_history.append('Q: Who were the winners of the lifetime achievement award after 2005?')
# Agent_history.append('A: the winners are andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle')
# Agent_history.append('Q: Are the winners andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle?')

In [ ]:
import concurrent.futures
 
def outer_task(url):
   # 外层任务
   print(f"Processing {url}")
   # 内部再次使用线程池
   with concurrent.futures.ThreadPoolExecutor(max_workers=2) as executor:
       # 执行一些依赖于外层任务的结果的并行操作
       inner_results = [executor.submit(inner_task, f"{url}_{i}") for i in range(2)]
       # 等待内部任务完成并收集结果
       return [r.result() for r in inner_results]
 
def inner_task(url):
   # 内层任务
   print(f"Inner task for {url}")
   # 这里可以执行一些操作，比如I/O密集型的任务
   return f"Result for {url}"
 
if __name__ == "__main__":
   # 创建线程池
   with concurrent.futures.ThreadPoolExecutor(max_workers=2) as executor:
       # 提交外层任务到线程池
       outer_results = [executor.submit(outer_task, f"http://example.com/{i}") for i in range(2)]
       # 等待外层任务完成并收集结果
       for future in concurrent.futures.as_completed(outer_results):
           print(future.result())

## 调整extrainformation的位置

In [11]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, concise statement in response to the question. If you cannot answer the question based on the sub-table, just say 'Cannot get answer from sub-table'
""" )
def scene_B(query, sample, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
    formatter = TableFormat(format='none', data=sample, use_sampling=True)
    k_shot_prompt = get_k_shot_with_aug()
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['id']]['summary'], aug_information.loc[sample['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': formatter.format_html(table_caption=sample['table']['caption']),
                                            'claim': query,
                                            # 'aug':  summary_aug + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = [formatter.normalize_col_name(c.strip()) for c in stage_1_batch_pred.split(',')]
        
        try: 
            formatter.data = formatter.data.loc[:, columns]
            formatter.all_data = formatter.all_data.loc[:, columns]
        except:
            pass
        formatter.normalize_schema(schema_information.loc[sample['id']]['schema'])
        extra_information = '\n'.join(parse_specific_composition(composition_information.loc[sample['id']]['composition'], formatter.data.columns))
        stage_2_batch_pred = llm_chain.batch([dict({'table': formatter.format_html(table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + extra_information
                                            })], return_only_outputs=True)[0]['text']
    
        
        print(stage_2_batch_pred)
        # stage 3: SQL Excution
        try: 
            formatter.data = manager.execute_from_df(stage_2_batch_pred, formatter.all_data, table_name='DF')
        except:
            formatter.data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': formatter.format_html(),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [18]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime

table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.01)
save_path = f"result/answer/tabfact_zh_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.
""" )
tokens = []
outputs = []
labels = []
# muilti_answer_instruction = get_k_shot_with_answer()

i = 66
sample = table_loader.normalize_table(
                    table_loader.dataset[i])
all_tokens = 0
labels.append(sample['label'])
all_queries = []
formatter = TableFormat(format='none', data=sample, use_sampling=True)
with get_openai_callback() as cb:
    llm_chain = LLMChain(llm=model, prompt=step_back_prompt, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": formatter.format_html()}], return_only_outputs=True)
    all_queries.append(batch_pred[0]['text'].split(':')[-1])
    llm_chain = LLMChain(llm=model, prompt=decompose_prompt, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": formatter.format_html()}], return_only_outputs=True)
    all_queries.extend(batch_pred[0]['text'].split(';'))
    print(all_queries)
all_tokens += cb.total_tokens
args_list = [{"query": q, "sample": sample} for q in all_queries]
ans_from_B = parallel_run_kwargs(scene_B, args_list)
results = [res[0] for res in ans_from_B if res[0] != 'Cannot get answer from sub-table']
all_tokens += sum([res[1] for res in ans_from_B])
#With answer
with get_openai_callback() as cb:
    imp_input = scene_A(sample['query'], sample, False)
    llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
    batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
print(batch_pred[0])
all_tokens += cb.total_tokens
print('ALL TOKENS', all_tokens)
outputs.append(batch_pred[0]['text'])
# if (i + 1) % 10 == 0:
#     save_csv([outputs, labels], ['preds', 'labels'], file_path=save_path)
#     outputs = []
#     labels = []
#With no answer
# temp = [f"""
# SQL Excuted for extra information: 
# ```{res[1]}```
# Sub-table for extra information: {res[2]}""" for res in results if res[2] != 'No data from database']
# imp_input = scene_A(sample['query'], sample, False)
# llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
# batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(temp)}], return_only_outputs=True)
# print(batch_pred[0])
# outputs.append(batch_pred[0]['text'])

[' who finish in first place and who do not manage to get in the top 3?', 'How many skaters finished in the top 3?', ' Who finished in first place?']
name -> belinda coulthard; rank -> 28
Columns: name
rank -> top 3;
Columns: rank
SELECT name
FROM DF
ORDER BY name
LIMIT 1;
SELECT COUNT(*)
FROM DF
WHERE rank <= 3;
total_tokens: 1366
total_tokens: 1364
name -> name; rank -> rank
Columns: name, rank
SELECT name
FROM DF
WHERE rank = 1
UNION
SELECT name
FROM DF
WHERE rank > 3;
total_tokens: 2054
linda fratianne -> name; first place -> rank; anett pötzsch -> name; top 3 -> rank
Columns: name, rank
total_tokens: 1316
SELECT name, rank
FROM DF
WHERE name = 'linda fratianne' OR name = 'anett pötzsch';


> Entering new LLMChain chain...
Prompt after formatting:

Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted:
```SELECT name, rank
FROM DF
WHERE name = 'linda fratianne' OR name = 'anett pötzsch';```
Sub-table:
<table>
<thead>
<tr><th>           name</th><th>  rank</th></tr>
</thead>
<tbody>
<tr><td>linda fratianne</td><td>1     </td></tr>
<tr><td>anett pötzsch  </td><td>2     </td></tr>
</tbody>
</table>
Extra information:
The individuals who finished in first place are Anita Siegfried, and those who did not manage to get in the top 3 are Astrid Jansen in de Wal, Belinda Coulthard, Bodil Olsson, Carola Weißenberg, Carrie Rugh, Claudia Kristofics - Binder, Corine Wyrsch, Dagmar Lurz, Deborah Cottrill, Denise Biellmann, Franca Bianconi, Gloria Mas, Janet Morrissey, Jeanne Chapman, Karin Riediger, Katie Symmonds, Kim Myo Sil, Kira Ivanova, Kristiina Wegelius, Linda Fratianne, Lisa - Marie Allen, Natalia Strelkova, Petra Ernert, Reiko Kobayashi, Renata Baierova, Sanda Dubravčić, Shin Hae Sook, and Susanna Driano.
Based on the sub-table, 3 skaters finished in the top 3.
Anett Pötzsch finished in first place.

Query: linda fratianne finish in first place , but anett pötzsch do not manage to get in the top 3
Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.


> Finished chain.
{'text': 'To verify the claim, we need to check the rankings of Linda Fratianne and Anett Pötzsch based on the provided information.\n\nFrom the sub-table:\n- Linda Fratianne finished in 1st place.\n- Anett Pötzsch finished in 2nd place.\n\nGiven that Linda Fratianne finished in 1st place and Anett Pötzsch finished in the top 3 (2nd place), the claim that Linda Fratianne finished in 1st place but Anett Pötzsch did not manage to get in the top 3 is false.\n\nTherefore, the claim is false, and the answer is 0.'}
ALL TOKENS 7172

In [15]:
len([1, 11, 14, 22, 26, 37, 38, 40, 47, 49, 50,  59, 63, 65, 66, 68, 82, 88, 99])

20

In [ ]:
46: west berkshire brewery 's maggs magnificent mild be its most decorate beer between 1995 and 2009

In [29]:
20 ：Based on the information provided, the SQL query filtered for records where the place starts with 't9' and the country is 'united states'. The result of the query shows that there are 3 people who meet these criteria. However, the extra information states that there were actually 4 people who tied for ninth place, and all of them were from the United States.\n\nTherefore, the provided claim/query is false. The correct number of people from the United States who tied for ninth place is 4, not 3. \n\nFinal answer: 0
88: To verify whether the term start for Bashkim Fino is after the term start for Vilson Ahmeti, we need to compare the dates mentioned in the sub-table. From the sub-table:\n- Vilson Ahmeti's term started on December 10, 1991.\n- Bashkim Fino's term started on March 11, 1997.\n\nSince December comes before March in the calendar year, it is evident that Vilson Ahmeti's term started before Bashkim Fino's term. Therefore, the claim that the term start for Bashkim Fino is after the term start for Vilson Ahmeti is FALSE.\n\nHence, the answer is 0
72:To verify the claim that the gap between the first and last player being a total of 58.04 is true, we need to calculate the difference between the points of the first and last player based on the given information.\n\nGiven:\n- Total gap between the first and last rank is 18.\n- Rank of the first player is 1.\n- Rank of the last player is 19.\n\nLet's calculate the points difference between the first and last player:\npoints difference = (points of last player) - (points of first player)\n\nSince the total gap between the first and last rank is 18, we can calculate the points difference as follows:\npoints difference = 18 * (MAX(points) - MIN(points))\n\nGiven that the calculated point gap from the sub-table is 58.04, we can substitute this value into the formula:\n18 * 58.04 = 1044.72\n\nTherefore, the claim that the gap between the first and last player being a total of 58.04 is false.\n\nFinal answer: 0
76:The SQL query filters for competitors from France with a rank less than 5. Since the sub-table generated from the query shows no data, it means that there were no competitors from France who finished better than 5th place. \n\nTherefore, the provided claim that France's competitors all finished better than 5th place is TRUE.\n\nFinal answer: 1

SyntaxError: invalid character '：' (U+FF1A) (3998830562.py, line 1)

In [ ]:
1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 
40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72,
79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100,
108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 
136, 137, 139, 140, 141, 144, 145, 148, 158, 167,
169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 
220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 
246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 
281, 282, 283, 286, 287, 294, 296

In [30]:
print(data.iloc[88, :]['preds'])

To verify whether the term start for Bashkim Fino is after the term start for Vilson Ahmeti, we need to compare the dates mentioned in the sub-table.

From the sub-table:
- Vilson Ahmeti's term started on 10th December 1991.
- Bashkim Fino's term started on 11th March 1997.

Since 10th December 1991 comes before 11th March 1997, the claim that the term start for Bashkim Fino is after the term start for Vilson Ahmeti is FALSE.

Therefore, the answer is 0.

In [39]:
count = 0
for i in range(len(table_loader.dataset)):
    if table_loader.dataset[i]['hardness'] == 'complex':
        count += 1

In [12]:
datetime.datetime.strftime(datetime.date(1, 5, 15), "%m-%d")

'05-15'

In [16]:
parse_datetime('january 7 ')

2024-01-07 00:00:00

'01-07'

In [15]:
from dateutil import parser
import datetime
def parse_datetime(date_string):
    parsed_date = parser.parse(date_string)
    if parsed_date is None or not all([parsed_date.year, parsed_date.month, parsed_date.day]):
        return date_string
    print(parsed_date)
    if parsed_date.year == datetime.datetime.now().year:
        normalized_date = datetime.datetime.strftime(parsed_date, "%m-%d")
    else:
        normalized_date = datetime.datetime.strftime(parsed_date, "%Y-%m-%d")
    return normalized_date

In [ ]:
result = [ ]
for i in range(len(table_loader.dataset)):
    sample = table_loader.normalize_table(table_loader.dataset[i])
    llm_chain = LLMChain(llm=model, prompt=stage_0_prompt, verbose=False)
    stage_0_batch_pred = llm_chain.batch([{"query": sample['query']}], return_only_outputs=True)[0]['text'].split(':')[-1]
    print(stage_0_batch_pred)
    sub_queries = stage_0_batch_pred.split(';')

    from langchain_community.callbacks import get_openai_callback
    Agent_history = ChatMessageHistory()
    agent_prompt = ChatPromptTemplate.from_messages(
        [
            (
                "system",
                """Based on the history information, your task is to determine whether the information is enough to answer the user query.
                return 'A' if you think you need more information, else return 'B'. You should only use information during the conversation.""",
            ),
            MessagesPlaceholder(variable_name="chat_history"),
        ]
    )
    chain = LLMChain(llm=model, prompt=agent_prompt, verbose=True)
    with get_openai_callback() as cb:
        for sub_query in sub_queries:
            Agent_history.add_user_message(sub_query)
            choice = chain.invoke(
            {
                "chat_history": Agent_history.messages,
            }
            )['text']
            if 'A' in choice:
                Agent_history.add_ai_message(scene_A(sub_query, sample))
            else:
                res = scene_B()
                print(res)
                result.append(res)
                
    print(cb.total_tokens)

In [5]:
from recognizers_number import NumberRecognizer
culture = Culture.English
user_input = "I have two apple will return "2"
recognizer = NumberRecognizer(Culture.English)
model = recognizer.get_number_model()
result = model.parse('Twelve')

In [16]:
dir(result)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
from recognizers_date_time import DateTimeRecognizer 
from recognizers_text import Culture, ModelResult
 
text = "Let's meet on 5/23 at 3:30 PM."
model = DateTimeRecognizer(Culture.English).get_datetime_model()
result = model.parse(text)
 
print(result)

[<recognizers_text.model.ModelResult object at 0x7f9c2eac3760>]

In [ ]:
def str_normalize(user_input, recognition_types=None):
    """A string normalizer which recognize and normalize value based on recognizers_suite"""
    user_input = str(user_input)
    user_input = user_input.replace("\\n", "; ")

    def replace_by_idx_pairs(orig_str, strs_to_replace, idx_pairs):
        assert len(strs_to_replace) == len(idx_pairs)
        last_end = 0
        to_concat = []
        for idx_pair, str_to_replace in zip(idx_pairs, strs_to_replace):
            to_concat.append(orig_str[last_end : idx_pair[0]])
            to_concat.append(str_to_replace)
            last_end = idx_pair[1]
        to_concat.append(orig_str[last_end:])
        return ''.join(to_concat)

    if recognition_types is None:
        recognition_types = [
            "datetime",
            "number",
            "ordinal",
            "percentage",
            "age",
            "currency",
            "dimension",
            "temperature",
        ]
    culture = Culture.English
    for recognition_type in recognition_types:
        if re.match("\d+/\d+", user_input):
            # avoid calculating str as 1991/92
            continue
        recognized_list = getattr(
            recognizers_suite, "recognize_{}".format(recognition_type)
        )(
            user_input, culture
        )  # may match multiple parts
        strs_to_replace = []
        idx_pairs = []
        for recognized in recognized_list:
            if not recognition_type == 'datetime':
                recognized_value = recognized.resolution['value']
                if str(recognized_value).startswith("P"):
                    # if the datetime is a period:
                    continue
                else:
                    strs_to_replace.append(recognized_value)
                    idx_pairs.append((recognized.start, recognized.end + 1))
            else:
                if recognized.resolution:  # in some cases, this variable could be none.
                    if len(recognized.resolution['values']) == 1:
                        strs_to_replace.append(
                            recognized.resolution['values'][0]['timex']
                        )  # We use timex as normalization
                        idx_pairs.append((recognized.start, recognized.end + 1))

        if len(strs_to_replace) > 0:
            user_input = replace_by_idx_pairs(user_input, strs_to_replace, idx_pairs)

    if re.match("(.*)-(.*)-(.*) 00:00:00", user_input):
        user_input = user_input[: -len("00:00:00") - 1]
        # '2008-04-13 00:00:00' -> '2008-04-13'
    return user_input