In [7]:
import pandas as pd

aug_information = pd.read_csv(f"result/aug/wikitable_test_summary.csv", index_col='table_id')

In [8]:
aug_information[']

,summary,column_description
table_id,,
csv/203-csv/840.tsv,List of Ambassadors of Russia to Austria,Name<The name of the ambassador>\nTitle<The ti...
csv/204-csv/65.tsv,This table shows the results of the Men's 50 m...,Rank<The ranking of the swimmer in the event> ...
csv/203-csv/275.tsv,This table shows the results of the 1986 Austr...,Pos<Position of the driver in the race>
csv/204-csv/272.tsv,The table shows the results of Sky Track Cycli...,Date<The date of the competition>\nCompetition...
csv/203-csv/328.tsv,This table provides information about episodes...,num<The episode number>\nEpisode<The title of ...

In [13]:
from dateutil import parser
parser.parse('1931')

datetime.datetime(1931, 4, 29, 0, 0)

In [28]:
import pandas as pd
composition_information = pd.read_csv(f"result/aug/sqa_test_summary_alone.csv", index_col='table_id')
len(composition_information)

212

In [14]:
test_string = 'year<The year the coin was released>\ntheme<The theme of the coin>\nartist<The artist responsible for the design of the coin>\nmintage<The number of coins minted>\nissue_price<The price at which the coin was issued>'
import re 
test = test_string.split('\n')
print(test)
pattern=r'([^<]*)<([^>]*)>'
matches = re.finditer(pattern, test_string)
for match in matches:
   print(match.group(2))

['year<The year the coin was released>', 'theme<The theme of the coin>', 'artist<The artist responsible for the design of the coin>', 'mintage<The number of coins minted>', 'issue_price<The price at which the coin was issued>']
The year the coin was released
The theme of the coin
The artist responsible for the design of the coin
The number of coins minted
The price at which the coin was issued

## Start

In [1]:
# transform data into sqlite database
from data_loader import TableLoader

table_loader = TableLoader(table_name='wikitable', split='test', use_sample=True, small_test=False)

In [3]:
len(table_loader.dataset)

300

In [11]:
from datasets import load_dataset
totto = load_dataset('./data_loader/totto_zh.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")
tabfact = load_dataset('./data_loader/tabfact.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")
sqa = load_dataset('./data_loader/sqa.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")

Downloading data:   0%|          | 0.00/4.80M [00:00<?, ?B/s]

Generating train split: 0 examples [00:00, ? examples/s]

Generating validation split: 0 examples [00:00, ? examples/s]

Generating test split: 0 examples [00:00, ? examples/s]

In [34]:
filtered_dataset = table_loader.dataset.filter(lambda example: example['small_test'])

Filter: 100%|██████████| 1000/1000 [00:00<00:00, 4669.79 examples/s]

In [35]:
filtered_dataset

Dataset({
    features: ['id', 'table', 'statement', 'label', 'hardness', 'small_test'],
    num_rows: 147
})

In [13]:
len(table_loader.dataset)

47

In [35]:
test_sample = table_loader.dataset[2]
test_sample

{'id': 996,
 'table': {'id': '2-16369528-1.html.csv',
  'header': ['year',
   'best teenage / young adult',
   "reader 's vote",
   'best non - fiction',
   'lifetime achievement'],
  'rows': [['1996', 'na', 'na', 'na', 'jon cleary'],
   ['1997',
    'na',
    'na',
    'how to write crime edited by marele day',
    'alan yates (aka carter brown )'],
   ['1998', 'na', 'na', 'na', 'na'],
   ['1999', 'na', 'na', 'na', 'peter corris'],
   ['2000', 'na', 'na', 'na', 'na'],
   ['2001',
    'na',
    'bleeding hearts by lindy cameron',
    'na',
    'professor stephen knight'],
   ['2002',
    'blue murder by ken catran',
    'apartment 255 by bunty avieson',
    'na',
    'patrick gallagher'],
   ['2003', 'na', 'na', 'na', 'kerry greenwood'],
   ['2004', 'na', 'na', 'na', 'bob bottom'],
   ['2005', 'na', 'na', 'na', 'stuart coupe'],
   ['2006', 'na', 'na', 'na', 'andrew rule and john silvester'],
   ['2007', 'na', 'na', 'na', 'sandra harvey and lindsay simpson'],
   ['2008', 'na', 'na', 'na', 'marele day'],
   ['2009', 'na', 'na', 'na', 'shane maloney'],
   ['2010', 'na', 'na', 'na', 'peter doyle'],
   ['2011', 'na', 'na', 'na', 'na']],
  'caption': 'ned kelly awards'},
 'statement': 'after 2005 , the winner of the lifetime achievement award be andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle',
 'label': 1,
 'hardness': 'simple',
 'small_test': True}

### Data Augmentation

In [ ]:
#引入 schema(table measurement) statistical(numerical) enum string(char) date
#引入 term explanation（table comment(RAG)）
#引入 column summarization
#是否需要search engine
#table size, statistical features, header hierarchy

In [50]:
#schema 
from data_loader import TableFormat
from langchain.prompts.prompt import PromptTemplate
from langchain_core.messages import HumanMessage
from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.tech/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
# formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
pre_instruction = PromptTemplate(input_variables=["table"], template=
"""
Instruction: Given the following table, you will add Metadata about the columns in the table.
Metadata includes:
- Numerical: whether the column content is numeric type like int or float.
- Char: whether the column content is a text or description.
- Date: whether the column content is datetime.

You need to output all the column names with metadata in angle brackets.
Example: name<Char>, launched<Date>, count<Numerical>

Table: {table}
Output:
""")
# 
# output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html()))])

In [16]:
output.response_metadata['token_usage']

{'completion_tokens': 1, 'prompt_tokens': 269, 'total_tokens': 270}

In [51]:
#summarization
pre_instruction_summary = PromptTemplate(input_variables=['table'], template=
"""
Instruction: Given the following table, you need to first summarize the contents of the table, then based on the summay, give a concluded description to each of the column.
Table: {table}

The output should use the following format: 
table summary: #summary for table contents
column description: You need to output all the column names with description in angle brackets
example: launched<The launched date for the competition> date<The date of the match>
""")
output = model.invoke([HumanMessage(content=pre_instruction_summary.format(table=formatter.format_html()))])

In [52]:
print(output.content)

table summary: The table shows the performance of a player in different tennis tournaments from 1986 to 1999.

column description:
tournament<The name of the tennis tournament>
1986<The player's performance in the tournament in 1986>
1988<The player's performance in the tournament in 1988>
1989<The player's performance in the tournament in 1989>
1990<The player's performance in the tournament in 1990>
1991<The player's performance in the tournament in 1991>
1992<The player's performance in the tournament in 1992>
1993<The player's performance in the tournament in 1993>
1994<The player's performance in the tournament in 1994>
1995<The player's performance in the tournament in 1995>
1996<The player's performance in the tournament in 1996>
1997<The player's performance in the tournament in 1997>
1998<The player's performance in the tournament in 1998>
1999<The player's performance in the tournament in 1999>

In [11]:
import os
os.environ['LANGCHAIN_TRACING_V2'] = "true"

In [10]:
#table_size
def get_table_size():
    return f'The table has {formatter.data.shape[0]} rows and {formatter.data.shape[1]} columns.'
from langchain_openai import ChatOpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.1)
from data_loader import TableAug,TableFormat
aug = TableAug(model)
# aug.schema_aug(test_sample)
test_sample = table_loader.dataset[0]
formatter = TableFormat(format='none')
output = aug.batch_summary_aug(formatter, table_loader.dataset[:2], batch_size=2, output_token=True)
# batch_data = table_loader.dataset[:2]

# print([formatter.load_data_from_dic({key: value[i] for key, value in batch_data.items()}).format_html() for i in range(len(batch_data.keys())) ])
# print([formatter.load_data_from_dic({key: value[i] for key, value in table_loader.dataset[:2].items()}).format_html() for i in range(2)])

KeyError: 0

In [9]:
print(output[0])

{'text': 'table summary: The table provides information about different wind farms including their names, scheduled dates, capacity in megawatts, number of turbines, types of turbines, and locations.\n\ncolumn description: \nwind farm<The name of the wind farm>\nscheduled<The scheduled date for the wind farm>\ncapacity (mw)<The capacity of the wind farm in megawatts>\nturbines<The number of turbines at the wind farm>\ntype<The type of turbines used at the wind farm>\nlocation<The location of the wind farm>'}

In [12]:
formatter = TableFormat(format='none',data=test_sample)
aug.summary_aug(formatter)

("Golf tournament winners' information",
 "player<The name of the player>\ncountry<The country the player represents>\nyear (s) won<The year(s) the player won the tournament>\ntotal<The total score of the player>\nto par<The score in relation to par (under par or over par)>\nfinish<The player's finishing position in the tournament>")

### Few Shot learning

In [9]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
summary_examples = ['The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.',
                    "The table provides information about different destroyers, including their kanji (Japanese characters), names, builders, dates when they were laid down, launched, and completed."]
subtable_examples = ['Columns(wind farm, scheduled, turbines), Rows(12)',
                    'Columns(kanji, builder), Rows(ALL)']
inds = [0, 100]
examples_prompt = PromptTemplate(input_variables=["table", "claim", "summary", "subtable"], template=
"""
Table: {table}
Claim: {claim}
Summary: {summary}
Subtable: {subtable}""")
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
num_k = 2
# examples = [examples_prompt.format(**{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]]).format_html(),
#                                     "claim": table_loader.dataset[inds[i]]['statement'],
#                                     "summary": summary_examples[i],
#                                     "subtable": subtable_examples[i]}) for i in range(num_k)]

examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(),
                                    "claim": table_loader.dataset[inds[i]]['statement'],
                                    "summary": summary_examples[i],
                                    "subtable": subtable_examples[i]} for i in range(num_k)]
prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="Instruction: Given the following table and claim, let's first summarize the contents of the rows and columns of the table, and then select relevent rows/columns in the given table that support or oppose the statement.",
    suffix=
    """
Table: {table}
Claim: {claim}
    """,
    input_variables=["table", "claim"],
)
print(prompt.format(table=formatter.format_html(), claim=test_sample['statement']))

Instruction: Given the following table and claim, let's first summarize the contents of the rows and columns of the table, and then select relevent rows/columns in the given table that support or oppose the statement.


Table: <table>
<thead>
<tr><th>  wind farm</th><th>  scheduled</th><th>  capacity (mw)</th><th>  turbines</th><th>              type</th><th>      location</th></tr>
</thead>
<tbody>
<tr><td>codling    </td><td>unknown    </td><td>1100           </td><td>220       </td><td>unknown           </td><td>county wicklow</td></tr>
<tr><td>carrowleagh</td><td>2012       </td><td>36.8           </td><td>16        </td><td>enercon e - 70 2.3</td><td>county cork   </td></tr>
<tr><td>gortahile  </td><td>2010 autumn</td><td>20             </td><td>8         </td><td>nordex n90        </td><td>county laois  </td></tr>
</tbody>
</table>
Claim: the scheduled date for the farm with 17 turbine be 2012
Summary: The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.
Subtable: Columns(wind farm, scheduled, turbines), Rows(12)


Table: <table>
<thead>
<tr><th>  kanji</th><th>             name</th><th>                     builder</th><th>     laid down</th><th>     launched</th><th>      completed</th></tr>
</thead>
<tbody>
<tr><td>望月   </td><td>mochizuki dd - 33</td><td>uraga dock company , japan  </td><td>23 march 1926 </td><td>28 april 1927</td><td>31 october 1927</td></tr>
<tr><td>三日月 </td><td>mikazuki dd - 32 </td><td>sasebo naval arsenal , japan</td><td>21 august 1925</td><td>12 july 1926 </td><td>5 may 1927     </td></tr>
<tr><td>睦月   </td><td>mutsuki dd - 19  </td><td>sasebo naval arsenal , japan</td><td>21 may 1924   </td><td>23 july 1925 </td><td>25 march 1926  </td></tr>
</tbody>
</table>
Claim: uraga dock company produce the most destroyer on the list , at 3
Summary: The table provides information about different destroyers, including their kanji (Japanese characters), names, builders, dates when they were laid down, launched, and completed.
Subtable: Columns(kanji, builder), Rows(ALL)


Table: <table>
<thead>
<tr><th>               event name</th><th>  established</th><th>  category</th><th>  sub category</th><th>           main venue</th></tr>
</thead>
<tbody>
<tr><td>the frye festival        </td><td>2000         </td><td>arts      </td><td>literary      </td><td>university of moncton</td></tr>
<tr><td>world wine &amp; food expo   </td><td>1990         </td><td>arts      </td><td>food &amp; drink  </td><td>moncton coliseum     </td></tr>
<tr><td>dieppe kite international</td><td>2001         </td><td>sporting  </td><td>kite flying   </td><td>dover park           </td></tr>
</tbody>
</table>
Claim: touchdown atlantic , in the category of sporting , be establish in 2010

In [5]:
from data_loader import TableFormat
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])

AIMessage(content='Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(2)', response_metadata={'token_usage': {'completion_tokens': 41, 'prompt_tokens': 931, 'total_tokens': 972}, 'model_name': 'gpt-3.5-turbo', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None})

### Few-shot for operations

In [38]:
from data_loader import TableFormat
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.few_shot import FewShotPromptTemplate
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
inds = [0,2]
summary_examples = ['The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.',
                    "The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues."]
Output_examples = ['wind farm<DELETE>, scheduled<KEEP>, capacity (mw)<DELETE>, turbines<KEEP>, type<KEEP>, location<KEEP>', 'event name<KEEP> established<KEEP> category<KEEP> sub category<DELETE> main venue<DELETE>']
examples_prompt = PromptTemplate(input_variables=["table", "claim", "output"], template=
"""
Table: {table}
Claim: {claim}
Output: {output}""")
num_k = 2
examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(),
                                    "claim": table_loader.dataset[inds[i]]['statement'],
                                    # "summary": summary_examples[i],
                                    "output": Output_examples[i]} for i in range(num_k)]
prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
Instruction: Given the following table and claim, you will output the operations corresponding to each column which can help us judging the truth or falsity of claim.
Operations: DELETE(delete column unrelevant to the claim), KEEP(keep column relevant to the claim), GROUP BY(combine aggregate functions and group the result set by one or more columns), COUNT(returns the number of rows in column), AVG(returns the average value of a numeric column), SUM(returns the sum of a numeric column), MAX(returns the max value of a numeric column), MIN(returns the min value of a numeric column), ORDER BY(sort the value in ascending order)""",
    suffix=
    """
Table: {table}
Thought: your reason here
Claim: {claim}
    """,
    input_variables=["table", "claim"],
)
print(prompt.format(table=formatter.format_html(), claim=test_sample['statement']))

# output = model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])

You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
Instruction: Given the following table and claim, you will output the operations corresponding to each column which can help us judging the truth or falsity of claim.
Operations: DELETE(delete column unrelevant to the claim), KEEP(keep column relevant to the claim), GROUP BY(combine aggregate functions and group the result set by one or more columns), COUNT(returns the number of rows in column), AVG(returns the average value of a numeric column), SUM(returns the sum of a numeric column), MAX(returns the max value of a numeric column), MIN(returns the min value of a numeric column), ORDER BY(sort the value in ascending order)


Table: <table>
<thead>
<tr><th>  wind farm</th><th>  scheduled</th><th>  capacity (mw)</th><th>  turbines</th><th>              type</th><th>      location</th></tr>
</thead>
<tbody>
<tr><td>codling    </td><td>unknown    </td><td>1100           </td><td>220       </td><td>unknown           </td><td>county wicklow</td></tr>
<tr><td>carrowleagh</td><td>2012       </td><td>36.8           </td><td>16        </td><td>enercon e - 70 2.3</td><td>county cork   </td></tr>
<tr><td>gortahile  </td><td>2010 autumn</td><td>20             </td><td>8         </td><td>nordex n90        </td><td>county laois  </td></tr>
</tbody>
</table>
Claim: the scheduled date for the farm with 17 turbine be 2012
Output: wind farm<DELETE>, scheduled<KEEP>, capacity (mw)<DELETE>, turbines<KEEP>, type<KEEP>, location<KEEP>


Table: <table>
<thead>
<tr><th>               event name</th><th>  established</th><th>  category</th><th>  sub category</th><th>           main venue</th></tr>
</thead>
<tbody>
<tr><td>the frye festival        </td><td>2000         </td><td>arts      </td><td>literary      </td><td>university of moncton</td></tr>
<tr><td>world wine &amp; food expo   </td><td>1990         </td><td>arts      </td><td>food &amp; drink  </td><td>moncton coliseum     </td></tr>
<tr><td>dieppe kite international</td><td>2001         </td><td>sporting  </td><td>kite flying   </td><td>dover park           </td></tr>
</tbody>
</table>
Claim: touchdown atlantic , in the category of sporting , be establish in 2010
Output: event name<KEEP> established<KEEP> category<KEEP> sub category<DELETE> main venue<DELETE>


Table: <table>
<thead>
<tr><th>            date</th><th>        tournament</th><th>  surface</th><th>        partner</th><th>                                     opponents</th><th>                score</th></tr>
</thead>
<tbody>
<tr><td>11 february 2008</td><td>mallorca 2 , spain</td><td>clay     </td><td>stephanie vogt </td><td>leticia costas - moreira maite gabarrus alonso</td><td>7 - 6 (7 - 2) , 6 - 3</td></tr>
<tr><td>8 february 2010 </td><td>cali , colombia   </td><td>clay     </td><td>edina gallovits</td><td>estrella cabeza candella laura pous tió       </td><td>3 - 6 , 6 - 3 ,      </td></tr>
<tr><td>28 april 2008   </td><td>makarska , croatia</td><td>clay     </td><td>stephanie vogt </td><td>tadeja majerić maša zec peškirič              </td><td>7 - 5 , 6 - 2        </td></tr>
</tbody>
</table>
Thought: your reason here
Claim: polona hercog partner with alberta brianti after she have stephanie vogt as the partner

In [39]:
output = model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])
print(output)

content='Output: date<DELETE>, tournament<DELETE>, surface<DELETE>, partner<KEEP>, opponents<KEEP>, score<DELETE>' response_metadata={'token_usage': {'completion_tokens': 26, 'prompt_tokens': 1037, 'total_tokens': 1063}, 'model_name': 'gpt-3.5-turbo-0125', 'system_fingerprint': 'fp_b28b39ffa8', 'finish_reason': 'stop', 'logprobs': None}

In [35]:
print(formatter.format_psql())
print(test_sample['statement'])
print(test_sample['label'])

+------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------+
| date             | tournament                        | surface   | partner             | opponents                                      | score                 |
|------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------|
| 15 january 2007  | algiers 2 , algeria               | clay      | rushmi chakravarthi | barbora matusova anna savitskaya               | 6 - 2 , 6 - 0         |
| 11 february 2008 | mallorca 2 , spain                | clay      | stephanie vogt      | leticia costas - moreira maite gabarrus alonso | 7 - 6 (7 - 2) , 6 - 3 |
| 28 april 2008    | makarska , croatia                | clay      | stephanie vogt      | tadeja majerić maša zec peškirič               | 7 - 5 , 6 - 2         |
| 8 september 2008 | sarajevo 2 , bosnia - herzegovina | clay      | alberta brianti     | çağla büyükakçay julia glushko                 | 6 - 4 , 7 - 5         |
| 8 february 2010  | cali , colombia                   | clay      | edina gallovits     | estrella cabeza candella laura pous tió        | 3 - 6 , 6 - 3 ,       |
+------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------+
polona hercog partner with alberta brianti after she have stephanie vogt as the partner
1

## Zero-shot learning

In [22]:
from tabulate import tabulate
formatter = TableFormat(format='none', data=test_sample)
print(test_sample['statement'])
print(tabulate(formatter.data, headers=formatter.data.columns, tablefmt='psql'))
# print('Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(2)')

uraga dock company produce the most destroyer on the list , at 3
+----+---------+-------------------+--------------------------------+------------------+------------------+-------------------+
|    | kanji   | name              | builder                        | laid down        | launched         | completed         |
|----+---------+-------------------+--------------------------------+------------------+------------------+-------------------|
|  0 | 睦月    | mutsuki dd - 19   | sasebo naval arsenal , japan   | 21 may 1924      | 23 july 1925     | 25 march 1926     |
|  1 | 如月    | kisaragi dd - 21  | maizuru naval arsenal , japan  | 3 june 1924      | 5 june 1925      | 21 december 1925  |
|  2 | 彌生    | yayoi dd - 23     | uraga dock company , japan     | 11 january 1924  | 11 july 1925     | 28 august 1926    |
|  3 | 卯月    | uzuki dd - 25     | ishikawajima shipyards , japan | 11 january 1924  | 15 october 1925  | 14 september 1926 |
|  4 | 皐月    | satsuki dd - 27   | fujinagata shipyards , japan   | 1 december 1924  | 25 march 1925    | 15 november 1925  |
|  5 | 水無月  | minazuki dd - 28  | uraga dock company , japan     | 24 march 1924    | 25 march 1926    | 22 march 1927     |
|  6 | 文月    | fumizuki dd - 29  | fujinagata shipyards , japan   | 20 october 1924  | 16 february 1926 | 3 july 1926       |
|  7 | 長月    | nagatsuki dd - 30 | ishikawajima shipyards , japan | 16 april 1925    | 6 october 1926   | 30 april 1927     |
|  8 | 菊月    | kikuzuki dd - 31  | maizuru naval arsenal , japan  | 15 june 1925     | 15 may 1926      | 20 november 1926  |
|  9 | 三日月  | mikazuki dd - 32  | sasebo naval arsenal , japan   | 21 august 1925   | 12 july 1926     | 5 may 1927        |
| 10 | 望月    | mochizuki dd - 33 | uraga dock company , japan     | 23 march 1926    | 28 april 1927    | 31 october 1927   |
| 11 | 夕月    | yūzuki dd - 34    | fujinagata shipyards , japan   | 27 november 1926 | 4 march 1927     | 25 july 1927      |
+----+---------+-------------------+--------------------------------+------------------+------------------+-------------------+

In [10]:
from data_loader import TableFormat, TableLoader
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=True, small_test=False)
test_sample = table_loader.dataset[40]
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
pre_instruction_schema = PromptTemplate(input_variables=["table"], template="""
Instruction: Given the following table, you need to summarize the contents of the table and tell what table is about.
Table: {table}

The output should use the following format: 
Summary: #summary for table contents

Summary:
""")
output = model.invoke([HumanMessage(content=pre_instruction_schema.format(table=formatter.format_html(),))])

In [11]:
print(output.content)

The table provides information about different games played by a football team. It includes details like the week number, date of the game, opponent team, game result, game site, NFL recap, and the attendance for each game.

In [40]:
from tabulate import tabulate
print(tabulate(formatter.data, headers=formatter.data.columns, tablefmt='psql'))
print('Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(touchdown atlantic)')

+----+--------------------------------------------+---------------+----------------+----------------+--------------------------+
|    | event name                                 |   established | category       | sub category   | main venue               |
|----+--------------------------------------------+---------------+----------------+----------------+--------------------------|
|  0 | dieppe kite international                  |          2001 | sporting       | kite flying    | dover park               |
|  1 | the frye festival                          |          2000 | arts           | literary       | university of moncton    |
|  2 | hubcap comedy festival                     |          2000 | arts           | comedy         | various                  |
|  3 | touchdown atlantic                         |          2010 | sporting       | football       | moncton stadium          |
|  4 | atlantic nationals automotive extravaganza |          2000 | transportation | automotive     | moncton coliseum         |
|  5 | world wine & food expo                     |          1990 | arts           | food & drink   | moncton coliseum         |
|  6 | shediac lobster festival                   |          1950 | arts           | food & drink   | shediac festival grounds |
|  7 | mosaã¯q multicultural festival             |          2004 | festival       | multicultural  | moncton city hall plaza  |
+----+--------------------------------------------+---------------+----------------+----------------+--------------------------+
Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.
Subtable: Columns(event name, established, category), Rows(touchdown atlantic)

In [41]:
print(test_sample['statement'])

touchdown atlantic , in the category of sporting , be establish in 2010

In [38]:
import os
from tenacity import retry, stop_after_attempt, wait_random_exponential
from typing import List
from openai import OpenAI
class Config:
    def __init__(self) -> None:
        self.openai_api_key = "sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW"
        self.base_url = "https://api.chatanywhere.cn/v1"
        self.model = "gpt-3.5-turbo"

class CallLLM:
    """Class for calling the OpenAI Language Model API."""

    def __init__(self, config: Config):
        self.client = OpenAI(api_key=config.openai_api_key,
                             base_url=config.base_url)
        self.model = config.model
        
    @retry(wait=wait_random_exponential(min=30, max=60), stop=stop_after_attempt(1000))
    def generate_text(self, prompt: List[str]) -> List[str]:
        """Generate text based on the prompt and instruction."""

            # batched examples, with xx completions per request
        response = self.client.chat.completions.create(
            model=self.model,
            messages=[{"role": "user", "content": prompt}], 
            temperature=0,
            max_tokens=96,
            top_p=1.0,
            frequency_penalty=0.0,
            presence_penalty=0.0,
        )
        # match completions to prompts by index
        return response.choices[0].message.content.strip()
configs = Config()  
llm = CallLLM(config=configs)

In [39]:

input_text = "\n".join(input)
llm.generate_text(input_text)

'1'

In [15]:
import pandas as pd
def process_input(sample, instruction):
    df = pd.DataFrame(columns=sample["table"]["header"])
    for i, line in enumerate(sample['table']['rows']):
        df.loc[i] = line
        
    texts = [instruction,
          "The database table DF is shown as follows: \n",
          df.to_html(),
          "query:",
          sample['statement'],
           "Output the code braced by '```'. \n SQL:"]
    
    label = sample['label']
    return "\n".join(texts), label

In [4]:
subtable_instruction = """
You are a SQLite expert. Given an input query, identify critical values and ranges of the table, then create a syntactically correct SQLite query to create a VIEW. To create a syntactically correct SQL view, the selected data within this view must be helpful in answering the question. During the construction of the view, if column names are confusing, rename the columns accordingly.
"""

In [16]:
print(process_input(test_sample, subtable_instruction))

('\nYou are a SQLite expert. Given an input query, identify critical values and ranges of the table, then create a syntactically correct SQLite query to create a VIEW. To create a syntactically correct SQL view, the selected data within this view must be helpful in answering the question. During the construction of the view, if column names are confusing, rename the columns accordingly.\n\nThe database table DF is shown as follows: \n\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>date</th>\n      <th>result</th>\n      <th>score</th>\n      <th>brazil scorers</th>\n      <th>competition</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>may 11 , 1919</td>\n      <td>w</td>\n      <td>6 - 0</td>\n      <td>friedenreich (3) , neco (2) , haroldo</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>may 18 , 1919</td>\n      <td>w</td>\n      <td>3 - 1</td>\n      <td>heitor , amílcar , millon</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>may 26 , 1919</td>\n      <td>d</td>\n      <td>2 - 2</td>\n      <td>neco (2)</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>may 29 , 1919</td>\n      <td>w</td>\n      <td>1 - 0</td>\n      <td>friedenreich</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>june 1 , 1919</td>\n      <td>d</td>\n      <td>3 - 3</td>\n      <td>haroldo , arlindo (2)</td>\n      <td>taça roberto cherry</td>\n    </tr>\n  </tbody>\n</table>\nquery:\nharoldo be mention as a brazil scorer for 2 different game\nOutput the code braced by \'```\'. \n SQL:', 1)

### Simple pipeline

In [6]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db')
normalized = table_loader.normalize_table(test_sample)
df = pd.DataFrame(columns=normalized['table']['header'])
for ind, r in enumerate(normalized['table']['rows']):
    df.loc[ind] = r
# print(' '.join(normalized['table']['header']) + '*************')
df.to_sql(name='ind100', con=engine, if_exists='replace', index=False)
# table_loader.table2db(engine, test_sample)

12

In [34]:
from tabulate import tabulate
structured_data_markdown = tabulate(
            df, headers=df.columns, tablefmt="pipe", showindex=True
        )

In [35]:
structured_data_markdown

'|    | date          | result   | score   | brazil scorers                        | competition                 |\n|---:|:--------------|:---------|:--------|:--------------------------------------|:----------------------------|\n|  0 | may 11 , 1919 | w        | 6 - 0   | friedenreich (3) , neco (2) , haroldo | south american championship |\n|  1 | may 18 , 1919 | w        | 3 - 1   | heitor , amílcar , millon             | south american championship |\n|  2 | may 26 , 1919 | d        | 2 - 2   | neco (2)                              | south american championship |\n|  3 | may 29 , 1919 | w        | 1 - 0   | friedenreich                          | south american championship |\n|  4 | june 1 , 1919 | d        | 3 - 3   | haroldo , arlindo (2)                 | taça roberto cherry         |'

In [1]:

from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
model = ChatOpenAI(model_name="gpt-4", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")

In [7]:
import re
def extract_yes_no_and_map(text):
    # Convert the input text to lowercase for case-insensitive matching
    text = text.lower()

    # Define regular expressions for yes/no matching
    yes_patterns = [r'\byes\b', r'\btrue\b']
    no_patterns = [r'\bno\b', r'\bfalse\b']

    # Check for "0"
    if text == "0":
        return "0"

    # Check for "1"
    if text == "1":
        return "1"

    # Check for yes
    for pattern in yes_patterns:
        if re.search(pattern, text):
            return "1"

    # Check for no
    for pattern in no_patterns:
        if re.search(pattern, text):
            return "0"

    # Return 2 if neither yes nor no is found
    return "2"

def eval_fv_match(pred_list, gold_list):
        acc = 0.0
        for pred, gold in zip(pred_list, gold_list):
            pred, gold = extract_yes_no_and_map(pred), extract_yes_no_and_map(gold)
            if pred == gold:
                acc += 1
        acc = acc / len(pred_list)
        return acc
    
def process_input(sample, instruction):
    df = pd.DataFrame(columns=sample["table"]["header"])
    for i, line in enumerate(sample['table']['rows']):
        df.loc[i] = line
    texts = [instruction,
          "the table needed to be answered: \n",
          df.to_html(),
          "query:",
          sample['statement'],
           "answer is: \n"]
    
    label = sample['label']
    return "\n".join(texts), label

In [37]:
#简易版本的pipeline
instruction = "Read the table below to verify whether the provided claim/query are true or false. Return 0 if it's false, or 1 if it's true. Only return 0 or 1 without any other information. \n"
num_samples = 32
batch_size = 32
num_batches = num_samples // batch_size
batches = []
for batch_num in range(num_batches):
    batch_prompt, ground = [], []
    start = batch_num * batch_size
    batch_data = tabfact['validation'][start: start+batch_size]
    for i in range(batch_size):
        prompt, label = process_input(sample=dict({key: value[i] for key, value in batch_data.items()}), instruction=instruction)
        batch_prompt.append(prompt)
        ground.append(str(label))
        # call llm
    batch_pred = list(map(lambda x: x.content, model.batch(batch_prompt)))
        
        #do evaluation
    accuracy = eval_fv_match(batch_pred, ground)
    print(accuracy)

0.6875

In [42]:
def display_wrong_result(pred_list, gold_list, dataset):
    for ind, (pred, gold) in enumerate(zip(pred_list, gold_list)):
        pred, gold = extract_yes_no_and_map(pred), extract_yes_no_and_map(gold)
        if pred != gold:
            sample= dataset[ind]
            df = pd.DataFrame(columns=sample["table"]["header"])
            for i, line in enumerate(sample['table']['rows']):
                df.loc[i] = line
            print(sample['statement'], sample['label'])
            print(tabulate(df, headers=df.columns, tablefmt='psql'))
        
print(display_wrong_result(batch_pred, ground, tabfact['validation']))

süper lig be the most common league to win a round in the turkish cup 1
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
there be new entry for the 1st 4 round of the turkish cup 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
2 be the lowest number of new entry conclude a round in the turkish cup 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
from round 1 to the final round , there be 4 club remain to complete the round 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
5 of the cultural interest fraternity and sorority be 2 sorority while 3 be a fraternity 0
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
|    | letters   | organization             | nickname         | founding date   | founding university              | type       |
|----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------|
|  0 | αεπ       | alpha epsilon pi 1       | aepi             | 1913 - 11 - 07  | new york university              | fraternity |
|  1 | αεφ       | alpha epsilon phi 2      | aephi            | 1909 - 10 - 24  | barnard college                  | sorority   |
|  2 | σαεπ      | sigma alpha epsilon pi 3 | sigma            | 1998 - 10 - 01  | university of california , davis | sorority   |
|  3 | σαμ       | sigma alpha mu 1         | sammy            | 1909 - 11 - 26  | city college of new york         | fraternity |
|  4 | σδτ       | sigma delta tau 2        | sdt or sig delts | 1917 - 03 - 25  | cornell university               | sorority   |
|  5 | τεφ       | tau epsilon phi 1        | tep , tau boys   | 1910 - 10 - 10  | columbia university              | fraternity |
|  6 | ζβτ       | zeta beta tau 1          | zbt              | 1898 - 12 - 29  | city college of new york         | fraternity |
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
7 of the cultural interest fraternity and sorority be found before the year 1921 0
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
|    | letters   | organization             | nickname         | founding date   | founding university              | type       |
|----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------|
|  0 | αεπ       | alpha epsilon pi 1       | aepi             | 1913 - 11 - 07  | new york university              | fraternity |
|  1 | αεφ       | alpha epsilon phi 2      | aephi            | 1909 - 10 - 24  | barnard college                  | sorority   |
|  2 | σαεπ      | sigma alpha epsilon pi 3 | sigma            | 1998 - 10 - 01  | university of california , davis | sorority   |
|  3 | σαμ       | sigma alpha mu 1         | sammy            | 1909 - 11 - 26  | city college of new york         | fraternity |
|  4 | σδτ       | sigma delta tau 2        | sdt or sig delts | 1917 - 03 - 25  | cornell university               | sorority   |
|  5 | τεφ       | tau epsilon phi 1        | tep , tau boys   | 1910 - 10 - 10  | columbia university              | fraternity |
|  6 | ζβτ       | zeta beta tau 1          | zbt              | 1898 - 12 - 29  | city college of new york         | fraternity |
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
goal 2 - 5 be all consider friendly competition 1
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
goal 2 be the first of 3 game with a score of 2 - 0 0
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
the game in pueblo nuevo be 1 of 6 game play in venezuela 0
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
in the 2008 manx grand prix the same team do not have more than 1 rider 1
+----+--------+----------------------+---------------------+-------------+------------+
|    |   rank | rider                | team                | speed       | time       |
|----+--------+----------------------+---------------------+-------------+------------|
|  0 |      1 | ryan farquhar        | 498cc bic paton     | 102.385 mph | 1:06.19.90 |
|  1 |      2 | alan oversby         | 500cc norton manx   | 101.863 mph | 1:06.40.30 |
|  2 |      3 | alan brew            | seeley g50 496cc    | 99.367 mph  | 1:08.20.78 |
|  3 |      4 | wattie brown         | 500cc petty manx    | 98.118 mph  | 1:09.12.98 |
|  4 |      5 | andy reynolds        | 499cc bic paton     | 97.152 mph  | 1:09.54.28 |
|  5 |      6 | bob price            | 500cc seeley g50    | 96.890 mph  | 1:10.05.64 |
|  6 |      7 | ken davis            | 500cc norton manx   | 95.948 mph  | 1:10.46.92 |
|  7 |      8 | chris swallow        | 476cc ducati        | 95.664 mph  | 1:10.59.52 |
|  8 |      9 | mark herbertson      | 499cc matchless g50 | 95.272 mph  | 1:11.17.05 |
|  9 |     10 | dave madsen - mygdal | 499cc honda         | 92.209 mph  | 1:11.19.89 |
+----+--------+----------------------+---------------------+-------------+------------+
None

In [40]:
for ind, i in enumerate(zip(batch_pred, ground)):
    print(ind, i)

0 ('1', '1')
1 ('1', '1')
2 ('1', '1')
3 ('1', '1')
4 ('1', '1')
5 ('1', '0')
6 ('0', '0')
7 ('0', '0')
8 ('0', '0')
9 ('0', '0')
10 ('1', '1')
11 ('0', '1')
12 ('1', '1')
13 ('1', '1')
14 ('0', '1')
15 ('0', '0')
16 ('0', '0')
17 ('0', '0')
18 ('1', '0')
19 ('1', '0')
20 ('The answer is 1.', '1')
21 ('0', '1')
22 ('1', '1')
23 ('0', '1')
24 ('1', '1')
25 ('0', '0')
26 ('0', '0')
27 ('1', '0')
28 ('0', '0')
29 ('0', '0')
30 ('1', '1')
31 ('1', '1')

## Answer output

In [6]:

from data_loader import TableFormat
import pandas as pd
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
from data_loader import TableLoader

table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
from utils import normalize_schema
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.tech/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
normalized_sample = table_loader.normalize_table(
                    table_loader.dataset[3])
formatter = TableFormat(format='none', data=normalized_sample)
# schema_information = pd.read_csv(f"result/aug/tabfact_test_schema.csv", index_col='table_id')
# formatter.data = normalize_schema(formatter.data, schema_information.loc[normalized_sample['id']]['schema'])
pre_instruction = PromptTemplate(input_variables=["table"], template=
"""
Below is a subtable with rows sampled, you are required to infer the data distribution and format from the sample data.
Refine commonalities about the structure within each table column.
You need to output in the following format: 
number. Column_name: Commonalities
#example format
1. championship: Names of golf tournaments are listed with some additional information (e.g., 's open, classic)

sub-table: {table}
""")
# 
output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html()) )])

In [7]:
print(output.content)

1. position: Integer values representing the team's position in the table
2. team: Names of football teams
3. played: Number of games played by each team
4. drawn: Number of games drawn by each team
5. lost: Number of games lost by each team
6. goals_for: Number of goals scored by each team
7. goals_against: Number of goals conceded by each team
8. goal_difference: Goal difference calculated as goals_for - goals_against
9. points_1: Total points earned by each team in the league

In [39]:
print(output.content)

1. game column: It appears to represent the game number, with each entry being a numerical value.
2. date column: It represents the date of the game, with each entry being in a specific date format (e.g., "month day").
3. team column: It represents the name of the team, with each entry being a text string.
4. score column: It represents the game score, with each entry showing the score in a specific format (e.g., "l 90 - 115 (ot)").
5. high_points column: It represents the player with the highest points in the game, with each entry showing the player's name and the number of points.
6. high_rebounds column: It represents the player with the highest rebounds in the game, with each entry showing the player's name and the number of rebounds.
7. high_assists column: It represents the player with the highest assists in the game, with each entry showing the player's name and the number of assists.
8. location_attendance column: It represents the location of the game and the attendance, with each entry showing the location and the number of attendees.
9. record column: It represents the team's record, with each entry showing the number of wins and losses.

In [8]:
from data_loader import TableLoader, TableFormat
inputs = []
row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'],
                                        # 'claim':"who is the winner of the lifetime achievement award after 2005?",
                                        'aug':  output.content
                                        }))

In [11]:
from data_loader import TableLoader, TableFormat
inputs = []
row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that provide clues for query.
sub-table: {table}
Query: verify whether the provided claim/query are true or false. {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'],
                                        # 'claim':"who is the winner of the lifetime achievement award after 2005?",
                                        'aug':  output.content
                                        }))
# verify whether the provided claim/query are true or false.

In [35]:
from data_loader import TableLoader, TableFormat
inputs = []

row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information and data in subtable, write 3 SELECT SQL statements using table DF that complete or related to query.
The SQL may select different useful parts for the query.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'] + ". The query is about 2005 Milwaukee Brewers season red uniforms vs Padres schedule",
                                        'aug':  output.content
                                        }))

In [9]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.tech/v1",
                       openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.1)
llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=True)
batch_pred = llm_chain.batch(inputs, return_only_outputs=True)

> Entering new LLMChain chain...
Prompt after formatting:

Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query.
sub-table: <table>
<caption>1986 - 87 north west counties football league</caption>
<thead>
<tr><th>  position</th><th>               team</th><th>  played</th><th>  drawn</th><th>  lost</th><th>  goals_for</th><th>  goals_against</th><th>  goal_difference</th><th>  points_1</th></tr>
</thead>
<tbody>
<tr><td>12        </td><td>ashton town        </td><td>24      </td><td>9      </td><td>11    </td><td>29         </td><td>39             </td><td>10               </td><td>15 2      </td></tr>
<tr><td>10        </td><td>padiham            </td><td>24      </td><td>8      </td><td>12    </td><td>35         </td><td>39             </td><td>4                </td><td>16        </td></tr>
<tr><td>1         </td><td>atherton collieries</td><td>24      </td><td>4      </td><td>4     </td><td>46         </td><td>22             </td><td>+ 24             </td><td>36        </td></tr>
</tbody>
</table>
Query: the team with the most goal for in the 1986 - 87 north west county football league be flixton
Extra information: 1. position: Integer values representing the team's position in the table
2. team: Names of football teams
3. played: Number of games played by each team
4. drawn: Number of games drawn by each team
5. lost: Number of games lost by each team
6. goals_for: Number of goals scored by each team
7. goals_against: Number of goals conceded by each team
8. goal_difference: Goal difference calculated as goals_for - goals_against
9. points_1: Total points earned by each team in the league
SQL:

> Finished chain.

In [10]:
print(batch_pred[0]['text'])

SELECT team
FROM DF
WHERE goals_for = (SELECT MAX(goals_for) FROM DF)
AND caption = '1986 - 87 north west counties football league'
AND team = 'flixton';

In [19]:
from data_loader import TableLoader, TableFormat
inputs = []

pre_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is relevant information regrading the table stucture. Carefully analyze the query, based on the augmentation information you are required to infer the data distribution and format. Write an SELECT SQL statement using table DF that is most likely to provide useful information to the query.
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({
                                        'claim': normalized_sample['query'],
                                        'aug':  output.content
                                        }))

In [22]:
from data_loader import TableLoader, TableFormat
inputs = []

row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is an initial SQL statement about the query. Now you can see some smaple rows from the table, improve the sql statement so that the SQL can answer the query.
initial SQL: {initial}
sub-table: {table}
Query: {claim}

SQL: """)
inputs.append(dict({"initial" : initial[0]['text'],
                                        'claim': normalized_sample['query'],
                'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        }))

In [18]:
from data_loader import TableFormat
from executor import SQLManager
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
i = 0
# SQL = manager.format_sql(preds[i]['pred'].split(':')[1])


def show_table(data):
    formatter = TableFormat(format='none', data=data)
    columns = [c.strip() for c in preds[i]['pred'].split(',')]
    print(data['statement'])
    formatter.data = formatter.data.loc[:, columns]
    
    print(formatter.format_html())
    print(formatter.format_psql())
    print(data['label'])
    # data.columns = [manager.normalize_col_name(c) for c in formatter.all_data.columns]
    # data.to_sql('DF', manager.engine, if_exists='replace', index=False)
    
    # subtable = pd.read_sql(command, self.engine)
    # test_df = manager.execute_from_df(SQL, formatter.all_data)
    # return test_df
test_df = show_table(table_loader.dataset[i])
print(test_df)

the 31997 mintage be release in 2001
<table>
<thead>
<tr><th>  year</th><th>                  mintage</th></tr>
</thead>
<tbody>
<tr><td>2003  </td><td>included in hmcs bras dor</td></tr>
<tr><td>2003  </td><td>31997                    </td></tr>
<tr><td>2000  </td><td>44367                    </td></tr>
</tbody>
</table>
+--------+----------------------------+-------------------+-----------------------------+---------------+
|   year | theme                      | artist            | mintage                     |   issue price |
|--------+----------------------------+-------------------+-----------------------------+---------------|
|   2000 | steam buggy                | john mardon       | 44367                       |         59.95 |
|   2000 | the bluenose               | j franklin wright | included in steam buggy     |         59.95 |
|   2000 | the toronto                | john mardon       | included in steam buggy     |         59.95 |
|   2001 | the russell light four     | john mardon       | 41828                       |         59.95 |
|   2001 | the marco polo             | j franklin wright | included in the russell     |         59.95 |
|   2001 | the scotia                 | don curley        | included in the russell     |         59.95 |
|   2002 | the gray - dort            | john mardon       | 35944                       |         59.95 |
|   2002 | the william lawrence       | bonnie ross       | included in the gray - dort |         59.95 |
|   2002 | d - 10 locomotive          | dan fell          | included in the gray - dort |         59.95 |
|   2003 | hmcs bras dor              | don curley        | 31997                       |         59.95 |
|   2003 | cnr fa - 1 diesel electric | john mardon       | included in hmcs bras dor   |         59.95 |
|   2003 | bricklin sv - 1            | brian hughes      | included in hmcs bras dor   |         59.95 |
+--------+----------------------------+-------------------+-----------------------------+---------------+
0
None

In [ ]:
# Answer output
pre_instruction = PromptTemplate(input_variables=["table", "claim"], template=
"""
Our ultimate goal is to answer query based on the table. Below is a SQL statement which reports error or returns no result. You need to understand the logic behind the SQL filtering and rewrite SQL to guarantee the SQL return useful information. 
sub-table: {table}
SQL Excuted: 
```{SQL}```
Query: {claim}
""")
output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html(), claim=test_sample['statement']))])

## Evaluat from local result

In [1]:
import json
from data_loader import TableLoader
table_loader = TableLoader(table_name='tabfact', split='test', small_test=True, use_sample=False)
preds = []
with open('./result/answer/tabfact_test_04-20_02-06-16.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        preds.append(json.loads(l)['pred'])

print(len(preds))
SQLs = []
with open('./result/SQL/tabfact_test_04-20_02-04-20.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        SQLs.append(json.loads(l)['pred'])
print(len(SQLs))
# do evaluation
# accuracy = eval_fv_match(pred_label, labels)

255
255

In [3]:
from utils import eval_tabfact
import json
from data_loader import TableLoader
import numpy as np
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
labels = [table_loader.normalize_table(line)['label'] for line in table_loader.dataset][:255]
answers = eval_tabfact('./result/answer/tabfact_test_04-20_02-06-16.json', labels, verbose=True)
print(answers)

['0', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1', '1', '0', '1', '0', '1', '0', '0', '1', '0', '1', '1', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '0', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '1', '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0']
['1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '0', '1', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '1', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0']
(array([  0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
        49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
        82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
       124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
       167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
       200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
       251]),)
0.6901960784313725

In [4]:
from utils import eval_tabfact
import json
from data_loader import TableLoader
import numpy as np
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=True, small_test=True)
labels = [table_loader.normalize_table(line)['label'] for line in table_loader.dataset]
answers = eval_tabfact('./result/answer/tabfact_test_04-18_15-20-27.json', labels, verbose=True)
print(np.where(np.array(labels) != np.array(answers)))

['0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '0', '1', '1', '0', '0', '0', '1', '0', '1', '1', '0', '1', '1', '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '0', '0', '0', '1', '0', '0', '1', '0', '1', '1', '1', '1', '0']
(array([ 2,  3, 14, 21, 25, 27, 32, 35]),)

In [39]:
data = table_loader.dataset[i]
df = pd.DataFrame(columns=data["table"]["header"])
for i, line in enumerate(data['table']['rows']):
    df.loc[i] = line
data = df

In [40]:
formatter = TableFormat(format='none', data=table_loader.dataset[i])
from functools import partial
data_func = partial(pd.to_datetime, dayfirst=True, format='mixed')
formatter.all_data['date'] = data_func(formatter.all_data['date'])
formatter.all_data['date'] = pd.to_datetime(formatter.all_data['date'], format='%Y-%m')
formatter.all_data['date'] = formatter.all_data['date'].dt.strftime('%Y-%m-%d')

In [72]:
import pandas as pd
formatter = TableFormat(format='none', data=table_loader.dataset[i])
schema_information = pd.read_csv(f"result/aug/tabfact_test_schema.csv", index_col='table_id')
formatter.normalize_schema(schema_information.loc[table_loader.dataset[i]['table']['id']]['schema'])
formatter.all_data.to_sql('DF', con=engine, if_exists='replace', index=False)

27

In [2]:
inds = [0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
       49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
       82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
251]
len(inds)

79

In [3]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
# table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
i = 25

def show_table(data, execute=False):
    formatter = TableFormat(format='none', data=data)
    print(data['table']['id'])
    print(data['statement'])
    print(formatter.format_psql())
    # print(preds[i])
    # print(SQLs[i])
    # test_df = manager.execute_from_df(SQLs[i], formatter.all_data)
    # print(test_df)
    print(data['label'])
print(table_loader.dataset[i]['table']['caption'])
show_table(table_loader.dataset[i])

1989 u.s. open (golf)
2-17231086-6.html.csv
3 of the people tie for fifth place be from the united state
+---------+---------------------+---------------+-------------------------+----------+---------+
| place   | player              | country       | score                   | to_par   |   money |
|---------+---------------------+---------------+-------------------------+----------+---------|
| 1       | curtis strange      | united states | 71 + 64 + 73 + 70 = 278 | - 2      |  200000 |
| t2      | chip beck           | united states | 71 + 69 + 71 + 68 = 279 | - 1      |   67823 |
| t2      | mark mccumber       | united states | 70 + 68 + 72 + 69 = 279 | - 1      |   67823 |
| t2      | ian woosnam         | wales         | 70 + 68 + 73 + 68 = 279 | - 1      |   67823 |
| 5       | brian claar         | united states | 71 + 72 + 68 + 69 = 280 | e        |   34345 |
| t6      | masashi ozaki       | japan         | 70 + 71 + 68 + 72 = 281 | + 1      |   28220 |
| t6      | scott simpson       | united states | 67 + 70 + 69 + 75 = 281 | + 1      |   28220 |
| 8       | peter jacobsen      | united states | 71 + 70 + 71 + 70 = 282 | + 2      |   24307 |
| t9      | paul azinger        | united states | 71 + 72 + 70 + 70 = 283 | + 3      |   19968 |
| t9      | hubert green        | united states | 69 + 72 + 74 + 68 = 283 | + 3      |   19968 |
| t9      | tom kite            | united states | 67 + 69 + 69 + 78 = 283 | + 3      |   19968 |
| t9      | josé maría olazábal | spain         | 69 + 72 + 70 + 72 = 283 | + 3      |   19968 |
+---------+---------------------+---------------+-------------------------+----------+---------+
0

#### show wikitable

In [42]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
# table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
i = 1


def show_table(data, execute=False):
    formatter = TableFormat(format='none', data=data)
    print(data['id'])
    print(data['query'])
    print(formatter.format_psql())
    # print(preds[i])
    # print(SQLs[i])
    # test_df = manager.execute_from_df(SQLs[i], formatter.all_data)
    # print(test_df)
    print(data['label'])

show_table(table_loader.normalize_table(table_loader.dataset[i]) )

nt-11806
what was the time difference between the first place finisher and the eighth place finisher?
+--------+-----------------------+---------------+---------+
| Rank   | Athlete               | Nationality   | Time    |
|--------+-----------------------+---------------+---------|
|        | Liliana Barbulescu    | Romania       | 2:00.06 |
|        | Anna Zagórska         | Poland        | 2:00.11 |
|        | Irina Vashentseva     | Russia        | 2:00.77 |
| 4      | Laura Gerber          | Switzerland   | 2:01.39 |
| 5      | Christiane dos Santos | Brazil        | 2:01.53 |
| 6      | Tamara Volkova        | Ukraine       | 2:01.86 |
| 7      | Tatyana Yegorova      | Russia        | 2:02.64 |
| 8      | Sandra Teixeira       | Portugal      | 2:03.01 |
+--------+-----------------------+---------------+---------+
['2.95']

In [40]:
for ind, i in enumerate(table_loader.dataset['answers']):
    print(ind, i)

0 ['Dmitry Mikhailovich Golitsyn']
1 ['Kyunghyun Kim', 'Christoffer Lindhe', 'Arnost Petracek', 'Ronystony Cordeiro da Silva', 'Grant Patterson', 'Arnulfo Castorena']
2 ['Italy']
3 ['20']
4 ['"Never Tell"']
5 ['2']
6 ['Young Forever']
7 ['4']
8 ['2:07:02.8248']
9 ['Zhu Ting']
10 ['21']
11 ['Canada']
12 ['9']
13 ['no']
14 ['21']
15 ['Burton Township, Ohio and Troy Township, Ohio']
16 ['6']
17 ['below']
18 ['14']
19 ['13']
20 ['Allianz Riviera']
21 ['10']
22 ['2001']
23 ['4']
24 ['Sopwith Triplane s/n N5460']
25 ['Mr B. Owen- Jones']
26 ['9']
27 ['7']
28 ['Ryan Hunter-Reay']
29 ['4']
30 ['60.28 m']
31 ['6']
32 ['2007']
33 ['170 cm (5 ft 7 in)']
34 ['2']
35 ['14']
36 ['1982-1985']
37 ['12']
38 ['31']
39 ['473,000']
40 ['8']
41 ['2012']
42 ['Holon']
43 ['Addis Ababa']
44 ['.900 silver']
45 ['Yugoslavia']
46 ['7']
47 ['Chris Van Hollen']
48 ['Khaled Yousef Al-Obaidli']
49 ['2']
50 ['Kodachrome 40 film']
51 ['Paul Christy']
52 ['yes']
53 ['6']
54 ['Ramsay Carelse']
55 ['1943/44']
56 ['4']
57 ['3']
58 ['7']
59 ['ALCO']
60 ['Cahill', 'Colosimo', 'Culina', 'Elrich', 'Griffiths', 'Skoko', 'Zdrilic']
61 ['4']
62 ['7']
63 ['Henry Picard']
64 ['Cheng Lim']
65 ['Yelena Proklova 49.the TV presenter']
66 ['United States (USA)']
67 ['2']
68 ['6']
69 ['12']
70 ['Cross']
71 ['2']
72 ['3']
73 ['6']
74 ['January 19, 2013']
75 ['October 6, 2000']
76 ['Roy Hartsfield']
77 ['8']
78 ['3']
79 ['5']
80 ['yes']
81 ['17']
82 ['10']
83 ['A World Called You']
84 ['10']
85 ['6']
86 ['54']
87 ['Ronald Reagan']
88 ['Trinidad and Tobago']
89 ['Bally Ache']
90 ['Sheldon Leonard']
91 ['10']
92 ['Canada/United States']
93 ['above']
94 ['6:10.02']
95 ['14']
96 ['15']
97 ['United States']
98 ['Ravil Mingazov']
99 ['diesel']
100 ['5']
101 ['6 November 1999']
102 ['Sackett']
103 ['NGC 1569']
104 ['969']
105 ['Sept 11']
106 ['54 years']
107 ['Julius Kahn']
108 ['2', '6']
109 ['2']
110 ['10']
111 ['U.S. Marshals']
112 ['Tora Harris']
113 ['252.6']
114 ['2']
115 ['1998']
116 ['185']
117 ['6']
118 ['Chevrolet Corvette']
119 ['Livio Berruti']
120 ['8']
121 ['North Korea']
122 ['16']
123 ['above']
124 ['1']
125 ['1']
126 ['118']
127 ['34000']
128 ['5']
129 ['Gabriela Szabo']
130 ['9 years']
131 ['2']
132 ['2']
133 ['245.10']
134 ['3']
135 ['February 22, 1998 (1998-02-22)']
136 ['Final Crisis: Legion of 3 Worlds #2']
137 ['less']
138 ['Yossef Romano']
139 ['8']
140 ['Below']
141 ['FmM7']
142 ['Usher']
143 ['14']
144 ['Albert Wynn']
145 ['8']
146 ['4']
147 ['Salford City Stadium']
148 ['Malaysia']
149 ['Paul Stirling']
150 ['"Thin Line"']
151 ['10']
152 ['"Carry Me Back to Old Tsing-Tao"']
153 ['Grand Prix Final']
154 ['2010']
155 ['3']
156 ['7']
157 ['295']
158 ['3 783 069']
159 ['33']
160 ['Canada']
161 ['Domenic Beninca']
162 ['13']
163 ['36']
164 ['Canada']
165 ['4']
166 ['153P/Ikeya-Zhang']
167 ['Yelena Kondulaynen']
168 ['Francis Forde']
169 ['Brazil']
170 ['Alex Hofmann']
171 ['October 23']
172 ['4 years']
173 ['1 year']
174 ['5']
175 ['Chevrolet']
176 ['4']
177 ['Half Tree Hollow']
178 ['Jakub Janda']
179 ['Garmisch, Germany']
180 ['3']
181 ['Stephen Hendry']
182 ['3 weeks']
183 ['63.50 m']
184 ['R']
185 ['Steny Hoyer']
186 ['8']
187 ['Indonesia']
188 ['2009']
189 ['Mudh Mudh Ke Na Dekh']
190 ['1939/40']
191 ['Joe Wolfinger']
192 ['English']
193 ['1992']
194 ['Yes']
195 ['no']
196 ['Brașov']
197 ['2']
198 ['3']
199 ['6']
200 ['Hot Dog']
201 ['F']
202 ['951']
203 ['112.93']
204 ['Robert Lewin']
205 ['1970']
206 ['Rasmussen Reports']
207 ['"The Practical Joke War"']
208 ['7']
209 ['2']
210 ['13']
211 ['5']
212 ['Alina Charlin Espinal Luna']
213 ['Kazuki Yoshino']
214 ['4']
215 ['Alison Fealey']
216 ['Rachel Selway']
217 ['2013']
218 ['Air Commodore K. M. Ahmad']
219 ['Brian Dowling', 'Cameron Stout']
220 ['24']
221 ['Philadelphia Eagles']
222 ['9']
223 ['6']
224 ['Panama']
225 ['United States']
226 ['Ollie P. Anderson, Jr.']
227 ['7']
228 ['2']
229 ['4']
230 ['"Lord Have Mercy"']
231 ['138.1']
232 ['Maghreb']
233 ['Oriya']
234 ['11']
235 ['Diana DeGette']
236 ['2006']
237 ['7CAE']
238 ['Bryan Field']
239 ['Esther']
240 ['7']
241 ['2012-13']
242 ['Ishmael']
243 ['Daytona']
244 ['5']
245 ['4']
246 ['8']
247 ['24']
248 ['20 km walk']
249 ['009']
250 ['1:48:11.023']
251 ['Foundation']
252 ['Alex Soler-Roig']
253 ['Paolo Bettini (ITA)']
254 ['2']
255 ['1']
256 ['15']
257 ['Port Douglas Crocs']
258 ['5']
259 ['8 August']
260 ['3']
261 ['2']
262 ['3']
263 ['2']
264 ['Dr M. Shafi Ahmad']
265 ['Sylvie Bernier (CAN)']
266 ['more']
267 ['1']
268 ['John Galliano']
269 ['UCLA']
270 ['Jeremy McWilliams']
271 ['15']
272 ['4']
273 ['7']
274 ['no']
275 ['16']
276 ['1']
277 ['Going Up!']
278 ['4165']
279 ['Venice, Italy']
280 ['Rasul Kudayev']
281 ['12']
282 ['Yo Te Estaré Cuidando']
283 ['Jahangir Khan']
284 ['Partenvia P.68 Observer']
285 ['Doug Shierson Racing']
286 ['27.88']
287 ['2007']
288 ['Hotsilog: The ASAP Hotdog Compilation']
289 ['New Orleans Saints']
290 ['2']
291 ['6']
292 ['25']
293 ['Cat Tigers']
294 ['Left Wing']
295 ['54,500']
296 ['4']
297 ['5']
298 ['12']
299 ['3']

In [4]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
table_loader = TableLoader(table_name='sqa', split='test', use_sample=True)
i = 124
def show_table(data):
    formatter = TableFormat(format='none', data=data)
    print(data['id'])
    print(data['query'])
    print(formatter.format_psql())
    print(data['label'])
    # sum, ope = split_answer(data[ind]['predict'])
    # print(ope)
    # print(manager.format_sql(ope, table_name='DF'))
show_table(table_loader.normalize_table(table_loader.dataset[i])) 
print(all_sql[i])
print(all_data[i])

nu-108
what are all of the years? what are their national cup notes?
+---------+------------+----------+------------------------+-----------------------+----------------+
| Year    |   Division | League   | Reg_Season             | Playoffs              | National_Cup   |
|---------+------------+----------+------------------------+-----------------------+----------------|
| 1934/35 |        nan | ASL      | 6th                    | No playoff            | ?              |
| 1935/36 |        nan | ASL      | 2nd                    | No playoff            | ?              |
| 1936/37 |        nan | ASL      | 2nd, American          | 1st Round             | ?              |
| 1937/38 |        nan | ASL      | 4th, American          | Did not qualify       | ?              |
| 1938/39 |        nan | ASL      | 5th, American          | Did not qualify       | ?              |
| 1939/40 |        nan | ASL      | 2nd(t)                 | No playoff            | Co-champion    |
| 1940/41 |        nan | ASL      | 3rd                    | No playoff            | ?              |
| 1941/42 |        nan | ASL      | 5th                    | No playoff            | ?              |
| 1942/43 |        nan | ASL      | 5th                    | No playoff            | ?              |
| 1943/44 |        nan | ASL      | 3rd                    | No playoff            | ?              |
| 1944/45 |        nan | ASL      | 4th                    | No playoff            | ?              |
| 1945/46 |        nan | ASL      | 1st                    | Champion (no playoff) | ?              |
| 1946/47 |        nan | ASL      | 4th                    | No playoff            | ?              |
| 1947/48 |        nan | ASL      | 4th                    | No playoff            | ?              |
| 1948/49 |        nan | ASL      | Withdrew after 3 games | nan                   | nan            |
+---------+------------+----------+------------------------+-----------------------+----------------+
['?', '?', '?', '?', '?', 'Co-champion', '?', '?', '?', '?', '?', '?', '?', '?', 'N/A']

NameError: name 'all_sql' is not defined

In [12]:
# show table query
#debugger
from data_loader import TableFormat, TableLoader
from executor import SQLManager
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True)
def show_table(data):
    formatter = TableFormat(format='none', data=data)
    print(data['statement'])
    print(data['table']['caption'])
    # print(formatter.format_html())
    print(formatter.format_psql())
    print(data['label'])
    # data.columns = [manager.normalize_col_name(c) for c in formatter.all_data.columns]
    # data.to_sql('DF', manager.engine, if_exists='replace', index=False)
    
    # subtable = pd.read_sql(command, self.engine)
    # test_df = manager.execute_from_df(SQL, formatter.all_data)
    # return test_df
# test_df = show_table(table_loader.dataset[i])
show_table(table_loader.dataset[130])
for ind, i in enumerate(table_loader.dataset['statement']):
    print(ind, i)

the country of ecuador be the only country that use the us dollar (usd) as its currency , and the central bank be the federal reserve
economy of south america
+-----------+---------------------------------+--------------+-------------+------------------------------+
| country   | currency                        |   c_1_euro_= |   c_1_usd_= | central_bank                 |
|-----------+---------------------------------+--------------+-------------+------------------------------|
| argentina | argentine peso (ars)            |      5.65    |      4.2    | central bank of argentina    |
| bolivia   | bolivian boliviano (bob)        |     11.0985  |      7.5708 | central bank of bolivia      |
| brazil    | brazilian real (brl)            |      2.58963 |      1.7665 | central bank of brazil       |
| chile     | chilean peso (clp)              |    701.02    |    507.58   | central bank of chile        |
| colombia  | colombian peso (cop)            |   2593.2     |   1885.74   | bank of the republic         |
| ecuador   | us dollar (usd)                 |      1.46611 |      1      | federal reserve              |
| guyana    | guyanese dollar (gyd)           |    297.547   |    202.95   | bank of guyana               |
| paraguay  | paraguayan guaraní (pyg)        |   6802.74    |   4640      | central bank of paraguay     |
| peru      | peruvian nuevo sol (pen)        |      4.26966 |      2.7244 | central reserve bank of peru |
| suriname  | surinamese dollar (srd)         |      4.10543 |      2.8    | central bank of suriname     |
| uruguay   | uruguayan peso (uyu)            |     31.1529  |     21.247  | central bank of uruguay      |
| venezuela | venezuelan bolívar fuerte (vef) |      6.16331 |      4.3    | central bank of venezuela    |
+-----------+---------------------------------+--------------+-------------+------------------------------+
1
0 the scheduled date for the farm with 17 turbine be 2012
1 all 12 club play a total of 22 game for the wru division one east
2 touchdown atlantic , in the category of sporting , be establish in 2010
3 the team with the most goal for in the 1986 - 87 north west county football league be flixton
4 in 1980 , 1981 and 1985 pat bradley (golfer) not have the average of 278 win score
5 polona hercog partner with alberta brianti after she have stephanie vogt as the partner
6 a gamecube game loss the award in each of the first 3 year
7 scotland be the country with the least point
8 only 1 of the college list be public , and it be in new orleans
9 19.30 million viewer watch the season finale on march 12 , 1979
10 the player garrett sutherland who be in lb position have a pick of 22
11 st joseph 's catholic school be a state integrated school in te kuiti for year 1 - 8
12 when north melbourne be the home team , they face away team footscray who score 8.9 (57)
13 gene donaldson from purdue be pick in the third round
14 the away team at prince park have a score of 13.12 (90)
15 during the 1926 - 27 new york ranger season , game 26 , 29 , 30 , and 34 be all score in overtime
16 a show with airdate 2 january 2010 and 4 couple have 3.87 million viewer
17 the most total point score by the knicks in a single game be 126
18 the show , my thursday night movie , be on at 9:00 when it be also on at 8:30
19 jean behra be not 1 of the driver who have ferrari as their constructor
20 the most recent locomotive to be manufacture be make more 10 year after the first to be manufacture
21 the largest attendance for a new jersey home game in december be against the ny ranger
22 nova scotia and prince edward island have the earliest effective date with indiana have the second early effective date
23 during the 1987 master tournament , both tommy aaron and billy casper have a total of 305
24 during all competition they have at least 1 draw each time
25 when there be 161 receiving yard , there be 22 reception
26 gene hartley finish in the same position in 1952 and 1953
27 argentinos junior be the home team for the 2nd leg of the match with an aggregate of 2 - 3
28 kelly jones and david pate win the match they play
29 kim fogh replace the previous manager on 1 january 2011
30 on october 2 when the royal be the opponent the score be 5 - 1
31 the lowest score reach be 109 score in both game 22 and 23
32 the montreal maroon play in 9 overtime game during the 1925 - 26 season
33 jason richardson be their leading scorer 4 time that month , with at least 23 point per game
34 ghatge 's most recent film be in hindi
35 katie taylor win 2 event in the same city between 2005 and 2013
36 the xiao hong crater be 0 , 7 km larger in diameter than the ximena crater
37 the garden of evil and mission to venus both do not have ibsn number list for the us
38 the episdode , live and let doyle air on january 12 , 2011 , be the most viewed episode
39 there be more than 2 driver with 23 lap
40 on game 45 , jr smith have the most point with the score of 97 - 92
41 michael j maker be the trainer in the year 2012
42 the difference between the highest number of high point and the lowest number of high point be 22
43 calgary unite fc never play any game in 2009
44 the only south african player take the fifth position
45 the most laps any driver complete during the race be 75
46 chick harbert , who lead with 68 before round 1 , finish round 2 with 73 and go down to third with ted kroll
47 during the 1996 men 's world ice hockey championship , there be 1 more 1 loss than 4 loss
48 the original round 5 game against read have to be replay on february 27
49 curtis galick be from harvard college
50 raymond sommer be the winner on 4 occasion in the 1946 season
51 on 2013 - 05 - 26 molina have the lowest total goal during the k league classic
52 the difference in area between the province west cape and gauteng is129462
53 8 different bird be feature on the loonie between 2002 and 2012
54 the award that ronnie mitchell have be nominate for most often be sexy female
55 danny webb be 1 of 2 people to have have an accident during the race
56 when the double (aids related) number be 41000 , and the paternal (total) be larger than 442000 then there be 24.6% orphan
57 division 2 did not qualify for playoff after year 1993
58 the aggregate when the third leg be 1 - 3 be 4 - 2
59 in 2008 , the school with the nickname eagle join the mac
60 during the 1948 vfl season , lake oral venue record the lowest crowd participation
61 : clyde be the opponent for 2 game
62 sergey gorovoy be the second youngest player in the team
63 ricky newman retire from aldershot town fc on before may of 2009
64 the march 86c chassis be use by 2 different team in the same year
65 monta elli and matt barnes be lead scorer the most time
66 3 of the 8 be radio station cover news in fargo - moorhead
67 woman from 5 different country take part in this round of the 2008 woman 's british open
68 the highest car number in the 2008 nascar craftsman truck series be 74
69 charles martin and brian noble have 3.0 sack each , but neither 1 have any yard or interception
70 when she be a runner - up the score be 6 - 4 , 6 - 3
71 randall zisk direct 2 episode in all of season 4 , the least of the season
72 the number of career cap for a full back be 0 when tour apps be smaller than 29
73 the lowest attendance figure for a game be 37230
74 the most point score by a celtic player in a game be 35
75 the name of the visiting team who play home team chicago black hawk on march 20 be the boston bruin
76 marco ravaioli , michael ranseder , takaaki nakagami , and esteve rabat all have to end the race early due to accident
77 best new actor be the least common category that he be nominate for
78 western oval have carlton as the home team
79 douglas vandor cameron sylvester finish before any other team of rower
80 panther have only 2 location
81 stirling moss win the xiii barc aintree 200 on 20 july 1958
82 mexico win the highest number of medal with fifty 7
83 april 20 , 2009 be when episode 3 air
84 tich freeman be on the record list 3 time , while colin blythe be only on the list 1 time
85 52500 be the prize money for texas
86 frederick fane be feature as an away captain at more venue than arthur jones
87 the trojan be the mascot for the team that join the conference immediately after south newton
88 there be a low attendance of 14007 against the devil ray on may 13
89 mike eruzione score 92 goal from 1973 - 77
90 both the tiger and the ranger be the 2 team that they play 3 time each
91 there be only 2 people name sara / sarah show as centerfold
92 the washington redskins lose a total of 8 game during their 1952 season
93 robert wickens accumulate 4 more point than johnathan bomarito
94 the team that earn the highest number of point for and point against be the team that win the most game
95 vitória play after river plate
96 there be 1 more team classification of euskaltel - euskadi than there be of caisse d'epargne
97 freddie jackson 's status be advanced
98 the league conference north happen 3 time
99 the label before 1969 be columbia
100 uraga dock company produce the most destroyer on the list , at 3
101 peter mikkelsen only win the men 's single 1 time in 2007
102 Örgryte be have the fewest allsvenskan title among the club list in the chart
103 gloria moon be on the 2002 and 1999 commission
104 multiple volleyball club be establish in st petersburg prior to 1940
105 the queen 's birthday clash with the lowest attendance be in 2007
106 al bridge in maryland be in the washington county
107 5 player end their career in 2009
108 the 14th game be the first game play at the summit and result in a 110 - 100 score
109 for konstantopoulos , the loan club be coventry city and the start source be cardiff city
110 the player of united state nationality be draft after john westin
111 phil mickelson and mike weir in 2003 and 2004 be able to interrupt tiger wood streak
112 davíd garza pérez participate in more race during the 2006 season than any other year
113 northern ireland do not score more than 1 goal in any of the match list
114 there be 2 player with the last name of elli on the roster
115 22210 attend the tie between sheffield united and middlesbrough
116 luigi riva be 1 of 3 people in 18th place
117 when the week 15 result be michigan (7 - 2) the week 10 result be washington (7 - 1)
118 in 1989 , boris becker be champion with alexander volkov as runner - up , and in 1989 , boris becker be the champion with alexander volkov as runner - up
119 0 total win be associate with event with 2 top - 5s
120 the united state be home to the most player with 9
121 alfa romeo flat - 12 engine race in 1974 by martini racing
122 darren kotania be the director and the episode for episode 1 of be you afraid of the dark season 3 be 1
123 cristina teuscher be 1 of 2 american swimmer in the 200 meter event medley
124 from 1980 to 2011 , apoel bc lose more than 2 time as many game as it win
125 of the 14 game play during the month of january , exactly half be home game for the cavalier
126 only 4 of the fight go the full 12 round
127 sorana cîrstea have a 1r in all the tournament in 2012
128 there be 4 win as result , while there be only 2 loss
129 chauncey billups (8) have the high assist on april 17 , but share the high assist with anthony carter on april 23
130 the country of ecuador be the only country that use the us dollar (usd) as its currency , and the central bank be the federal reserve
131 both paraguay and peru use the us dollar
132 only 1 player be in the pg position
133 on october 4 the record be 90 - 68 when the royal be the opponent
134 the episode title hare - abian night be 1 of 10 episode in the mm series
135 wesley person lead in rebound on may 1
136 1 more season premièred on september 20 than on september 21
137 3 player have a - 2 to par and they be jack nicklaus , arnold palmer , and lee trevino
138 cartagena fc and real oviedo have a draw of 14 with 44 game play
139 the stadium for both of the game of the host team baltimore raven be the m&t bank stadium
140 the mcg venue home team be richmond
141 the 2006 connecticut sun lose their first 5 game int he month of june
142 tumble rfc have win 20 out of 22 of the game they have play
143 the entire kawasaki racing team be able to race in all of the round
144 carpet be the surface for 16 april 2007
145 the only 3 right hand batter be bear within 21 month of each other
146 in 2008 , the chunnam dragon beat chonburi 1 - 0
147 mauna kea be the summit in the rank 1 , and have a col (m) of 0
148 the highest score achieve be 109 score in both game 22 and 23
149 the shortest time be 11:44 when jbl be eliminate by jericho
150 4 of the segment c show feature foodstuff : plantain chip , soda cracker , sugar , and goat cheese
151 all but 1 game in the season have 53 game
152 the hmjs surrey have a length of 42.8 m , and its max speed be faster than the hmjs fort charles (p 7) max speed
153 the hispanic sounding character mimi be primarily cast by dutch woman
154 there be 2 event at donington park in 1994
155 brazil 's gold and silver medal be down a total of 10
156 jack nicklaus have less than double the win of the rank 2 player
157 the least amount of point the fire score in a game be 1
158 the match between cowdenbeath and the ranger have a higher attendance than the game between ross county and the ranger
159 the senate have an election in 1977 , 1978 and 1979
160 since 2000 , there have be 4 match rank in the top 42 for attendance
161 the result of the election , in which the incumbent be denver s church , be re - elect
162 happy howl - o - ween 4 episode after freaky day / dog tire
163 at the weightlifting at the 2008 summer olympics - men 's 105 kg , dmitry berestov snatch more weigth than marcin dołęga
164 7 of the 10 bike be manufacture by zabel
165 2 team score exactly 139 point during round 20 of the 1978 vfl season
166 in april 1992 , ryan stile be the performer 2 time
167 craig miller be the youngest water polo player list
168 mapiu school have the highest roll in the state authority
169 heikki kovalainen earn one lose in his formula one racing career
170 the central bank for guyana and argentina be call the federal reserve
171 on the earliest date , the score be 6 - 4 , 6 - 4
172 john waite won series 3 , while miranda gore browne be 1 runner - up in series 1
173 like like a dog / cold fish be list as have the highest number of us viewer
174 slovan bratislava be the opponent the year brfore the fight against eintracht frankfurt
175 the record in the 100 m freestyle event be set in 2007
176 the ireland in the eurovision song contest in 1989 have the real me place 1 rank higher than easy
177 dean semmens be not 1 of the 3 player bear after 1981
178 on entertainment tonight , diresta be on at 7:30 , follow by cosby at 8:00
179 in 1983 , aberdeen win
180 mark fellow write 3 big time rush episode
181 nick faldo be 1 of 2 player that finish in first place
182 the penrith panther have a score of 60 - 17 at sydney football stadium in 2006
183 the lowest attendance be 13831
184 the team rusport have a 1:25.361 in qual 2
185 the new york jet score more point against the houston oiler than the new orleans saint
186 catawba and oneota both have the name change 1 time the canonicus - class monitor
187 all of the ship in the bolitho novel be classify as frigate
188 sam mcgregor be the youngest water polo player list
189 d a weibring have less to par point than seve ballesteros
190 only 1 of the top 3 winner be a group act
191 gracia baylor 's term of office end after that of the member for higinbotham
192 the team pacific coast motorsports have a 1:26.582 best record
193 the tarija department have 12755 small (100ha) and 17101 medium (500ha)
194 incumbent del latta be from district ohio 5
195 fm 100.5 , which the note state be license to hope , play child 's music
196 jens hammer sørensen leave by mutual consent and be replace by jakob michelsen
197 seve ballesteros finish ahead of mike reid by 1 shot , and make 4400 more than him
198 singer elvis costello cover a song from the alum the hissing of summer lawn
199 only 1 role be the leading role
200 the september 17 1997 match against košice have the lowest attendance rate of the season
201 the rating (kansai) for the original air date may 25 , 2010 be 15.5
202 the maserati win the 1946 grand prix season on 9 occasion
203 there be 7 unspecified specie and 5 unspecified strain
204 cuba have the second highest number of total medal among all nation
205 the railway with a loco name of the pyramus and a build of 1912 be smr
206 ted kroll lead lew warsham by 3 stroke at the end of round 2 in the 1953 master tournament
207 college / junior / club team kitchener ranger (omjhl) make the 22 pick for the centre position
208 finland be the country with the least point
209 there be a total of 10267578 gaelic speaker in all council area
210 wang xiaoli yu yang win womens double after 2010
211 the game on 12 october 2012 , 10 september 2013 , and 19 november 2008 have a result of 1 - 0
212 kaitlyn lawes be the skip and liz peter be the lead for canada
213 the general classification be silvano contini only 1 time and that be stage 18
214 irving romaine have over 1 hundred run more than david hemp
215 the only game in manchester , england have a record of 5 - 2
216 the average attendance for the series be 52424.40 crowd
217 6 driver complete 75 lap , while only 1 driver complete 74 lap
218 the attendance for all of the home game be over 77000 at each game
219 bagnères - de - bigorre be a leader in 1948 with a stage number 18.0
220 kansa city lose all 7 game with attendance of 47310 or greater during the 1978 season
221 the spelling of יְהוֹשָפָט in english would be jehoshaphat
222 the festival of pacific art be hold at a different location in the pacific every time
223 toronto win all 7 of their home game in december of their 2007 - 2008 season
224 erkranas and hjk helsinki have the highest agg score during the qualifying round
225 the total number of run for and against for april be 173
226 the eagle have 2 game where they score 0 point total
227 12 - 26 - 1 be the record for detroit and decision of denis on december 30
228 the venue mcg be home to the melbourne team
229 there be no school that aren't coed and not under the authority of state integrate in the hawke 's bay region
230 there be 1 round hold in nevada , united state with a time of 1:55
231 the attendance on december 16 at washington redskin be 49484
232 opponent albert montañés santiago ventura score 1 - 6 , 2 - 6 in the final
233 during the supplemental first round selection , more than 6 people be select in the position rhp
234 at the world mind sport game , japan 1 more bronze than israel have
235 in international friendly , england always score at least 2 goal
236 trina feature more than 3 release on the kontor house of house vol 13 (compilation album)
237 bernard mceveety be a director on season 3
238 the sum roll of karaka area be 442
239 there be 5 game with the goal against over 44 and a goal difference of 11
240 on 6 may 1917 , the aircraft locate at s of avion be the sopwith 1 1 / 2 strutter (a1010)
241 in the pga championship greg norman be 5 top 5 finish and 6 top 10 finish
242 the lowest decile be 1
243 limpopo have a population with fewer people than eastern cape
244 lord 's be the venue when the result be eng by wkt and the date be 10 , 12 , 13 aug 1902 with joe darling as the home captain
245 °56′52″ be the declination ( j2000 ) for constellation of ophiuchus and have an apparent magnitude less than 8.6 with a right ascension ( j2000 ) of 16h47 m14.5s
246 the minardi team spa use the minardi m187 chassis 5 out of the 8 time they enter between 1985 and 1987
247 tim duncan be the lead athlete when the spur play the king
248 more game start at 1:00 pm than at any other time
249 the original air date of the episode with a production code of 3x6316 be february 21 , 2011
250 iran end up in the top 5 in 7 of the 13 year they participate in the game

### Evaluate SQA

In [9]:
import json
all_data = []
all_sql = []
with open('./result/answer/sqa_test_04-15_11-44-40.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        data = json.loads(l)
        all_data.append(data)
print(len(all_data))
with open('./result/SQL/sqa_test_04-15_10-35-18.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        data = json.loads(l)
        all_sql.append(data)
print(len(all_sql))

10
10

### Evaluate WikiTable

In [1]:
import re
import string
import recognizers_suite
import recognizers_suite as Recognizers
from recognizers_text import Culture, ModelResult
def str_normalize(user_input, recognition_types=None):
    """A string normalizer which recognize and normalize value based on recognizers_suite"""
    user_input = str(user_input)
    user_input = user_input.replace("\\n", "; ")

    def replace_by_idx_pairs(orig_str, strs_to_replace, idx_pairs):
        assert len(strs_to_replace) == len(idx_pairs)
        last_end = 0
        to_concat = []
        for idx_pair, str_to_replace in zip(idx_pairs, strs_to_replace):
            to_concat.append(orig_str[last_end : idx_pair[0]])
            to_concat.append(str_to_replace)
            last_end = idx_pair[1]
        to_concat.append(orig_str[last_end:])
        return ''.join(to_concat)

    if recognition_types is None:
        recognition_types = [
            "datetime",
            "number",
            "ordinal",
            "percentage",
            "age",
            "currency",
            "dimension",
            "temperature",
        ]
    culture = Culture.English
    for recognition_type in recognition_types:
        if re.match("\d+/\d+", user_input):
            # avoid calculating str as 1991/92
            continue
        recognized_list = getattr(
            recognizers_suite, "recognize_{}".format(recognition_type)
        )(
            user_input, culture
        )  # may match multiple parts
        strs_to_replace = []
        idx_pairs = []
        for recognized in recognized_list:
            if not recognition_type == 'datetime':
                recognized_value = recognized.resolution['value']
                if str(recognized_value).startswith("P"):
                    # if the datetime is a period:
                    continue
                else:
                    strs_to_replace.append(recognized_value)
                    idx_pairs.append((recognized.start, recognized.end + 1))
            else:
                if recognized.resolution:  # in some cases, this variable could be none.
                    if len(recognized.resolution['values']) == 1:
                        strs_to_replace.append(
                            recognized.resolution['values'][0]['timex']
                        )  # We use timex as normalization
                        idx_pairs.append((recognized.start, recognized.end + 1))

        if len(strs_to_replace) > 0:
            user_input = replace_by_idx_pairs(user_input, strs_to_replace, idx_pairs)

    if re.match("(.*)-(.*)-(.*) 00:00:00", user_input):
        user_input = user_input[: -len("00:00:00") - 1]
        # '2008-04-13 00:00:00' -> '2008-04-13'
    return user_input


def normalize_answer(s):
    def remove_articles(text):
        return re.sub(re.compile(r"\b(a|an|the)\b", re.UNICODE), " ", text)

    def whilt_space_fix(text):
        return " ".join(text.split())

    def remove_punc(text):
        exclude = set(string.punctuation)
        return "".join(ch for ch in text if ch not in exclude)

    def lower(text):
        return text.lower()

    return whilt_space_fix(remove_articles(remove_punc(lower(s))))

In [2]:

import sys, os, re, argparse
import unicodedata
from codecs import open
from math import isnan, isinf
from abc import ABCMeta, abstractmethod


################ String Normalization ################

def normalize(x):
    if not isinstance(x, str):
        x = x.decode('utf8', errors='ignore')
    # Remove diacritics
    x = ''.join(c for c in unicodedata.normalize('NFKD', x)
                if unicodedata.category(c) != 'Mn')
    # Normalize quotes and dashes
    x = re.sub(r"[‘’´`]", "'", x)
    x = re.sub(r"[“”]", "\"", x)
    x = re.sub(r"[‐‑‒–—−]", "-", x)
    while True:
        old_x = x
        # Remove citations
        x = re.sub(r"((?<!^)\[[^\]]*\]|\[\d+\]|[•♦†‡*#+])*$", "", x.strip())
        # Remove details in parenthesis
        x = re.sub(r"(?<!^)( \([^)]*\))*$", "", x.strip())
        # Remove outermost quotation mark
        x = re.sub(r'^"([^"]*)"$', r'\1', x.strip())
        if x == old_x:
            break
    # Remove final '.'
    if x and x[-1] == '.':
        x = x[:-1]
    # Collapse whitespaces and convert to lower case
    x = re.sub(r'\s+', ' ', x, flags=re.U).lower().strip()
    return x


################ Value Types ################

class Value(object):
    __metaclass__ = ABCMeta

    # Should be populated with the normalized string
    _normalized = None

    @abstractmethod
    def match(self, other):
        """Return True if the value matches the other value.
        Args:
            other (Value)
        Returns:
            a boolean
        """
        pass

    @property
    def normalized(self):
        return self._normalized


class StringValue(Value):

    def __init__(self, content):
        assert isinstance(content, str)
        self._normalized = normalize(content)
        self._hash = hash(self._normalized)

    def __eq__(self, other):
        return isinstance(other, StringValue) and self.normalized == other.normalized

    def __hash__(self):
        return self._hash

    def __str__(self):
        return 'S' + str([self.normalized])

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        return self.normalized == other.normalized


class NumberValue(Value):

    def __init__(self, amount, original_string=None):
        assert isinstance(amount, (int, float))
        if abs(amount - round(amount)) < 1e-6:
            self._amount = int(amount)
        else:
            self._amount = float(amount)
        if not original_string:
            self._normalized = str(self._amount)
        else:
            self._normalized = normalize(original_string)
        self._hash = hash(self._amount)

    @property
    def amount(self):
        return self._amount

    def __eq__(self, other):
        return isinstance(other, NumberValue) and self.amount == other.amount

    def __hash__(self):
        return self._hash

    def __str__(self):
        return ('N(%f)' % self.amount) + str([self.normalized])

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        if self.normalized == other.normalized:
            return True
        if isinstance(other, NumberValue):
            return abs(self.amount - other.amount) < 1e-6
        return False

    @staticmethod
    def parse(text):
        """Try to parse into a number.
        Return:
            the number (int or float) if successful; otherwise None.
        """
        try:
            return int(text)
        except:
            try:
                amount = float(text)
                assert not isnan(amount) and not isinf(amount)
                return amount
            except:
                return None


class DateValue(Value):

    def __init__(self, year, month, day, original_string=None):
        """Create a new DateValue. Placeholders are marked as -1."""
        assert isinstance(year, int)
        assert isinstance(month, int) and (month == -1 or 1 <= month <= 12)
        assert isinstance(day, int) and (day == -1 or 1 <= day <= 31)
        assert not (year == month == day == -1)
        self._year = year
        self._month = month
        self._day = day
        if not original_string:
            self._normalized = '{}-{}-{}'.format(
                year if year != -1 else 'xx',
                month if month != -1 else 'xx',
                day if day != '-1' else 'xx')
        else:
            self._normalized = normalize(original_string)
        self._hash = hash((self._year, self._month, self._day))

    @property
    def ymd(self):
        return (self._year, self._month, self._day)

    def __eq__(self, other):
        return isinstance(other, DateValue) and self.ymd == other.ymd

    def __hash__(self):
        return self._hash

    def __str__(self):
        return (('D(%d,%d,%d)' % (self._year, self._month, self._day))
                + str([self._normalized]))

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        if self.normalized == other.normalized:
            return True
        if isinstance(other, DateValue):
            return self.ymd == other.ymd
        return False

    @staticmethod
    def parse(text):
        """Try to parse into a date.
        Return:
            tuple (year, month, date) if successful; otherwise None.
        """
        try:
            ymd = text.lower().split('-')
            assert len(ymd) == 3
            year = -1 if ymd[0] in ('xx', 'xxxx') else int(ymd[0])
            month = -1 if ymd[1] == 'xx' else int(ymd[1])
            day = -1 if ymd[2] == 'xx' else int(ymd[2])
            assert not (year == month == day == -1)
            assert month == -1 or 1 <= month <= 12
            assert day == -1 or 1 <= day <= 31
            return (year, month, day)
        except:
            return None


################ Value Instantiation ################

def to_value(original_string, corenlp_value=None):
    """Convert the string to Value object.
    Args:
        original_string (basestring): Original string
        corenlp_value (basestring): Optional value returned from CoreNLP
    Returns:
        Value
    """
    if isinstance(original_string, Value):
        # Already a Value
        return original_string
    if not corenlp_value:
        corenlp_value = original_string
    # Number?
    amount = NumberValue.parse(corenlp_value)
    if amount is not None:
        return NumberValue(amount, original_string)
    # Date?
    ymd = DateValue.parse(corenlp_value)
    if ymd is not None:
        if ymd[1] == ymd[2] == -1:
            return NumberValue(ymd[0], original_string)
        else:
            return DateValue(ymd[0], ymd[1], ymd[2], original_string)
    # String.
    return StringValue(original_string)


def to_value_list(original_strings, corenlp_values=None):
    """Convert a list of strings to a list of Values
    Args:
        original_strings (list[basestring])
        corenlp_values (list[basestring or None])
    Returns:
        list[Value]
    """
    assert isinstance(original_strings, (list, tuple, set))
    if corenlp_values is not None:
        assert isinstance(corenlp_values, (list, tuple, set))
        assert len(original_strings) == len(corenlp_values)
        return list(set(to_value(x, y) for (x, y)
                        in zip(original_strings, corenlp_values)))
    else:
        return list(set(to_value(x) for x in original_strings))


################ Check the Predicted Denotations ################

def check_denotation(target_values, predicted_values):
    """Return True if the predicted denotation is correct.

    Args:
        target_values (list[Value])
        predicted_values (list[Value])
    Returns:
        bool
    """
    # Check size
    if len(target_values) != len(predicted_values):
        return False
    # Check items
    for target in target_values:
        if not any(target.match(pred) for pred in predicted_values):
            return False
    return True
def tsv_unescape(x):
    """Unescape strings in the TSV file.
    Escaped characters include:
        newline (0x10) -> backslash + n
        vertical bar (0x7C) -> backslash + p
        backslash (0x5C) -> backslash + backslash

    Args:
        x (str or unicode)
    Returns:
        a unicode
    """
    return x.replace(r'\n', '\n').replace(r'\p', '|').replace('\\\\', '\\')

def tsv_unescape_list(x):
    """Unescape a list in the TSV file.
    List items are joined with vertical bars (0x5C)

    Args:
        x (str or unicode)
    Returns:
        a list of unicodes
    """
    return [tsv_unescape(y) for y in x.split('|')]

In [3]:
tagged_dataset_path = './result/data/wikitable/tagged/data'
target_values_map = {}
for filename in os.listdir(tagged_dataset_path):
    if filename[0]=='.':
        continue
    filename = os.path.join(tagged_dataset_path, filename)
    print('Reading dataset from', filename)
    with open(filename, 'r', 'utf8') as fin:
        header = fin.readline().rstrip('\n').split('\t')
        for line in fin:
            stuff = dict(zip(header, line.rstrip('\n').split('\t')))
            ex_id = stuff['id']
            original_strings = tsv_unescape_list(stuff['targetValue'])
            canon_strings = tsv_unescape_list(stuff['targetCanon'])

            target_values_map[ex_id] = to_value_list(
                original_strings, canon_strings)

Reading dataset from ./result/data/wikitable/tagged/data/training.tagged
Reading dataset from ./result/data/wikitable/tagged/data/pristine-unseen-tables.tagged
Reading dataset from ./result/data/wikitable/tagged/data/pristine-seen-tables.tagged

##### read_csv

In [4]:
import pandas as pd
data = pd.read_csv('./result/answer/wikitable_zh_05-01_15-49-08.csv', encoding='utf-8')

In [5]:
len(data)

50

In [20]:
data['final_answer'] = data['preds'].apply(lambda x: x.split('Answer:')[-1].strip())

In [27]:
data

,preds,statements,ids,final_answer
0,Thought: \n1. The SQL query filters the DF tab...,did dmitry mikhailovich golitsyn or andrey kir...,nu-3365,Andrey Kirillovich Razumovsky served as ambass...
1,Thought: \n1. Look at the sub-table and find t...,which person(s) had a time of at least 40 seco...,nu-3138,"Kyunghyun Kim, Christoffer Lindhe, Arnost Petr..."
2,Thought: \n1. The query is counting the number...,what country had the largest number of drivers?,nu-2135,The country with the largest number of drivers...
3,Thought: The SQL query is counting the total n...,what is the total number of competition?,nu-290,18
4,"Thought: The SQL query is selecting the ""Episo...",the title of the last show was...,nu-3940,"""Never Tell"""
5,Thought: The SQL query is selecting the count ...,what is the total number of games played again...,nu-4028,3
6,Thought: \n1. The SQL query is filtering for t...,"which episode came first, young forever or you...",nu-3762,"There are no episodes with the titles ""Young F..."
7,Thought: \n- The SQL query selects the count o...,how many top goalscorers have 30 or more goals?,nu-1889,4
8,Thought: \nTo determine how long it took Ryan ...,how long did it take ryan briscoe to finish th...,nu-336,To calculate how long it took Ryan Briscoe to ...
9,Thought: \nWe need to find the player who scor...,who is china's top scorer in friendly matches?,nu-2563,Cannot get answer from sub-table.
10,"Thought: \n1. The SQL query is filtering the ""...",how many candidates are over 1.8 meters tall?,nu-3430,20
11,Thought: \n1. The SQL query selects the column...,who has the most quantity of all nations?,nu-174,Canada
12,Thought: \n- The sub-table generated by the SQ...,what is the number of russian detainees at gua...,nu-1498,Cannot get answer from sub-table.
13,"Thought: \n1. The SQL query is filtering the ""...",does st helen elementary school have a larger ...,nu-3746,"No, St Helen Elementary School does not have a..."
14,Thought: \n1. The SQL query selects the count ...,the number of floods in the 1900's?,nu-2042,22
15,"Thought: First, I'll observe the SQL query to ...",where is agape christian academy located?,nu-4257,Agape Christian Academy is located in either B...
16,Thought: \nThe SQL query is selecting the coun...,how many total derivatives are cold water solu...,nu-1646,4
17,Thought: \n1. The SQL query selects rows from ...,is earl marshal listed above or below lord pri...,nu-502,Earl Marshal is listed above Lord Privy Seal.
18,Thought: \n- The SQL query is filtering the ta...,what is the number of elements with a transien...,nu-3519,14
19,Thought: \nThe SQL query is counting the numbe...,what is the number of years tony gulotta race?,nu-2166,0
20,Thought: \n1. The SQL query selects the maximu...,what was the last stadium opened?,nu-1716,The last stadium opened is located in Nice.
21,"Thought: \n1. The SQL query is filtering the ""...",what is the number of reactors that are still ...,nu-1490,13
22,Thought: \n1. The SQL query selects the minimu...,what was the date of the first vessel that was...,nu-4296,"May 1, 1998."
23,Thought: \n- The SQL query selects the count o...,how many countries earned gold medals?,nu-2610,4
24,Thought: \n- The SQL query is selecting the Ai...,what aircraft was used before the 7th aerial v...,nu-4319,Sopwith Triplane s/n N5460
25,Thought: \n1. The sub-table shows the result o...,who is the first name listed in the table?,nu-3686,
26,Thought: \n1. The SQL query is selecting the c...,how many games did the rough riders play befor...,nu-1378,4
27,Thought: \n1. The SQL query filters the rows i...,what is the number of wins by jaguar xjs?,nu-47,7
28,"Thought: \n1. The SQL query selects the ""Drive...",which driver only scored 1 point?,nu-3602,Ryan Hunter-Reay
29,Thought: \n1. The SQL query is filtering the d...,how many competitors were from the united states?,nu-2172,4
30,Thought: \n1. The SQL query is selecting the m...,what is the least entry listed under notes?,nu-4325,0
31,"Thought: \n1. The SQL query is filtering the ""...",how many imparja cup victories has queensland ...,nu-2198,Queensland has had 6 Imparja Cup victories.
32,Thought: \n1. The SQL selects the year and cou...,"which year had more competitions, 2006 or 2007?",nu-3060,2006 had more competitions.
33,Thought: \n1. The SQL query selects all column...,how long in height is isabelle raisa?,nu-1935,Isabelle Raisa's height is 170 cm.
34,Thought: \n- The SQL query filters the rows in...,how many goalscorers were brazilian?,nu-2683,The number of goalscorers who were Brazilian i...
35,Thought: \n- The SQL query filters the rows wh...,how many total times did they not qualify for ...,nu-3943,14
36,"Thought: \nTo answer the question, we need to ...",what time period had no shirt sponsor?,nu-8,1982–1985
37,Thought: \n1. The SQL query is selecting the c...,how many runner-up titles are there?,nu-3938,11
38,Thought: \n- The query is asking for the maxim...,"at most, how many games were played in one year?",nu-3021,278
39,Thought: \n1. The SQL query is selecting the s...,what is the total number of deaths outside of ...,nu-3640,There is no information available for the tota...
40,Thought: \n1. The SQL query filters the rows w...,how many games were played at home?,nu-1359,8
41,"Thought: \n1. The SQL query selects the ""Year""...",what year had the least amount of viewers?,nu-2584,2014
42,Thought: \n1. The sub-table shows the populati...,"which city had the greater population, holon o...",nu-1225,Cannot determine from the sub-table alone.
43,Thought: \n1. Look at the sub-table and find t...,which region has the best physician to patient...,nu-2995,Addis Ababa
44,Thought: \n- The subquery (SELECT MIN(Dimensio...,which metal composition has the least dimension?,nu-685,.900 silver
45,Thought: \n1. The SQL query selects the column...,what country in the top ten had the least numb...,nu-2865,Yugoslavia
46,Thought: \n1. The SQL query is selecting the c...,what is the number of drivers that drove a veh...,nu-4193,7
47,Thought: \n1. The SQL query is filtering the d...,"connie morella ran for re-election, but lost t...",nu-935,Connie Morella lost to Chris Van Hollen in the...
48,"Thought: \n- The SQL query is selecting the ""N...",who is after hiroyasu tuchie?,nu-557,Khaled Yousef Al-Obaidli
49,Thought: \n1. The SQL query is filtering the d...,what number of dino's singles reached the top ...,nu-1451,0

In [24]:
acc = 0
for index, row in data.iterrows():
    id = row['ids']
    target = target_values_map[id]
     
    preds = [row['final_answer']]
    pred_answer = to_value_list(preds)
    if check_denotation(pred_answer, target):
        acc += 1
    else:
        print(index)
print(acc)

0
1
2
3
5
6
8
9
10
12
13
14
15
16
17
19
20
21
22
25
26
30
31
32
33
34
37
38
39
41
42
47
49
17

In [31]:
culture = Culture.English
Recognizers.recognize_number('The total number of competitions is 20.', culture)[0].resolution['value']

'20'

In [ ]:
print(output.content)

The table provides information about different games played by a football team. It includes details like the week number, date of the game, opponent team, game result, game site, NFL recap, and the attendance for each game.

In [27]:
str_normalize('The total number of competitions is 20.')

'The total number of competitions is 20.'

#### decorator

In [ ]:
from enum import Enum
class AugType(Enum):
    augmentation_aug = 'aug'
    schema_aug = 'schema'

In [27]:
def my_decorator(type):
    def wrapper(func):
        print('wrapper func')
        def subwrapper(self, *args, **kwargs):
            print('subwrapper')
            self.function_mapping[type] = func
            return func(self, *args, **kwargs)
        return subwrapper
    return wrapper
class MyClass:
    def __init__(self):
        self.value = 0
        self.function_mapping = {}
    def execute_method(self, type):
       method = self.function_mapping.get(type, None)
       if method:
           method(self)
       else:
           print(f"Method {type} not found.")

    @my_decorator(type='sum')
    def summary(self):
        print("This is the summary method.")

a = MyClass()
a.summary()
a.execute_method('sum')

wrapper func
subwrapper
This is the summary method.
This is the summary method.

In [32]:
class MyClass:
   def __init__(self):
       self.function_mapping = {}
 
   def execute_method(self, type):
       method = self.function_mapping.get(type, None)
       if method:
           method()
       else:
           print(f"Method {type} not found.")
 
   def register_function(self, type):
       def decorator(func):
           self.function_mapping[type] = func
           return func
       return decorator
 
# 使用装饰器来注册函数
my_instance = MyClass()
@my_instance.register_function('sum')
def summary():
   print("This is the summary method.")
 
@my_instance.register_function('aug')
def augmentation():
   print("This is the augmentation method.")
 
@my_instance.register_function('schema')
def schema():
   print("This is the schema method.")
 
# 根据type参数调用对应的方法
my_instance.execute_method('sum')  # 输出: This is the summary method.
my_instance.execute_method('aug')  # 输出: This is the augmentation method.
my_instance.execute_method('schema')  # 输出: This is the schema method.
my_instance.execute_method('nonexistent')  # 输出: Method nonexistent not found.

This is the summary method.
This is the augmentation method.
This is the schema method.
Method nonexistent not found.

In [4]:
class BaseClass():
    def answer(self):
        return "i am baseclass"

class MetaClass(type):
    def __new__(cls, *args, **kwargs):
        return super().__new__(cls, *args, **kwargs)

# 什么是元类， 元类是创建类的类。
# 创建过程：type --> class(对象) --> 对象 
class User(BaseClass, metaclass=MetaClass):
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return "user"

In [24]:
def repeat(number=3):
   def decorator(func):
       def wrapper(self, *args, **kwargs):
           print('nihao')
           for _ in range(number):
               value = func(self, *args, **kwargs)
           return value
       return wrapper
   return decorator
 
class MyClass:
   @repeat(number=5)
   def say_hello(self):
    #    print("Hello!")
        pass
 
# 创建 MyClass 的实例并调用 say_hello 方法
my_instance = MyClass()
my_instance.say_hello()

nihao

In [6]:
a.answer()

'i am baseclass'

In [7]:
class Meta(type):
    def __new__(cls, name, bases, attrs):
        for key, value in attrs.items():
            if callable(value) and not key.startswith("__"):
                attrs[key] = my_decorator(value)
        return super(Meta, cls).__new__(cls, name, bases, attrs)

class MyClass(metaclass=Meta):
    def __init__(self):
        self.value = 0

    def my_decorator(func):
        def wrapper(self, *args, **kwargs):
            print("Before function call")
            result = func(self, *args, **kwargs)
            print("After function call")
            return result
        return wrapper

    def my_method(self, x):
        self.value += x
        print(f"Value is now {self.value}")

NameError: name 'my_decorator' is not defined