### decompose

In [2]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [3]:
from prompt_manager import get_k_shot_with_answer, view_instruction, row_instruction
import pandas as pd
from utils import parse_specific_composition, add_row_number
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:2', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [4]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
                  "what was the time difference between the first place finisher and the eighth place finisher?",
                  # "compare the chart positions between the us and the uk for the science of selling yourself short, where did it do better?",
                  "other than william stuart price, which other businessman was born in tulsa?",
                  "which canadian city had the most passengers traveling from manzanillo international airport in 2013?"
                # "what is the next most populous district after haridwar?",(70)
                  ]
new_query_examples = [
  # "what was the chart position of 'The Science of Selling Yourself Short' in the US?; what was the chart position of 'The Science of Selling Yourself Short' in the UK?;",
                      "what was the time for the first place finisher?; what was the time for the eighth place finisher?",
                      "was william stuart price born in tulsa?; who was born in tulsa?",
                      "how many passengers from each airline from canadian city? which canadian city had the most passengers?"
                    # "what are the districts after haridwar?; what is the next most populous district after haridwar?",
                    #   "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      ]
num_k = 3
inds = [1, 11, 86, 70, 42]
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True, embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Sub-Table: {table}
Query: {query}
Decompose query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.""",
    suffix=
    """Sub-Table: {table}
Query: {query}
Decompose query: """,
    input_variables=["query", "table"],
)

In [5]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
    # "after 2005 , the winner of the lifetime achievement award be andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle",
                  "all 12 club play a total of 22 game for the wru division one east",
                #   "a gamecube game loss the award in each of the first 3 year",
                "from 1980 to 2011 , apoel bc lose more than 2 time as many game as it win",
                  "polona hercog 1890partner with alberta brianti after she have stephanie vogt as the partner",
                  ]
task_examples = ["query rewrite", "query decompose", "query ambiguity resolve"]
new_query_examples = [
    # "Who were the winners of the lifetime achievement award after 2005?;",
                      "How many clubs play for the wru division one east in total?; How many clubs play 22 game for the wru division one east?;",
                    #   "a gamecube game loss the award in each of the first 3 year",
                    "from 1980 to 2011 , how many games did apoel bc lose?; from 1980 to 2011 , how many games did apoel bc win?;",
                      "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      ]
num_k = 3
inds = [1, 124, 5]
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub-queries. Based on the table, provide at most 2 sub-queries for knowledge that you need. Output new query directly.""",
    suffix=
    """Query: {query}
Table: {table}
New query: """,
    input_variables=["query", "table"],
)

# Sub-questions are separated by semicolons.
# answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
#                                     template="""
# Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
# SQL Excuted: 
# ```{SQL}```
# Sub-table: {table}
# Query: {claim}
# answer the question given in the query. Only return the string instead of other format information. Do not repeat the question.
# """ )

In [6]:
task_name = 'wikitable'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-Kfk2WiZcPgajLVtdGPGmfahxCmWqJSbMeRck5sXujlMS4Nai", temperature=0.7).bind(logprobs=True)
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:///db/sqlite/test.db', echo=False)
manager = SQLManager(engine=engine)

In [7]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### step-back

In [8]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [11,]
num_k = 1
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which business man was born in tulsa?",
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Query: {query}
Table: {table}
New query:""",
    input_variables=["query", "table"],
)

In [9]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [8, 173,]
num_k = 2
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which college list be public?",
    "what was the works number used in 1883?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['statement'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Query: {query}
Table: {table}
New query:""",
    input_variables=["query", "table"],
)

In [10]:
def get_k_shot_with_answer(k: int=1):
    sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
            ]
    thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
    tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
    claims = ["was 2 be the fewest point that roger dutton / tony wright receive?"]
    # inds from test split
    examples_prompt = PromptTemplate(input_variables=["SQL", "table", "claim", "thought", "output"], template=
    """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Query: {claim}
Thought: {thought}
Answer: {output}
    """)
    examples_dict = dict(zip(["SQL", "table", "claim", "thought", "output"], [sqls[0], tables[0], claims[0], thoughts[0], '3']))
    prompt_template = FewShotPromptTemplate(
        examples=[examples_dict],
        example_prompt=examples_prompt,
        prefix="""Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the last question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format information. Do not repeat the question.
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {query}""",
        input_variables=["table", "query", "SQL", "information"],
)
    return prompt_template

In [11]:
# def get_k_shot_with_aug(k: int=2):
#     table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)

#     inds = [3, 6, 260, 33]
#     Output_examples = [
#                        'team, goals_for',
#                        'year, game, platform_s',
#                        'name, population_density_km_2_, population_2011_census_'
#                        'leading_scorer, score, date']
#     linking_examples = ['the team -> team; the most goal for -> goals_for',
#                         'gamecube -> platform_s; gamecube game -> game; the first 3 year -> year;',
#                         'alberta -> name; population density -> population_density_km_2_; 4257744 less people -> population_2011_census_; 2011 -> population_2011_census_'
#                         'jason richardson -> leading_scorer; leading scorer -> score; month -> date; 23 point per game -> leading_scorer'
#     ]
#     examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
#     """
#     Table: {table}
#     Query: {claim}
#     Column linking: {linking}
#     Columns: {output}""")
#     num_k = 3
#     examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_nl_sep(table_loader.dataset[inds[i]]['table']['caption']),
#                                         "claim": table_loader.dataset[inds[i]]['statement'],
#                                         "linking": linking_examples[i],
#                                         # "summary": summary_examples[i],
#                                         "output": Output_examples[i]} for i in range(num_k)]
#     prompt_template = FewShotPromptTemplate(
#         examples=examples_dict,
#         example_prompt=examples_prompt,
#         prefix=
#         """
#     Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
#     Approach this task as follows:
#     Read the question thoroughly and list every possible link from query term to column in Table.
#     Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
#     # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
#     # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
#     # Here are some examples:""",
#         suffix=
#         """
#     Table: {table}
#     Query: {claim}
#     Column linking:
#     """,
#         input_variables=["table", "claim"],
# )
#     return prompt_template

def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
    table_loader_wiki = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    inds = [3, 6, 260, 33]
    Output_examples = [
                       'team, goals_for',
                       'year, game, platform_s',
                       'name, population_density_km_2_, population_2011_census_'
                       'leading_scorer, score, date']
    linking_examples = ['the team -> team, the most goal for -> goals_for',
                        'gamecube -> platform_s, gamecube game -> game, the first 3 year -> year',
                        'alberta -> name, population density -> population_density_km_2_, 4257744 less people -> population_2011_census_, 2011 -> population_2011_census_'
                        'jason richardson -> leading_scorer, month -> date, 23 point per game -> score'
    ]
    examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
    """
    Table: {table}
    Query: {claim}
    Column linking: {linking}
    Columns: {output}""")
    num_k = 2
    normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
    example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
    examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
    examples_dict = [{"table": examples[i],
                                        "claim": table_loader.dataset[inds[i]]['statement'],
                                        "linking": linking_examples[i],
                                        # "summary": summary_examples[i],
                                        "output": Output_examples[i]} for i in range(num_k)]
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Stirrups and Hiccups"     </td><td>Gerry Chiniquy</td><td>1973       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader_wiki.dataset[95]['question'],
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title",
                                        # "summary": summary_examples[i],
                                        "output": "Title, Released_, Number"}])
#     examples_dict.extend([{"table": """<table>
# <thead>
# <tr><th>  Pick</th><th>       Player</th><th>              Team</th><th>  Position</th><th>                    School</th></tr>
# </thead>
# <tbody>
# <tr><td>24    </td><td>Alan Zinter  </td><td>New York Mets     </td><td>C         </td><td>University of Arizona     </td></tr>
# <tr><td>18    </td><td>Willie Greene</td><td>Pittsburgh Pirates</td><td>SS        </td><td>Jones County HS (Gray, GA)</td></tr>
# <tr><td>23    </td><td>Mo Vaughn    </td><td>Boston Red Sox    </td><td>1B        </td><td>Seton Hall University     </td></tr>
# </tbody>
# </table>""",
#                                     "claim": "was kiki jones picked before or after greg gohr?",
#                                     "linking": "kiki jones -> Player, picked before -> Pick, after -> Pick, greg gohr -> Player",
#                                     # "summary": summary_examples[i],
#                                     "output": "Player, Pick"}])
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
    # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
    # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
    # Here are some examples:""",
        suffix=
        """
    Table: {table}
    Extra information: {aug}
    Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template

pre_instruction_schema = PromptTemplate(input_variables=["table"], template="""
Instruction: Given the following table, you will add Metadata about the columns in the table.
Metadata includes:
- Numerical: consist digits and numerical symbols like decimal points or signs.
- Char: whether column content is a text or description.
- Date: whether the column content is datetime.

You need to output all the column names with metadata in angle brackets.
Example: name<Char> launched<Date> count<Numerical>

Table: {table}
Output:
""")

In [12]:
from utils import parse_output
def scene_A(query, sample, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    k_shot_prompt = get_k_shot_with_aug()
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        # if pd.isna(summary_aug):
        #     summary_aug = ''
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        if verbose:
            print(stage_1_batch_pred)
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            # formatter.all_data = formatter.all_data.loc[:, columns]
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            pass
        extra_information = parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        extra_information.append('row_number: row number in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\nColumn information:\n' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
        if verbose:
            print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data), cb.total_tokens

In [13]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

In [14]:
from typing import List
import os
import json
def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

### RUN

In [15]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [16]:
import concurrent.futures
from typing import List
import os
import json
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

## 调整extrainformation的位置

In [17]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, concise statement in response to the question. If you cannot answer the question based on the sub-table, just say 'Cannot get answer from sub-table'
""" )
def scene_B(query, sample, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    # get columns
    k_shot_prompt = get_k_shot_with_aug()
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        # if pd.isna(summary_aug):
        #     summary_aug = ''
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            pass
        extra_information = (parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        extra_information.append('row_number: row number in the table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [18]:
from langchain_openai import AzureChatOpenAI
import os

os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"

model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-Kfk2WiZcPgajLVtdGPGmfahxCmWqJSbMeRck5sXujlMS4Nai", temperature=0.7).bind(logprobs=True)

In [21]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
from FlagEmbedding import FlagReranker
from openai import BadRequestError
from tqdm.notebook import tqdm
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.01)
# save_path = f"result/answer/wikitable_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
save_path = f"result/answer/wikitable_05-09_07-12-21.csv"

reranker = FlagReranker('BAAI/bge-reranker-large', use_fp16=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# no cot prompt, not used
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Think step by step and answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
""" )

tokens = []
outputs = []
labels = []
ids = []
samplings = []
i = 1441



# with tqdm(total=len(table_loader.dataset)-1980, desc=f"Processing",ncols=150) as pbar:
#     while i < len(table_loader.dataset):
#         try:
sample = table_loader.normalize_table(
                    table_loader.dataset[i])
all_tokens = 0
all_queries = []
formatter = TableFormat(format='none', data=sample, save_embedding=False)
sample_data = formatter.get_sample_data(sample_type='random', query=sample['query'])
with get_openai_callback() as cb:
    llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    all_queries.append(batch_pred[0]['text'].strip())
    llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    all_queries.extend(batch_pred[0]['text'].split(';'))
    print(all_queries)
all_tokens += cb.total_tokens
args_list = [{"query": q, "sample": sample} for q in all_queries if reranker.compute_score([(q, sample['query'])], normalize=True) < 0.95]
# print(len(args_list))
ans_from_B = parallel_run_kwargs(scene_B, args_list)
results = [res[0] for res in ans_from_B if res[0] != 'Cannot get answer from sub-table']
all_tokens += sum([res[1] for res in ans_from_B])
#With answer
# results= []
with get_openai_callback() as cb:
    imp_input = scene_A(sample['query'], sample, True)
    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=True)
    batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
# print(batch_pred[0])
all_tokens += cb.total_tokens
# print('ALL TOKENS', all_tokens)
ids.append(sample['id'])
labels.append(sample['query'])
outputs.append(batch_pred[0]['text'])

----------using 4*GPUs----------
['Who was the first mayor to be inaugurated in Witswaterand?', 'who was the mayor in 1931-32? who was the mayor in 1919-20?']
Unknown Date format 0    1903-04
1    1904-05
2    1905-06
3    1907-08
4    1908-09
Name: Year, dtype: object
Unknown Date format 0     1935-36
1     1936-37
2    1937 -38
3    1939 -40
4     1940-41
Name: Year_1, dtype: object
Unknown Date format 0    1967-68
1    1968-69
2    1969-70
3    1971-72
4    1972-73
Name: Year_2, dtype: object
Unknown Date format 0    1903-04
1    1904-05
2    1905-06
3    1907-08
4    1908-09
Name: Year, dtype: object
Unknown Date format 0     1935-36
1     1936-37
2    1937 -38
3    1939 -40
4     1940-41
Name: Year_1, dtype: object
Unknown Date format 0    1967-68
1    1968-69
2    1969-70
3    1971-72
4    1972-73
Name: Year_2, dtype: object


> Entering new LLMChain chain...
Prompt after formatting:

    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.


    Table: <table>
<caption>1986 - 87 north west counties football league</caption>
<thead>
<tr><th>  position</th><th>               team</th><th>  played</th><th>  drawn</th><th>  lost</th><th>  goals_for</th><th>  goals_against</th><th>  goal_difference</th><th>  points_1</th></tr>
</thead>
<tbody>
<tr><td>12        </td><td>ashton town        </td><td>24      </td><td>9      </td><td>11    </td><td>29         </td><td>39             </td><td>10               </td><td>15 2      </td></tr>
<tr><td>10        </td><td>padiham            </td><td>24      </td><td>8      </td><td>12    </td><td>35         </td><td>39             </td><td>4                </td><td>16        </td></tr>
<tr><td>1         </td><td>atherton collieries</td><td>24      </td><td>4      </td><td>4     </td><td>46         </td><td>22             </td><td>+ 24             </td><td>36        </td></tr>
</tbody>
</table>
    Query: the team with the most goal for in the 1986 - 87 north west county football league be flixton
    Column linking: the team -> team, the most goal for -> goals_for
    Columns: team, goals_for


    Table: <table>
<caption>list of game of the year awards</caption>
<thead>
<tr><th>  year</th><th>                               game</th><th>                                  genre</th><th>                        platform_s</th><th>                 developer_s</th></tr>
</thead>
<tbody>
<tr><td>2011  </td><td>the legend of zelda : skyward sword</td><td>action - adventure                     </td><td>wii                               </td><td>nintendo ead , monolith soft</td></tr>
<tr><td>2010  </td><td>mass effect 2                      </td><td>action rpg : ( third - person ) shooter</td><td>xbox 360 , windows , playstation 3</td><td>bioware                     </td></tr>
<tr><td>2001  </td><td>super smash bros melee             </td><td>fighting                               </td><td>gamecube                          </td><td>hal laboratory , inc        </td></tr>
</tbody>
</table>
    Query: a gamecube game loss the award in each of the first 3 year
    Column linking: gamecube -> platform_s, gamecube game -> game, the first 3 year -> year
    Columns: year, game, platform_s


    Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Stirrups and Hiccups"     </td><td>Gerry Chiniquy</td><td>1973       </td></tr>
</tbody>
</table>
    Query: what was the last title that sid marcus directed?
    Column linking: the last title -> Released_, the last title-> Number, title -> Title
    Columns: Title, Released_, Number


    Table: <table>
<caption>Boksburg</caption>
<thead>
<tr><th>   Year</th><th>             Name</th><th>  Year_1</th><th>        Name_1</th><th>  Year_2</th><th>            Name_2</th></tr>
</thead>
<tbody>
<tr><td>1923-24</td><td>                 </td><td>1954-56 </td><td>Mr J.H.A.Roets</td><td>1988-89 </td><td>Mr Beyers De Klerk</td></tr>
<tr><td>1904-05</td><td>Mr B. Owen- Jones</td><td>1936-37 </td><td>Mr W.Pearce   </td><td>1968-69 </td><td>Mr Ben Steyn      </td></tr>
<tr><td>1908-09</td><td>Mr T.R.Ziervogel </td><td>1940-41 </td><td>Mr P.Venter   </td><td>1972-73 </td><td>Mr Ben Steyn      </td></tr>
</tbody>
</table>
    Extra information: The table contains information about individuals associated with Boksburg over different years.1. Year: The year in which the individual was associated with Boksburg
2. Name: The name of the individual associated with Boksburg
    Query: who was the first mayor to be inaugurated in witswaterand?

> Finished chain.
 Year, Name


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>Boksburg</caption>
<thead>
<tr><th>  row_number</th><th>             Name</th><th>   Year</th></tr>
</thead>
<tbody>
<tr><td>20          </td><td>                 </td><td>1923-24</td></tr>
<tr><td>2           </td><td>Mr B. Owen- Jones</td><td>1904-05</td></tr>
<tr><td>5           </td><td>Mr T.R.Ziervogel </td><td>1908-09</td></tr>
</tbody>
</table>
Extra information: The table contains information about individuals associated with Boksburg over different years.
Column information:
Year:Each entry consists of a range of years indicating a specific time period.
Name:Each entry is left blank, suggesting that there may be missing information or the data is not applicable for this column.
row_number: row number in the original table

Query: who was the first mayor to be inaugurated in witswaterand?
SQL:

> Finished chain.
SELECT Name
FROM DF
WHERE Name IS NOT NULL
ORDER BY row_number
LIMIT 1


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the last question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format information. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';```
Sub-table: <table>
<caption>1972 isle of man tt</caption>
<thead>
<tr><th>  MIN(points)</th></tr>
</thead>
<tbody>
<tr><td>3            </td></tr>
</tbody>
</table>
Query: was 2 be the fewest point that roger dutton / tony wright receive?
Thought: Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received.
Answer: 3



SQL Excuted:
```SELECT * from DF;```
Sub-table: <table>
<thead>
<tr><th>   Year</th><th>             Name</th><th>  Year_1</th><th>            Name_1</th><th>  Year_2</th><th>             Name_2</th></tr>
</thead>
<tbody>
<tr><td>1903-04</td><td>Mr B. Owen- Jones</td><td>1935-36 </td><td>Mr W.Pearce       </td><td>1967-68 </td><td>Mr J.F.Serfontein  </td></tr>
<tr><td>1904-05</td><td>Mr B. Owen- Jones</td><td>1936-37 </td><td>Mr W.Pearce       </td><td>1968-69 </td><td>Mr Ben Steyn       </td></tr>
<tr><td>1905-06</td><td>Mr G. Constable  </td><td>1937 -38</td><td>                  </td><td>1969-70 </td><td>                   </td></tr>
<tr><td>1907-08</td><td>Mr T.R.Ziervogel </td><td>1939 -40</td><td>Mr W.E.Vickers    </td><td>1971-72 </td><td>Mr Chris Smith     </td></tr>
<tr><td>1908-09</td><td>Mr T.R.Ziervogel </td><td>1940-41 </td><td>Mr P.Venter       </td><td>1972-73 </td><td>Mr Ben Steyn       </td></tr>
<tr><td>1909-10</td><td>Mr J.Morris      </td><td>1941-42 </td><td>Mr P.Venter       </td><td>1973-74 </td><td>Mr Issy Kramer     </td></tr>
<tr><td>1910-11</td><td>                 </td><td>1942-43 </td><td>Mr P.Venter       </td><td>1974-75 </td><td>                   </td></tr>
<tr><td>1911-12</td><td>Mr B.Owen- Jones </td><td>1943-44 </td><td>Mr P.Venter       </td><td>1975-76 </td><td>Mr Sakkie Blanche  </td></tr>
<tr><td>1912-13</td><td>Mr J.Johnston    </td><td>1944-45 </td><td>Mrs E.Myer        </td><td>1977-78 </td><td>Mr Sakkie Blanche  </td></tr>
<tr><td>1913-14</td><td>Mr J.Cook        </td><td>1945-46 </td><td>Mrs E.Myer        </td><td>1978-79 </td><td>                   </td></tr>
<tr><td>1914-15</td><td>Mr J.Cook        </td><td>1946-47 </td><td>Mrs E.Myer        </td><td>1979 -80</td><td>Mr Kobus Durand    </td></tr>
<tr><td>1915-16</td><td>Mr R.Champion    </td><td>1947-48 </td><td>Mr C.Chambers     </td><td>1980-81 </td><td>Mr Meyer           </td></tr>
<tr><td>1916-17</td><td>Mr R.Champion    </td><td>1948-49 </td><td>Mrs S.Von Wielligh</td><td>1981-82 </td><td>Mr Wiek Steyn      </td></tr>
<tr><td>1917-18</td><td>Mr A.Ruffels     </td><td>1949-50 </td><td>Mr A.J.Law        </td><td>1982-83 </td><td>Mr Andrew Wheeler  </td></tr>
<tr><td>1918-19</td><td>Mr J.Campbell    </td><td>1950-51 </td><td>Mr P.Venter       </td><td>1983-84 </td><td>                   </td></tr>
<tr><td>1919-20</td><td>Mr B.Melman      </td><td>1951-52 </td><td>Mr P.Venter       </td><td>1984-85 </td><td>                   </td></tr>
<tr><td>1920-21</td><td>Mr B.Melman      </td><td>1952-53 </td><td>Mr Vic Pretorius  </td><td>1985-86 </td><td>Mr J.Prins         </td></tr>
<tr><td>1921-21</td><td>Mr B.Melman      </td><td>1953-54 </td><td>Mr Vic Pretorius  </td><td>1986-87 </td><td>                   </td></tr>
<tr><td>1922-23</td><td>Mr J.Campbell    </td><td>1954-55 </td><td>                  </td><td>1987-88 </td><td>                   </td></tr>
<tr><td>1923-24</td><td>                 </td><td>1954-56 </td><td>Mr J.H.A.Roets    </td><td>1988-89 </td><td>Mr Beyers De Klerk </td></tr>
<tr><td>1924-25</td><td>Mr E.Murton      </td><td>1956-57 </td><td>Mr P.H.Tredoux    </td><td>1989-90 </td><td>Mr Gerrie Wolmarans</td></tr>
<tr><td>1925-26</td><td>Mr S.Steenberg   </td><td>1957- 58</td><td>                  </td><td>1990-91 </td><td>Mr Gerrie Wolmarans</td></tr>
<tr><td>1926-27</td><td>                 </td><td>1958-59 </td><td>Mr J.M.Cawood     </td><td>1991-92 </td><td>Mr TJ Ferreira     </td></tr>
<tr><td>1927-28</td><td>Mr J.Stanbury    </td><td>1959-60 </td><td>Mr A.P.Scribante  </td><td>1992-93 </td><td>Mr Gerrie Wolmarans</td></tr>
<tr><td>1928-29</td><td>Mr E.Murton      </td><td>1960-61 </td><td>Mr J.L.Viljoen    </td><td>1993-94 </td><td>Mr TJ Ferreira     </td></tr>
<tr><td>1929-30</td><td>Mr K.Turner      </td><td>1961-62 </td><td>Mr J.L.Viljoen    </td><td>        </td><td>                   </td></tr>
<tr><td>1930-31</td><td>Mr J.E.Bigwood   </td><td>1962-63 </td><td>Mrs S.Von Wielligh</td><td>        </td><td>                   </td></tr>
<tr><td>1931-32</td><td>Mr A.Zaretsky    </td><td>1963-64 </td><td>Mr F.J.Van Heerden</td><td>        </td><td>                   </td></tr>
<tr><td>1932-33</td><td>Mr G.J.Malan     </td><td>1964-65 </td><td>                  </td><td>        </td><td>                   </td></tr>
<tr><td>1933-34</td><td>                 </td><td>1965-66 </td><td>                  </td><td>        </td><td>                   </td></tr>
<tr><td>1934-34</td><td>                 </td><td>1966-67 </td><td>Mr H.McLennan     </td><td>        </td><td>                   </td></tr>
</tbody>
</table>
Extra information:
The mayor in 1931-32 was Mr A.Zaretsky. The mayor in 1919-20 was Mr B.Melman.

Query: who was the first mayor to be inaugurated in witswaterand?

> Finished chain.

In [22]:

def show_table(data, execute=False):
    formatter = TableFormat(format='none', data=data)
    print(data['id'])
    print(data['query'])
    print(formatter.format_psql())
    # print(preds[i])
    # print(SQLs[i])
    # test_df = manager.execute_from_df(SQLs[i], formatter.all_data)
    # print(test_df)
    print(data['label'])

show_table(table_loader.normalize_table(table_loader.dataset[i]) )

nu-1441
who was the first mayor to be inaugurated in witswaterand?
+---------+-------------------+----------+--------------------+----------+---------------------+
| Year    | Name              | Year_1   | Name_1             | Year_2   | Name_2              |
|---------+-------------------+----------+--------------------+----------+---------------------|
| 1903-04 | Mr B. Owen- Jones | 1935-36  | Mr W.Pearce        | 1967-68  | Mr J.F.Serfontein   |
| 1904-05 | Mr B. Owen- Jones | 1936-37  | Mr W.Pearce        | 1968-69  | Mr Ben Steyn        |
| 1905-06 | Mr G. Constable   | 1937 -38 |                    | 1969-70  |                     |
| 1907-08 | Mr T.R.Ziervogel  | 1939 -40 | Mr W.E.Vickers     | 1971-72  | Mr Chris Smith      |
| 1908-09 | Mr T.R.Ziervogel  | 1940-41  | Mr P.Venter        | 1972-73  | Mr Ben Steyn        |
| 1909-10 | Mr J.Morris       | 1941-42  | Mr P.Venter        | 1973-74  | Mr Issy Kramer      |
| 1910-11 |                   | 1942-43  | Mr P.Venter        | 1974-75  |                     |
| 1911-12 | Mr B.Owen- Jones  | 1943-44  | Mr P.Venter        | 1975-76  | Mr Sakkie Blanche   |
| 1912-13 | Mr J.Johnston     | 1944-45  | Mrs E.Myer         | 1977-78  | Mr Sakkie Blanche   |
| 1913-14 | Mr J.Cook         | 1945-46  | Mrs E.Myer         | 1978-79  |                     |
| 1914-15 | Mr J.Cook         | 1946-47  | Mrs E.Myer         | 1979 -80 | Mr Kobus Durand     |
| 1915-16 | Mr R.Champion     | 1947-48  | Mr C.Chambers      | 1980-81  | Mr Meyer            |
| 1916-17 | Mr R.Champion     | 1948-49  | Mrs S.Von Wielligh | 1981-82  | Mr Wiek Steyn       |
| 1917-18 | Mr A.Ruffels      | 1949-50  | Mr A.J.Law         | 1982-83  | Mr Andrew Wheeler   |
| 1918-19 | Mr J.Campbell     | 1950-51  | Mr P.Venter        | 1983-84  |                     |
| 1919-20 | Mr B.Melman       | 1951-52  | Mr P.Venter        | 1984-85  |                     |
| 1920-21 | Mr B.Melman       | 1952-53  | Mr Vic Pretorius   | 1985-86  | Mr J.Prins          |
| 1921-21 | Mr B.Melman       | 1953-54  | Mr Vic Pretorius   | 1986-87  |                     |
| 1922-23 | Mr J.Campbell     | 1954-55  |                    | 1987-88  |                     |
| 1923-24 |                   | 1954-56  | Mr J.H.A.Roets     | 1988-89  | Mr Beyers De Klerk  |
| 1924-25 | Mr E.Murton       | 1956-57  | Mr P.H.Tredoux     | 1989-90  | Mr Gerrie Wolmarans |
| 1925-26 | Mr S.Steenberg    | 1957- 58 |                    | 1990-91  | Mr Gerrie Wolmarans |
| 1926-27 |                   | 1958-59  | Mr J.M.Cawood      | 1991-92  | Mr TJ Ferreira      |
| 1927-28 | Mr J.Stanbury     | 1959-60  | Mr A.P.Scribante   | 1992-93  | Mr Gerrie Wolmarans |
| 1928-29 | Mr E.Murton       | 1960-61  | Mr J.L.Viljoen     | 1993-94  | Mr TJ Ferreira      |
| 1929-30 | Mr K.Turner       | 1961-62  | Mr J.L.Viljoen     |          |                     |
| 1930-31 | Mr J.E.Bigwood    | 1962-63  | Mrs S.Von Wielligh |          |                     |
| 1931-32 | Mr A.Zaretsky     | 1963-64  | Mr F.J.Van Heerden |          |                     |
| 1932-33 | Mr G.J.Malan      | 1964-65  |                    |          |                     |
| 1933-34 |                   | 1965-66  |                    |          |                     |
| 1934-34 |                   | 1966-67  | Mr H.McLennan      |          |                     |
+---------+-------------------+----------+--------------------+----------+---------------------+
['Mr B. Owen- Jones']