### decompose

In [107]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [108]:
from prompt_manager import get_k_shot_with_answer, view_instruction, row_instruction
import pandas as pd
from utils import parse_specific_composition
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:3', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [86]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat


query_instruction = PromptTemplate(input_variables=[ "claim"], 
                                    template="""Given the table with rows sampled from the original table and the claim/question, you need to provide one or more questions which can answer the orignal claim/question.
                                    
The questions should follow the following requirement:
1. The questions should not repeat the original claim/question. 
2. List the questions split by line. 
3. The generated questions together are sufficient to answer the original claim/question.
4. The fewer questions the better.

You can think of the following ways:
1. decompose original question into complete sub questions which can solve original claim/question.
2. step back and paraphrase a question to a more generic step-back question, which is easier to answer.
3. Reformulate the question to eliminate ambiguity or providing additional context to guide the interpretation

Table: {table}
Claim/question: {claim}
Output: """ )

In [101]:
i = 4233
sample = table_loader.normalize_table(table_loader.dataset[i])
formatter = TableFormat(format='none', data=sample)
pd.unique(formatter.all_data['glyph'])

array(['', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',',
       '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ':', ';', '<', '=', '>', '?', '@', 'A', 'B', 'C', 'D', 'E', 'F',
       'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S',
       'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '[', '\\\\', ']', '^', '_', '`',
       'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
       '{', '\\p', '}', '~'], dtype=object)

In [102]:
import os
from langchain_openai import AzureChatOpenAI
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
i = 39
sample = table_loader.normalize_table(table_loader.dataset[i])
all_queries = []
formatter = TableFormat(format='none', data=sample)
# os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
# os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
# os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
# os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
# model = AzureChatOpenAI(
#     openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
#     azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
#     temperature=0.01
# )
model = ChatOpenAI(model_name='deepseek-chat', openai_api_base="https://api.deepseek.com",
                       openai_api_key="sk-0f41fb981d434de08f6bd9712d75bf43", temperature=0.3)

llm_chain = LLMChain(llm=model, prompt=query_instruction, verbose=True,)
batch_pred = llm_chain.batch([{
    "claim": sample['query'],
    # "query": "how many of the seasons games were played in the gold coast convention centre?",
                               "table": TableFormat.format_html(data= formatter.get_sample_data(sample_type='random',k=5, query=sample['query'],),table_caption=sample['table']['caption'])}],)
#                             "table": """table caption : 2008 - 09 nbl season.

> Entering new LLMChain chain...
Prompt after formatting:
Given the table with rows sampled from the original table and the claim/question, you need to provide one or more questions which can answer the orignal claim/question.

The questions should follow the following requirement:
1. The questions should not repeat the original claim/question.
2. List the questions split by line.
3. The generated questions together are sufficient to answer the original claim/question.
4. The fewer questions the better.

You can think of the following ways:
1. decompose original question into complete sub questions which can solve original claim/question.
2. step back and paraphrase a question to a more generic step-back question, which is easier to answer.
3. Reformulate the question to eliminate ambiguity or providing additional context to guide the interpretation

Table: <table>
<caption>2004 - 05 philadelphia flyers season</caption>
<thead>
<tr><th>  round</th><th>         player</th><th>  position</th><th>  nationality</th><th>      college_junior_club_team_league</th></tr>
</thead>
<tbody>
<tr><td>6      </td><td>ladislav scurko</td><td>center    </td><td>slovakia     </td><td>spišská nová ves (slovakia)          </td></tr>
<tr><td>3      </td><td>rob bellamy    </td><td>right wing</td><td>united states</td><td>new england jr coyotes ( ejhl )      </td></tr>
<tr><td>9      </td><td>triston grant  </td><td>left wing </td><td>canada       </td><td>vancouver giants ( whl )             </td></tr>
<tr><td>9      </td><td>john carter    </td><td>center    </td><td>united states</td><td>brewster bulldogs (emjhl)            </td></tr>
<tr><td>4      </td><td>david laliberte</td><td>right wing</td><td>canada       </td><td>prince edward island rocket ( qmjhl )</td></tr>
</tbody>
</table>
Claim/question: triston grant play the same position as the other payer draft in his round
Output:

> Finished chain.

In [104]:
print(batch_pred[0]['text'])

 1. What position does Triston Grant play?
2. What position does the other player drafted in the same round as Triston Grant play?
3. Are the positions of Triston Grant and the other player drafted in his round the same?

In [4]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
                  "what was the time difference between the first place finisher and the eighth place finisher?",
                  # "compare the chart positions between the us and the uk for the science of selling yourself short, where did it do better?",
                  "other than william stuart price, which other businessman was born in tulsa?",
                  "which canadian city had the most passengers traveling from manzanillo international airport in 2013?"
                # "what is the next most populous district after haridwar?",(70)
                  ]
new_query_examples = [
  # "what was the chart position of 'The Science of Selling Yourself Short' in the US?; what was the chart position of 'The Science of Selling Yourself Short' in the UK?;",
                      "what was the time for the first place finisher?; what was the time for the eighth place finisher?",
                      "was william stuart price born in tulsa?; who was born in tulsa?",
                      "how many passengers from each airline from canadian city? which canadian city had the most passengers?"
                    # "what are the districts after haridwar?; what is the next most populous district after haridwar?",
                    #   "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      ]
num_k = 3
inds = [1, 11, 86, 70, 42]
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True, embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Sub-Table: {table}
Query: {query}
Decompose query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.""",
    suffix=
    """Sub-Table: {table}
Query: {query}
Decompose query: """,
    input_variables=["query", "table"],
)

In [4]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
    # "after 2005 , the winner of the lifetime achievement award be andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle",
                  "all 12 club play a total of 22 game for the wru division one east",
                #   "a gamecube game loss the award in each of the first 3 year",
                "from 1980 to 2011 , apoel bc lose more than 2 time as many game as it win",
                  "polona hercog 1890partner with alberta brianti after she have stephanie vogt as the partner",
                  ]
task_examples = ["query rewrite", "query decompose", "query ambiguity resolve"]
new_query_examples = [
    # "Who were the winners of the lifetime achievement award after 2005?;",
                      "How many clubs play for the wru division one east in total?; How many clubs play 22 game for the wru division one east?;",
                    #   "a gamecube game loss the award in each of the first 3 year",
                    "from 1980 to 2011 , how many games did apoel bc lose?; from 1980 to 2011 , how many games did apoel bc win?;",
                      "When did polona hercog partner with alberta brianti?; When did polona hercog partner with stephanie vogt?",
                      ]
num_k = 3
inds = [1, 124, 5]
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub-queries. Based on the table, provide at most 2 sub-queries for knowledge that you need. Output new query directly.""",
    suffix=
    """Query: {query}
Table: {table}
New query: """,
    input_variables=["query", "table"],
)

# Sub-questions are separated by semicolons.
# answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
#                                     template="""
# Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
# SQL Excuted: 
# ```{SQL}```
# Sub-table: {table}
# Query: {claim}
# answer the question given in the query. Only return the string instead of other format information. Do not repeat the question.
# """ )

In [110]:
task_name = 'wikitable'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
                       openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.7).bind(logprobs=True)
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine=engine)

In [6]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### step-back

In [25]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [11,]
num_k = 1
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which business man was born in tulsa?",
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Query: {query}
Table: {table}
New query:""",
    input_variables=["query", "table"],
)

In [26]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [8, 173,]
num_k = 2
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
examples = [TableFormat.format_nl_sep(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which college list be public?",
    "what was the works number used in 1883?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['statement'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Based on the table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """
Query: {query}
Table: {table}
New query:""",
    input_variables=["query", "table"],
)

In [49]:
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
i = 1106
sample = table_loader.normalize_table(table_loader.dataset[i])
all_queries = []
formatter = TableFormat(format='none', data=sample)
# llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=True)
llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=True,)
batch_pred = llm_chain.batch([{
    "query": sample['query'],
    # "query": "how many of the seasons games were played in the gold coast convention centre?",
                               "table": TableFormat.format_nl_sep(data= formatter.get_sample_data(),table_caption=sample['table']['caption'])}],)
#                             "table": """table caption : 2008 - 09 nbl season.
# col : date | home team | score | away team | venue | crowd | box score | report
# row 1 : 31 december | cairns taipans | 105 - 112 | wollongong hawks | cairns convention centre | 3853 | box score | -
# row 2 : 31 december | gold coast blaze | 103 - 94 | adelaide 36ers | gold coast convention centre | 2233 | box score | -"""}],)

> Entering new LLMChain chain...
Prompt after formatting:
You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.

Sub-Table: Athletics at the 2003 Summer Universiade – Women's 800 metres
Col :Rank|Athlete|Nationality|Time
Row 1 :|Anna Zagórska|Poland|2:00.11
Row 2 :8|Sandra Teixeira|Portugal|2:03.01
Row 3 :|Irina Vashentseva|Russia|2:00.77
Query: what was the time difference between the first place finisher and the eighth place finisher?
Decompose query: what was the time for the first place finisher?; what was the time for the eighth place finisher?

Sub-Table: Oklahoma State Regents for Higher Education
Col :Name|Profession|Hometown|Term_Expires|Office
Row 1 :William Stuart Price|Businessman|Tulsa|2013|
Row 2 :Joseph L. Parker Jr.|Businessman|Tulsa|2014|Chair
Row 3 :Bill W. Burgess Jr.|Attorney|Lawton|2011|
Query: other than william stuart price, which other businessman was born in tulsa?
Decompose query: was william stuart price born in tulsa?; who was born in tulsa?

Sub-Table: Playa de Oro International Airport
Col :Rank|City|Passengers|Ranking|Airline
Row 1 :7|Canada, Toronto|1,202|1|Air Transat, CanJet
Row 2 :3|Canada, Calgary|3,761||Air Transat, WestJet
Row 3 :8|Canada, Edmonton|110||
Query: which canadian city had the most passengers traveling from manzanillo international airport in 2013?
Decompose query: how many passengers from each airline from canadian city? which canadian city had the most passengers?

Sub-Table: Sinnamon
Col :Year|Name|Label|Hot_Black_Singles|Club_Play_Singles
Row 1 :1982|"He's Gonna Take You Home"|Becket|―|―
Row 2 :1982|"Thanks to You"|Becket|#44|#1
Row 3 :1986|"Say It Again"|Spring|―|―
Query: which singles are newer? "thin line" or "say it again"?
Decompose query:

> Finished chain.

In [50]:
batch_pred[0]

{'query': 'which singles are newer? "thin line" or "say it again"?',
 'table': 'Sinnamon\nCol :Year|Name|Label|Hot_Black_Singles|Club_Play_Singles\nRow 1 :1982|"He\'s Gonna Take You Home"|Becket|―|―\nRow 2 :1982|"Thanks to You"|Becket|#44|#1\nRow 3 :1986|"Say It Again"|Spring|―|―',
 'text': 'what is the year of release for "thin line"?; what is the year of release for "say it again"?'}

In [27]:
def get_k_shot_with_answer(k: int=1):
    sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
            ]
    thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
    tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
    claims = ["was 2 be the fewest point that roger dutton / tony wright receive?"]
    # inds from test split
    examples_prompt = PromptTemplate(input_variables=["SQL", "table", "claim", "thought", "output"], template=
    """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Query: {claim}
Thought: {thought}
Answer: {output}
    """)
    examples_dict = dict(zip(["SQL", "table", "claim", "thought", "output"], [sqls[0], tables[0], claims[0], thoughts[0], '3']))
    prompt_template = FewShotPromptTemplate(
        examples=[examples_dict],
        example_prompt=examples_prompt,
        prefix="""Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the last question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format information. Do not repeat the question.
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {query}""",
        input_variables=["table", "query", "SQL", "information"],
)
    return prompt_template

In [ ]:
[' who finish in first place and who do not manage to get in the top 3?', 'How many skaters finished in the top 3?', ' Who finished in first place?']

In [22]:
table_loader_wiki = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
TableFormat(format='none', data=table_loader_wiki.dataset[95], use_sampling=True).format_html(table_loader_wiki.dataset[95]['caption'])

'<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th>  №</th><th>                      Title</th><th>  Directed_by_</th><th>  Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Stirrups and Hiccups"     </td><td>Gerry Chiniquy</td><td>1973       </td></tr>\n</tbody>\n</table>'

In [29]:
# def get_k_shot_with_aug(k: int=2):
#     table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)

#     inds = [3, 6, 260, 33]
#     Output_examples = [
#                        'team, goals_for',
#                        'year, game, platform_s',
#                        'name, population_density_km_2_, population_2011_census_'
#                        'leading_scorer, score, date']
#     linking_examples = ['the team -> team; the most goal for -> goals_for',
#                         'gamecube -> platform_s; gamecube game -> game; the first 3 year -> year;',
#                         'alberta -> name; population density -> population_density_km_2_; 4257744 less people -> population_2011_census_; 2011 -> population_2011_census_'
#                         'jason richardson -> leading_scorer; leading scorer -> score; month -> date; 23 point per game -> leading_scorer'
#     ]
#     examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
#     """
#     Table: {table}
#     Query: {claim}
#     Column linking: {linking}
#     Columns: {output}""")
#     num_k = 3
#     examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_nl_sep(table_loader.dataset[inds[i]]['table']['caption']),
#                                         "claim": table_loader.dataset[inds[i]]['statement'],
#                                         "linking": linking_examples[i],
#                                         # "summary": summary_examples[i],
#                                         "output": Output_examples[i]} for i in range(num_k)]
#     prompt_template = FewShotPromptTemplate(
#         examples=examples_dict,
#         example_prompt=examples_prompt,
#         prefix=
#         """
#     Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
#     Approach this task as follows:
#     Read the question thoroughly and list every possible link from query term to column in Table.
#     Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
#     # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
#     # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
#     # Here are some examples:""",
#         suffix=
#         """
#     Table: {table}
#     Query: {claim}
#     Column linking:
#     """,
#         input_variables=["table", "claim"],
# )
#     return prompt_template

def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
    table_loader_wiki = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    inds = [3, 6, 260, 33]
    Output_examples = [
                       'team, goals_for',
                       'year, game, platform_s',
                       'name, population_density_km_2_, population_2011_census_'
                       'leading_scorer, score, date']
    linking_examples = ['the team -> team, the most goal for -> goals_for',
                        'gamecube -> platform_s, gamecube game -> game, the first 3 year -> year',
                        'alberta -> name, population density -> population_density_km_2_, 4257744 less people -> population_2011_census_, 2011 -> population_2011_census_'
                        'jason richardson -> leading_scorer, month -> date, 23 point per game -> score'
    ]
    examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
    """
    Table: {table}
    Query: {claim}
    Column linking: {linking}
    Columns: {output}""")
    num_k = 2
    normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
    example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=False).get_sample_data(sample_type='random') for i in range(num_k)]
    examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
    examples_dict = [{"table": examples[i],
                                        "claim": table_loader.dataset[inds[i]]['statement'],
                                        "linking": linking_examples[i],
                                        # "summary": summary_examples[i],
                                        "output": Output_examples[i]} for i in range(num_k)]
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Stirrups and Hiccups"     </td><td>Gerry Chiniquy</td><td>1973       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader_wiki.dataset[95]['question'],
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title",
                                        # "summary": summary_examples[i],
                                        "output": "Title, Released_, Number"}])
#     examples_dict.extend([{"table": """<table>
# <thead>
# <tr><th>  Pick</th><th>       Player</th><th>              Team</th><th>  Position</th><th>                    School</th></tr>
# </thead>
# <tbody>
# <tr><td>24    </td><td>Alan Zinter  </td><td>New York Mets     </td><td>C         </td><td>University of Arizona     </td></tr>
# <tr><td>18    </td><td>Willie Greene</td><td>Pittsburgh Pirates</td><td>SS        </td><td>Jones County HS (Gray, GA)</td></tr>
# <tr><td>23    </td><td>Mo Vaughn    </td><td>Boston Red Sox    </td><td>1B        </td><td>Seton Hall University     </td></tr>
# </tbody>
# </table>""",
#                                     "claim": "was kiki jones picked before or after greg gohr?",
#                                     "linking": "kiki jones -> Player, picked before -> Pick, after -> Pick, greg gohr -> Player",
#                                     # "summary": summary_examples[i],
#                                     "output": "Player, Pick"}])
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
    # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
    # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
    # Here are some examples:""",
        suffix=
        """
    Table: {table}
    Extra information: {aug}
    Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template

pre_instruction_schema = PromptTemplate(input_variables=["table"], template="""
Instruction: Given the following table, you will add Metadata about the columns in the table.
Metadata includes:
- Numerical: consist digits and numerical symbols like decimal points or signs.
- Char: whether column content is a text or description.
- Date: whether the column content is datetime.

You need to output all the column names with metadata in angle brackets.
Example: name<Char> launched<Date> count<Numerical>

Table: {table}
Output:
""")

In [27]:
formatter.all_data['Winpercent']

0     .578
1      N/A
2      N/A
3     .351
4     .612
5     .500
6     .177
7     .333
8     .300
9     .491
10    .250
11    .274
12    .355
13    .515
14    .367
15    .579
16    .306
Name: Winpercent, dtype: object

In [113]:
task
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
summary_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
for i in range(len(table_loader.dataset)):
    sample = table_loader.normalize_table(table_loader.dataset[i])
    summary_aug, column_aug = summary_information.loc[sample['table']['id']]['summary'], summary_information.loc[sample['table']['id']]['column_description'] 
    if len(summary_aug) ==0 or len(column_aug) == 0:
        print(sample['id'])

In [ ]:
import os
from langchain_openai import AzureChatOpenAI
from utils import parse_output
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
summary_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
model = AzureChatOpenAI(
    openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
    azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
    temperature=0.01
)
outputs = []
for i in range(10):
    sample = table_loader.normalize_table(table_loader.dataset[i])

    summary_aug, column_aug = summary_information.loc[sample['table']['id']]['summary'], summary_information.loc[sample['table']['id']]['column_description'] 
    col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
    extra_col_info = []
    for i_c in range(len(col_names)):
        extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
    formatter = TableFormat(format='none', data=sample)



    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=False)
    batch_pred = llm_chain.batch([{
        "claim": sample['query'],
        'aug':  summary_aug + '\n'.join(extra_col_info),
        # "query": "how many of the seasons games were played in the gold coast convention centre?",
                                "table": TableFormat.format_html(data= formatter.get_sample_data(sample_type='random',k=5, query=sample['query'],),table_caption=sample['table']['caption'])}],)
    print(batch_pred[0]['text'])
    #                             "table": """table caption : 2008 - 09 nbl season.

In [19]:
from utils import parse_output
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False)
sample = table_loader.normalize_table(table_loader.dataset[1089])
k_shot_prompt = get_k_shot_with_aug()
formatter = TableFormat(format='none', data=sample)
llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=True)
summary_information = pd.read_csv(f"result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
schema_information = pd.read_csv(f"result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
composition_information = pd.read_csv(f"result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
summary_aug, column_aug = summary_information.loc[sample['table']['id']]['summary'], summary_information.loc[sample['table']['id']]['column_description'] 
col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
extra_col_info = []
for i_c in range(len(col_names)):
    extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
stage_1_batch_pred = llm_chain.batch([dict({
    'table': TableFormat.format_html(data=formatter.get_sample_data(),table_caption=sample['table']['caption']),
                                            # 'claim': sample['query'],
                                    'claim': sample['query'],
                                    'aug': ""
                                    # 'aug':  summary_aug + '\n'.join(extra_col_info),
                                    })], return_only_outputs=True)[0]['text']
# pred = llm_chain.batch([dict({"query": 'Who is one of the three nominees for a Drama Desk Award?'})])
# print(pred[0]['text'])
print(stage_1_batch_pred)

> Entering new LLMChain chain...
Prompt after formatting:

    Your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the table.
    Approach this task as follows，read the claim thoroughly and list every possible link from query term to column in Table. Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.


    Table: <table>
<caption>1986 - 87 north west counties football league</caption>
<thead>
<tr><th>  position</th><th>               team</th><th>  played</th><th>  drawn</th><th>  lost</th><th>  goals_for</th><th>  goals_against</th><th>  goal_difference</th><th>  points_1</th></tr>
</thead>
<tbody>
<tr><td>12        </td><td>ashton town        </td><td>24      </td><td>9      </td><td>11    </td><td>29         </td><td>39             </td><td>10               </td><td>15 2      </td></tr>
<tr><td>10        </td><td>padiham            </td><td>24      </td><td>8      </td><td>12    </td><td>35         </td><td>39             </td><td>4                </td><td>16        </td></tr>
<tr><td>1         </td><td>atherton collieries</td><td>24      </td><td>4      </td><td>4     </td><td>46         </td><td>22             </td><td>+ 24             </td><td>36        </td></tr>
</tbody>
</table>
    Query: the team with the most goal for in the 1986 - 87 north west county football league be flixton
    Column linking: the team -> team, the most goal for -> goals_for
    Columns: team, goals_for


    Table: <table>
<thead>
<tr><th>  Pick</th><th>       Player</th><th>              Team</th><th>  Position</th><th>                    School</th></tr>
</thead>
<tbody>
<tr><td>24    </td><td>Alan Zinter  </td><td>New York Mets     </td><td>C         </td><td>University of Arizona     </td></tr>
<tr><td>18    </td><td>Willie Greene</td><td>Pittsburgh Pirates</td><td>SS        </td><td>Jones County HS (Gray, GA)</td></tr>
<tr><td>23    </td><td>Mo Vaughn    </td><td>Boston Red Sox    </td><td>1B        </td><td>Seton Hall University     </td></tr>
</tbody>
</table>
    Query: was kiki jones picked before or after greg gohr?
    Column linking: kiki jones -> Player, picked before -> Pick, after -> Pick, greg gohr -> Player
    Columns: Player, Pick


    Table: <table>
<caption>Cheltenham Town F.C.</caption>
<thead>
<tr><th>     Year</th><th>  Kit_Manufacturer</th><th>   Shirt_Sponsor</th><th>  Back_of_Shirt_Sponsor</th><th>  Short_Sponsor</th></tr>
</thead>
<tbody>
<tr><td>1977–1978</td><td>                  </td><td>National Express</td><td>                       </td><td>               </td></tr>
<tr><td>1982–1985</td><td>Umbro             </td><td>                </td><td>                       </td><td>               </td></tr>
<tr><td>1991–1993</td><td>Technik           </td><td>Gulf Oil        </td><td>                       </td><td>               </td></tr>
</tbody>
</table>
    Extra information:
    Query: which kit manufacturer came next after umbro?

> Finished chain.
    Column linking: kit manufacturer -> Kit_Manufacturer, came next after -> Year
    Columns: Kit_Manufacturer, Year

In [35]:
from utils import parse_output
def scene_A(query, sample, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    k_shot_prompt = get_k_shot_with_aug()
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        if pd.isna(summary_aug):
            summary_aug = ''
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            # formatter.all_data = formatter.all_data.loc[:, columns]
            sample_data = sample_data.loc[:, columns]
            # sample_data = sample_data.reset_index()
        except:
            pass
        extra_information = '\n'.join(parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + extra_information
                                            })], return_only_outputs=True)[0]['text']
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, formatter.all_data, table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data), cb.total_tokens

In [12]:
inds = [0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
        49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
        82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
       124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
       167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
       200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
       251]

In [30]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

In [31]:
from typing import List
import os
import json
def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

### RUN

In [9]:
acc = 0
non_equal = []
for ind, (pred, gold) in enumerate(zip(ttt, labels )):
            if pred == str(gold):
                acc += 1
            else:
                non_equal.append(ind)

In [11]:
print(non_equal)

[1, 8, 11, 14, 22, 26, 29, 37, 38, 40, 47, 49, 50, 56, 57, 59, 63, 65, 66, 68, 72, 76, 78, 82, 84, 87, 88, 90, 95, 96, 99]

In [8]:
[0, 1, 3, 14, 22, 38, 40, 42, 43, 44, 47, 49, 50, 51, 53, 59, 61, 63, 68, 69, 72, 74, 75, 76, 78, 80, 82, 83, 89, 91, 92, 98, 99]

[0, 1, 3, 14, 22, 25, 33, 38, 40, 42, 43, 44, 47, 49, 50, 51, 53, 59, 61, 63, 68, 69, 72, 74, 75, 76, 78, 80, 82, 83, 89, 91, 92, 98, 99]

In [13]:

1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 
40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72,
79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100,
108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 
136, 137, 139, 140, 141, 144, 145, 148, 158, 167,
169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 
220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 
246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 
281, 282, 283, 286, 287, 294, 296

[1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72, 79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100, 108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 136, 137, 139, 140, 141, 144, 145, 148, 158, 167, 169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 281, 282, 283, 286, 287, 294, 296]

In [30]:
print(data.iloc[25, :]['preds'])

To verify the claim, we need to look at the sub-table and check if there are at least 3 people who tie for fifth place and are from the United States.

Since we do not have access to the sub-table, we cannot directly verify the claim. However, based on the SQL query provided, we can infer that the query is filtering for players who are in fifth place and from the United States. Therefore, if the query returns at least 3 players, then the claim is true.

So, based on the logic of the SQL query, if the query returns at least 3 players, the claim is true. If not, the claim is false.

Therefore, we cannot definitively determine the truth of the claim without the sub-table.

In [27]:
data.head()

,table_name,extra_information,preds,token
0,1-29063233-1.html.csv,"The episode ""The Nightmare Begins"" happened ea...","To verify the claim that the episode ""Sweet Dr...",4077
1,1-29063233-1.html.csv,NaN,"To verify the claim that ""David Moore directed...",4338
2,1-29063233-1.html.csv,"The episode of ""The Lady of the Lake"" with the...",The SQL query is filtering the table DF to onl...,4469
3,1-29063233-1.html.csv,Cannot get answer from sub-table.,The SQL query is filtering the table DF to onl...,3912
4,1-29063233-1.html.csv,Beauty and the Beast (part 2) has more UK view...,The SQL query retrieves the titles and UK view...,4182

In [7]:
import  pandas as pd
data = pd.read_csv('./result/answer/tabfact_zh_04-25_15-42-17.csv')

ttt = eval_blury_string(data['preds'])
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
labels = []
for i in range(100):
    labels.append(table_loader.dataset[i]['label'])

In [19]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [13]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)
# args_list = [{"query": 'Who took the loss in the game on August 30 and who suffered the loss in the game on August 31?', "sample": sample},{"query": sample['query'], "sample": sample}]
# args_list = [{"query": q, "sample": sample} for q in all_queries]

# results = parallel_run_kwargs(scene_A, args_list)
# print(results)
# print(cb.total_tokens)

In [ ]:
muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
                                    template="""
Below are some sub-tables generated by excuting the SQL. You need to understand the logic behind the SQL filtering. Complete task using all information below. 
{information}
Query: {query}
verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step.
""" )
temp = [f"""
SQL Excuted: 
```{res[1]}```
Sub-table: {res[2]}""" for res in results]
muilti_answer_instruction = get_k_shot_with_answer()
llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
batch_pred = llm_chain.batch([{"query": sample['query'], "information": '\n'.join(temp)}], return_only_outputs=True)

In [35]:
def scene_B():
    agent_prompt = ChatPromptTemplate.from_messages(
    [
        (
            "system",
            """Based on the history information, your task is to only based on the conversation information to answer the user query.
    If you cannot get the answer from past history, reorganize the question and return the question explicitly. If you are confident in the answer, answer it directly.""",
        ),
        MessagesPlaceholder(variable_name="chat_history"),
    ]
)
    chain = LLMChain(llm=model, prompt=agent_prompt, verbose=True)
    return chain.invoke(
    {
        "chat_history": Agent_history.messages,
    }
)['text']
    
    #维护一个Agent Memory
Agent_history = []
agent_prompt = ChatPromptTemplate.from_messages(
    [
        # (
        #     "system",
        #     """"""
            
        #     # return 'A' if you think you need more information, else return 'B'. You should only use information during the conversation.,
        # ),
        MessagesPlaceholder(variable_name="chat_history"),
    ]
)
system =  PromptTemplate(input_variables=["history"], template="""Based on the history information, your task is to only based on the conversation information to answer the user query. 
Note: Do not use information on your own, only use information from the conversation history!

conversation histroy:
{history}

The output should choose from Choice A and Choice B:
Choice A: ###If you cannot get the answer from conversation histroy, reorganize the question and return the question explicitly.
Choice B: ###If you are confident in the answer, answer it directly.""")
chain = LLMChain(llm=model, prompt=system, verbose=True)
Agent_history.append('Q: Who were the winners of the lifetime achievement award after 2005?')
# Agent_history.append('A: the winners are andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle')
# Agent_history.append('Q: Are the winners andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle?')

In [ ]:
import concurrent.futures
 
def outer_task(url):
   # 外层任务
   print(f"Processing {url}")
   # 内部再次使用线程池
   with concurrent.futures.ThreadPoolExecutor(max_workers=2) as executor:
       # 执行一些依赖于外层任务的结果的并行操作
       inner_results = [executor.submit(inner_task, f"{url}_{i}") for i in range(2)]
       # 等待内部任务完成并收集结果
       return [r.result() for r in inner_results]
 
def inner_task(url):
   # 内层任务
   print(f"Inner task for {url}")
   # 这里可以执行一些操作，比如I/O密集型的任务
   return f"Result for {url}"
 
if __name__ == "__main__":
   # 创建线程池
   with concurrent.futures.ThreadPoolExecutor(max_workers=2) as executor:
       # 提交外层任务到线程池
       outer_results = [executor.submit(outer_task, f"http://example.com/{i}") for i in range(2)]
       # 等待外层任务完成并收集结果
       for future in concurrent.futures.as_completed(outer_results):
           print(future.result())

## 调整extrainformation的位置

In [21]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the SQL. You need to understand the logic behind the SQL filtering and complete task using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, concise statement in response to the question. If you cannot answer the question based on the sub-table, just say 'Cannot get answer from sub-table'
""" )
def scene_B(query, sample, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}
Query: {claim}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    sample_data = formatter.get_sample_data(sample_type='embedding', query=query)
    # get columns
    k_shot_prompt = get_k_shot_with_aug()
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        # if pd.isna(summary_aug):
        #     summary_aug = ''
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            sample_data = sample_data.loc[:, columns]
        except:
            pass
        extra_information = '\n'.join(parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + extra_information
                                            })], return_only_outputs=True)[0]['text']
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, formatter.all_data, table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [57]:
from langchain_openai import AzureChatOpenAI
import os

os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
model = AzureChatOpenAI(
    openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
    azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
    temperature=0.01
)

In [16]:
len(table_loader.dataset)

300

In [64]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
from FlagEmbedding import FlagReranker
from openai import BadRequestError
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.01)
save_path = f"result/answer/wikitable_zh_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
save_path = f"result/answer/wikitable_zh_05-07_09-21-03.csv"
reranker = FlagReranker('BAAI/bge-reranker-large', use_fp16=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Think step by step and answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
""" )
# Task: answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
# Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.


# muilti_answer_instruction = get_k_shot_with_answer()
# for sample_n in range(3):
tokens = []
outputs = []
labels = []
ids = []
samplings = []
i = 2230
while i < len(table_loader.dataset):
    try:
        sample = table_loader.normalize_table(
                            table_loader.dataset[i])
        all_tokens = 0
        all_queries = []
        formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
        sample_data = formatter.get_sample_data(sample_type='embedding', query=sample['query'])
        with get_openai_callback() as cb:
            llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
            batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
            all_queries.append(batch_pred[0]['text'].strip())
            llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
            batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
            all_queries.extend(batch_pred[0]['text'].split(';'))
            # print(all_queries)
        all_tokens += cb.total_tokens
        args_list = [{"query": q, "sample": sample} for q in all_queries if reranker.compute_score([(q, sample['query'])], normalize=True) < 0.95]
        # print(len(args_list))
        ans_from_B = parallel_run_kwargs(scene_B, args_list)
        results = [res[0] for res in ans_from_B if res[0] != 'Cannot get answer from sub-table']
        all_tokens += sum([res[1] for res in ans_from_B])
        #With answer
        with get_openai_callback() as cb:
            imp_input = scene_A(sample['query'], sample, False)
            llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=False)
            batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
        print(batch_pred[0])
        all_tokens += cb.total_tokens
        print('ALL TOKENS', all_tokens)
        ids.append(sample['id'])
        labels.append(sample['query'])
        outputs.append(batch_pred[0]['text'])

        if (i + 1) % 10 == 0:
            print(f'saving {i}')
            save_csv([outputs, labels, ids, samplings], ['preds', 'statements','ids', 'sample_n'], file_path=save_path)
            outputs = []
            labels = []
            ids = []
        i += 1
    except ValueError as e:
        print(f'******************Value Error {i}****************************')
        i += 1
    except BadRequestError as e:
        print('*************************Bad Request**************')
        i += 1
#With no answer
# temp = [f"""
# SQL Excuted for extra information: 
# ```{res[1]}```
# Sub-table for extra information: {res[2]}""" for res in results if res[2] != 'No data from database']
# imp_input = scene_A(sample['query'], sample, False)
# llm_chain = LLMChain(llm=model, prompt=muilti_answer_instruction, verbose=True)
# batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(temp)}], return_only_outputs=True)
# print(batch_pred[0])
# outputs.append(batch_pred[0]['text'])

----------using 4*GPUs----------
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
{'text': 'Thought: The maximum volume of any engine is 5.4L.\nAnswer: 5.4L'}
ALL TOKENS 3651
{'text': 'Thought: The top speed of all trains was 96.6 km/h (60 mph).\nAnswer: 96.6\xa0km/h (60\xa0mph)'}
ALL TOKENS 5921
*************************Bad Request**************
{'text': 'Thought: The SQL query filters the cities listed in the table to only include those that contain the letter "p" and then counts the total number of cities that meet this criteria. \nAnswer: 3'}
ALL TOKENS 2855
{'text': 'Thought: The SQL query counts the number of rounds in the 2008 schedule and returns the total number of rounds as 12.\nAnswer: 12'}
ALL TOKENS 3247
{'text': 'Thought: The SQL query filters the table to only include the models "Fiat 500 1.2 POP" and "Mini Cooper COUPE 6M 3DR 1.6L" and their corresponding mpg_US_gallons. The mpg for the Fiat 500 1.2 POP is 46, and the mpg for the Mini Cooper COUPE 6M 3DR 1.6L is 39.2. Therefore, the Fiat 500 1.2 POP gets better mpg than the Mini Cooper COUPE 6M 3DR 1.6L.\nAnswer: Fiat 500 1.2 POP'}
ALL TOKENS 7067
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
{'text': 'Thought: Based on the SQL query provided, there are 0 engine variations that produced 210 kW of power.\nAnswer: 0'}
ALL TOKENS 6644
{'text': 'Thought: The first season took place in 2004.\nAnswer: 2004'}
ALL TOKENS 2772
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
Unknown Date format 0    1996–2001
1    1996–2001
2    1994–1996
3    1994–1996
4    1994–1997
Name: Years_produced, dtype: object
{'text': 'Thought: Based on the SQL query provided, the model that comes after the 725tds on the chart is 730d.\nAnswer: 730d'}
ALL TOKENS 3599
{'text': 'Thought: The only website related to biology is "Ask A Biologist."\nAnswer: Ask A Biologist'}
ALL TOKENS 6818
saving 2239
{'text': 'Thought: The first episode was "Going Up!"\nAnswer: Going Up!'}
ALL TOKENS 1054
{'text': 'Thought: There is no data available for the team that finished first in the past season in the sub-table.\nAnswer: No data from database'}
ALL TOKENS 5315
{'text': 'Thought: Based on the SQL query provided, Brendan Jones won by a higher margin of victory on November 11, 2007, with a margin of 5 strokes. \nAnswer: November 11, 2007'}
ALL TOKENS 8413
{'text': 'Thought: Based on the SQL query provided, the population of Bucharest in 2011 was not at least 2,000,000. The population was 1,883,420.\nAnswer: No'}
ALL TOKENS 3130
{'text': 'Thought: Based on the SQL query provided, there was 1 participant in heat 2 who had a time that was under 50 seconds.\nAnswer: 1'}
ALL TOKENS 4833
Unknown Date format 0    November 10
1    November 17
2    November 23
3     December 1
4    December 14
Name: Date, dtype: object
Unknown Date format 0    November 10
1    November 17
2    November 23
3     December 1
4    December 14
Name: Date, dtype: object
{'text': 'Thought: The attendance for the Toros Mexico vs. Turlock Express game was 218.\nAnswer: 218'}
ALL TOKENS 3312
{'text': 'Thought: The SQL query is counting the number of titles that were released before the year 2010. There are 6 titles that were released prior to 2010.\nAnswer: 6'}
ALL TOKENS 3446
{'text': 'Thought: There is no data from the database that matches the query. \nAnswer: No data from database'}
ALL TOKENS 4733
{'text': 'Thought: The film "Starship Troopers" was the number one at the UK box office in the first week of January 1998. \nAnswer: Starship Troopers'}
ALL TOKENS 2904
{'text': 'Thought: The total number of wins was 12.\nAnswer: 12'}
ALL TOKENS 4920
saving 2249
{'text': 'Thought: The SQL query is incorrect. It is not possible for the recipient to be both "U&I" and "Ailee" at the same time. \nAnswer: 0'}
ALL TOKENS 4881
{'text': 'Thought: The SQL query filters the engine brands that were not used in 2013 from the table. The engine brands that were not used in 2013 are Oldsmobile, Toyota, and Honda.\nAnswer: Oldsmobile, Toyota, Honda'}
ALL TOKENS 4568
{'text': 'Thought: Based on the SQL query provided, the tournaments with a margin of victory of at most 1 stroke are the Philip Morris K.K. Championship and the Sun Chlorella Classic.\nAnswer: Philip Morris K.K. Championship, Sun Chlorella Classic'}
ALL TOKENS 4306
{'text': 'Thought: The SQL query counts the number of winners who won over $150,000. The result is 21 winners who won over $150,000.\nAnswer: 21'}
ALL TOKENS 3967
{'text': 'Thought: Based on the SQL query provided, the Democratic party had the most female candidates with a count of 4.\nAnswer: Democratic'}
ALL TOKENS 4565
{'text': 'Thought: Based on the SQL query provided, the team that scored the least but still won was Pakistan. \nAnswer: Pakistan'}
ALL TOKENS 3404
{'text': 'Thought: The SQL query filters the seasons where the number of races is greater than or equal to 10. The seasons that had at least 10 races are 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, and 2013.\nAnswer: 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013'}
ALL TOKENS 3442
{'text': 'Thought: The SQL query counts the number of singles between 1982 and 1987 and returns a count of 7.\nAnswer: 7'}
ALL TOKENS 4641
{'text': 'Thought: The Badgers played against #8 Stanford first this season.\nAnswer: vs. #8 Stanford'}
ALL TOKENS 5110
{'text': 'Thought: The route number that goes from Chingford National Rail to Ilford Hainault Street is 179.\nAnswer: 179'}
ALL TOKENS 5159
saving 2259
{'text': 'Thought: The SQL query orders the drivers by position in descending order and then selects the first driver from the list, which would be the driver who came in last place.\nAnswer: Paul Tracy'}
ALL TOKENS 5188
{'text': 'Thought: The age difference between the winner and the runner up is 15.\nAnswer: 15'}
ALL TOKENS 4693
{'text': 'Thought: The SQL query is looking for the TV show with the most episodes. The TV show "Sister, Sister" has the most episodes, with 119 episodes. \nAnswer: Sister, Sister'}
ALL TOKENS 1004
{'text': 'Thought: The rider who had the most points was Loris Capirossi.\nAnswer: Loris Capirossi'}
ALL TOKENS 3363
{'text': 'Thought: The next coach to lead the Dallas Cowboys to a championship after Tom Landry was Jimmy Johnson.\nAnswer: Jimmy Johnson'}
ALL TOKENS 7462
{'text': 'Thought: The SQL query is filtering the data to count the number of times the Korean under-17 team scored at least 1 goal in competition in 2008. However, the sub-table does not provide the necessary information to answer the question. \nAnswer: Cannot get answer from sub-table.'}
ALL TOKENS 2988
{'text': 'Thought: The combined point score of the American drivers is 19.\nAnswer: 19'}
ALL TOKENS 4908
{'text': 'Thought: The SQL query filters the table to only show the work that Inoue won after 2007. The work that Inoue won an award for the second time after winning one in 2007 is "Hana Yori Dango 2".\nAnswer: Hana Yori Dango 2'}
ALL TOKENS 6640
{'text': 'Thought: Based on the SQL query provided, the player who scored the most goals in the matches listed is Xiao Zhanbo with 1 goal.\nAnswer: Xiao Zhanbo'}
ALL TOKENS 5191
Unknown Date format 0    1991-current
1         1993-94
2            1994
3         1997-97
4            1997
Name: Years_of_Operation, dtype: object
Unknown Date format 0    1991-current
1         1993-94
2            1994
3         1997-97
4            1997
Name: Years_of_Operation, dtype: object
Unknown Date format 0    1991-current
1         1993-94
2            1994
3         1997-97
4            1997
Name: Years_of_Operation, dtype: object
{'text': 'Thought: The total number of clients in Field 103 and SOC fields is 3.\nAnswer: 3'}
ALL TOKENS 4766
saving 2269
{'text': 'Thought: The largest area in square km is 85153.\nAnswer: 85153'}
ALL TOKENS 1135
{'text': 'Thought: The SQL query filters for cities with an area of at least 20,000 sq km and a population over 5,000,000. The city of Giza meets these criteria.\nAnswer: Giza'}
ALL TOKENS 4901
{'text': 'Thought: The sub-table shows that she has won 10 Best Actress awards and 0 Best Newcomer awards. Therefore, she has won more Best Actress awards than Best Newcomer awards.\nAnswer: Best Actress'}
ALL TOKENS 6349
{'text': 'Thought: The SQL query filters the data to only include countries with 0 bronze medals and are not the total. The count of these countries is 5.\nAnswer: 5'}
ALL TOKENS 3376
{'text': 'Thought: The SQL query is asking to compare which region has the best buffer zone. The region with the best buffer zone is Presov with 63.9 ha.\nAnswer: Presov, 63.9'}
ALL TOKENS 3492
{'text': 'Thought: Based on the SQL query provided, the total number of awards won in which the recipient was herself is 9. \nAnswer: 9'}
ALL TOKENS 2910
{'text': 'Thought: The SQL query orders the titles of the episodes by their original air date in descending order and then selects the first title, which is "Home Again". This means that "Home Again" was the title of the last episode.\nAnswer: "Home Again"'}
ALL TOKENS 6967
{'text': 'Thought: The player who scored more than 2 goals in the FIFA Confederations Cup is Aloisi.\nAnswer: Aloisi'}
ALL TOKENS 6736
{'text': 'Thought: There is no date recorded for a 0-0 score in the database.\nAnswer: No data from database'}
ALL TOKENS 2933
{'text': 'Thought: The query is looking for the nation that received the same number of gold medals as Canada. The sub-table shows that Hungary also received 1 gold medal, which is the same as Canada.\nAnswer: Hungary'}
ALL TOKENS 2785
saving 2279
{'text': "Thought: The SQL query is trying to find the route number listed before the 'Woodford Wells to Leytonstone Station' route. The route number listed before route 123 is 101.\nAnswer: 101"}
ALL TOKENS 3753
{'text': "Thought: The only player to score one point in the league cup is John O'Flynn.\nAnswer: John O'Flynn"}
ALL TOKENS 3056
{'text': 'Thought: The next listed format after the combination field is the Exponent continuation field (bits).\nAnswer: Exponent continuation field (bits)'}
ALL TOKENS 2769
{'text': 'Thought: The query calculates the difference between the maximum and minimum total scores in the table. The difference in score of the first place team and the 3rd place team is 139.\nAnswer: 139'}
ALL TOKENS 5513
Unknown Date format 0       19-22 Mar
1         1-3 May
2       10-12 Jul
3    31 Jul-Aug 2
4       21-23 Aug
Name: Date, dtype: object
Unknown Date format 0       19-22 Mar
1         1-3 May
2       10-12 Jul
3    31 Jul-Aug 2
4       21-23 Aug
Name: Date, dtype: object
Unknown Date format 0       19-22 Mar
1         1-3 May
2       10-12 Jul
3    31 Jul-Aug 2
4       21-23 Aug
Name: Date, dtype: object
{'text': 'Thought: The SQL query orders the events by round and selects the first event in the 2009 season, which was the Clipsal 500.\nAnswer: Clipsal 500'}
ALL TOKENS 4797
Unknown Date format 0    4 December 1916 @ 1100 hours
1      24 April 1917 @ 0840 hours
2         2 May 1917 @ 0945 hours
3        11 May 1917 @ 1950 hours
4        11 May 1917 @ 1950 hours
Name: Date_time, dtype: object
Unknown Date format 0    4 December 1916 @ 1100 hours
1      24 April 1917 @ 0840 hours
2         2 May 1917 @ 0945 hours
3        11 May 1917 @ 1950 hours
4        11 May 1917 @ 1950 hours
Name: Date_time, dtype: object
{'text': 'Thought: The date of the first aerial victory was 11 May 1917 at 1950 hours.\nAnswer: 11 May 1917 @ 1950 hours'}
ALL TOKENS 3216
{'text': 'Thought: The last station on the list is Woodman.\nAnswer: Woodman'}
ALL TOKENS 3264
{'text': 'Thought: The SQL query counts the number of results in the table and returns the value 19.\nAnswer: 19'}
ALL TOKENS 3726
Unknown Date format 0             Present
1        23 June 2012
2        18 June 2012
3    30 December 2011
4        27 July 2010
Name: To, dtype: object
Unknown Date format 0             Present
1        23 June 2012
2        18 June 2012
3    30 December 2011
4        27 July 2010
Name: To, dtype: object
{'text': 'Thought: Based on the SQL query provided, there were no coaches with a nationality other than Denmark. All the coaches in the database have Danish nationality.\nAnswer: No coaches had a nationality other than Denmark.'}
ALL TOKENS 3188
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
{'text': 'Thought: The United States last had the tallest building from 1931 to 1967.\nAnswer: 1931–1967'}
ALL TOKENS 5095
saving 2289
{'text': 'Thought: The pick number for Roberts was 83, and the pick number for Johnson was 15. Therefore, Johnson was picked higher than Roberts.\nAnswer: Johnson'}
ALL TOKENS 4647
{'text': 'Thought: Based on the SQL query provided, Germany has 2 rowing world records.\nAnswer: 2'}
ALL TOKENS 3389
{'text': 'Thought: The SQL query filters the table to only include the representatives Florence Prag Kahn and Julius Kahn. It then calculates the maximum years served for each representative. Julius Kahn served the longest with a total of 18 years.\nAnswer: Julius Kahn'}
ALL TOKENS 6672
{'text': 'Thought: Based on the SQL query provided, Sadsbury Township is located in 3 counties. The names of the counties in which Sadsbury Township is located are Chester County, Crawford County, and Lancaster County.\nAnswer: 3'}
ALL TOKENS 4696
{'text': 'Thought: The query filters the table to only include results where the Cowboys lost and the date is before November 27th. It then counts the number of losses that meet these criteria. The count of losses the Cowboys had before November 27th was 2.\nAnswer: 2'}
ALL TOKENS 5155
Unknown Date format 0     December 17, 1818
1    September 12, 1822
2      January 30, 1824
3      December 3, 1828
4      December 7, 1831
Name: Left_office, dtype: object
Unknown Date format 0     December 17, 1818
1    September 12, 1822
2      January 30, 1824
3      December 3, 1828
4      December 7, 1831
Name: Left_office, dtype: object
Unknown Date format 0     December 17, 1818
1    September 12, 1822
2      January 30, 1824
3      December 3, 1828
4      December 7, 1831
Name: Left_office, dtype: object
Unknown Date format 0     December 17, 1818
1    September 12, 1822
2      January 30, 1824
3      December 3, 1828
4      December 7, 1831
Name: Left_office, dtype: object
{'text': 'Thought: The average number of members in the Whig party is 7.\nAnswer: 7'}
ALL TOKENS 6790
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
Unknown Date format 0    2570 BC–1311
1       1311–1549
2       1549–1647
3       1647–1874
4       1874–1876
Name: Held_record, dtype: object
{'text': 'Thought: Based on the sub-table, there is 1 entry in the original table that exists in Russia.\nAnswer: 1'}
ALL TOKENS 7202
Unknown Date format 0    February 7 All-Filipino Cup
1                    February 11
2                    February 16
3                    February 28
4                        March 3
Name: DATE, dtype: object
Unknown Date format 0    February 7 All-Filipino Cup
1                    February 11
2                    February 16
3                    February 28
4                        March 3
Name: DATE, dtype: object
Unknown Date format 0    February 7 All-Filipino Cup
1                    February 11
2                    February 16
3                    February 28
4                        March 3
Name: DATE, dtype: object
Unknown Date format 0    February 7 All-Filipino Cup
1                    February 11
2                    February 16
3                    February 28
4                        March 3
Name: DATE, dtype: object
{'text': 'Thought: The SQL query is ordering the total points scored by each player in descending order and then limiting the output to the top result. The top scorer was Tony Lang with 29 total points.\nAnswer: Lang'}
ALL TOKENS 6598
{'text': 'Thought: The first date on the top of the list is October 10, 2013.\nAnswer: 2013-10-10'}
ALL TOKENS 6787
{'text': 'Thought: Based on the SQL query provided, there were a total of 12 clubs in the 2011-2012 UEFA Europa League. The club FK Budućnost participated in the event.\nAnswer: 12'}
ALL TOKENS 4857
saving 2299
{'text': 'Thought: The SQL query filters the opponents of Marcos Pizzelli where he scored more than 1 goal, and the opponents are not Armenia, Andorra, or Macedonia. The result shows that he has scored multiple goals in Canada and Russia.\nAnswer: Canada, Russia'}
ALL TOKENS 3757
{'text': 'Thought: Based on the SQL query provided, 20 teams raced on Firestone tires.\nAnswer: 20'}
ALL TOKENS 3743
{'text': 'Thought: Based on the SQL query provided, India was the opposing team 26 times.\nAnswer: 26'}
ALL TOKENS 3866
{'text': 'Thought: The number of cities in the South district is 12.\nAnswer: 12'}
ALL TOKENS 3293
{'text': 'Thought: The song "Romeo" hit the highest chart position, reaching number 6 on the Billboard Hot 100.\nAnswer: "Romeo"'}
ALL TOKENS 3515
Unknown Date format 0        1531
1    776 B.C.
2        1891
3        1860
4        1946
Name: When, dtype: object
Unknown Date format 0        1531
1    776 B.C.
2        1891
3        1860
4        1946
Name: When, dtype: object
{'text': 'Thought: Based on the SQL query provided, there are 6 robots from before the year 1 AD.\nAnswer: 6'}
ALL TOKENS 4663
{'text': "Thought: The SQL query is trying to find the builder that comes before 'Camel Laird' in the chart. However, the logic used in the query is incorrect. It is trying to subtract 1 from 'Camel Laird', which is not a valid operation. \nAnswer: No data from database"}
ALL TOKENS 5616
{'text': 'Thought: The singer of the prabandham with sl_no 10 is Thirumangai alvar. The singer of the prabandham with sl_no 22 is Thirumangai alvar. The singer of the prabandham with sl_no 23 is Aandaal. Therefore, the next singer after Periyalvar is Aandaal.\nAnswer: Aandaal'}
ALL TOKENS 4991
{'text': 'Thought: The SQL query filters the table to only return the name of the diver with rank 10, which is Olena Fedorova. Brittany Broben is ranked 20, so the diver before her would be Olena Fedorova.\nAnswer: Olena Fedorova'}
ALL TOKENS 4943
{'text': 'Thought: The SQL query groups the teams and counts the number of distinct drivers for each team. It then filters the results to only include teams that have at least three drivers. The resulting table shows the teams that had at least three drivers, which are DAMS, Eifelland Racing, EuroInternational, Fortec Motorsport, and Josef Kaufmann Racing. Therefore, there are 5 teams that had at least three drivers each for the 2010 Formula BMW Europe season.\nAnswer: 5'}
ALL TOKENS 2871
saving 2309

KeyboardInterrupt:

In [62]:
i

2232

In [ ]:
46: west berkshire brewery 's maggs magnificent mild be its most decorate beer between 1995 and 2009

In [29]:
20 ：Based on the information provided, the SQL query filtered for records where the place starts with 't9' and the country is 'united states'. The result of the query shows that there are 3 people who meet these criteria. However, the extra information states that there were actually 4 people who tied for ninth place, and all of them were from the United States.\n\nTherefore, the provided claim/query is false. The correct number of people from the United States who tied for ninth place is 4, not 3. \n\nFinal answer: 0
88: To verify whether the term start for Bashkim Fino is after the term start for Vilson Ahmeti, we need to compare the dates mentioned in the sub-table. From the sub-table:\n- Vilson Ahmeti's term started on December 10, 1991.\n- Bashkim Fino's term started on March 11, 1997.\n\nSince December comes before March in the calendar year, it is evident that Vilson Ahmeti's term started before Bashkim Fino's term. Therefore, the claim that the term start for Bashkim Fino is after the term start for Vilson Ahmeti is FALSE.\n\nHence, the answer is 0
72:To verify the claim that the gap between the first and last player being a total of 58.04 is true, we need to calculate the difference between the points of the first and last player based on the given information.\n\nGiven:\n- Total gap between the first and last rank is 18.\n- Rank of the first player is 1.\n- Rank of the last player is 19.\n\nLet's calculate the points difference between the first and last player:\npoints difference = (points of last player) - (points of first player)\n\nSince the total gap between the first and last rank is 18, we can calculate the points difference as follows:\npoints difference = 18 * (MAX(points) - MIN(points))\n\nGiven that the calculated point gap from the sub-table is 58.04, we can substitute this value into the formula:\n18 * 58.04 = 1044.72\n\nTherefore, the claim that the gap between the first and last player being a total of 58.04 is false.\n\nFinal answer: 0
76:The SQL query filters for competitors from France with a rank less than 5. Since the sub-table generated from the query shows no data, it means that there were no competitors from France who finished better than 5th place. \n\nTherefore, the provided claim that France's competitors all finished better than 5th place is TRUE.\n\nFinal answer: 1

SyntaxError: invalid character '：' (U+FF1A) (3998830562.py, line 1)

In [ ]:
1, 3, 11, 12, 13, 14, 16, 20, 22, 26, 34, 38, 
40, 41, 42, 44, 47, 50, 53, 56, 64, 65, 69, 72,
79, 80, 82, 83, 84, 88, 90, 91, 92, 95, 98, 100,
108, 110, 113, 116, 119, 121, 122, 123, 125, 133, 
136, 137, 139, 140, 141, 144, 145, 148, 158, 167,
169, 174, 176, 177, 179, 181, 185, 191, 200, 201, 210, 
220, 223, 225, 226, 227, 228, 229, 231, 238, 240, 241, 
246, 251, 254, 255, 256, 265, 269, 270, 272, 274, 280, 
281, 282, 283, 286, 287, 294, 296

In [30]:
print(data.iloc[88, :]['preds'])

To verify whether the term start for Bashkim Fino is after the term start for Vilson Ahmeti, we need to compare the dates mentioned in the sub-table.

From the sub-table:
- Vilson Ahmeti's term started on 10th December 1991.
- Bashkim Fino's term started on 11th March 1997.

Since 10th December 1991 comes before 11th March 1997, the claim that the term start for Bashkim Fino is after the term start for Vilson Ahmeti is FALSE.

Therefore, the answer is 0.

In [15]:
from dateutil import parser
import datetime
def parse_datetime(date_string):
    parsed_date = parser.parse(date_string)
    if parsed_date is None or not all([parsed_date.year, parsed_date.month, parsed_date.day]):
        return date_string
    print(parsed_date)
    if parsed_date.year == datetime.datetime.now().year:
        normalized_date = datetime.datetime.strftime(parsed_date, "%m-%d")
    else:
        normalized_date = datetime.datetime.strftime(parsed_date, "%Y-%m-%d")
    return normalized_date

In [ ]:
result = [ ]
for i in range(len(table_loader.dataset)):
    sample = table_loader.normalize_table(table_loader.dataset[i])
    llm_chain = LLMChain(llm=model, prompt=stage_0_prompt, verbose=False)
    stage_0_batch_pred = llm_chain.batch([{"query": sample['query']}], return_only_outputs=True)[0]['text'].split(':')[-1]
    print(stage_0_batch_pred)
    sub_queries = stage_0_batch_pred.split(';')

    from langchain_community.callbacks import get_openai_callback
    Agent_history = ChatMessageHistory()
    agent_prompt = ChatPromptTemplate.from_messages(
        [
            (
                "system",
                """Based on the history information, your task is to determine whether the information is enough to answer the user query.
                return 'A' if you think you need more information, else return 'B'. You should only use information during the conversation.""",
            ),
            MessagesPlaceholder(variable_name="chat_history"),
        ]
    )
    chain = LLMChain(llm=model, prompt=agent_prompt, verbose=True)
    with get_openai_callback() as cb:
        for sub_query in sub_queries:
            Agent_history.add_user_message(sub_query)
            choice = chain.invoke(
            {
                "chat_history": Agent_history.messages,
            }
            )['text']
            if 'A' in choice:
                Agent_history.add_ai_message(scene_A(sub_query, sample))
            else:
                res = scene_B()
                print(res)
                result.append(res)
                
    print(cb.total_tokens)

In [16]:
import re
import string
import recognizers_suite
from recognizers_text import Culture, ModelResult
def str_normalize(user_input, recognition_types=None):
    """A string normalizer which recognize and normalize value based on recognizers_suite"""
    user_input = str(user_input)
    user_input = user_input.replace("\\n", "; ")

    def replace_by_idx_pairs(orig_str, strs_to_replace, idx_pairs):
        assert len(strs_to_replace) == len(idx_pairs)
        last_end = 0
        to_concat = []
        for idx_pair, str_to_replace in zip(idx_pairs, strs_to_replace):
            to_concat.append(orig_str[last_end : idx_pair[0]])
            to_concat.append(str_to_replace)
            last_end = idx_pair[1]
        to_concat.append(orig_str[last_end:])
        return ''.join(to_concat)

    if recognition_types is None:
        recognition_types = [
            "datetime",
            "number",
            "ordinal",
            "percentage",
            "age",
            "currency",
            "dimension",
            "temperature",
        ]
    culture = Culture.English
    for recognition_type in recognition_types:
        if re.match("\d+/\d+", user_input):
            # avoid calculating str as 1991/92
            continue
        recognized_list = getattr(
            recognizers_suite, "recognize_{}".format(recognition_type)
        )(
            user_input, culture
        )  # may match multiple parts
        strs_to_replace = []
        idx_pairs = []
        for recognized in recognized_list:
            if not recognition_type == 'datetime':
                recognized_value = recognized.resolution['value']
                if str(recognized_value).startswith("P"):
                    # if the datetime is a period:
                    continue
                else:
                    strs_to_replace.append(recognized_value)
                    idx_pairs.append((recognized.start, recognized.end + 1))
            else:
                if recognized.resolution:  # in some cases, this variable could be none.
                    if len(recognized.resolution['values']) == 1:
                        strs_to_replace.append(
                            recognized.resolution['values'][0]['timex']
                        )  # We use timex as normalization
                        idx_pairs.append((recognized.start, recognized.end + 1))

        if len(strs_to_replace) > 0:
            user_input = replace_by_idx_pairs(user_input, strs_to_replace, idx_pairs)

    if re.match("(.*)-(.*)-(.*) 00:00:00", user_input):
        user_input = user_input[: -len("00:00:00") - 1]
        # '2008-04-13 00:00:00' -> '2008-04-13'
    return user_input


def normalize_answer(s):
    def remove_articles(text):
        return re.sub(re.compile(r"\b(a|an|the)\b", re.UNICODE), " ", text)

    def whilt_space_fix(text):
        return " ".join(text.split())

    def remove_punc(text):
        exclude = set(string.punctuation)
        return "".join(ch for ch in text if ch not in exclude)

    def lower(text):
        return text.lower()

    return whilt_space_fix(remove_articles(remove_punc(lower(s))))

In [5]:
import string
import re
def normalize_answer(s):
    def remove_articles(text):
        return re.sub(re.compile(r"\b(a|an|the)\b", re.UNICODE), " ", text)

    def whilt_space_fix(text):
        return " ".join(text.split())

    def remove_punc(text):
        exclude = set(string.punctuation)
        return "".join(ch for ch in text if ch not in exclude)

    def lower(text):
        return text.lower()

    return whilt_space_fix(remove_articles(remove_punc(lower(s))))

In [37]:
'cahill' == 'cahill colosimo culina elrich griffiths skoko zdrilic'

False

In [17]:
str_normalize('Dmitry Mikhailovich Golitsyn served longer as an ambassador.')

'Dmitry Mikhailovich Golitsyn served longer as an ambassador.'

In [36]:
def compute_exact(a_gold, a_pred):
    return int(normalize_answer(a_gold) == normalize_answer(a_pred))
compute_exact('Cahill', 'Cahill, Colosimo, Culina, Elrich, Griffiths, Skoko, Zdrilic')

0

In [27]:
str_normalize(normalize_answer('Sopwith Triplane s/n N5460'))

'sopwith triplane sn n5460'

In [29]:
str_normalize('Cahill, Colosimo, Culina, Elrich, Griffiths, Skoko, Zdrilic')

'Cahill, Colosimo, Culina, Elrich, Griffiths, Skoko, Zdrilic'