### decompose


- 5.24早修改table format 空格\xa
- 5.24 下午修改str_normalize 
- 5.24 晚 72需要复查
- 5.25 早list query strip() 
- 5.27 修改total，尝试disambiguous/  改成PIPE  / 晚上发现列名重复修改的问题， 发现shot来自test的问题
- 5.29 在shot中添加extra
- 5.31 在选列aug的shot中添加extra
- 6.1 some extra infor may be useful
- 6.3 添val 101shot
- 6.5 规范化prompt

In [1]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [2]:
import pandas as pd
from utils import parse_specific_composition, add_row_number, parse_specific_composition_zh
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:0', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [3]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
                  "what was the time difference between the first place finisher and the eighth place finisher?",
                  "other than william stuart price, which other businessman was born in tulsa?",
                  "which canadian city had the most passengers traveling from manzanillo international airport in 2013?"
                  ]
new_query_examples = [
                      "what was the time for the first place finisher?; what was the time for the eighth place finisher?",
                      "was william stuart price born in tulsa?; who was born in tulsa?",
                      "how many passengers do each airline from canadian city have?; which canadian city had the most passengers?"
                      ]
num_k = 3
inds = [1, 11, 86]
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True, embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Sub-Table: {table}
Query: {query}
Decompose query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub-queries. Below is a sub-table with rows randomly sampled from the original table. Based on the sub-table, decompose the original query into 2-3 complete sub-queries that can solve the original query.""",
    suffix=
    """Sub-Table: {table}
Query: {query}
Decompose query: """,
    input_variables=["query", "table"],
)

In [72]:
task_name = 'wikitable'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
# model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.7).bind(logprobs=True)
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:////media/disk1/chatgpt/zh/tabular_data/db/sqlite/cell.db', echo=False)
manager = SQLManager(engine=engine)

In [5]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### disambiguous

In [6]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [5, 11, 46]
num_k = 3
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = ["was the Sandia Peak Tramway before or after the 3S Aerial Tramway in terms of Year_of_inauguration?",
                      "other than William Stuart Price, which other businessman's was in Tulsa in terms of Hometown?",
                      "How many players are G\\nF in terms of Position?"]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""Sub-table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
disambiguous_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    # prefix="""Based on the given table, your task is to rewrite the query to resolve ambiguity and ensure the question is consistent with the table. 
    # This requires pinpointing elements of the question to table contents and rewriting the question to ensure a consistent, clear interpretation. """,
    suffix=
    """Sub-table: {table}
Query: {query}
New query: """,
    input_variables=["query", "table"],
)

### step-back

In [7]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [11, 182, 70]
num_k = 2
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which business man was born in tulsa?",
    "what is the network owned by national polytechnic institute?",
    "what districts are more populous than haridwar?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""Sub-table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Below is a sub-table with rows randomly sampled from the original table. Based on the sub-table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """Sub-table: {table}
Query: {query}
New query: """,
    input_variables=["query", "table"],
)

In [8]:
def get_k_shot_with_answer(k: int=1):
#     sqls = ["SELECT COUNT(*) FROM DF WHERE Outcome = 'Runner-up' AND Opponent = 'Roger Federer';"
#             ]
#     thoughts = ["The SQL query filters the data to only include rows where the outcome is 'Runner-up' and the opponent is 'Roger Federer'. The sub-table shows that Roger Federer was a runner-up 2 times."]
#     tables = [""" <table>
# <thead>
# <tr><th>  COUNT(*)</th></tr>
# </thead>
# <tbody>
# <tr><td>2.0000    </td></tr>
# </tbody>
# </table>"""]
#     tables_pipe = ["""/*
# table caption : turkish cup
# col : MAX(winners_c_from_previous_round)
# row 1: 54
# */"""]
#     claims = ["how many times was roger federer a runner-up?"]
        sqls = ["SELECT DISTINCT Type FROM DF WHERE Type != 'audio';"
                ]
        thoughts = ["Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video."]
        tables = ['<table>\n<thead>\n<tr><th> Type </th></tr>\n</thead>\n<tbody>\n<tr><td>video   </td></tr>\n<tr><td>audio/video   </td></tr>\n</tbody>\n</table>']
        claims = ["other than audio, what type of payload types are there?"]
        extras = ["The payload types for audio include audio, video, and audio/video."]
#     sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
#             ]
#     thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
#     tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
#     claims = ["2 be the fewest point that roger dutton / tony wright receive"]
    # inds from test split
        examples_prompt = PromptTemplate(input_variables=["SQL", "table", "information",  "claim", "thought", "output"], template=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {claim}
Thought: {thought}
Answer: {output}
        """)
        examples_dict = dict(zip(["SQL", "table", "information",  "claim", "thought", "output"], [sqls[0], tables[0], extras[0], claims[0], thoughts[0], 'video']))
        prompt_template = FewShotPromptTemplate(
                examples=[examples_dict],
                example_prompt=examples_prompt,
                prefix="""Below is a sub-table generated by executing the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format information. Do not repeat the question.
Below is an example.""",
        suffix=
        """
SQL Executed: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {query}""",
                input_variables=["table", "query", "SQL", "information"],
        )
        return prompt_template

In [9]:
def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    examples_dict = []
    
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader.dataset[95]['question'],
                                        "aug": "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year. \n1. Number: The episode number in the series \n2. Title: The title of the episode \n3. Directed_by_: The director of the episode \n4. Released_: The release year of the episode",
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
                                        "output": "Released_, Number, Title, Directed_by_"}])
    examples_dict.extend([{"table": '<table>\n<caption>1943–44 Chicago Black Hawks season</caption>\n<thead>\n<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>\n</thead>\n<tbody>\n<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>\n<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>\n<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>\n</tbody>\n</table>',
                                        "claim": 'what was the difference in score in the december 19th win?',
                                        "aug": 'The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game. \n1. num: The game number in the season \n2. Date: The date of the game\n3. Vistor: The visiting team\n4. Score: The final score, with the visitor score listed first\n5. Home: The home team\n6. Record: The team win-loss-overtime loss record at the time of the game',
                                        "linking": 'difference in score -> Score, december 19th -> Date',
                                        "output": 'Date, Score'}])
    
    # "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year."
    # "№<The episode number in the series>\nTitle<The title of the episode>\nDirected_by_<The director of the episode>\nReleased_<The release year of the episode>"
    examples_prompt = PromptTemplate(input_variables=["table", "aug","claim", "output", "linking"], template=
    """
Table: {table}
Extra information: {aug}

Query: {claim}
Column linking: {linking}
Columns: {output}""")
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table. 
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.""",
        suffix=
        """
Table: {table}
Extra information: {aug}

Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template


# def get_k_shot_with_aug(k: int=2):
#     table_loader = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
#     examples_dict = []
#     examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Stirrups and Hiccups"     </td><td>Gerry Chiniquy</td><td>1973       </td></tr>\n</tbody>\n</table>',
#                                         "claim": table_loader.dataset[95]['question'],
#                                         "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
#                                         "output": "Title, Released_, Number, Directed_by_"}])
#     examples_prompt = PromptTemplate(input_variables=["table", "claim", "output", "linking"], template=
#     """
#     Table: {table}
#     Query: {claim}
#     Column linking: {linking}
#     Columns: {output}""")
#     prompt_template = FewShotPromptTemplate(
#         examples=examples_dict,
#         example_prompt=examples_prompt,
#         prefix=
#         """
#     Based on the Table below, your task is accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
#     Approach this task as follows:
#     Read the query thoroughly and list every possible link from query term to column in the Table. 
#     Then Based on the column linking, output all useful columns at last. Make sure all columns in the link step are included and every column is in the Table.""",
#     # You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
#     # Given the following table and query, you should output columns related to the query or contain useful information about the query. 
#     # Here are some examples:""",
#         suffix=
#         """
#     Table: {table}
#     Extra information: {aug}
    
#     Query: {claim}""",
#         input_variables=["table", "claim", "aug"],
# )
#     return prompt_template

In [88]:
from utils import parse_output
def scene_A(query, sample, k =3, verbose=True):
    # Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
    # Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
#     row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
#                                  template="""Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
# sub-table: {table}
# Extra information: {aug}

# Query: {claim}
# SQL: """)

    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                    template="""Our ultimate goal is to answer the query based on the original table. Now we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table.  Based on the augmentation information, carefully analyze the query and write an SQLITE3 SELECT SQL statement using table DF that completes the query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    k_shot_prompt = get_k_shot_with_aug()
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug +'\n'+ '\n'.join(extra_col_info)
                                            # 'aug': ''
                                            })], return_only_outputs=True)[0]['text']
        if verbose:
            print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        try: 
            # formatter.all_data = formatter.all_data.loc[:, columns]
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            sample_data = add_row_number(sample_data)
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        extra_information.append('row_number: row index in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\nColumn information:\n' + '\n'.join(extra_information)
                                            # 'aug': ''
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
        if verbose:
            print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data), cb.total_tokens
    # return query, stage_2_batch_pred, execute_data, cb.total_tokens

In [11]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

### RUN

In [12]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [13]:
import concurrent.futures
from typing import List
import os
import json
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

## 调整extrainformation的位置

In [66]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering and answer the query using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, complete statement in response to the query. If you cannot answer the query based on the sub-table, just say 'Cannot get answer from sub-table'.
""" )
def scene_B(query, sample, k=3, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer the query based on the original table. Now we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table.  Based on the augmentation information, carefully analyze the query and write an SQLITE3 SELECT SQL statement using table DF that completes the query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    # get columns
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n' + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        try: 
            sample_data = add_row_number(sample_data.loc[:, columns])
        except:
            sample_data = add_row_number(sample_data)
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        #  sample augmentation
        # extra_information = (parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        extra_information.append('row_number: row index in the table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [86]:
from langchain_openai import AzureChatOpenAI
import os


os.environ["AZURE_OPENAI_API_KEY"] = "2b219db0d2984f9dae28b651ab8ab3d9"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://smsh.openai.azure.com/"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"

# os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
# os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
# os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
# os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
model = AzureChatOpenAI(
    openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
    azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
    temperature=0.3,
    max_retries=5, request_timeout=600
)

In [16]:
跑的是加了选列的shot

NameError: name '跑的是加了选列的shot' is not defined

In [89]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
from FlagEmbedding import FlagReranker
from openai import BadRequestError
from tqdm.notebook import tqdm
# table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.01)
# save_path = f"../result/final_answer/wikitable_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
save_path = f"../result/final_answer/wikitable_06-06_08-27-00.csv"

# reranker = FlagReranker('BAAI/bge-reranker-large', use_fp16=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Think step by step and answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
""" )
sample_k = 3
# Task: answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
# Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.


# muilti_answer_instruction = get_k_shot_with_answer()
# for sample_n in range(3):
tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 717
# with tqdm(total=len(table_loader.dataset) - 1540, desc=f"Processing",ncols=1500) as pbar:
#     while i < len(table_loader.dataset):
#         try:
sample = table_loader.normalize_table(
                    table_loader.dataset[i])
all_tokens = 0
all_queries = []
formatter = TableFormat(format='none', data=sample, save_embedding=False)
sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
with get_openai_callback() as cb:
    llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    if batch_pred[0]['text'].strip() != sample['query']:
        all_queries.append(batch_pred[0]['text'].strip())
        print(all_queries)
    # llm_chain = LLMChain(llm=model, prompt=disambiguous_prompt_wiki, verbose=False)
    # batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    # all_queries.append(batch_pred[0]['text'].strip())
    llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
    all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
    # print(all_queries)
all_tokens += cb.total_tokens
all_queries = list(set(all_queries))
args_list = [{"query": q, "sample": sample, "k": sample_k} for q in all_queries]
# print(args_list)
ans_from_B = parallel_run_kwargs(scene_B, args_list)
results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0] ]
all_tokens += sum([res[1] for res in ans_from_B])
#With answer
# results= []

# answer_instruction = PromptTemplate(input_variables=["table", "claim"], 
#                                     template="""
# Task: Based on the table, think step by step and answer the last question given in the query. 
# Table: {table}
# Query: {claim}
# Based on the table, answer the question given in the query. Only return the string instead of other format information. Do not repeat the question.
# """ )
# with get_openai_callback() as cb:
#     # imp_input = scene_A(sample['query'], sample, sample_k, True)
#     llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=True)
#     batch_pred = llm_chain.batch([{"claim": sample['query'], "table": TableFormat.format_html(formatter.all_data)}], return_only_outputs=True)
    
with get_openai_callback() as cb:
    imp_input = scene_A(sample['query'], sample, sample_k, True)
    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=True)
    batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
print(batch_pred[0])
all_tokens += cb.total_tokens
# print('ALL TOKENS', all_tokens)
ids.append(sample['id'])
labels.append(sample['query'])
outputs.append(batch_pred[0]['text'])
tokens.append(all_tokens)
extra_quries.append(';'.join(all_queries))
        #     if (i + 1) % 10 == 0:
        #             print(f'saving {i}')
        #             save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)
        #             outputs = []
        #             labels = []
        #             ids = []
        #             tokens = []
        #             extra_quries = []
        #     i += 1
        #     print(f' Process {i}')
        #     pbar.update(1)
        
        # except BadRequestError as e:
        #     print('*************************Bad Request**************')
        #     i += 1
        #     pbar.update(1)
        # except ValueError as e:
        #     print(f'******************Value Error {i}****************************')
        #     i += 1
        #     pbar.update(1)

['what was the point difference between the teams in game 33?']


> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>2008–09 Sacramento Kings season</caption>
<thead>
<tr><th>  Game</th><th>      Date</th><th>          Team</th><th>          Score</th><th>      High_points</th><th>       High_rebounds</th><th>                High_assists</th><th>              Location_nAttendance</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>33    </td><td>January 2 </td><td>@ Detroit     </td><td>L 92-98        </td><td>Brad Miller (25) </td><td>Brad Miller (16)    </td><td>John Salmons (4)            </td><td>The Palace of Auburn Hills\n22,076</td><td>8-25    </td></tr>
<tr><td>40    </td><td>January 14</td><td>@ Golden State</td><td>W 135-133 (3OT)</td><td>Brad Miller (30) </td><td>Brad Miller (22)    </td><td>John Salmons, Beno Udrih (7)</td><td>Oracle Arena\n19,122              </td><td>10-30   </td></tr>
<tr><td>39    </td><td>January 13</td><td>Orlando       </td><td>L 107-139      </td><td>Kevin Martin (30)</td><td>Francisco García (5)</td><td>Francisco García (5)        </td><td>ARCO Arena\n11,168                </td><td>9-30    </td></tr>
</tbody>
</table>
Extra information: The table contains data for the 2008-09 Sacramento Kings season, including game number, date, opposing team, score, high points, high rebounds, high assists, location and attendance, and the team's record.
1. Game: The number of the game in the season
2. Date: The date of the game
3. Team: The opposing team
4. Score: The final score of the game
5. High_points: The player and their number of high points in the game
6. High_rebounds: The player and their number of high rebounds in the game
7. High_assists: The player and their number of high assists in the game
8. Location_nAttendance: The location and attendance of the game
9. Record: The team's record after the game

Query: what was the point difference between the sacramento and detroit for game 33?

> Finished chain.
Column linking: point difference -> Score, sacramento -> Team, detroit -> Team, game 33 -> Game
Columns: Score, Team, Game


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer the query based on the original table. Now we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table.  Based on the augmentation information, carefully analyze the query and write an SQLITE3 SELECT SQL statement using table DF that completes the query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>2008–09 Sacramento Kings season</caption>
<thead>
<tr><th>  row_number</th><th>          Score</th><th>          Team</th><th>  Game</th></tr>
</thead>
<tbody>
<tr><td>1           </td><td>L 92-98        </td><td>@ Detroit     </td><td>33    </td></tr>
<tr><td>8           </td><td>W 135-133 (3OT)</td><td>@ Golden State</td><td>40    </td></tr>
<tr><td>7           </td><td>L 107-139      </td><td>Orlando       </td><td>39    </td></tr>
</tbody>
</table>
Extra information: The table contains data for the 2008-09 Sacramento Kings season, including game number, date, opposing team, score, high points, high rebounds, high assists, location and attendance, and the team's record.
Column information:
Game:Sequential numbers indicating the order of the game (Values like 33, 34, 35...)
Team:Team names with @ indicating away games (Values like @ Detroit, @ Indiana, @ New Jersey...)
Score:Scores in the format W/L followed by points for each team (Values like L 92-98, L 117-122, L 90-98...)
row_number: row index in the original table

Query: what was the point difference between the sacramento and detroit for game 33?
SQL:

> Finished chain.
SELECT ABS(SUBSTR(Score, INSTR(Score, '-') + 1) - SUBSTR(Score, INSTR(Score, ' ') + 2)) AS Point_Difference
FROM DF
WHERE Team = '@ Detroit' AND Game = 33;


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by executing the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format information. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Query: other than audio, what type of payload types are there?
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video.
Answer: video



SQL Excuted:
```SELECT ABS(SUBSTR(Score, INSTR(Score, '-') + 1) - SUBSTR(Score, INSTR(Score, ' ') + 2)) AS Point_Difference
FROM DF
WHERE Team = '@ Detroit' AND Game = 33;```
Sub-table: <table>
<thead>
<tr><th>  Point_Difference</th></tr>
</thead>
<tbody>
<tr><td>96.0000           </td></tr>
</tbody>
</table>
Extra information:
The point difference between the teams in game 33 was 92.
The score for the Detroit game in game 33 was L 92-98.

Query: what was the point difference between the sacramento and detroit for game 33?

> Finished chain.
{'text': 'Thought: The SQL query calculates the absolute value of the point difference between the two teams in game 33. The point difference is calculated by subtracting the second score from the first score. In this case, the first score is 98 and the second score is 92. Therefore, the point difference is 98 - 92 = 6. The absolute value of 6 is 6, so the point difference is 6.\nAnswer: 6'}

In [ ]:
len(outputs)

4

In [ ]:
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

In [53]:
batch_pred[0]

{'text': 'Chevrolet Corvette'}

In [64]:
all_queries

['when did rené heitmann start as head coach of boldklubben frem?',
 'how long was the head coach of Boldklubben Frem?',
 'when did rené heitmann stop being head coach of boldklubben frem?']

In [78]:
outputs

['Thought: The SQL query filters the positions that start with 1, 2, 3, 4, or 5. Based on the extra information provided, Salvatore Bettiol finished in the top five positions a total of 4 times.\nAnswer: 4']

In [67]:
scene_B('when did rené heitmann start as head coach of boldklubben frem?', sample, 3, True)

> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>Boldklubben Frem</caption>
<thead>
<tr><th>                   Name</th><th>  Nationality</th><th>      c_From</th><th>       To</th><th>                     Honours</th><th>                         Comments</th></tr>
</thead>
<tbody>
<tr><td>René Heitmann          </td><td>Denmark      </td><td>17 July 2010</td><td>2010-7-27</td><td>                            </td><td>Never coached the team in a match</td></tr>
<tr><td>John 'Tune' Kristiansen</td><td>Denmark      </td><td>1996        </td><td>1998-5-4 </td><td>Won promotion to second tier</td><td>                                 </td></tr>
<tr><td>John 'Tune' Kristiansen</td><td>Denmark      </td><td>18 June 2012</td><td>2012-6-23</td><td>                            </td><td>Caretaker for one league match   </td></tr>
</tbody>
</table>
Extra information: The table contains information about players in Boldklubben Frem, including their names, nationality, start and end dates with the club, any honours they received, and any additional comments.
1. Name: The name of the player
2. Nationality: The nationality of the player
3. From: The date when the player joined the club
4. To: The date when the player left the club
5. Honours: Any honours or achievements received by the player while at the club
6. Comments: Any additional comments or information about the player's time at the club

Query: when did rené heitmann start as head coach of boldklubben frem?

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer the query based on the original table. Now we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table.  Based on the augmentation information, carefully analyze the query and write an SQLITE3 SELECT SQL statement using table DF that completes the query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>Boldklubben Frem</caption>
<thead>
<tr><th>  row_number</th><th>                   Name</th><th>      c_From</th><th>                         Comments</th></tr>
</thead>
<tbody>
<tr><td>5           </td><td>René Heitmann          </td><td>17 July 2010</td><td>Never coached the team in a match</td></tr>
<tr><td>11          </td><td>John 'Tune' Kristiansen</td><td>1996        </td><td>                                 </td></tr>
<tr><td>2           </td><td>John 'Tune' Kristiansen</td><td>18 June 2012</td><td>Caretaker for one league match   </td></tr>
</tbody>
</table>
Extra information: The table contains information about players in Boldklubben Frem, including their names, nationality, start and end dates with the club, any honours they received, and any additional comments.
 Column information:Name:Contains the full name of the player (Values like Henrik Jensen, John 'Tune' Kristiansen, Peer F. Hansen...)
Comments:Contains any additional comments or information about the player's time at the club (Values like Caretaker for one league match, Originally had contract until summer 2012, Never coached the team in a match...)
row_number: row index in the table

Query: when did rené heitmann start as head coach of boldklubben frem?
SQL:

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:

Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering and answer the query using the final sub-table.
SQL Excuted:
```SELECT c_From
FROM DF
WHERE Name = 'René Heitmann'```
Sub-table:
<table>
<thead>
<tr><th>      c_From</th></tr>
</thead>
<tbody>
<tr><td>17 July 2010</td></tr>
</tbody>
</table>
Query: when did rené heitmann start as head coach of boldklubben frem?
Please provide a clear, complete statement in response to the query. If you cannot answer the query based on the sub-table, just say 'Cannot get answer from sub-table'.


> Finished chain.

('Based on the sub-table provided, René Heitmann started as head coach of Boldklubben Frem on 17 July 2010.',
 1892)

In [60]:
formatter.all_data.to_csv('./result/case616.csv')

In [ ]:
all_queries

['what is the total number of robots in the middle east?',
 'what is the total number of robots in the Middle East?',
 'what are the robots in the middle east?']

In [ ]:
outputs

['Thought: The BBC Three weekly ranking for episode 9 was 6, which is higher than the ranking for episode 8, which was 5. Therefore, episode 9 had a better BBC Three weekly ranking than episode 8.\nAnswer: episode 9']

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
##### add residual 

from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
# from FlagEmbedding import FlagReranker
from openai import BadRequestError, RateLimitError
from tqdm.notebook import tqdm
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.tech/v1",
                       openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.3)
save_path = f"../result/final_answer/wikitable_06-06_08-27-00.csv"
sample_k = 3
data = pd.read_csv(save_path)

tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 0
with tqdm(total=len(table_loader.dataset), desc=f"Processing",ncols=150) as pbar:
    while i < len(table_loader.dataset):
        if table_loader.dataset[i]['id'] in list(data['ids']):
            i += 1
        else:
            try:
                sample = table_loader.normalize_table(
                    table_loader.dataset[i])
                all_tokens = 0
                all_queries = []
                formatter = TableFormat(format='none', data=sample, save_embedding=False)
                sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
                with get_openai_callback() as cb:
                    llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    if batch_pred[0]['text'].strip() != sample['query']:
                        all_queries.append(batch_pred[0]['text'].strip())
                    # llm_chain = LLMChain(llm=model, prompt=disambiguous_prompt_wiki, verbose=False)
                    # batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    # all_queries.append(batch_pred[0]['text'].strip())
                    llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
                    # print(all_queries)
                all_tokens += cb.total_tokens
                all_queries = list(set(all_queries))
                args_list = [{"query": q, "sample": sample, "k": sample_k} for q in all_queries]
                # print(args_list)
                ans_from_B = parallel_run_kwargs(scene_B, args_list)
                results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0] ]
                all_tokens += sum([res[1] for res in ans_from_B])
                #With answer
                # results= []
                with get_openai_callback() as cb:
                    imp_input = scene_A(sample['query'], sample, sample_k, False)
                    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
                # print(batch_pred[0])
                all_tokens += cb.total_tokens
                # print('ALL TOKENS', all_tokens)
                ids.append(sample['id'])
                labels.append(sample['query'])
                outputs.append(batch_pred[0]['text'])
                tokens.append(all_tokens)
                extra_quries.append(';'.join(all_queries))
                i += 1
                pbar.update(1)
                print(f'process {i}')
            except RateLimitError as e:
                print('*************************Rate limit**************')
                pass
        pbar.update(1)
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

Processing:   0%|                                                                                             …

process 2901
process 3012
process 3516
process 3591
process 3710
process 3745
process 4145
process 4213
process 4341
process 4342
process 4343
process 4344

In [ ]:
i

2900

In [ ]:
len(outputs)

7

In [ ]:
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

In [ ]:
def parse_extra_info(summary_aug, column_aug, composition_aug, columns):
    col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
    items, crackets = parse_output(composition_aug, pattern = r'\d. (.+?): (.+)')
    assert len(items) == len(col_names)
    extra_col_info = []
    for i_c in range(len(col_names)):
        if col_names[i_c] in columns:
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]} {crackets[i_c]}')
            
    extra_col_info.append('row_number: row number in the original table')
    return summary_aug + '\n'.join(extra_col_info)