### decompose


- 5.24早修改table format 空格\xa
- 5.24 下午修改str_normalize 
- 5.24 晚 72需要复查
- 5.25 早list query strip() 
- 5.27 修改total，尝试disambiguous/  改成PIPE  / 晚上发现列名重复修改的问题， 发现shot来自test的问题
- 5.29 在shot中添加extra
- 5.31 在选列aug的shot中添加extra

In [1]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [2]:
import pandas as pd
from utils import parse_specific_composition, add_row_number, parse_specific_composition_zh
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
import numpy as np
np.random.seed(42)
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:2', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [3]:
from utils import parse_output, load_courp, generate_random_text, composite_frame, set_random_cells_to_empty
import random

en = load_courp('../result/data/en_corpus.txt')

In [4]:
import datetime
from datetime import timedelta
def add_random_rows(sample, col_schema, times):
    formatter = TableFormat(format='none', data=sample, save_embedding=False)
    df = formatter.all_data
    num_col = df.shape[1]
    num_row = df.shape[0]
    total_cells = num_col * num_row
    if total_cells <= 150:
        n = 1 * times
    elif 150 <total_cells <= 300:
        n = 2 * times
    elif 300 <total_cells <= 450:
        n = 5 * times
    elif 450 <total_cells:
        n = 8 * times
    rows = []
    for _ in range(n):
        row = []
        for i in range(num_col):
            if col_schema[i] == 'Numerical':
                try:
                    num_column = pd.to_numeric(df.iloc[: , i].apply(lambda x: normalize_number(x)))
                    random_number = random.uniform(min(num_column), max(num_column))
                    row.append(str(random_number))
                except:
                    row.append(generate_random_text(col_schema[i], en))
            elif col_schema[i] == 'Date':
                start_date = datetime.datetime.strptime('1890-01-01', '%Y-%m-%d')
                end_date = datetime.datetime.strptime('1990-12-31', '%Y-%m-%d')
                delta = (end_date - start_date).days
                
                try:
                    data_column = pd.to_datetime(df.iloc[: , i].apply(lambda x: str_normalize(x)), format='%Y-%m-%d', errors='coerce')
                    if not pd.isna(data_column.min()) and not pd.isna(data_column.max()):
                        start_date = data_column.min()
                        end_date = data_column.max()
                        delta = (end_date - start_date).days
                except:
                    pass
                if delta > 0:
                    random_day = random.randrange(delta)
                    # 加上开始日期得到随机日期
                    random_date = start_date + timedelta(days=random_day)
                # 格式化输出
                    out = random_date.strftime('%Y-%m-%d')
                else:
                    out = ''
                row.append(out)
                
            elif col_schema[i] == 'Char':
                row.append(generate_random_text('Char', en))
            else:
                row.append('')
        rows.append(row)
    sample['table']['rows'] += rows
    return sample

In [5]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
                  "what was the time difference between the first place finisher and the eighth place finisher?",
                  "other than william stuart price, which other businessman was born in tulsa?",
                  "which canadian city had the most passengers traveling from manzanillo international airport in 2013?"
                  ]
new_query_examples = [
                      "what was the time for the first place finisher?; what was the time for the eighth place finisher?",
                      "was william stuart price born in tulsa?; who was born in tulsa?",
                      "how many passengers do each airline from canadian city have?; which canadian city had the most passengers?"
                      ]
num_k = 3
inds = [1, 11, 86]
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True, embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Sub-Table: {table}
Query: {query}
Decompose query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.""",
    suffix=
    """Sub-Table: {table}
Query: {query}
Decompose query: """,
    input_variables=["query", "table"],
)

In [6]:
task_name = 'wikitable'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
# model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.7).bind(logprobs=True)
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:////media/disk1/chatgpt/zh/tabular_data/db/sqlite/add_row.db', echo=False)
manager = SQLManager(engine=engine)

In [7]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### disambiguous

In [8]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [5, 11, 46]
num_k = 3
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = ["was the Sandia Peak Tramway before or after the 3S Aerial Tramway in terms of Year_of_inauguration?",
                      "other than William Stuart Price, which other businessman's was in Tulsa in terms of Hometown?",
                      "How many players are G\\nF in terms of Position?"]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
disambiguous_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    # prefix="""Based on the given table, your task is to rewrite the query to resolve ambiguity and ensure the question is consistent with the table. 
    # This requires pinpointing elements of the question to table contents and rewriting the question to ensure a consistent, clear interpretation. """,
    suffix=
    """
Query: {query}
Table: {table}
New query: """,
    input_variables=["query", "table"],
)

### step-back

In [9]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [11, 182, 70]
num_k = 2
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which business man was born in tulsa?",
    "what is the network owned by national polytechnic institute?",
    "what districts are more populous than haridwar?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""Sub-table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Below is a sub-table with rows randomly sampled from the original table. Based on the sub-table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """Sub-table: {table}
Query: {query}
New query: """,
    input_variables=["query", "table"],
)

In [10]:
def get_k_shot_with_answer(k: int=1):
#     sqls = ["SELECT COUNT(*) FROM DF WHERE Outcome = 'Runner-up' AND Opponent = 'Roger Federer';"
#             ]
#     thoughts = ["The SQL query filters the data to only include rows where the outcome is 'Runner-up' and the opponent is 'Roger Federer'. The sub-table shows that Roger Federer was a runner-up 2 times."]
#     tables = [""" <table>
# <thead>
# <tr><th>  COUNT(*)</th></tr>
# </thead>
# <tbody>
# <tr><td>2.0000    </td></tr>
# </tbody>
# </table>"""]
#     tables_pipe = ["""/*
# table caption : turkish cup
# col : MAX(winners_c_from_previous_round)
# row 1: 54
# */"""]
#     claims = ["how many times was roger federer a runner-up?"]
        sqls = ["SELECT DISTINCT Type FROM DF WHERE Type != 'audio';"
                ]
        thoughts = ["Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video."]
        tables = ['<table>\n<thead>\n<tr><th> Type </th></tr>\n</thead>\n<tbody>\n<tr><td>video   </td></tr>\n<tr><td>audio/video   </td></tr>\n</tbody>\n</table>']
        claims = ["other than audio, what type of payload types are there?"]
        extras = ["The payload types for audio include audio, video, and audio/video."]
#     sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
#             ]
#     thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
#     tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
#     claims = ["2 be the fewest point that roger dutton / tony wright receive"]
    # inds from test split
        examples_prompt = PromptTemplate(input_variables=["SQL", "table", "information",  "claim", "thought", "output"], template=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {claim}
Thought: {thought}
Answer: {output}
        """)
        examples_dict = dict(zip(["SQL", "table", "information",  "claim", "thought", "output"], [sqls[0], tables[0], extras[0], claims[0], thoughts[0], 'video']))
        prompt_template = FewShotPromptTemplate(
                examples=[examples_dict],
                example_prompt=examples_prompt,
                prefix="""Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {query}""",
                input_variables=["table", "query", "SQL", "information"],
        )
        return prompt_template

In [11]:
def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    examples_dict = []
    
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader.dataset[95]['question'],
                                        "aug": "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year. \n1. Number: The episode number in the series \n2. Title: The title of the episode \n3. Directed_by_: The director of the episode \n4. Released_: The release year of the episode",
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
                                        "output": "Released_, Number, Title, Directed_by_"}])
    examples_dict.extend([{"table": '<table>\n<caption>1943–44 Chicago Black Hawks season</caption>\n<thead>\n<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>\n</thead>\n<tbody>\n<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>\n<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>\n<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>\n</tbody>\n</table>',
                                        "claim": 'what was the difference in score in the december 19th win?',
                                        "aug": 'The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game. \n1. num: The game number in the season \n2. Date: The date of the game\n3. Vistor: The visiting team\n4. Score: The final score, with the visitor score listed first\n5. Home: The home team\n6. Record: The team win-loss-overtime loss record at the time of the game',
                                        "linking": 'difference in score -> Score, december 19th -> Date',
                                        "output": 'Date, Score'}])
    
    # "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year."
    # "№<The episode number in the series>\nTitle<The title of the episode>\nDirected_by_<The director of the episode>\nReleased_<The release year of the episode>"
    examples_prompt = PromptTemplate(input_variables=["table", "aug","claim", "output", "linking"], template=
    """
Table: {table}
Extra information: {aug}

Query: {claim}
Column linking: {linking}
Columns: {output}""")
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table. 
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.""",
        suffix=
        """
Table: {table}
Extra information: {aug}

Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template

In [12]:
from utils import parse_output
def scene_A(query, sample, k =3, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    np.random.seed(42)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    k_shot_prompt = get_k_shot_with_aug()
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug +'\n'+ '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        if verbose:
            print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            # formatter.all_data = formatter.all_data.loc[:, columns]
            sample_data = sample_data.loc[:, columns]
        except:
            sample_data = sample_data
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        # extra_information.append('row_number: row index in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\nColumn information:\n' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
        if verbose:
            print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data), cb.total_tokens
    # return query, stage_2_batch_pred, execute_data, cb.total_tokens

In [13]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

### RUN

In [14]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [15]:
import concurrent.futures
from typing import List
import os
import json
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

## 调整extrainformation的位置

In [16]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering and answer the query using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, complete statement in response to the query. If you cannot answer the query based on the sub-table, just say 'Cannot get answer from sub-table'.
""" )
def scene_B(query, sample, k=3, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    np.random.seed(42)
    formatter = TableFormat(format='none', data=sample, save_embedding=True, embeddings=embeddings)
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    # get columns
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n' + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        try: 
            sample_data = sample_data.loc[:, columns]
        except:
            sample_data = sample_data
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        #  sample augmentation
        # extra_information = (parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        # extra_information.append('row_number: row index in the table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [17]:
from langchain_openai import AzureChatOpenAI
import os


os.environ["AZURE_OPENAI_API_KEY"] = "2b219db0d2984f9dae28b651ab8ab3d9"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://smsh.openai.azure.com/"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"

# os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
# os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
# os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
# os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
model = AzureChatOpenAI(
    openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
    azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
    temperature=0.01,
    max_retries=5, request_timeout=1000
)

In [18]:
跑的是选列加了extra

NameError: name '跑的是选列加了extra' is not defined

In [28]:
import tiktoken
encoding = tiktoken.encoding_for_model("gpt-3.5-turbo-0125")
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
cells_count = []
tokens_count = []
sample_count = []
all_rows = []
rows = []
save_path = f"./result/wiki_count_0_cell.csv"
for i in range(len(table_loader.dataset)):
    sample = table_loader.normalize_table(
                                table_loader.dataset[i])
    # print(sample)
    # col_name, col_schema = parse_output(schema_information.loc[sample['table']['id']]['schema'])
    # sample = add_random_rows(sample, col_schema, times=1)
    formatter = TableFormat(format='none', data=sample, save_embedding=False)
    sample_data = formatter.get_sample_data(sample_type='random')
    # cells_count.append(formatter.all_data.shape[0] * formatter.all_data.shape[1])
    sample_count.append(len(encoding.encode(TableFormat.format_html(sample_data, table_caption=sample['table']['caption']))))
    tokens_count.append(len(encoding.encode(TableFormat.format_html(formatter.all_data, table_caption=sample['table']['caption']))))
    all_rows.append(formatter.all_data.shape[0])
    if (i + 1) % 10 == 0:
        print(f'saving {i}')
        save_csv([tokens_count, sample_count, all_rows], ['tokens', 'sample', 'row_count'], file_path=save_path)
        cells_count = [] 
        tokens_count = []
        sample_count = []
        all_rows = []
save_csv([tokens_count, sample_count, all_rows], ['tokens', 'sample', 'row_count'], file_path=save_path)

saving 9
saving 19
saving 29
saving 39
saving 49
saving 59
saving 69
saving 79
saving 89
saving 99
saving 109
saving 119
saving 129
saving 139
saving 149
saving 159
saving 169
saving 179
saving 189
saving 199
saving 209
saving 219
saving 229
saving 239
saving 249
saving 259
saving 269
saving 279
saving 289
saving 299
saving 309
saving 319
saving 329
saving 339
saving 349
saving 359
saving 369
saving 379
saving 389
saving 399
saving 409
saving 419
saving 429
saving 439
saving 449
saving 459
saving 469
saving 479
saving 489
saving 499
saving 509
saving 519
saving 529
saving 539
saving 549
saving 559
saving 569
saving 579
saving 589
saving 599
saving 609
saving 619
saving 629
saving 639
saving 649
saving 659
saving 669
saving 679
saving 689
saving 699
saving 709
saving 719
saving 729
saving 739
saving 749
saving 759
saving 769
saving 779
saving 789
saving 799
saving 809
saving 819
saving 829
saving 839
saving 849
saving 859
saving 869
saving 879
saving 889
saving 899
saving 909
saving 919
saving 929
saving 939
saving 949
saving 959
saving 969
saving 979
saving 989
saving 999
saving 1009
saving 1019
saving 1029
saving 1039
saving 1049
saving 1059
saving 1069
saving 1079
saving 1089
saving 1099
saving 1109
saving 1119
saving 1129
saving 1139
saving 1149
saving 1159
saving 1169
saving 1179
saving 1189
saving 1199
saving 1209
saving 1219
saving 1229
saving 1239
saving 1249
saving 1259
saving 1269
saving 1279
saving 1289
saving 1299
saving 1309
saving 1319
saving 1329
saving 1339
saving 1349
saving 1359
saving 1369
saving 1379
saving 1389
saving 1399
saving 1409
saving 1419
saving 1429
saving 1439
saving 1449
saving 1459
saving 1469
saving 1479
saving 1489
saving 1499
saving 1509
saving 1519
saving 1529
saving 1539
saving 1549
saving 1559
saving 1569
saving 1579
saving 1589
saving 1599
saving 1609
saving 1619
saving 1629
saving 1639
saving 1649
saving 1659
saving 1669
saving 1679
saving 1689
saving 1699
saving 1709
saving 1719
saving 1729
saving 1739
saving 1749
saving 1759
saving 1769
saving 1779
saving 1789
saving 1799
saving 1809
saving 1819
saving 1829
saving 1839
saving 1849
saving 1859
saving 1869
saving 1879
saving 1889
saving 1899
saving 1909
saving 1919
saving 1929
saving 1939
saving 1949
saving 1959
saving 1969
saving 1979
saving 1989
saving 1999
saving 2009
saving 2019
saving 2029
saving 2039
saving 2049
saving 2059
saving 2069
saving 2079
saving 2089
saving 2099
saving 2109
saving 2119
saving 2129
saving 2139
saving 2149
saving 2159
saving 2169
saving 2179
saving 2189
saving 2199
saving 2209
saving 2219
saving 2229
saving 2239
saving 2249
saving 2259
saving 2269
saving 2279
saving 2289
saving 2299
saving 2309
saving 2319
saving 2329
saving 2339
saving 2349
saving 2359
saving 2369
saving 2379
saving 2389
saving 2399
saving 2409
saving 2419
saving 2429
saving 2439
saving 2449
saving 2459
saving 2469
saving 2479
saving 2489
saving 2499
saving 2509
saving 2519
saving 2529
saving 2539
saving 2549
saving 2559
saving 2569
saving 2579
saving 2589
saving 2599
saving 2609
saving 2619
saving 2629
saving 2639
saving 2649
saving 2659
saving 2669
saving 2679
saving 2689
saving 2699
saving 2709
saving 2719
saving 2729
saving 2739
saving 2749
saving 2759
saving 2769
saving 2779
saving 2789
saving 2799
saving 2809
saving 2819
saving 2829
saving 2839
saving 2849
saving 2859
saving 2869
saving 2879
saving 2889
saving 2899
saving 2909
saving 2919
saving 2929
saving 2939
saving 2949
saving 2959
saving 2969
saving 2979
saving 2989
saving 2999
saving 3009
saving 3019
saving 3029
saving 3039
saving 3049
saving 3059
saving 3069
saving 3079
saving 3089
saving 3099
saving 3109
saving 3119
saving 3129
saving 3139
saving 3149
saving 3159
saving 3169
saving 3179
saving 3189
saving 3199
saving 3209
saving 3219
saving 3229
saving 3239
saving 3249
saving 3259
saving 3269
saving 3279
saving 3289
saving 3299
saving 3309
saving 3319
saving 3329
saving 3339
saving 3349
saving 3359
saving 3369
saving 3379
saving 3389
saving 3399
saving 3409
saving 3419
saving 3429
saving 3439
saving 3449
saving 3459
saving 3469
saving 3479
saving 3489
saving 3499
saving 3509
saving 3519
saving 3529
saving 3539
saving 3549
saving 3559
saving 3569
saving 3579
saving 3589
saving 3599
saving 3609
saving 3619
saving 3629
saving 3639
saving 3649
saving 3659
saving 3669
saving 3679
saving 3689
saving 3699
saving 3709
saving 3719
saving 3729
saving 3739
saving 3749
saving 3759
saving 3769
saving 3779
saving 3789
saving 3799
saving 3809
saving 3819
saving 3829
saving 3839
saving 3849
saving 3859
saving 3869
saving 3879
saving 3889
saving 3899
saving 3909
saving 3919
saving 3929
saving 3939
saving 3949
saving 3959
saving 3969
saving 3979
saving 3989
saving 3999
saving 4009
saving 4019
saving 4029
saving 4039
saving 4049
saving 4059
saving 4069
saving 4079
saving 4089
saving 4099
saving 4109
saving 4119
saving 4129
saving 4139
saving 4149
saving 4159
saving 4169
saving 4179
saving 4189
saving 4199
saving 4209
saving 4219
saving 4229
saving 4239
saving 4249
saving 4259
saving 4269
saving 4279
saving 4289
saving 4299
saving 4309
saving 4319
saving 4329
saving 4339

In [ ]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
from FlagEmbedding import FlagReranker
from openai import BadRequestError
from tqdm.notebook import tqdm
# table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.01)
save_path = f"../result/final_answer/wikitable_row_add_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
# save_path = f"../result/final_answer/wikitable_row_permutation_06-01_14-13-39.csv"

# reranker = FlagReranker('BAAI/bge-reranker-large', use_fp16=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Think step by step and answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
""" )
sample_k = 3
# Task: answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
# Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.
# data = pd.read_csv(save_path)

# muilti_answer_instruction = get_k_shot_with_answer()
# for sample_n in range(3):
tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 0
with tqdm(total=len(table_loader.dataset) - 0, desc=f"Processing",ncols=1500) as pbar:
    while i < len(table_loader.dataset):
        try:
            sample = table_loader.normalize_table(
                                table_loader.dataset[i])
            col_name, col_schema = parse_output(schema_information.loc[sample['table']['id']]['schema'])
            sample = add_random_rows(sample, col_schema)        
            all_tokens = 0
            all_queries = []
            formatter = TableFormat(format='none', data=sample, save_embedding=False)
            sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
            with get_openai_callback() as cb:
                llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                if batch_pred[0]['text'].strip() != sample['query']:
                    all_queries.append(batch_pred[0]['text'].strip())
                # llm_chain = LLMChain(llm=model, prompt=disambiguous_prompt_wiki, verbose=False)
                # batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                # all_queries.append(batch_pred[0]['text'].strip())
                llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
                # print(all_queries)
            all_tokens += cb.total_tokens
            all_queries = list(set(all_queries))
            args_list = [{"query": q, "sample": sample, "k": sample_k} for q in all_queries]
            # print(args_list)
            ans_from_B = parallel_run_kwargs(scene_B, args_list)
            results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0] ]
            all_tokens += sum([res[1] for res in ans_from_B])
            #With answer
            # results= []
            with get_openai_callback() as cb:
                imp_input = scene_A(sample['query'], sample, sample_k, False)
                llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
            # print(batch_pred[0])
            all_tokens += cb.total_tokens
            # print('ALL TOKENS', all_tokens)
            ids.append(sample['id'])
            labels.append(sample['query'])
            outputs.append(batch_pred[0]['text'])
            tokens.append(all_tokens)
            extra_quries.append(';'.join(all_queries))
            if (i + 1) % 10 == 0:
                    print(f'saving {i}')
                    save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)
                    outputs = []
                    labels = []
                    ids = []
                    tokens = []
                    extra_quries = []
            i += 1
            print(f' Process {i}')
            pbar.update(1)

        except BadRequestError as e:
            print('*************************Bad Request**************')
            i += 1
            pbar.update(1)
        except ValueError as e:
            print(f'******************Value Error {i}****************************')
            i += 1
            pbar.update(1)
# save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

Processing:   0%|                                                                                             …

 Process 1
 Process 2
 Process 3
 Process 4
 Process 5
 Process 6
 Process 7
 Process 8
 Process 9
saving 9
 Process 10
 Process 11
 Process 12
 Process 13
 Process 14
 Process 15
 Process 16
 Process 17
 Process 18
 Process 19
saving 19
 Process 20
 Process 21
 Process 22
 Process 23
 Process 24
 Process 25
 Process 26
 Process 27
 Process 28
 Process 29
saving 29
 Process 30
 Process 31
 Process 32
 Process 33
 Process 34
 Process 35
 Process 36
 Process 37
 Process 38
 Process 39
saving 39
 Process 40
 Process 41
 Process 42
 Process 43
 Process 44
 Process 45
 Process 46
 Process 47
 Process 48
 Process 49
saving 49
 Process 50
 Process 51
 Process 52
 Process 53
 Process 54
 Process 55
 Process 56
 Process 57
 Process 58
 Process 59
saving 59
 Process 60
 Process 61
 Process 62
 Process 63
 Process 64
 Process 65
 Process 66
 Process 67
 Process 68
 Process 69
saving 69
 Process 70
 Process 71
 Process 72
 Process 73
 Process 74
 Process 75
 Process 76
 Process 77
 Process 78
 Process 79
saving 79
 Process 80
 Process 81
 Process 82
 Process 83
 Process 84
 Process 85
 Process 86
 Process 87
 Process 88
 Process 89
saving 89
 Process 90
 Process 91
 Process 92
 Process 93
 Process 94
 Process 95
 Process 96
 Process 97
 Process 98
 Process 99
saving 99
 Process 100
 Process 101
 Process 102
 Process 103
 Process 104
 Process 105
 Process 106
 Process 107
 Process 108
 Process 109
saving 109
 Process 110
 Process 111
 Process 112
 Process 113
 Process 114
 Process 115
 Process 116
 Process 117
 Process 118
 Process 119
saving 119
 Process 120
 Process 121
 Process 122
 Process 123
 Process 124
 Process 125
 Process 126
 Process 127
 Process 128
 Process 129
saving 129
 Process 130
 Process 131
 Process 132
 Process 133
 Process 134
 Process 135
 Process 136
 Process 137
 Process 138
 Process 139
saving 139
 Process 140
 Process 141
 Process 142
 Process 143
 Process 144
 Process 145
 Process 146
 Process 147
 Process 148
 Process 149
saving 149
 Process 150
 Process 151
 Process 152
 Process 153
 Process 154
 Process 155
 Process 156
 Process 157
 Process 158
 Process 159
saving 159
 Process 160
 Process 161
 Process 162
 Process 163
 Process 164
 Process 165
 Process 166
 Process 167
 Process 168
 Process 169
saving 169
 Process 170
 Process 171
 Process 172
 Process 173
 Process 174
 Process 175
 Process 176
 Process 177
 Process 178
 Process 179
saving 179
 Process 180
 Process 181
 Process 182
 Process 183
 Process 184
 Process 185
 Process 186
 Process 187
 Process 188
 Process 189
saving 189
 Process 190
 Process 191
 Process 192
 Process 193
 Process 194
 Process 195
 Process 196
 Process 197
 Process 198
 Process 199
saving 199
 Process 200
 Process 201
 Process 202
 Process 203
 Process 204
 Process 205
 Process 206
 Process 207
 Process 208
 Process 209
saving 209
 Process 210
 Process 211
 Process 212
 Process 213
 Process 214
 Process 215
 Process 216
 Process 217
 Process 218
 Process 219
saving 219
 Process 220
 Process 221
 Process 222
 Process 223
 Process 224
 Process 225
 Process 226
 Process 227
 Process 228
 Process 229
saving 229
 Process 230
 Process 231
 Process 232
 Process 233
 Process 234
 Process 235
 Process 236
 Process 237
 Process 238
 Process 239
saving 239
 Process 240
 Process 241
 Process 242
 Process 243
 Process 244
 Process 245
 Process 246
 Process 247
 Process 248
 Process 249
saving 249
 Process 250
 Process 251
 Process 252
 Process 253
 Process 254
 Process 255
 Process 256
 Process 257
 Process 258
 Process 259
saving 259
 Process 260
 Process 261
 Process 262
 Process 263
 Process 264
 Process 265
 Process 266
 Process 267
 Process 268
 Process 269
saving 269
 Process 270
 Process 271
 Process 272
 Process 273
 Process 274
 Process 275
 Process 276
 Process 277
 Process 278
 Process 279
saving 279
 Process 280
 Process 281
 Process 282
 Process 283
 Process 284
 Process 285
 Process 286
 Process 287
 Process 288
 Process 289
saving 289
 Process 290
 Process 291
 Process 292
 Process 293
 Process 294
 Process 295
 Process 296
 Process 297
 Process 298
 Process 299
saving 299
 Process 300
 Process 301
 Process 302
 Process 303
 Process 304
 Process 305
 Process 306
 Process 307
 Process 308
 Process 309
saving 309
 Process 310
 Process 311
 Process 312
 Process 313
 Process 314
 Process 315
 Process 316
 Process 317
 Process 318
 Process 319
saving 319
 Process 320
 Process 321
 Process 322
 Process 323
 Process 324
 Process 325
 Process 326
 Process 327
 Process 328
 Process 329
saving 329
 Process 330
 Process 331
 Process 332
 Process 333
 Process 334
 Process 335
 Process 336
 Process 337
 Process 338
 Process 339
saving 339
 Process 340
 Process 341
 Process 342
 Process 343
 Process 344
 Process 345
 Process 346
 Process 347
 Process 348
 Process 349
saving 349
 Process 350
 Process 351
 Process 352
 Process 353
 Process 354
 Process 355
 Process 356
 Process 357
 Process 358
 Process 359
saving 359
 Process 360
 Process 361
 Process 362
 Process 363
 Process 364
 Process 365
 Process 366
 Process 367
 Process 368
 Process 369
******************Value Error 369****************************
 Process 371
 Process 372
 Process 373
 Process 374
 Process 375
 Process 376
 Process 377
 Process 378
 Process 379
saving 379
 Process 380
 Process 381
 Process 382
 Process 383
 Process 384
 Process 385
 Process 386
 Process 387
 Process 388
 Process 389
saving 389
 Process 390
 Process 391
 Process 392
 Process 393
 Process 394
 Process 395
 Process 396
 Process 397
 Process 398
 Process 399
saving 399
 Process 400
 Process 401
 Process 402
 Process 403
 Process 404
 Process 405
 Process 406
 Process 407
 Process 408
 Process 409
saving 409
 Process 410
 Process 411
 Process 412
 Process 413
 Process 414
 Process 415
 Process 416
 Process 417
 Process 418
 Process 419
saving 419
 Process 420
 Process 421
 Process 422
 Process 423
 Process 424
 Process 425
 Process 426
 Process 427
 Process 428
 Process 429
saving 429
 Process 430
 Process 431
 Process 432
 Process 433
 Process 434
 Process 435
 Process 436
 Process 437
 Process 438
 Process 439
saving 439
 Process 440
 Process 441
 Process 442
 Process 443
 Process 444
 Process 445
 Process 446
 Process 447
 Process 448
******************Value Error 448****************************
saving 449
 Process 450
 Process 451
 Process 452
 Process 453
 Process 454
 Process 455
 Process 456
 Process 457
 Process 458
 Process 459
saving 459
 Process 460
 Process 461
 Process 462
 Process 463
 Process 464
 Process 465
 Process 466
 Process 467
 Process 468
 Process 469
saving 469
 Process 470
 Process 471
 Process 472
 Process 473
 Process 474
 Process 475
 Process 476
 Process 477
 Process 478
 Process 479
saving 479
 Process 480
 Process 481
 Process 482
 Process 483
 Process 484
 Process 485
 Process 486
 Process 487
 Process 488
 Process 489
saving 489
 Process 490
 Process 491
 Process 492
 Process 493
 Process 494
 Process 495
 Process 496
 Process 497
 Process 498
 Process 499
saving 499
 Process 500
 Process 501
 Process 502
 Process 503
 Process 504
 Process 505
 Process 506
 Process 507
 Process 508
 Process 509
saving 509
 Process 510
 Process 511
 Process 512
 Process 513
 Process 514
 Process 515
 Process 516
 Process 517
 Process 518
 Process 519
saving 519
 Process 520
 Process 521
 Process 522
 Process 523
 Process 524
 Process 525
 Process 526
 Process 527
 Process 528
 Process 529
saving 529
 Process 530
 Process 531
 Process 532
 Process 533
 Process 534
 Process 535
 Process 536
 Process 537
 Process 538
 Process 539
saving 539
 Process 540
 Process 541
 Process 542
 Process 543
 Process 544
 Process 545
 Process 546
 Process 547
 Process 548
 Process 549
saving 549
 Process 550
 Process 551
 Process 552
 Process 553
 Process 554
 Process 555
 Process 556
 Process 557
 Process 558
 Process 559
saving 559
 Process 560
 Process 561
 Process 562
 Process 563
 Process 564
 Process 565
 Process 566
 Process 567
 Process 568
 Process 569
saving 569
 Process 570
 Process 571
 Process 572
 Process 573
 Process 574
 Process 575
 Process 576
 Process 577
 Process 578
 Process 579
saving 579
 Process 580
 Process 581
 Process 582
 Process 583
 Process 584
 Process 585
 Process 586
 Process 587
 Process 588
 Process 589
saving 589
 Process 590
 Process 591
 Process 592
 Process 593
 Process 594
 Process 595
 Process 596
 Process 597
 Process 598
 Process 599
saving 599
 Process 600
 Process 601
 Process 602
 Process 603
 Process 604
 Process 605
 Process 606
 Process 607
 Process 608
 Process 609
saving 609
 Process 610
 Process 611
 Process 612
 Process 613
 Process 614
 Process 615
 Process 616
 Process 617
 Process 618
 Process 619
saving 619
 Process 620
 Process 621
 Process 622
 Process 623
 Process 624
 Process 625
 Process 626
 Process 627
 Process 628
 Process 629
saving 629
 Process 630
 Process 631
 Process 632
 Process 633
 Process 634
 Process 635
 Process 636
 Process 637
 Process 638
 Process 639
saving 639
 Process 640
 Process 641
 Process 642
*************************Bad Request**************
 Process 644
 Process 645
 Process 646
 Process 647
 Process 648
 Process 649
saving 649
 Process 650
 Process 651
 Process 652
 Process 653
 Process 654
 Process 655
 Process 656
 Process 657
 Process 658
 Process 659
saving 659
 Process 660
 Process 661
 Process 662
 Process 663
 Process 664
 Process 665
 Process 666
 Process 667
 Process 668
 Process 669
saving 669
 Process 670
 Process 671
 Process 672
 Process 673
 Process 674
 Process 675
 Process 676
 Process 677
 Process 678
 Process 679
saving 679
 Process 680
 Process 681
 Process 682
 Process 683
 Process 684
 Process 685
 Process 686
 Process 687
 Process 688
 Process 689
saving 689
 Process 690
 Process 691
 Process 692
 Process 693
 Process 694
 Process 695
 Process 696
 Process 697
 Process 698
 Process 699
saving 699
 Process 700
 Process 701
 Process 702
 Process 703
 Process 704
 Process 705
 Process 706
 Process 707
 Process 708
 Process 709
saving 709
 Process 710
 Process 711
 Process 712
 Process 713
 Process 714
 Process 715
 Process 716
 Process 717
 Process 718
 Process 719
saving 719
 Process 720
 Process 721
 Process 722
 Process 723
 Process 724
 Process 725
 Process 726
 Process 727
 Process 728
 Process 729
saving 729
 Process 730
 Process 731
 Process 732
 Process 733
 Process 734
 Process 735
 Process 736
 Process 737
 Process 738
 Process 739
saving 739
 Process 740
 Process 741
 Process 742
 Process 743
 Process 744
 Process 745
 Process 746
 Process 747
 Process 748
 Process 749
saving 749
 Process 750
 Process 751
 Process 752
 Process 753
 Process 754
 Process 755
 Process 756
 Process 757
 Process 758
 Process 759
saving 759
 Process 760
 Process 761
 Process 762
 Process 763
 Process 764
 Process 765
 Process 766
 Process 767
 Process 768
 Process 769
saving 769
 Process 770
 Process 771
 Process 772
 Process 773
 Process 774
 Process 775
 Process 776
 Process 777
 Process 778
 Process 779
saving 779
 Process 780
 Process 781
 Process 782
 Process 783
 Process 784
 Process 785
 Process 786
 Process 787
 Process 788
 Process 789
saving 789
 Process 790
 Process 791
 Process 792
 Process 793
 Process 794
 Process 795
 Process 796
 Process 797
 Process 798
 Process 799
saving 799
 Process 800
 Process 801
 Process 802
 Process 803
 Process 804
 Process 805
 Process 806
 Process 807
 Process 808
 Process 809
saving 809
 Process 810
 Process 811
 Process 812
 Process 813
 Process 814
 Process 815
 Process 816
 Process 817
 Process 818
 Process 819
saving 819
 Process 820
 Process 821
 Process 822
 Process 823
 Process 824
 Process 825
 Process 826
 Process 827
 Process 828
 Process 829
saving 829
 Process 830
 Process 831
 Process 832
 Process 833
 Process 834
 Process 835
 Process 836
 Process 837
 Process 838
 Process 839
saving 839
 Process 840
 Process 841
 Process 842
 Process 843
 Process 844
 Process 845
 Process 846
 Process 847
 Process 848
 Process 849
saving 849
 Process 850
 Process 851
 Process 852
 Process 853
 Process 854
 Process 855
 Process 856
 Process 857
 Process 858
 Process 859
saving 859
 Process 860
 Process 861
 Process 862
 Process 863
 Process 864
 Process 865
 Process 866
 Process 867
 Process 868
 Process 869
saving 869
 Process 870
 Process 871
 Process 872
 Process 873
 Process 874
 Process 875
 Process 876
 Process 877
 Process 878
 Process 879
saving 879
 Process 880
 Process 881
 Process 882
 Process 883
 Process 884
 Process 885
 Process 886
 Process 887
 Process 888
 Process 889
saving 889
 Process 890
 Process 891
 Process 892
 Process 893
 Process 894
 Process 895
 Process 896
 Process 897
 Process 898
 Process 899
saving 899
 Process 900
 Process 901
 Process 902
 Process 903
 Process 904
 Process 905
 Process 906
 Process 907
 Process 908
 Process 909
saving 909
 Process 910
 Process 911
 Process 912
 Process 913
 Process 914
 Process 915
 Process 916
 Process 917
 Process 918
 Process 919
saving 919
 Process 920
 Process 921
 Process 922
 Process 923
 Process 924
 Process 925
 Process 926
 Process 927
 Process 928
 Process 929
saving 929
 Process 930
 Process 931
 Process 932
 Process 933
 Process 934
 Process 935
 Process 936
 Process 937
 Process 938
 Process 939
saving 939
 Process 940
 Process 941
 Process 942
 Process 943
 Process 944
 Process 945
 Process 946
 Process 947
 Process 948
 Process 949
saving 949
 Process 950
 Process 951
 Process 952
 Process 953
 Process 954
 Process 955
 Process 956
 Process 957
 Process 958
 Process 959
saving 959
 Process 960
 Process 961
 Process 962
 Process 963
 Process 964
 Process 965
 Process 966
 Process 967
 Process 968
 Process 969
saving 969
 Process 970
 Process 971
 Process 972
 Process 973
 Process 974
 Process 975
 Process 976
 Process 977
 Process 978
 Process 979
saving 979
 Process 980
 Process 981
 Process 982
 Process 983
 Process 984
 Process 985
 Process 986
 Process 987
 Process 988
 Process 989
saving 989
 Process 990
 Process 991
 Process 992
 Process 993
 Process 994
 Process 995
 Process 996
 Process 997
 Process 998
 Process 999
saving 999
 Process 1000
 Process 1001
 Process 1002
 Process 1003
 Process 1004
 Process 1005
 Process 1006
 Process 1007
 Process 1008
 Process 1009
saving 1009
 Process 1010
 Process 1011
 Process 1012
 Process 1013
 Process 1014
 Process 1015
 Process 1016
 Process 1017
 Process 1018
 Process 1019
saving 1019
 Process 1020
 Process 1021
 Process 1022
 Process 1023
 Process 1024
 Process 1025
 Process 1026
 Process 1027
 Process 1028
 Process 1029
saving 1029
 Process 1030
 Process 1031
 Process 1032
 Process 1033
 Process 1034
 Process 1035
 Process 1036
 Process 1037
 Process 1038
 Process 1039
saving 1039
 Process 1040
 Process 1041
 Process 1042
 Process 1043
 Process 1044
 Process 1045
 Process 1046
 Process 1047
 Process 1048
 Process 1049
saving 1049
 Process 1050
 Process 1051
 Process 1052
 Process 1053
 Process 1054
 Process 1055
 Process 1056
 Process 1057
 Process 1058
 Process 1059
saving 1059
 Process 1060
 Process 1061
 Process 1062
 Process 1063
 Process 1064
 Process 1065
 Process 1066
 Process 1067
 Process 1068
 Process 1069
saving 1069
 Process 1070
 Process 1071
 Process 1072
 Process 1073
 Process 1074
 Process 1075
 Process 1076
 Process 1077
 Process 1078
 Process 1079
saving 1079
 Process 1080
 Process 1081
 Process 1082
 Process 1083
 Process 1084
 Process 1085
 Process 1086
 Process 1087
 Process 1088
 Process 1089
saving 1089
 Process 1090
 Process 1091
 Process 1092
 Process 1093
 Process 1094
 Process 1095
 Process 1096
 Process 1097
 Process 1098
 Process 1099
saving 1099
 Process 1100
 Process 1101
 Process 1102
 Process 1103
 Process 1104
 Process 1105
 Process 1106
 Process 1107
 Process 1108
 Process 1109
saving 1109
 Process 1110
 Process 1111
 Process 1112
 Process 1113
 Process 1114
 Process 1115
 Process 1116
 Process 1117
 Process 1118
 Process 1119
saving 1119
 Process 1120
 Process 1121
 Process 1122
 Process 1123
 Process 1124
 Process 1125
 Process 1126
 Process 1127
 Process 1128
 Process 1129
saving 1129
 Process 1130
 Process 1131
 Process 1132
 Process 1133
 Process 1134
 Process 1135
 Process 1136
 Process 1137
 Process 1138
 Process 1139
saving 1139
 Process 1140
 Process 1141
 Process 1142
 Process 1143
 Process 1144
 Process 1145
 Process 1146
 Process 1147
 Process 1148
 Process 1149
saving 1149
 Process 1150
 Process 1151
 Process 1152
 Process 1153
 Process 1154
 Process 1155
 Process 1156
 Process 1157
 Process 1158
 Process 1159
saving 1159
 Process 1160
 Process 1161
 Process 1162
 Process 1163
 Process 1164
 Process 1165
 Process 1166
 Process 1167
 Process 1168
 Process 1169
saving 1169
 Process 1170
 Process 1171
 Process 1172
 Process 1173
 Process 1174
 Process 1175
 Process 1176
 Process 1177
 Process 1178
 Process 1179
saving 1179
 Process 1180
 Process 1181
 Process 1182
 Process 1183
 Process 1184
 Process 1185
 Process 1186
 Process 1187
 Process 1188
 Process 1189
saving 1189
 Process 1190
 Process 1191
 Process 1192
 Process 1193
 Process 1194
 Process 1195
 Process 1196
 Process 1197
 Process 1198
 Process 1199
saving 1199
 Process 1200
 Process 1201
 Process 1202
 Process 1203
 Process 1204
 Process 1205
 Process 1206
 Process 1207
 Process 1208
 Process 1209
saving 1209
 Process 1210
 Process 1211
 Process 1212
 Process 1213
 Process 1214
 Process 1215
 Process 1216
 Process 1217
 Process 1218
 Process 1219
saving 1219
 Process 1220
 Process 1221
 Process 1222
 Process 1223
 Process 1224
 Process 1225
 Process 1226
 Process 1227
 Process 1228
 Process 1229
saving 1229
 Process 1230
 Process 1231
 Process 1232
 Process 1233
 Process 1234
 Process 1235
 Process 1236
 Process 1237
 Process 1238
 Process 1239
saving 1239
 Process 1240
 Process 1241
 Process 1242
 Process 1243
 Process 1244
 Process 1245
 Process 1246
 Process 1247
 Process 1248
 Process 1249
saving 1249
 Process 1250
 Process 1251
 Process 1252
 Process 1253
 Process 1254
 Process 1255
 Process 1256
 Process 1257
 Process 1258
 Process 1259
saving 1259
 Process 1260
 Process 1261
 Process 1262
 Process 1263
 Process 1264
 Process 1265
 Process 1266
 Process 1267
 Process 1268
 Process 1269
saving 1269
 Process 1270
 Process 1271
 Process 1272
 Process 1273
 Process 1274
 Process 1275
 Process 1276
 Process 1277
 Process 1278
 Process 1279
saving 1279
 Process 1280
 Process 1281
 Process 1282
 Process 1283
 Process 1284
 Process 1285
 Process 1286
 Process 1287
 Process 1288
 Process 1289
saving 1289
 Process 1290
 Process 1291
 Process 1292
 Process 1293
 Process 1294
 Process 1295
 Process 1296
 Process 1297
 Process 1298
 Process 1299
saving 1299
 Process 1300
 Process 1301
 Process 1302
 Process 1303
 Process 1304
 Process 1305
 Process 1306
 Process 1307
 Process 1308
 Process 1309
saving 1309
 Process 1310
 Process 1311
 Process 1312
 Process 1313
 Process 1314
 Process 1315
 Process 1316
 Process 1317
 Process 1318
 Process 1319
saving 1319
 Process 1320
 Process 1321
 Process 1322
 Process 1323
 Process 1324
 Process 1325
 Process 1326
 Process 1327
 Process 1328
 Process 1329
saving 1329
 Process 1330
 Process 1331
 Process 1332
 Process 1333
 Process 1334
 Process 1335
 Process 1336
 Process 1337
 Process 1338
 Process 1339
saving 1339
 Process 1340
 Process 1341
 Process 1342
 Process 1343
 Process 1344
 Process 1345
 Process 1346
 Process 1347
 Process 1348
 Process 1349
saving 1349
 Process 1350
 Process 1351
*************************Bad Request**************
 Process 1353
 Process 1354
 Process 1355
 Process 1356
 Process 1357
 Process 1358
 Process 1359
saving 1359
 Process 1360
 Process 1361
 Process 1362
 Process 1363
 Process 1364
 Process 1365
 Process 1366
 Process 1367
 Process 1368
 Process 1369
saving 1369
 Process 1370
 Process 1371
 Process 1372
 Process 1373
 Process 1374
 Process 1375
 Process 1376
 Process 1377
 Process 1378
 Process 1379
saving 1379
 Process 1380
 Process 1381
 Process 1382
 Process 1383
 Process 1384
 Process 1385

In [ ]:
len(outputs)

99

In [ ]:
outputs

['Thought: The SQL query is counting the total number of distinct subjects in the dataset.\nAnswer: 25']

In [ ]:
llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)

[{'text': 'what is the average percentage of each selection in the polls?'}]

In [ ]:
all_queries

['who finished after Sebastian Porto in the race?',
 'who came before sebastian porto in the race?',
 'who came after the rider who came before sebastian porto?']

In [ ]:
outputs

['Thought: The BBC Three weekly ranking for episode 9 was 6, which is higher than the ranking for episode 8, which was 5. Therefore, episode 9 had a better BBC Three weekly ranking than episode 8.\nAnswer: episode 9']

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
##### add residual 

from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
# from FlagEmbedding import FlagReranker
from openai import BadRequestError, RateLimitError
from tqdm.notebook import tqdm
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.tech/v1",
#                        openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.01)
save_path = f"../result/final_answer/wikitable_row_add_06-07_07-46-11.csv"
sample_k = 3
data = pd.read_csv(save_path)

tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 0
with tqdm(total=len(table_loader.dataset), desc=f"Processing",ncols=150) as pbar:
    while i < len(table_loader.dataset):
        if table_loader.dataset[i]['id'] in list(data['ids']):
            i += 1
        else:
            try:
                sample = table_loader.normalize_table(
                                    table_loader.dataset[i])
                col_name, col_schema = parse_output(schema_information.loc[sample['table']['id']]['schema'])
                sample = add_random_rows(sample, col_schema)     
                all_tokens = 0
                all_queries = []
                formatter = TableFormat(format='none', data=sample, save_embedding=False)
                sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
                with get_openai_callback() as cb:
                    llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    all_queries.append(batch_pred[0]['text'].strip())
                    # print(all_queries)
                    llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
                    # print(all_queries)
                all_tokens += cb.total_tokens
                all_queries = list(set(all_queries))
                args_list = [{"query": q, "sample": sample,  "k": sample_k} for q in all_queries]
                # print(len(args_list))
                ans_from_B = parallel_run_kwargs(scene_B, args_list)
                results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0]]
                all_tokens += sum([res[1] for res in ans_from_B])
                #With answer
                # results= []
                with get_openai_callback() as cb:
                    imp_input = scene_A(sample['query'], sample, sample_k, True)
                    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer() , verbose=True)
                    batch_pred = llm_chain.batch([{"query":sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
                    # print(batch_pred[0])
                all_tokens += cb.total_tokens
                # print('ALL TOKENS', all_tokens)
                ids.append(sample['id'])
                labels.append(sample['query'])
                outputs.append(batch_pred[0]['text'])
                tokens.append(all_tokens)
                extra_quries.append(';'.join(all_queries))
                i += 1
                print(f'process {i}')
            #         if (i + 1) % 10 == 0:
            #                 print(f'saving {i}')

            #         i += 1
            #         pbar.update(1)
            except ValueError as e:
                print(f'******************Value Error {i}****************************')
                i += 1
                # pbar.update(1)
            except BadRequestError as e:
                print('*************************Bad Request**************')
                i += 1
            #     pbar.update(1)
            except RateLimitError as e:
                print('*************************Rate limit**************')
                pass
        pbar.update(1)
# save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

Processing:   0%|                                                                                             …

> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>2007 Bavaria Champ Car Grand Prix</caption>
<thead>
<tr><th>    Pos</th><th>           Name</th><th>            Team</th><th>   Laps</th><th>  Time_Retired</th><th>   Grid</th><th>  Points</th></tr>
</thead>
<tbody>
<tr><td>11.0000</td><td>Dan Clarke     </td><td>Minardi Team USA</td><td>69.0000</td><td>+38.903       </td><td>10.0000</td><td>11      </td></tr>
<tr><td>1.0000 </td><td>Justin Wilson  </td><td>RuSPORT         </td><td>69.0000</td><td>1:46:02.236   </td><td>2.0000 </td><td>32      </td></tr>
<tr><td>13.0000</td><td>Robert Doornbos</td><td>Minardi Team USA</td><td>69.0000</td><td>+1:00.638     </td><td>9.0000 </td><td>8       </td></tr>
</tbody>
</table>
Extra information: The table shows the results of the 2007 Bavaria Champ Car Grand Prix, including the position, name, team, laps completed, time retired, grid position, and points earned for the top 3 finishers.
1. Pos: The position of the driver in the race
2. Name: The name of the driver
3. Team: The team the driver belongs to
4. Laps: The number of laps completed by the driver
5. Time_Retired: The time it took for the driver to retire from the race
6. Grid: The grid position of the driver at the start of the race
7. Points: The points earned by the driver in the race

Query: how many drivers are from the united kingdom?

> Finished chain.
Column linking: united kingdom -> Name
Columns: Name


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>2007 Bavaria Champ Car Grand Prix</caption>
<thead>
<tr><th>           Name</th></tr>
</thead>
<tbody>
<tr><td>Dan Clarke     </td></tr>
<tr><td>Justin Wilson  </td></tr>
<tr><td>Robert Doornbos</td></tr>
</tbody>
</table>
Extra information: The table shows the results of the 2007 Bavaria Champ Car Grand Prix, including the position, name, team, laps completed, time retired, grid position, and points earned for the top 3 finishers.
Column information:
Name:Names of the drivers (Values like Justin Wilson, Jan Heylen, Bruno Junqueira...)

Query: how many drivers are from the united kingdom?
SQL:

> Finished chain.
SELECT COUNT(*)
FROM DF
WHERE Name LIKE '%United Kingdom%';


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Query: other than audio, what type of payload types are there?
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video.
Answer: video



SQL Excuted:
```SELECT COUNT(*)
FROM DF
WHERE Name LIKE '%United Kingdom%';```
Sub-table: <table>
<thead>
<tr><th>  COUNT(*)</th></tr>
</thead>
<tbody>
<tr><td>0.0000    </td></tr>
</tbody>
</table>
Extra information:
Based on the sub-table generated by executing the SQL query, there are 18 drivers in the table.

Query: how many drivers are from the united kingdom?

> Finished chain.
process 370
******************Value Error 448****************************


> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>List of Big Brother (UK) housemates</caption>
<thead>
<tr><th>  Series</th><th>         Name</th><th>    Age</th><th>   Hometown</th><th>         Occupation</th><th>         Status</th></tr>
</thead>
<tbody>
<tr><td>BB14    </td><td>Dexter Koh   </td><td>28.0000</td><td>London     </td><td>Celebrity publicist</td><td>2nd - Runner-up</td></tr>
<tr><td>UBB     </td><td>Nikki Grahame</td><td>28.0000</td><td>London     </td><td>Participated in BB7</td><td>2nd - Runner-up</td></tr>
<tr><td>BB2     </td><td>Helen Adams  </td><td>22.0000</td><td>South Wales</td><td>Hairdresser        </td><td>2nd - Runner-up</td></tr>
</tbody>
</table>
Extra information: List of Big Brother (UK) housemates
1. Series: The season of Big Brother
2. Name: The name of the housemate
3. Age: The age of the housemate
4. Hometown: The hometown of the housemate
5. Occupation: The occupation of the housemate
6. Status: The final status of the housemate in the competition

Query: how many contestants participated in season two?

> Finished chain.
Column linking: season two -> Series, contestants -> Name, participated -> Status
Columns: Series, Name, Status


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>List of Big Brother (UK) housemates</caption>
<thead>
<tr><th>         Status</th><th>         Name</th><th>  Series</th></tr>
</thead>
<tbody>
<tr><td>2nd - Runner-up</td><td>Dexter Koh   </td><td>BB14    </td></tr>
<tr><td>2nd - Runner-up</td><td>Nikki Grahame</td><td>UBB     </td></tr>
<tr><td>2nd - Runner-up</td><td>Helen Adams  </td><td>BB2     </td></tr>
</tbody>
</table>
Extra information: List of Big Brother (UK) housemates
Column information:
Series:Format is 'BB' followed by a number indicating the season of Big Brother (UK) (Values like BB1, BB2, BB3...)
Name:Names of the housemates are listed with first and last name (Values like Craig Phillips, Anna Nolan, Darren Ramsay...)
Status:Status of the housemates in the show is listed with their final position or outcome (Values like 1st - Winner, 2nd - Runner-up, 3rd - Third place...)

Query: how many contestants participated in season two?
SQL:

> Finished chain.
SELECT COUNT(*)
FROM DF
WHERE Series = 'BB2';


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Query: other than audio, what type of payload types are there?
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video.
Answer: video



SQL Excuted:
```SELECT COUNT(*)
FROM DF
WHERE Series = 'BB2';```
Sub-table: <table>
<thead>
<tr><th>  COUNT(*)</th></tr>
</thead>
<tbody>
<tr><td>11.0000   </td></tr>
</tbody>
</table>
Extra information:
Based on the sub-table generated by the SQL query, 13 contestants participated in series 'BB5'.
The series for season two is 'BB2'.
There were 285 contestants who participated in the series.

Query: how many contestants participated in season two?

> Finished chain.
process 643
*************************Bad Request**************
******************Value Error 1685****************************


> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>List of law clerks of the Supreme Court of the United States (Seat 6)</caption>
<thead>
<tr><th>          Clerk</th><th>  Started</th><th>  Finished</th><th>    School_year</th><th>  Previous_clerkship</th></tr>
</thead>
<tbody>
<tr><td>Kenneth W. Dam </td><td>1957     </td><td>1958      </td><td>Chicago (1957) </td><td>                    </td></tr>
<tr><td>Alan C. Kohn   </td><td>1957     </td><td>1958      </td><td>Wash U (1955)  </td><td>                    </td></tr>
<tr><td>Jerome B. Libin</td><td>1959     </td><td>1960      </td><td>Michigan (1959)</td><td>                    </td></tr>
</tbody>
</table>
Extra information: List of law clerks of the Supreme Court of the United States (Seat 6)
1. Clerk: The name of the law clerk
2. Started: The year the law clerk started their clerkship
3. Finished: The year the law clerk finished their clerkship
4. School_year: The school and year the law clerk attended
5. Previous_clerkship: Information on any previous clerkship the law clerk had before this one

Query: how many total clerks have worked for this person?

> Finished chain.
There is no direct link between the query and the columns in the table provided.


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>List of law clerks of the Supreme Court of the United States (Seat 6)</caption>
<thead>
<tr><th>          Clerk</th><th>  Started</th><th>  Finished</th><th>    School_year</th><th>  Previous_clerkship</th></tr>
</thead>
<tbody>
<tr><td>Kenneth W. Dam </td><td>1957     </td><td>1958      </td><td>Chicago (1957) </td><td>                    </td></tr>
<tr><td>Alan C. Kohn   </td><td>1957     </td><td>1958      </td><td>Wash U (1955)  </td><td>                    </td></tr>
<tr><td>Jerome B. Libin</td><td>1959     </td><td>1960      </td><td>Michigan (1959)</td><td>                    </td></tr>
</tbody>
</table>
Extra information: List of law clerks of the Supreme Court of the United States (Seat 6)
Column information:
Clerk:Names of individuals who served as law clerks at the Supreme Court of the United States (Seat 6) are listed (Values like Kenneth W. Dam, Alan C. Kohn, William C. Canby, Jr....)
Started:Years in which the law clerks started their clerkship (Values like 1957, 1958, 1959, 1961, 1911-2-19)
Finished:Years in which the law clerks finished their clerkship (Values like 1958, 1959, 1960, 1962, 1890-4-12)
School_year:Names of schools attended by the law clerks along with the year of attendance (Values like Chicago (1957), Wash U (1955), Minnesota (1956)...)
Previous_clerkship:Information about any previous clerkship experience, if applicable (Values like Smolensk Offensive)

Query: how many total clerks have worked for this person?
SQL:


In [ ]:
len(outputs)

6

In [ ]:
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

In [ ]:
def parse_extra_info(summary_aug, column_aug, composition_aug, columns):
    col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
    items, crackets = parse_output(composition_aug, pattern = r'\d. (.+?): (.+)')
    assert len(items) == len(col_names)
    extra_col_info = []
    for i_c in range(len(col_names)):
        if col_names[i_c] in columns:
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]} {crackets[i_c]}')
            
    extra_col_info.append('row_number: row number in the original table')
    return summary_aug + '\n'.join(extra_col_info)