## Start

In [16]:
# transform data into sqlite database
from data_loader import TableLoader

table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)

In [17]:
len(table_loader.dataset)

1998

In [1]:
from datasets import load_dataset
totto = load_dataset('./data_loader/totto_zh.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")
tabfact = load_dataset('./data_loader/tabfact.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")
sqa = load_dataset('./data_loader/sqa.py', verification_mode="no_checks", cache_dir="/media/disk2/datasets")

In [34]:
filtered_dataset = table_loader.dataset.filter(lambda example: example['small_test'])

Filter: 100%|██████████| 1000/1000 [00:00<00:00, 4669.79 examples/s]

In [35]:
filtered_dataset

Dataset({
    features: ['id', 'table', 'statement', 'label', 'hardness', 'small_test'],
    num_rows: 147
})

In [13]:
len(table_loader.dataset)

47

In [35]:
test_sample = table_loader.dataset[2]
test_sample

{'id': 996,
 'table': {'id': '2-16369528-1.html.csv',
  'header': ['year',
   'best teenage / young adult',
   "reader 's vote",
   'best non - fiction',
   'lifetime achievement'],
  'rows': [['1996', 'na', 'na', 'na', 'jon cleary'],
   ['1997',
    'na',
    'na',
    'how to write crime edited by marele day',
    'alan yates (aka carter brown )'],
   ['1998', 'na', 'na', 'na', 'na'],
   ['1999', 'na', 'na', 'na', 'peter corris'],
   ['2000', 'na', 'na', 'na', 'na'],
   ['2001',
    'na',
    'bleeding hearts by lindy cameron',
    'na',
    'professor stephen knight'],
   ['2002',
    'blue murder by ken catran',
    'apartment 255 by bunty avieson',
    'na',
    'patrick gallagher'],
   ['2003', 'na', 'na', 'na', 'kerry greenwood'],
   ['2004', 'na', 'na', 'na', 'bob bottom'],
   ['2005', 'na', 'na', 'na', 'stuart coupe'],
   ['2006', 'na', 'na', 'na', 'andrew rule and john silvester'],
   ['2007', 'na', 'na', 'na', 'sandra harvey and lindsay simpson'],
   ['2008', 'na', 'na', 'na', 'marele day'],
   ['2009', 'na', 'na', 'na', 'shane maloney'],
   ['2010', 'na', 'na', 'na', 'peter doyle'],
   ['2011', 'na', 'na', 'na', 'na']],
  'caption': 'ned kelly awards'},
 'statement': 'after 2005 , the winner of the lifetime achievement award be andrew rule john silvester , sandra harvey lindsay simpson , marele day , shane maloney , and peter doyle',
 'label': 1,
 'hardness': 'simple',
 'small_test': True}

### Data Augmentation

In [ ]:
#引入 schema(table measurement) statistical(numerical) enum string(char) date
#引入 term explanation（table comment(RAG)）
#引入 column summarization
#是否需要search engine
#table size, statistical features, header hierarchy

In [3]:
#schema 
from data_loader import TableFormat
from langchain.prompts.prompt import PromptTemplate
from langchain_core.messages import HumanMessage
from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.tech/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
# formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
pre_instruction = PromptTemplate(input_variables=["table"], template=
"""
Instruction: Given the following table, you will add Metadata about the columns in the table.
Metadata includes:
- Numerical: whether the column content is numeric type like int or float.
- Char: whether the column content is a text or description.
- Date: whether the column content is datetime.

You need to output all the column names with metadata in angle brackets.
Example: name<Char>, launched<Date>, count<Numerical>

Table: {table}
Output:
""")
# 
# output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html()))])

In [16]:
output.response_metadata['token_usage']

{'completion_tokens': 1, 'prompt_tokens': 269, 'total_tokens': 270}

In [51]:
#summarization
pre_instruction_summary = PromptTemplate(input_variables=['table'], template=
"""
Instruction: Given the following table, you need to first summarize the contents of the table, then based on the summay, give a concluded description to each of the column.
Table: {table}

The output should use the following format: 
table summary: #summary for table contents
column description: You need to output all the column names with description in angle brackets
example: launched<The launched date for the competition> date<The date of the match>
""")
output = model.invoke([HumanMessage(content=pre_instruction_summary.format(table=formatter.format_html()))])

In [52]:
print(output.content)

table summary: The table shows the performance of a player in different tennis tournaments from 1986 to 1999.

column description:
tournament<The name of the tennis tournament>
1986<The player's performance in the tournament in 1986>
1988<The player's performance in the tournament in 1988>
1989<The player's performance in the tournament in 1989>
1990<The player's performance in the tournament in 1990>
1991<The player's performance in the tournament in 1991>
1992<The player's performance in the tournament in 1992>
1993<The player's performance in the tournament in 1993>
1994<The player's performance in the tournament in 1994>
1995<The player's performance in the tournament in 1995>
1996<The player's performance in the tournament in 1996>
1997<The player's performance in the tournament in 1997>
1998<The player's performance in the tournament in 1998>
1999<The player's performance in the tournament in 1999>

In [11]:
import os
os.environ['LANGCHAIN_TRACING_V2'] = "true"

In [10]:
#table_size
def get_table_size():
    return f'The table has {formatter.data.shape[0]} rows and {formatter.data.shape[1]} columns.'
from langchain_openai import ChatOpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.1)
from data_loader import TableAug,TableFormat
aug = TableAug(model)
# aug.schema_aug(test_sample)
test_sample = table_loader.dataset[0]
formatter = TableFormat(format='none')
output = aug.batch_summary_aug(formatter, table_loader.dataset[:2], batch_size=2, output_token=True)
# batch_data = table_loader.dataset[:2]

# print([formatter.load_data_from_dic({key: value[i] for key, value in batch_data.items()}).format_html() for i in range(len(batch_data.keys())) ])
# print([formatter.load_data_from_dic({key: value[i] for key, value in table_loader.dataset[:2].items()}).format_html() for i in range(2)])

KeyError: 0

In [9]:
print(output[0])

{'text': 'table summary: The table provides information about different wind farms including their names, scheduled dates, capacity in megawatts, number of turbines, types of turbines, and locations.\n\ncolumn description: \nwind farm<The name of the wind farm>\nscheduled<The scheduled date for the wind farm>\ncapacity (mw)<The capacity of the wind farm in megawatts>\nturbines<The number of turbines at the wind farm>\ntype<The type of turbines used at the wind farm>\nlocation<The location of the wind farm>'}

In [8]:
print(formatter.format_nl_sep())

Col :Name|Title|Date_c_from|Date_until|Russian_state|Austrian_state
Row 1 :Lev Pavlovich Urusov|Ambassador|1905|1910|Russian Empire|Austria-Hungary
Row 2 :Konstantin Konstantinovich Yurenev|Plenipotentiary|1 October 1927|24 January 1933|Soviet Union|Federal State of Austria
Row 3 :Averky Borisovich Aristov|Ambassador Extraordinary and Plenipotentiary|20 September 1971|11 July 1973|Soviet Union|Republic of Austria

## Embedding

In [84]:
sample['table']['id']

'csv/204-csv/925.tsv'

In [131]:
import pandas as pd
from utils import parse_specific_composition, parse_output
sample = table_loader.normalize_table(table_loader.dataset[505])
formatter = TableFormat(format='none',data=sample)
formatter.all_data
row_string = []
task_name = 'wikitable'
split = 'test'
schema_information = pd.read_csv(f"result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description']
col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
extra_col_info = []
for i_c in range(len(col_names)):
    extra_col_info.append(f'{col_names[i_c]}: {col_infos[i_c]}')
# extra_information = '\n'.join(parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], formatter.all_data.columns))
# for i in range(len(formatter.all_data.columns)):
#     row_string.append(formatter.all_data.columns[i])
# from langchain_text_splitters import CharacterTextSplitter
# text_splitter = CharacterTextSplitter(chunk_size=1, chunk_overlap=0, separator='\n\n')
# texts = text_splitter.split_text('\n\n'.join(row_string))

In [15]:
from langchain_openai import OpenAIEmbeddings
embeddings = OpenAIEmbeddings(openai_api_base="https://api.chatanywhere.com.cn/v1", openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4")

In [91]:
sample['query']

'which team had the first pick this round?'

In [132]:
from langchain_community.vectorstores import FAISS
db = FAISS.from_texts(extra_col_info, embeddings)

In [185]:
retriever = db.as_retriever(search_kwargs={"include_metadata": True, "score_threshold": 0.4})
result = retriever.invoke(sample['query'])

In [140]:
[r.page_content.split(':')[0].strip() for r in result]  + ['a']

['NHL_team', 'Pick_num', 'a']

In [139]:
formatter.all_data[[r.page_content.split(':')[0].strip() for r in result]]

                 NHL_team Pick_num
0           Winnipeg Jets      148
1       Detroit Red Wings      149
2        Colorado Rockies      150
3        Hartford Whalers      151
4     Washington Capitals      152
5     Toronto Maple Leafs      153
6     Pittsburgh Penguins      154
7         Edmonton Oilers      155
8        New York Rangers      156
9       Vancouver Canucks      157
10       Quebec Nordiques      158
11    Chicago Black Hawks      159
12  Minnesota North Stars      160
13          Boston Bruins      161
14         Calgary Flames      162
15    Philadelphia Flyers      163
16         Buffalo Sabres      164
17      Los Angeles Kings      165
18     Montreal Canadiens      166
19        St. Louis Blues      167
20     New York Islanders      168

In [100]:
import re
pattern = re.compile(r'# Row (\d+)')
rowinds = [int(pattern.search(r.page_content).group(1)) for r in result]

AttributeError: 'NoneType' object has no attribute 'group'

In [41]:
formatter.all_data.loc[rowinds]

             Name League FA_Cup League_Cup JP_Trophy Total
8   Jamie Cureton     20      0          0         0    20
5   Guillem Bauza      2      0          0         0     2
7     Pat Baldwin      1      0          0         0     1
11      OWN GOALS      0      0          0         0     0

### Few Shot learning

In [9]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
summary_examples = ['The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.',
                    "The table provides information about different destroyers, including their kanji (Japanese characters), names, builders, dates when they were laid down, launched, and completed."]
subtable_examples = ['Columns(wind farm, scheduled, turbines), Rows(12)',
                    'Columns(kanji, builder), Rows(ALL)']
inds = [0, 100]
examples_prompt = PromptTemplate(input_variables=["table", "claim", "summary", "subtable"], template=
"""
Table: {table}
Claim: {claim}
Summary: {summary}
Subtable: {subtable}""")
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
num_k = 2
# examples = [examples_prompt.format(**{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]]).format_html(),
#                                     "claim": table_loader.dataset[inds[i]]['statement'],
#                                     "summary": summary_examples[i],
#                                     "subtable": subtable_examples[i]}) for i in range(num_k)]

examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(),
                                    "claim": table_loader.dataset[inds[i]]['statement'],
                                    "summary": summary_examples[i],
                                    "subtable": subtable_examples[i]} for i in range(num_k)]
prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="Instruction: Given the following table and claim, let's first summarize the contents of the rows and columns of the table, and then select relevent rows/columns in the given table that support or oppose the statement.",
    suffix=
    """
Table: {table}
Claim: {claim}
    """,
    input_variables=["table", "claim"],
)
print(prompt.format(table=formatter.format_html(), claim=test_sample['statement']))

Instruction: Given the following table and claim, let's first summarize the contents of the rows and columns of the table, and then select relevent rows/columns in the given table that support or oppose the statement.


Table: <table>
<thead>
<tr><th>  wind farm</th><th>  scheduled</th><th>  capacity (mw)</th><th>  turbines</th><th>              type</th><th>      location</th></tr>
</thead>
<tbody>
<tr><td>codling    </td><td>unknown    </td><td>1100           </td><td>220       </td><td>unknown           </td><td>county wicklow</td></tr>
<tr><td>carrowleagh</td><td>2012       </td><td>36.8           </td><td>16        </td><td>enercon e - 70 2.3</td><td>county cork   </td></tr>
<tr><td>gortahile  </td><td>2010 autumn</td><td>20             </td><td>8         </td><td>nordex n90        </td><td>county laois  </td></tr>
</tbody>
</table>
Claim: the scheduled date for the farm with 17 turbine be 2012
Summary: The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.
Subtable: Columns(wind farm, scheduled, turbines), Rows(12)


Table: <table>
<thead>
<tr><th>  kanji</th><th>             name</th><th>                     builder</th><th>     laid down</th><th>     launched</th><th>      completed</th></tr>
</thead>
<tbody>
<tr><td>望月   </td><td>mochizuki dd - 33</td><td>uraga dock company , japan  </td><td>23 march 1926 </td><td>28 april 1927</td><td>31 october 1927</td></tr>
<tr><td>三日月 </td><td>mikazuki dd - 32 </td><td>sasebo naval arsenal , japan</td><td>21 august 1925</td><td>12 july 1926 </td><td>5 may 1927     </td></tr>
<tr><td>睦月   </td><td>mutsuki dd - 19  </td><td>sasebo naval arsenal , japan</td><td>21 may 1924   </td><td>23 july 1925 </td><td>25 march 1926  </td></tr>
</tbody>
</table>
Claim: uraga dock company produce the most destroyer on the list , at 3
Summary: The table provides information about different destroyers, including their kanji (Japanese characters), names, builders, dates when they were laid down, launched, and completed.
Subtable: Columns(kanji, builder), Rows(ALL)


Table: <table>
<thead>
<tr><th>               event name</th><th>  established</th><th>  category</th><th>  sub category</th><th>           main venue</th></tr>
</thead>
<tbody>
<tr><td>the frye festival        </td><td>2000         </td><td>arts      </td><td>literary      </td><td>university of moncton</td></tr>
<tr><td>world wine &amp; food expo   </td><td>1990         </td><td>arts      </td><td>food &amp; drink  </td><td>moncton coliseum     </td></tr>
<tr><td>dieppe kite international</td><td>2001         </td><td>sporting  </td><td>kite flying   </td><td>dover park           </td></tr>
</tbody>
</table>
Claim: touchdown atlantic , in the category of sporting , be establish in 2010

In [5]:
from data_loader import TableFormat
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])

AIMessage(content='Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(2)', response_metadata={'token_usage': {'completion_tokens': 41, 'prompt_tokens': 931, 'total_tokens': 972}, 'model_name': 'gpt-3.5-turbo', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None})

### Few-shot for operations

In [38]:
from data_loader import TableFormat
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.few_shot import FewShotPromptTemplate
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
inds = [0,2]
summary_examples = ['The columns in the table are "wind farm, scheduled, capacity (mw), turbines, type, and location." The rows in the table represent different wind farms, with information about their scheduled dates, capacity, number of turbines, type, and location.',
                    "The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues."]
Output_examples = ['wind farm<DELETE>, scheduled<KEEP>, capacity (mw)<DELETE>, turbines<KEEP>, type<KEEP>, location<KEEP>', 'event name<KEEP> established<KEEP> category<KEEP> sub category<DELETE> main venue<DELETE>']
examples_prompt = PromptTemplate(input_variables=["table", "claim", "output"], template=
"""
Table: {table}
Claim: {claim}
Output: {output}""")
num_k = 2
examples_dict = [{"table": TableFormat(format='none', data=table_loader.dataset[inds[i]], use_sampling=True).format_html(),
                                    "claim": table_loader.dataset[inds[i]]['statement'],
                                    # "summary": summary_examples[i],
                                    "output": Output_examples[i]} for i in range(num_k)]
prompt = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
Instruction: Given the following table and claim, you will output the operations corresponding to each column which can help us judging the truth or falsity of claim.
Operations: DELETE(delete column unrelevant to the claim), KEEP(keep column relevant to the claim), GROUP BY(combine aggregate functions and group the result set by one or more columns), COUNT(returns the number of rows in column), AVG(returns the average value of a numeric column), SUM(returns the sum of a numeric column), MAX(returns the max value of a numeric column), MIN(returns the min value of a numeric column), ORDER BY(sort the value in ascending order)""",
    suffix=
    """
Table: {table}
Thought: your reason here
Claim: {claim}
    """,
    input_variables=["table", "claim"],
)
print(prompt.format(table=formatter.format_html(), claim=test_sample['statement']))

# output = model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])

You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
Instruction: Given the following table and claim, you will output the operations corresponding to each column which can help us judging the truth or falsity of claim.
Operations: DELETE(delete column unrelevant to the claim), KEEP(keep column relevant to the claim), GROUP BY(combine aggregate functions and group the result set by one or more columns), COUNT(returns the number of rows in column), AVG(returns the average value of a numeric column), SUM(returns the sum of a numeric column), MAX(returns the max value of a numeric column), MIN(returns the min value of a numeric column), ORDER BY(sort the value in ascending order)


Table: <table>
<thead>
<tr><th>  wind farm</th><th>  scheduled</th><th>  capacity (mw)</th><th>  turbines</th><th>              type</th><th>      location</th></tr>
</thead>
<tbody>
<tr><td>codling    </td><td>unknown    </td><td>1100           </td><td>220       </td><td>unknown           </td><td>county wicklow</td></tr>
<tr><td>carrowleagh</td><td>2012       </td><td>36.8           </td><td>16        </td><td>enercon e - 70 2.3</td><td>county cork   </td></tr>
<tr><td>gortahile  </td><td>2010 autumn</td><td>20             </td><td>8         </td><td>nordex n90        </td><td>county laois  </td></tr>
</tbody>
</table>
Claim: the scheduled date for the farm with 17 turbine be 2012
Output: wind farm<DELETE>, scheduled<KEEP>, capacity (mw)<DELETE>, turbines<KEEP>, type<KEEP>, location<KEEP>


Table: <table>
<thead>
<tr><th>               event name</th><th>  established</th><th>  category</th><th>  sub category</th><th>           main venue</th></tr>
</thead>
<tbody>
<tr><td>the frye festival        </td><td>2000         </td><td>arts      </td><td>literary      </td><td>university of moncton</td></tr>
<tr><td>world wine &amp; food expo   </td><td>1990         </td><td>arts      </td><td>food &amp; drink  </td><td>moncton coliseum     </td></tr>
<tr><td>dieppe kite international</td><td>2001         </td><td>sporting  </td><td>kite flying   </td><td>dover park           </td></tr>
</tbody>
</table>
Claim: touchdown atlantic , in the category of sporting , be establish in 2010
Output: event name<KEEP> established<KEEP> category<KEEP> sub category<DELETE> main venue<DELETE>


Table: <table>
<thead>
<tr><th>            date</th><th>        tournament</th><th>  surface</th><th>        partner</th><th>                                     opponents</th><th>                score</th></tr>
</thead>
<tbody>
<tr><td>11 february 2008</td><td>mallorca 2 , spain</td><td>clay     </td><td>stephanie vogt </td><td>leticia costas - moreira maite gabarrus alonso</td><td>7 - 6 (7 - 2) , 6 - 3</td></tr>
<tr><td>8 february 2010 </td><td>cali , colombia   </td><td>clay     </td><td>edina gallovits</td><td>estrella cabeza candella laura pous tió       </td><td>3 - 6 , 6 - 3 ,      </td></tr>
<tr><td>28 april 2008   </td><td>makarska , croatia</td><td>clay     </td><td>stephanie vogt </td><td>tadeja majerić maša zec peškirič              </td><td>7 - 5 , 6 - 2        </td></tr>
</tbody>
</table>
Thought: your reason here
Claim: polona hercog partner with alberta brianti after she have stephanie vogt as the partner

In [39]:
output = model.invoke([HumanMessage(content=prompt.format(table=formatter.format_html(), claim=test_sample['statement']))])
print(output)

content='Output: date<DELETE>, tournament<DELETE>, surface<DELETE>, partner<KEEP>, opponents<KEEP>, score<DELETE>' response_metadata={'token_usage': {'completion_tokens': 26, 'prompt_tokens': 1037, 'total_tokens': 1063}, 'model_name': 'gpt-3.5-turbo-0125', 'system_fingerprint': 'fp_b28b39ffa8', 'finish_reason': 'stop', 'logprobs': None}

In [35]:
print(formatter.format_psql())
print(test_sample['statement'])
print(test_sample['label'])

+------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------+
| date             | tournament                        | surface   | partner             | opponents                                      | score                 |
|------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------|
| 15 january 2007  | algiers 2 , algeria               | clay      | rushmi chakravarthi | barbora matusova anna savitskaya               | 6 - 2 , 6 - 0         |
| 11 february 2008 | mallorca 2 , spain                | clay      | stephanie vogt      | leticia costas - moreira maite gabarrus alonso | 7 - 6 (7 - 2) , 6 - 3 |
| 28 april 2008    | makarska , croatia                | clay      | stephanie vogt      | tadeja majerić maša zec peškirič               | 7 - 5 , 6 - 2         |
| 8 september 2008 | sarajevo 2 , bosnia - herzegovina | clay      | alberta brianti     | çağla büyükakçay julia glushko                 | 6 - 4 , 7 - 5         |
| 8 february 2010  | cali , colombia                   | clay      | edina gallovits     | estrella cabeza candella laura pous tió        | 3 - 6 , 6 - 3 ,       |
+------------------+-----------------------------------+-----------+---------------------+------------------------------------------------+-----------------------+
polona hercog partner with alberta brianti after she have stephanie vogt as the partner
1

## Zero-shot learning

In [22]:
from tabulate import tabulate
formatter = TableFormat(format='none', data=test_sample)
print(test_sample['statement'])
print(tabulate(formatter.data, headers=formatter.data.columns, tablefmt='psql'))
# print('Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(2)')

uraga dock company produce the most destroyer on the list , at 3
+----+---------+-------------------+--------------------------------+------------------+------------------+-------------------+
|    | kanji   | name              | builder                        | laid down        | launched         | completed         |
|----+---------+-------------------+--------------------------------+------------------+------------------+-------------------|
|  0 | 睦月    | mutsuki dd - 19   | sasebo naval arsenal , japan   | 21 may 1924      | 23 july 1925     | 25 march 1926     |
|  1 | 如月    | kisaragi dd - 21  | maizuru naval arsenal , japan  | 3 june 1924      | 5 june 1925      | 21 december 1925  |
|  2 | 彌生    | yayoi dd - 23     | uraga dock company , japan     | 11 january 1924  | 11 july 1925     | 28 august 1926    |
|  3 | 卯月    | uzuki dd - 25     | ishikawajima shipyards , japan | 11 january 1924  | 15 october 1925  | 14 september 1926 |
|  4 | 皐月    | satsuki dd - 27   | fujinagata shipyards , japan   | 1 december 1924  | 25 march 1925    | 15 november 1925  |
|  5 | 水無月  | minazuki dd - 28  | uraga dock company , japan     | 24 march 1924    | 25 march 1926    | 22 march 1927     |
|  6 | 文月    | fumizuki dd - 29  | fujinagata shipyards , japan   | 20 october 1924  | 16 february 1926 | 3 july 1926       |
|  7 | 長月    | nagatsuki dd - 30 | ishikawajima shipyards , japan | 16 april 1925    | 6 october 1926   | 30 april 1927     |
|  8 | 菊月    | kikuzuki dd - 31  | maizuru naval arsenal , japan  | 15 june 1925     | 15 may 1926      | 20 november 1926  |
|  9 | 三日月  | mikazuki dd - 32  | sasebo naval arsenal , japan   | 21 august 1925   | 12 july 1926     | 5 may 1927        |
| 10 | 望月    | mochizuki dd - 33 | uraga dock company , japan     | 23 march 1926    | 28 april 1927    | 31 october 1927   |
| 11 | 夕月    | yūzuki dd - 34    | fujinagata shipyards , japan   | 27 november 1926 | 4 march 1927     | 25 july 1927      |
+----+---------+-------------------+--------------------------------+------------------+------------------+-------------------+

In [10]:
from data_loader import TableFormat, TableLoader
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=True, small_test=False)
test_sample = table_loader.dataset[40]
formatter = TableFormat(format='none', data=test_sample, use_sampling=True)
pre_instruction_schema = PromptTemplate(input_variables=["table"], template="""
Instruction: Given the following table, you need to summarize the contents of the table and tell what table is about.
Table: {table}

The output should use the following format: 
Summary: #summary for table contents

Summary:
""")
output = model.invoke([HumanMessage(content=pre_instruction_schema.format(table=formatter.format_html(),))])

In [11]:
print(output.content)

The table provides information about different games played by a football team. It includes details like the week number, date of the game, opponent team, game result, game site, NFL recap, and the attendance for each game.

In [40]:
from tabulate import tabulate
print(tabulate(formatter.data, headers=formatter.data.columns, tablefmt='psql'))
print('Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.\nSubtable: Columns(event name, established, category), Rows(touchdown atlantic)')

+----+--------------------------------------------+---------------+----------------+----------------+--------------------------+
|    | event name                                 |   established | category       | sub category   | main venue               |
|----+--------------------------------------------+---------------+----------------+----------------+--------------------------|
|  0 | dieppe kite international                  |          2001 | sporting       | kite flying    | dover park               |
|  1 | the frye festival                          |          2000 | arts           | literary       | university of moncton    |
|  2 | hubcap comedy festival                     |          2000 | arts           | comedy         | various                  |
|  3 | touchdown atlantic                         |          2010 | sporting       | football       | moncton stadium          |
|  4 | atlantic nationals automotive extravaganza |          2000 | transportation | automotive     | moncton coliseum         |
|  5 | world wine & food expo                     |          1990 | arts           | food & drink   | moncton coliseum         |
|  6 | shediac lobster festival                   |          1950 | arts           | food & drink   | shediac festival grounds |
|  7 | mosaã¯q multicultural festival             |          2004 | festival       | multicultural  | moncton city hall plaza  |
+----+--------------------------------------------+---------------+----------------+----------------+--------------------------+
Summary: The table provides information about different events, including their names, establishment years, categories, subcategories, and main venues.
Subtable: Columns(event name, established, category), Rows(touchdown atlantic)

In [41]:
print(test_sample['statement'])

touchdown atlantic , in the category of sporting , be establish in 2010

In [38]:
import os
from tenacity import retry, stop_after_attempt, wait_random_exponential
from typing import List
from openai import OpenAI
class Config:
    def __init__(self) -> None:
        self.openai_api_key = "sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW"
        self.base_url = "https://api.chatanywhere.cn/v1"
        self.model = "gpt-3.5-turbo"

class CallLLM:
    """Class for calling the OpenAI Language Model API."""

    def __init__(self, config: Config):
        self.client = OpenAI(api_key=config.openai_api_key,
                             base_url=config.base_url)
        self.model = config.model
        
    @retry(wait=wait_random_exponential(min=30, max=60), stop=stop_after_attempt(1000))
    def generate_text(self, prompt: List[str]) -> List[str]:
        """Generate text based on the prompt and instruction."""

            # batched examples, with xx completions per request
        response = self.client.chat.completions.create(
            model=self.model,
            messages=[{"role": "user", "content": prompt}], 
            temperature=0,
            max_tokens=96,
            top_p=1.0,
            frequency_penalty=0.0,
            presence_penalty=0.0,
        )
        # match completions to prompts by index
        return response.choices[0].message.content.strip()
configs = Config()  
llm = CallLLM(config=configs)

In [39]:

input_text = "\n".join(input)
llm.generate_text(input_text)

'1'

In [15]:
import pandas as pd
def process_input(sample, instruction):
    df = pd.DataFrame(columns=sample["table"]["header"])
    for i, line in enumerate(sample['table']['rows']):
        df.loc[i] = line
        
    texts = [instruction,
          "The database table DF is shown as follows: \n",
          df.to_html(),
          "query:",
          sample['statement'],
           "Output the code braced by '```'. \n SQL:"]
    
    label = sample['label']
    return "\n".join(texts), label

In [4]:
subtable_instruction = """
You are a SQLite expert. Given an input query, identify critical values and ranges of the table, then create a syntactically correct SQLite query to create a VIEW. To create a syntactically correct SQL view, the selected data within this view must be helpful in answering the question. During the construction of the view, if column names are confusing, rename the columns accordingly.
"""

In [16]:
print(process_input(test_sample, subtable_instruction))

('\nYou are a SQLite expert. Given an input query, identify critical values and ranges of the table, then create a syntactically correct SQLite query to create a VIEW. To create a syntactically correct SQL view, the selected data within this view must be helpful in answering the question. During the construction of the view, if column names are confusing, rename the columns accordingly.\n\nThe database table DF is shown as follows: \n\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>date</th>\n      <th>result</th>\n      <th>score</th>\n      <th>brazil scorers</th>\n      <th>competition</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>may 11 , 1919</td>\n      <td>w</td>\n      <td>6 - 0</td>\n      <td>friedenreich (3) , neco (2) , haroldo</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>may 18 , 1919</td>\n      <td>w</td>\n      <td>3 - 1</td>\n      <td>heitor , amílcar , millon</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>may 26 , 1919</td>\n      <td>d</td>\n      <td>2 - 2</td>\n      <td>neco (2)</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>may 29 , 1919</td>\n      <td>w</td>\n      <td>1 - 0</td>\n      <td>friedenreich</td>\n      <td>south american championship</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>june 1 , 1919</td>\n      <td>d</td>\n      <td>3 - 3</td>\n      <td>haroldo , arlindo (2)</td>\n      <td>taça roberto cherry</td>\n    </tr>\n  </tbody>\n</table>\nquery:\nharoldo be mention as a brazil scorer for 2 different game\nOutput the code braced by \'```\'. \n SQL:', 1)

### Simple pipeline

In [6]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db')
normalized = table_loader.normalize_table(test_sample)
df = pd.DataFrame(columns=normalized['table']['header'])
for ind, r in enumerate(normalized['table']['rows']):
    df.loc[ind] = r
# print(' '.join(normalized['table']['header']) + '*************')
df.to_sql(name='ind100', con=engine, if_exists='replace', index=False)
# table_loader.table2db(engine, test_sample)

12

In [34]:
from tabulate import tabulate
structured_data_markdown = tabulate(
            df, headers=df.columns, tablefmt="pipe", showindex=True
        )

In [35]:
structured_data_markdown

'|    | date          | result   | score   | brazil scorers                        | competition                 |\n|---:|:--------------|:---------|:--------|:--------------------------------------|:----------------------------|\n|  0 | may 11 , 1919 | w        | 6 - 0   | friedenreich (3) , neco (2) , haroldo | south american championship |\n|  1 | may 18 , 1919 | w        | 3 - 1   | heitor , amílcar , millon             | south american championship |\n|  2 | may 26 , 1919 | d        | 2 - 2   | neco (2)                              | south american championship |\n|  3 | may 29 , 1919 | w        | 1 - 0   | friedenreich                          | south american championship |\n|  4 | june 1 , 1919 | d        | 3 - 3   | haroldo , arlindo (2)                 | taça roberto cherry         |'

In [1]:

from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
model = ChatOpenAI(model_name="gpt-4", openai_api_base="https://api.chatanywhere.cn/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")

In [7]:
import re
def extract_yes_no_and_map(text):
    # Convert the input text to lowercase for case-insensitive matching
    text = text.lower()

    # Define regular expressions for yes/no matching
    yes_patterns = [r'\byes\b', r'\btrue\b']
    no_patterns = [r'\bno\b', r'\bfalse\b']

    # Check for "0"
    if text == "0":
        return "0"

    # Check for "1"
    if text == "1":
        return "1"

    # Check for yes
    for pattern in yes_patterns:
        if re.search(pattern, text):
            return "1"

    # Check for no
    for pattern in no_patterns:
        if re.search(pattern, text):
            return "0"

    # Return 2 if neither yes nor no is found
    return "2"

def eval_fv_match(pred_list, gold_list):
        acc = 0.0
        for pred, gold in zip(pred_list, gold_list):
            pred, gold = extract_yes_no_and_map(pred), extract_yes_no_and_map(gold)
            if pred == gold:
                acc += 1
        acc = acc / len(pred_list)
        return acc
    
def process_input(sample, instruction):
    df = pd.DataFrame(columns=sample["table"]["header"])
    for i, line in enumerate(sample['table']['rows']):
        df.loc[i] = line
    texts = [instruction,
          "the table needed to be answered: \n",
          df.to_html(),
          "query:",
          sample['statement'],
           "answer is: \n"]
    
    label = sample['label']
    return "\n".join(texts), label

In [37]:
#简易版本的pipeline
instruction = "Read the table below to verify whether the provided claim/query are true or false. Return 0 if it's false, or 1 if it's true. Only return 0 or 1 without any other information. \n"
num_samples = 32
batch_size = 32
num_batches = num_samples // batch_size
batches = []
for batch_num in range(num_batches):
    batch_prompt, ground = [], []
    start = batch_num * batch_size
    batch_data = tabfact['validation'][start: start+batch_size]
    for i in range(batch_size):
        prompt, label = process_input(sample=dict({key: value[i] for key, value in batch_data.items()}), instruction=instruction)
        batch_prompt.append(prompt)
        ground.append(str(label))
        # call llm
    batch_pred = list(map(lambda x: x.content, model.batch(batch_prompt)))
        
        #do evaluation
    accuracy = eval_fv_match(batch_pred, ground)
    print(accuracy)

0.6875

In [42]:
def display_wrong_result(pred_list, gold_list, dataset):
    for ind, (pred, gold) in enumerate(zip(pred_list, gold_list)):
        pred, gold = extract_yes_no_and_map(pred), extract_yes_no_and_map(gold)
        if pred != gold:
            sample= dataset[ind]
            df = pd.DataFrame(columns=sample["table"]["header"])
            for i, line in enumerate(sample['table']['rows']):
                df.loc[i] = line
            print(sample['statement'], sample['label'])
            print(tabulate(df, headers=df.columns, tablefmt='psql'))
        
print(display_wrong_result(batch_pred, ground, tabfact['validation']))

süper lig be the most common league to win a round in the turkish cup 1
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
there be new entry for the 1st 4 round of the turkish cup 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
2 be the lowest number of new entry conclude a round in the turkish cup 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
from round 1 to the final round , there be 4 club remain to complete the round 0
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
|    | round         |   clubs remaining |   clubs involved | winners from previous round   | new entries this round   | leagues entering at this round                     |
|----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------|
|  0 | first round   |               156 |               86 | none                          | 86                       | tff third league & turkish regional amateur league |
|  1 | second round  |               113 |              108 | 43                            | 65                       | süper lig & tff first league & tff second league   |
|  2 | third round   |                59 |               54 | 54                            | none                     | none                                               |
|  3 | fourth round  |                32 |               32 | 27                            | 5                        | süper lig                                          |
|  4 | fifth round   |                16 |               16 | 16                            | none                     | none                                               |
|  5 | group stage   |                 8 |                8 | 8                             | none                     | none                                               |
|  6 | semi - finals |                 4 |                4 | 4                             | none                     | none                                               |
|  7 | final         |                 2 |                2 | 2                             | none                     | none                                               |
+----+---------------+-------------------+------------------+-------------------------------+--------------------------+----------------------------------------------------+
5 of the cultural interest fraternity and sorority be 2 sorority while 3 be a fraternity 0
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
|    | letters   | organization             | nickname         | founding date   | founding university              | type       |
|----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------|
|  0 | αεπ       | alpha epsilon pi 1       | aepi             | 1913 - 11 - 07  | new york university              | fraternity |
|  1 | αεφ       | alpha epsilon phi 2      | aephi            | 1909 - 10 - 24  | barnard college                  | sorority   |
|  2 | σαεπ      | sigma alpha epsilon pi 3 | sigma            | 1998 - 10 - 01  | university of california , davis | sorority   |
|  3 | σαμ       | sigma alpha mu 1         | sammy            | 1909 - 11 - 26  | city college of new york         | fraternity |
|  4 | σδτ       | sigma delta tau 2        | sdt or sig delts | 1917 - 03 - 25  | cornell university               | sorority   |
|  5 | τεφ       | tau epsilon phi 1        | tep , tau boys   | 1910 - 10 - 10  | columbia university              | fraternity |
|  6 | ζβτ       | zeta beta tau 1          | zbt              | 1898 - 12 - 29  | city college of new york         | fraternity |
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
7 of the cultural interest fraternity and sorority be found before the year 1921 0
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
|    | letters   | organization             | nickname         | founding date   | founding university              | type       |
|----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------|
|  0 | αεπ       | alpha epsilon pi 1       | aepi             | 1913 - 11 - 07  | new york university              | fraternity |
|  1 | αεφ       | alpha epsilon phi 2      | aephi            | 1909 - 10 - 24  | barnard college                  | sorority   |
|  2 | σαεπ      | sigma alpha epsilon pi 3 | sigma            | 1998 - 10 - 01  | university of california , davis | sorority   |
|  3 | σαμ       | sigma alpha mu 1         | sammy            | 1909 - 11 - 26  | city college of new york         | fraternity |
|  4 | σδτ       | sigma delta tau 2        | sdt or sig delts | 1917 - 03 - 25  | cornell university               | sorority   |
|  5 | τεφ       | tau epsilon phi 1        | tep , tau boys   | 1910 - 10 - 10  | columbia university              | fraternity |
|  6 | ζβτ       | zeta beta tau 1          | zbt              | 1898 - 12 - 29  | city college of new york         | fraternity |
+----+-----------+--------------------------+------------------+-----------------+----------------------------------+------------+
goal 2 - 5 be all consider friendly competition 1
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
goal 2 be the first of 3 game with a score of 2 - 0 0
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
the game in pueblo nuevo be 1 of 6 game play in venezuela 0
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
|    |   goal | date               | venue                                         | score   | result   | competition                  |
|----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------|
|  0 |      1 | september 4 , 2001 | estadio nacional de chile , santiago , chile  | 0 - 1   | 0 - 2    | 2002 world cup qualification |
|  1 |      2 | november 20 , 2002 | brígido iriarte , caracas , venezuela         | 1 - 0   | 1 - 0    | friendly                     |
|  2 |      3 | april 2 , 2003     | brígido iriarte , caracas , venezuela         | 2 - 0   | 2 - 0    | friendly                     |
|  3 |      4 | february 9 , 2005  | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 3 - 0    | friendly                     |
|  4 |      5 | march 28 , 2007    | josé pachencho romero , maracaibo , venezuela | 1 - 0   | 5 - 0    | friendly                     |
|  5 |      6 | june 26 , 2007     | pueblo nuevo , san cristóbal , venezuela      | 2 - 1   | 2 - 2    | 2007 copa américa            |
+----+--------+--------------------+-----------------------------------------------+---------+----------+------------------------------+
in the 2008 manx grand prix the same team do not have more than 1 rider 1
+----+--------+----------------------+---------------------+-------------+------------+
|    |   rank | rider                | team                | speed       | time       |
|----+--------+----------------------+---------------------+-------------+------------|
|  0 |      1 | ryan farquhar        | 498cc bic paton     | 102.385 mph | 1:06.19.90 |
|  1 |      2 | alan oversby         | 500cc norton manx   | 101.863 mph | 1:06.40.30 |
|  2 |      3 | alan brew            | seeley g50 496cc    | 99.367 mph  | 1:08.20.78 |
|  3 |      4 | wattie brown         | 500cc petty manx    | 98.118 mph  | 1:09.12.98 |
|  4 |      5 | andy reynolds        | 499cc bic paton     | 97.152 mph  | 1:09.54.28 |
|  5 |      6 | bob price            | 500cc seeley g50    | 96.890 mph  | 1:10.05.64 |
|  6 |      7 | ken davis            | 500cc norton manx   | 95.948 mph  | 1:10.46.92 |
|  7 |      8 | chris swallow        | 476cc ducati        | 95.664 mph  | 1:10.59.52 |
|  8 |      9 | mark herbertson      | 499cc matchless g50 | 95.272 mph  | 1:11.17.05 |
|  9 |     10 | dave madsen - mygdal | 499cc honda         | 92.209 mph  | 1:11.19.89 |
+----+--------+----------------------+---------------------+-------------+------------+
None

In [40]:
for ind, i in enumerate(zip(batch_pred, ground)):
    print(ind, i)

0 ('1', '1')
1 ('1', '1')
2 ('1', '1')
3 ('1', '1')
4 ('1', '1')
5 ('1', '0')
6 ('0', '0')
7 ('0', '0')
8 ('0', '0')
9 ('0', '0')
10 ('1', '1')
11 ('0', '1')
12 ('1', '1')
13 ('1', '1')
14 ('0', '1')
15 ('0', '0')
16 ('0', '0')
17 ('0', '0')
18 ('1', '0')
19 ('1', '0')
20 ('The answer is 1.', '1')
21 ('0', '1')
22 ('1', '1')
23 ('0', '1')
24 ('1', '1')
25 ('0', '0')
26 ('0', '0')
27 ('1', '0')
28 ('0', '0')
29 ('0', '0')
30 ('1', '1')
31 ('1', '1')

## Answer output

In [6]:

from data_loader import TableFormat
import pandas as pd
from langchain_openai import ChatOpenAI, OpenAI
from langchain_core.messages import HumanMessage
from langchain.prompts.prompt import PromptTemplate
from data_loader import TableLoader

table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
from utils import normalize_schema
model = ChatOpenAI(model_name="gpt-3.5-turbo-0125", openai_api_base="https://api.chatanywhere.tech/v1", openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW")
normalized_sample = table_loader.normalize_table(
                    table_loader.dataset[3])
formatter = TableFormat(format='none', data=normalized_sample)
# schema_information = pd.read_csv(f"result/aug/tabfact_test_schema.csv", index_col='table_id')
# formatter.data = normalize_schema(formatter.data, schema_information.loc[normalized_sample['id']]['schema'])
pre_instruction = PromptTemplate(input_variables=["table"], template=
"""
Below is a subtable with rows sampled, you are required to infer the data distribution and format from the sample data.
Refine commonalities about the structure within each table column.
You need to output in the following format: 
number. Column_name: Commonalities
#example format
1. championship: Names of golf tournaments are listed with some additional information (e.g., 's open, classic)

sub-table: {table}
""")
# 
output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html()) )])

In [7]:
print(output.content)

1. position: Integer values representing the team's position in the table
2. team: Names of football teams
3. played: Number of games played by each team
4. drawn: Number of games drawn by each team
5. lost: Number of games lost by each team
6. goals_for: Number of goals scored by each team
7. goals_against: Number of goals conceded by each team
8. goal_difference: Goal difference calculated as goals_for - goals_against
9. points_1: Total points earned by each team in the league

In [39]:
print(output.content)

1. game column: It appears to represent the game number, with each entry being a numerical value.
2. date column: It represents the date of the game, with each entry being in a specific date format (e.g., "month day").
3. team column: It represents the name of the team, with each entry being a text string.
4. score column: It represents the game score, with each entry showing the score in a specific format (e.g., "l 90 - 115 (ot)").
5. high_points column: It represents the player with the highest points in the game, with each entry showing the player's name and the number of points.
6. high_rebounds column: It represents the player with the highest rebounds in the game, with each entry showing the player's name and the number of rebounds.
7. high_assists column: It represents the player with the highest assists in the game, with each entry showing the player's name and the number of assists.
8. location_attendance column: It represents the location of the game and the attendance, with each entry showing the location and the number of attendees.
9. record column: It represents the team's record, with each entry showing the number of wins and losses.

In [8]:
from data_loader import TableLoader, TableFormat
inputs = []
row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'],
                                        # 'claim':"who is the winner of the lifetime achievement award after 2005?",
                                        'aug':  output.content
                                        }))

In [11]:
from data_loader import TableLoader, TableFormat
inputs = []
row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that provide clues for query.
sub-table: {table}
Query: verify whether the provided claim/query are true or false. {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'],
                                        # 'claim':"who is the winner of the lifetime achievement award after 2005?",
                                        'aug':  output.content
                                        }))
# verify whether the provided claim/query are true or false.

In [35]:
from data_loader import TableLoader, TableFormat
inputs = []

row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information and data in subtable, write 3 SELECT SQL statements using table DF that complete or related to query.
The SQL may select different useful parts for the query.
sub-table: {table}
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        'claim': normalized_sample['query'] + ". The query is about 2005 Milwaukee Brewers season red uniforms vs Padres schedule",
                                        'aug':  output.content
                                        }))

In [9]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.tech/v1",
                       openai_api_key="sk-kxgtm71G6zwC44lglIF5CfiEVVzjjc39TOtppkNAwrVA2fUW", temperature=0.1)
llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=True)
batch_pred = llm_chain.batch(inputs, return_only_outputs=True)

> Entering new LLMChain chain...
Prompt after formatting:

Our ultimate goal is to answer query based on the table. Below is a subtable with columns filtered, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the augmentation information, write a SQLITE3 SELECT SQL statement using table DF that complete query.
sub-table: <table>
<caption>1986 - 87 north west counties football league</caption>
<thead>
<tr><th>  position</th><th>               team</th><th>  played</th><th>  drawn</th><th>  lost</th><th>  goals_for</th><th>  goals_against</th><th>  goal_difference</th><th>  points_1</th></tr>
</thead>
<tbody>
<tr><td>12        </td><td>ashton town        </td><td>24      </td><td>9      </td><td>11    </td><td>29         </td><td>39             </td><td>10               </td><td>15 2      </td></tr>
<tr><td>10        </td><td>padiham            </td><td>24      </td><td>8      </td><td>12    </td><td>35         </td><td>39             </td><td>4                </td><td>16        </td></tr>
<tr><td>1         </td><td>atherton collieries</td><td>24      </td><td>4      </td><td>4     </td><td>46         </td><td>22             </td><td>+ 24             </td><td>36        </td></tr>
</tbody>
</table>
Query: the team with the most goal for in the 1986 - 87 north west county football league be flixton
Extra information: 1. position: Integer values representing the team's position in the table
2. team: Names of football teams
3. played: Number of games played by each team
4. drawn: Number of games drawn by each team
5. lost: Number of games lost by each team
6. goals_for: Number of goals scored by each team
7. goals_against: Number of goals conceded by each team
8. goal_difference: Goal difference calculated as goals_for - goals_against
9. points_1: Total points earned by each team in the league
SQL:

> Finished chain.

In [10]:
print(batch_pred[0]['text'])

SELECT team
FROM DF
WHERE goals_for = (SELECT MAX(goals_for) FROM DF)
AND caption = '1986 - 87 north west counties football league'
AND team = 'flixton';

In [19]:
from data_loader import TableLoader, TableFormat
inputs = []

pre_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is relevant information regrading the table stucture. Carefully analyze the query, based on the augmentation information you are required to infer the data distribution and format. Write an SELECT SQL statement using table DF that is most likely to provide useful information to the query.
Query: {claim}
Extra information: {aug}
SQL: """)
inputs.append(dict({
                                        'claim': normalized_sample['query'],
                                        'aug':  output.content
                                        }))

In [22]:
from data_loader import TableLoader, TableFormat
inputs = []

row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""
Our ultimate goal is to answer query based on the table. Below is an initial SQL statement about the query. Now you can see some smaple rows from the table, improve the sql statement so that the SQL can answer the query.
initial SQL: {initial}
sub-table: {table}
Query: {claim}

SQL: """)
inputs.append(dict({"initial" : initial[0]['text'],
                                        'claim': normalized_sample['query'],
                'table': formatter.format_html(table_caption=normalized_sample['table']['caption']),
                                        }))

In [18]:
from data_loader import TableFormat
from executor import SQLManager
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
i = 0
# SQL = manager.format_sql(preds[i]['pred'].split(':')[1])


def show_table(data):
    formatter = TableFormat(format='none', data=data)
    columns = [c.strip() for c in preds[i]['pred'].split(',')]
    print(data['statement'])
    formatter.data = formatter.data.loc[:, columns]
    
    print(formatter.format_html())
    print(formatter.format_psql())
    print(data['label'])
    # data.columns = [manager.normalize_col_name(c) for c in formatter.all_data.columns]
    # data.to_sql('DF', manager.engine, if_exists='replace', index=False)
    
    # subtable = pd.read_sql(command, self.engine)
    # test_df = manager.execute_from_df(SQL, formatter.all_data)
    # return test_df
test_df = show_table(table_loader.dataset[i])
print(test_df)

the 31997 mintage be release in 2001
<table>
<thead>
<tr><th>  year</th><th>                  mintage</th></tr>
</thead>
<tbody>
<tr><td>2003  </td><td>included in hmcs bras dor</td></tr>
<tr><td>2003  </td><td>31997                    </td></tr>
<tr><td>2000  </td><td>44367                    </td></tr>
</tbody>
</table>
+--------+----------------------------+-------------------+-----------------------------+---------------+
|   year | theme                      | artist            | mintage                     |   issue price |
|--------+----------------------------+-------------------+-----------------------------+---------------|
|   2000 | steam buggy                | john mardon       | 44367                       |         59.95 |
|   2000 | the bluenose               | j franklin wright | included in steam buggy     |         59.95 |
|   2000 | the toronto                | john mardon       | included in steam buggy     |         59.95 |
|   2001 | the russell light four     | john mardon       | 41828                       |         59.95 |
|   2001 | the marco polo             | j franklin wright | included in the russell     |         59.95 |
|   2001 | the scotia                 | don curley        | included in the russell     |         59.95 |
|   2002 | the gray - dort            | john mardon       | 35944                       |         59.95 |
|   2002 | the william lawrence       | bonnie ross       | included in the gray - dort |         59.95 |
|   2002 | d - 10 locomotive          | dan fell          | included in the gray - dort |         59.95 |
|   2003 | hmcs bras dor              | don curley        | 31997                       |         59.95 |
|   2003 | cnr fa - 1 diesel electric | john mardon       | included in hmcs bras dor   |         59.95 |
|   2003 | bricklin sv - 1            | brian hughes      | included in hmcs bras dor   |         59.95 |
+--------+----------------------------+-------------------+-----------------------------+---------------+
0
None

In [ ]:
# Answer output
pre_instruction = PromptTemplate(input_variables=["table", "claim"], template=
"""
Our ultimate goal is to answer query based on the table. Below is a SQL statement which reports error or returns no result. You need to understand the logic behind the SQL filtering and rewrite SQL to guarantee the SQL return useful information. 
sub-table: {table}
SQL Excuted: 
```{SQL}```
Query: {claim}
""")
output = model.invoke([HumanMessage(content=pre_instruction.format(table=formatter.format_html(), claim=test_sample['statement']))])

## Evaluat from local result

In [1]:
import json
from data_loader import TableLoader
table_loader = TableLoader(table_name='tabfact', split='test', small_test=True, use_sample=False)
preds = []
with open('./result/answer/tabfact_test_04-20_02-06-16.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        preds.append(json.loads(l)['pred'])

print(len(preds))
SQLs = []
with open('./result/SQL/tabfact_test_04-20_02-04-20.json', 'r') as f:
    lines = f.readlines()
    for l in lines:
        SQLs.append(json.loads(l)['pred'])
print(len(SQLs))
# do evaluation
# accuracy = eval_fv_match(pred_label, labels)

255
255

In [3]:
from utils import eval_tabfact
import json
from data_loader import TableLoader
import numpy as np
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
labels = [table_loader.normalize_table(line)['label'] for line in table_loader.dataset][:255]
answers = eval_tabfact('./result/answer/tabfact_test_04-20_02-06-16.json', labels, verbose=True)
print(answers)

['0', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1', '1', '0', '1', '0', '1', '0', '0', '1', '0', '1', '1', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '1', '1', '0', '1', '0', '1', '1', '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '0', '1', '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '0', '1', '0', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '1', '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0']
['1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '0', '1', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1', '0', '1', '1', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '0']
(array([  0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
        49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
        82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
       124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
       167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
       200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
       251]),)
0.6901960784313725

In [4]:
from utils import eval_tabfact
import json
from data_loader import TableLoader
import numpy as np
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=True, small_test=True)
labels = [table_loader.normalize_table(line)['label'] for line in table_loader.dataset]
answers = eval_tabfact('./result/answer/tabfact_test_04-18_15-20-27.json', labels, verbose=True)
print(np.where(np.array(labels) != np.array(answers)))

['0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '0', '0', '1', '1', '0', '0', '0', '1', '0', '1', '1', '0', '1', '1', '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '0', '0', '0', '1', '0', '0', '1', '0', '1', '1', '1', '1', '0']
(array([ 2,  3, 14, 21, 25, 27, 32, 35]),)

In [39]:
data = table_loader.dataset[i]
df = pd.DataFrame(columns=data["table"]["header"])
for i, line in enumerate(data['table']['rows']):
    df.loc[i] = line
data = df

In [40]:
formatter = TableFormat(format='none', data=table_loader.dataset[i])
from functools import partial
data_func = partial(pd.to_datetime, dayfirst=True, format='mixed')
formatter.all_data['date'] = data_func(formatter.all_data['date'])
formatter.all_data['date'] = pd.to_datetime(formatter.all_data['date'], format='%Y-%m')
formatter.all_data['date'] = formatter.all_data['date'].dt.strftime('%Y-%m-%d')

In [72]:
import pandas as pd
formatter = TableFormat(format='none', data=table_loader.dataset[i])
schema_information = pd.read_csv(f"result/aug/tabfact_test_schema.csv", index_col='table_id')
formatter.normalize_schema(schema_information.loc[table_loader.dataset[i]['table']['id']]['schema'])
formatter.all_data.to_sql('DF', con=engine, if_exists='replace', index=False)

27

In [2]:
inds = [0,   1,  11,  14,  22,  24,  26,  31,  37,  38,  39,  40,  47,
       49,  50,  59,  62,  63,  65,  66,  68,  69,  70,  75,  80,  81,
       82,  90,  91,  93,  95,  99, 100, 105, 106, 108, 110, 116, 119,
124, 129, 136, 137, 145, 147, 148, 151, 153, 155, 158, 160, 164,
167, 169, 171, 173, 175, 179, 180, 181, 187, 188, 190, 192, 198,
200, 207, 209, 210, 211, 217, 225, 227, 230, 233, 236, 237, 241,
251]
len(inds)

79

#### show tabfact

In [1]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [32]:
********210***************
1 0
Thought: Based on the SQL query provided, Lleyton Hewitt was a runner-up 5 times. The total number of times he was a runner-up is 5, and the total number of times he participated is not given. 
Answer: 0
['how many times was Lleyton Hewitt a runner-up in total?', ' How many times did Lleyton Hewitt be a runner-up?', 'How many times did Lleyton Hewitt win a championship?']
********213***************
0 1
Thought: Based on the SQL query provided, there were no instances of a master series final where one side finished with 4 points. 
Answer: 1
["How many of Lleyton Hewitt's master series final have one side finishing with 4 points?", "How many of Lleyton Hewitt's master series finals ended with one side finishing with 4 points?", " How many of Lleyton Hewitt's master series final have the other side finishing with 4 points?"]
********225***************
0 1
Thought: Based on the sub-table, it appears that no team scored in the first game of the World Cup in France on June 19, 1998.
Answer: 1
['What was the score for the first game of the world cup in France?', 'which team did not score in the first game of the world cup in France?', ' Did any team score for the first game of the world cup in France?']
********227***************
0 1
Thought: Based on the SQL query provided, the Solheim Cup was hosted in the US 7 times from 1990 through 2013, as indicated by the sub-table.
Answer: 1
[' When was the Solheim Cup hosted in the US from 1990 through 2013?', 'How many times was the Solheim Cup hosted in the US from 1990 through 2013?', 'how many times was the Solheim Cup hosted in the US from 1990 through 2013?']
********228***************
1 0
Thought: Based on the SQL query provided, the United States team won 8 Solheim Cup tournaments between 1990 and 2009. The last win for the United States team before 2009 was in 2007.
Answer: 0
['How many Solheim Cup tournaments did the United States team win from 1990 to 2009?', 'how many Solheim Cup tournaments did the United States team win between 1990 and 2009?', ' When was the last Solheim Cup win for the United States team before 2009?']
********229***************
1 0
Thought: Based on the SQL query provided, the captains who have won the cup multiple times are Mickey Walker and Kathy Whitworth. Patty Sheehan, Judy Rankin, and Kathy Whitworth are not the only captains who have won the cup 2 times.
Answer: 0
['How many times did Patty Sheehan win the cup as captain?', ' How many times did Judy Rankin win the cup as captain?', ' How many times did Kathy Whitworth win the cup as captain?', 'which captains have won the cup multiple times?']
********234***************
0 1
Thought: Based on the sub-table, Patty Sheehan, Judy Rankin, and Kathy Whitworth all captained a winning team in the Solheim Cup 1 time.
Answer: 1
['How many times did Patty Sheehan captain a winning team in the Solheim Cup?', 'how many times did each captain win the solheim cup?', ' How many times did Judy Rankin captain a winning team in the Solheim Cup?', ' How many times did Kathy Whitworth captain a winning team in the Solheim Cup?']
********239***************
1 0
Thought: Based on the SQL query provided, the attendance on August 26 was 48063 and the attendance on August 27 was 48032.
Answer: 0
[' What was the attendance on August 27?', 'What was the attendance on August 26?', 'what was the attendance on August 26 and August 27?']
********240***************
1 0
Thought: Based on the SQL query provided, when the score was 10 - 4 in a game against the Athletics, the Colorado Rockies' record was 68 - 70.
Answer: 0
["When the score be 10 - 4 , what was the Colorado Rockies' record in a game against the athletics?", "what is the Colorado Rockies' record after each game?"]
********254***************
0 1
Thought: Based on the SQL query provided, the smallest attendance was at the game against the Baltimore Colts, with an attendance of 50451. 
Answer: 1
['which game had the smallest attendance?', 'What was the attendance at the game against the New England Patriots?', ' What was the attendance at the game against the Baltimore Colts?']
********255***************
0 1
Thought: Based on the SQL query provided, the attendance in week 12 was 66875, which is higher than the attendance in week 6 (71009) and week 13 (43475). 
Answer: 1
[' What was the attendance in week 6?', 'what is the attendance for each week?', 'What was the attendance in week 12?', ' What was the attendance in week 13?']
********259***************
1 0
Thought: Based on the SQL query provided, the Yugoslavian national team lost the Balkan Cup against Romania with an aggregate score of 3:4. The aggregate score of the Yugoslavian national team against Romania in the Balkan Cup was 7, not 3:4.
Answer: 0
['what were the results of the games played by the Yugoslavian national team in the Balkan Cup?', 'When did the Yugoslavian national team lose the Balkan Cup?', ' What was the aggregate score of the Yugoslavian national team against Romania in the Balkan Cup?']
********265***************
0 1
Thought: Based on the SQL query provided, the Yugoslavian national team failed to score in world cup qualifying matches 1 time, and dropped a world cup qualify match 2:1 against Denmark.
Answer: 1
['how many times did the yugoslavian national team fail to score in world cup qualifying matches?', ' Against which team did the Yugoslavian national team drop a world cup qualify match 2:1?', 'When did the Yugoslavian national team fail to score?']
********266***************
0 1
Thought: Based on the SQL query provided, the Yugoslavian national team scored 7 goals and allowed 3 goals in the 1982 World Cup qualifiers.
Answer: 1
['How many goals did the Yugoslavian national team score in the 1982 world cup qualify?', ' How many goals did the Yugoslavian national team allow in the 1982 world cup qualify?', 'How many goals did the Yugoslavian national team score and allow in the 1982 World Cup qualifiers?']
********272***************
0 1
Thought: Based on the sub-table, March had the most games played with 7, while April had the fewest games played with 3. Therefore, the claim that March is featured more often as a month in the date than any other month, followed by the 4 games in April is true.
Answer: 1
['how many games were played in each month?', 'How many games were played in March?', ' How many games were played in April?']
********287***************
1 0
Thought: Based on the SQL query provided, there is 1 translator in the frequency MHz in the 100's and 3 translators in the frequency range of 90.0 to 99.9 MHz.
Answer: 0
["How many translators are there in the frequency mhz in the 100's?", 'how many translators are there in each frequency range?', " How many translators are there in the frequency mhz in the 90's?"]
********290***************
1 0
Thought: Based on the SQL query provided, the station w293al has an ERP W of 80, which is higher than the ERP W of w264bf, which is 2. However, the frequency_mhz of w293al is 106.5, and the frequency_mhz of w264bf is 100.7. The claim that w293al has the highest ERP W and w264bf has the lowest ERP W is false.
Answer: 0
[' What is the frequency_mhz of w264bf?', 'What is the frequency_mhz of w293al?', 'which station has the highest and lowest erp w?']
********291***************
1 0
Thought: Based on the SQL query provided, the cities of Illinois and Indiana each have 3 translators. However, the sub-table does not contain any data from the database, so we cannot verify the claim based on the provided information.
Answer: 0
[' How many translators does Indiana have?', 'How many translators does Illinois have?', 'how many translators are there in Illinois and Indiana combined?']
********292***************
0 1
Thought: Based on the sub-table, the query can be answered. There are 6 call signs that have a frequency change range of 5 MHz.
Answer: 1
['what is the frequency range for the radio stations listed?', ' How many call signs have a frequency change range of 5 MHz?', 'What are the frequency ranges for the call signs?']
********294***************
0 1
Thought: Based on the SQL query provided, the ERP_W value of 2 is the only value that appears in the table.
Answer: 1
['which call sign has an ERP of 2 W?', 'What is the frequency_mhz for the call_sign w264bf?', ' What is the city_of_license for the call_sign w264bf?']
********300***************
0 1
Thought: Based on the SQL query provided, the tournament that had the same result in the year 1990 and 1999 was the grand slam tournaments.
Answer: 1

'3 7 11 19 21 22 24 30 32 37 38 41 42 43 45 58 59 63 64 73 74 76 79 80 83 84 85 89 93 99'

In [184]:
table_name = []
for i in range(len(table_loader.dataset)):
    if table_loader.dataset[i]['table']['id'] not in table_name:
        table_name.append(table_loader.dataset[i]['table']['id'])
    else: 
        continue

In [182]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
# table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True, small_test=False)
i = 234

def show_table(data, execute=False):
    formatter = TableFormat(format='none', data=data)
    print(data['table']['id'])
    print(data['statement'])
    print(formatter.format_psql())
    # print(preds[i])
    # print(SQLs[i])
    # test_df = manager.execute_from_df(SQLs[i], formatter.all_data)
    # print(test_df)
    print(data['label'])
print(table_loader.dataset[i]['table']['caption'])
show_table(table_loader.dataset[i])

solheim cup
2-1546813-1.html.csv
patty sheehan , judy rankin and kathy whitworth be all captain that win the solheim cup 1 time
+--------+-----------------------------------------------+----------------+-----------+-----------------+-------------------+
|   year | venue                                         | winning_team   | score     | usa_captain     | europe_captain    |
|--------+-----------------------------------------------+----------------+-----------+-----------------+-------------------|
|   2013 | colorado golf club , colorado , usa           | europe         | 18 - 10   | meg mallon      | liselotte neumann |
|   2011 | killeen castle golf resort , ireland          | europe         | 15 - 13   | rosie jones     | alison nicholas   |
|   2009 | rich harvest farms , illinois , usa           | united states  | 16 - 12   | beth daniel     | alison nicholas   |
|   2007 | halmstad gk , sweden                          | united states  | 16 - 12   | betsy king      | helen alfredsson  |
|   2005 | crooked stick golf club , indiana , usa       | united states  | 15½ - 12½ | nancy lopez     | catrin nilsmark   |
|   2003 | barsebäck golf & country club , sweden        | europe         | 17½ - 10½ | patty sheehan   | catrin nilsmark   |
|   2002 | interlachen country club , minnesota , usa    | united states  | 15½ - 12½ | patty sheehan   | dale reid         |
|   2000 | loch lomond golf club , scotland              | europe         | 14½ - 11½ | pat bradley     | dale reid         |
|   1998 | muirfield village , ohio , usa                | united states  | 16 - 12   | judy rankin     | pia nilsson       |
|   1996 | st pierre golf & country club , wales         | united states  | 17 - 11   | judy rankin     | mickey walker     |
|   1994 | the greenbrier , west virginia , usa          | united states  | 13 - 7    | joanne carner   | mickey walker     |
|   1992 | dalmahoy country club , scotland              | europe         | 11½ - 6½  | kathy whitworth | mickey walker     |
|   1990 | lake nona golf & country club , florida , usa | united states  | 11½ - 4½  | kathy whitworth | mickey walker     |
+--------+-----------------------------------------------+----------------+-----------+-----------------+-------------------+
0

In [11]:
for i in range(len(table_loader.dataset)):
    print(i, table_loader.dataset[i]['statement'])

0 the scheduled date for the farm with 17 turbine be 2012
1 all 12 club play a total of 22 game for the wru division one east
2 touchdown atlantic , in the category of sporting , be establish in 2010
3 the team with the most goal for in the 1986 - 87 north west county football league be flixton
4 in 1980 , 1981 and 1985 pat bradley (golfer) not have the average of 278 win score
5 polona hercog partner with alberta brianti after she have stephanie vogt as the partner
6 a gamecube game loss the award in each of the first 3 year
7 scotland be the country with the least point
8 only 1 of the college list be public , and it be in new orleans
9 19.30 million viewer watch the season finale on march 12 , 1979
10 the player garrett sutherland who be in lb position have a pick of 22
11 st joseph 's catholic school be a state integrated school in te kuiti for year 1 - 8
12 when north melbourne be the home team , they face away team footscray who score 8.9 (57)
13 gene donaldson from purdue be pick in the third round
14 the away team at prince park have a score of 13.12 (90)
15 during the 1926 - 27 new york ranger season , game 26 , 29 , 30 , and 34 be all score in overtime
16 a show with airdate 2 january 2010 and 4 couple have 3.87 million viewer
17 the most total point score by the knicks in a single game be 126
18 the show , my thursday night movie , be on at 9:00 when it be also on at 8:30
19 jean behra be not 1 of the driver who have ferrari as their constructor
20 the most recent locomotive to be manufacture be make more 10 year after the first to be manufacture
21 the largest attendance for a new jersey home game in december be against the ny ranger
22 nova scotia and prince edward island have the earliest effective date with indiana have the second early effective date
23 during the 1987 master tournament , both tommy aaron and billy casper have a total of 305
24 during all competition they have at least 1 draw each time
25 when there be 161 receiving yard , there be 22 reception
26 gene hartley finish in the same position in 1952 and 1953
27 argentinos junior be the home team for the 2nd leg of the match with an aggregate of 2 - 3
28 kelly jones and david pate win the match they play
29 kim fogh replace the previous manager on 1 january 2011
30 on october 2 when the royal be the opponent the score be 5 - 1
31 the lowest score reach be 109 score in both game 22 and 23
32 the montreal maroon play in 9 overtime game during the 1925 - 26 season
33 jason richardson be their leading scorer 4 time that month , with at least 23 point per game
34 ghatge 's most recent film be in hindi
35 katie taylor win 2 event in the same city between 2005 and 2013
36 the xiao hong crater be 0 , 7 km larger in diameter than the ximena crater
37 the garden of evil and mission to venus both do not have ibsn number list for the us
38 the episdode , live and let doyle air on january 12 , 2011 , be the most viewed episode
39 there be more than 2 driver with 23 lap
40 on game 45 , jr smith have the most point with the score of 97 - 92
41 michael j maker be the trainer in the year 2012
42 the difference between the highest number of high point and the lowest number of high point be 22
43 calgary unite fc never play any game in 2009
44 the only south african player take the fifth position
45 the most laps any driver complete during the race be 75
46 chick harbert , who lead with 68 before round 1 , finish round 2 with 73 and go down to third with ted kroll
47 during the 1996 men 's world ice hockey championship , there be 1 more 1 loss than 4 loss
48 the original round 5 game against read have to be replay on february 27
49 curtis galick be from harvard college
50 raymond sommer be the winner on 4 occasion in the 1946 season
51 on 2013 - 05 - 26 molina have the lowest total goal during the k league classic
52 the difference in area between the province west cape and gauteng is129462
53 8 different bird be feature on the loonie between 2002 and 2012
54 the award that ronnie mitchell have be nominate for most often be sexy female
55 danny webb be 1 of 2 people to have have an accident during the race
56 when the double (aids related) number be 41000 , and the paternal (total) be larger than 442000 then there be 24.6% orphan
57 division 2 did not qualify for playoff after year 1993
58 the aggregate when the third leg be 1 - 3 be 4 - 2
59 in 2008 , the school with the nickname eagle join the mac
60 during the 1948 vfl season , lake oral venue record the lowest crowd participation
61 : clyde be the opponent for 2 game
62 sergey gorovoy be the second youngest player in the team
63 ricky newman retire from aldershot town fc on before may of 2009
64 the march 86c chassis be use by 2 different team in the same year
65 monta elli and matt barnes be lead scorer the most time
66 3 of the 8 be radio station cover news in fargo - moorhead
67 woman from 5 different country take part in this round of the 2008 woman 's british open
68 the highest car number in the 2008 nascar craftsman truck series be 74
69 charles martin and brian noble have 3.0 sack each , but neither 1 have any yard or interception
70 when she be a runner - up the score be 6 - 4 , 6 - 3
71 randall zisk direct 2 episode in all of season 4 , the least of the season
72 the number of career cap for a full back be 0 when tour apps be smaller than 29
73 the lowest attendance figure for a game be 37230
74 the most point score by a celtic player in a game be 35
75 the name of the visiting team who play home team chicago black hawk on march 20 be the boston bruin
76 marco ravaioli , michael ranseder , takaaki nakagami , and esteve rabat all have to end the race early due to accident
77 best new actor be the least common category that he be nominate for
78 western oval have carlton as the home team
79 douglas vandor cameron sylvester finish before any other team of rower
80 panther have only 2 location
81 stirling moss win the xiii barc aintree 200 on 20 july 1958
82 mexico win the highest number of medal with fifty 7
83 april 20 , 2009 be when episode 3 air
84 tich freeman be on the record list 3 time , while colin blythe be only on the list 1 time
85 52500 be the prize money for texas
86 frederick fane be feature as an away captain at more venue than arthur jones
87 the trojan be the mascot for the team that join the conference immediately after south newton
88 there be a low attendance of 14007 against the devil ray on may 13
89 mike eruzione score 92 goal from 1973 - 77
90 both the tiger and the ranger be the 2 team that they play 3 time each
91 there be only 2 people name sara / sarah show as centerfold
92 the washington redskins lose a total of 8 game during their 1952 season
93 robert wickens accumulate 4 more point than johnathan bomarito
94 the team that earn the highest number of point for and point against be the team that win the most game
95 vitória play after river plate
96 there be 1 more team classification of euskaltel - euskadi than there be of caisse d'epargne
97 freddie jackson 's status be advanced
98 the league conference north happen 3 time
99 the label before 1969 be columbia
100 uraga dock company produce the most destroyer on the list , at 3
101 peter mikkelsen only win the men 's single 1 time in 2007
102 Örgryte be have the fewest allsvenskan title among the club list in the chart
103 gloria moon be on the 2002 and 1999 commission
104 multiple volleyball club be establish in st petersburg prior to 1940
105 the queen 's birthday clash with the lowest attendance be in 2007
106 al bridge in maryland be in the washington county
107 5 player end their career in 2009
108 the 14th game be the first game play at the summit and result in a 110 - 100 score
109 for konstantopoulos , the loan club be coventry city and the start source be cardiff city
110 the player of united state nationality be draft after john westin
111 phil mickelson and mike weir in 2003 and 2004 be able to interrupt tiger wood streak
112 davíd garza pérez participate in more race during the 2006 season than any other year
113 northern ireland do not score more than 1 goal in any of the match list
114 there be 2 player with the last name of elli on the roster
115 22210 attend the tie between sheffield united and middlesbrough
116 luigi riva be 1 of 3 people in 18th place
117 when the week 15 result be michigan (7 - 2) the week 10 result be washington (7 - 1)
118 in 1989 , boris becker be champion with alexander volkov as runner - up , and in 1989 , boris becker be the champion with alexander volkov as runner - up
119 0 total win be associate with event with 2 top - 5s
120 the united state be home to the most player with 9
121 alfa romeo flat - 12 engine race in 1974 by martini racing
122 darren kotania be the director and the episode for episode 1 of be you afraid of the dark season 3 be 1
123 cristina teuscher be 1 of 2 american swimmer in the 200 meter event medley
124 from 1980 to 2011 , apoel bc lose more than 2 time as many game as it win
125 of the 14 game play during the month of january , exactly half be home game for the cavalier
126 only 4 of the fight go the full 12 round
127 sorana cîrstea have a 1r in all the tournament in 2012
128 there be 4 win as result , while there be only 2 loss
129 chauncey billups (8) have the high assist on april 17 , but share the high assist with anthony carter on april 23
130 the country of ecuador be the only country that use the us dollar (usd) as its currency , and the central bank be the federal reserve
131 both paraguay and peru use the us dollar
132 only 1 player be in the pg position
133 on october 4 the record be 90 - 68 when the royal be the opponent
134 the episode title hare - abian night be 1 of 10 episode in the mm series
135 wesley person lead in rebound on may 1
136 1 more season premièred on september 20 than on september 21
137 3 player have a - 2 to par and they be jack nicklaus , arnold palmer , and lee trevino
138 cartagena fc and real oviedo have a draw of 14 with 44 game play
139 the stadium for both of the game of the host team baltimore raven be the m&t bank stadium
140 the mcg venue home team be richmond
141 the 2006 connecticut sun lose their first 5 game int he month of june
142 tumble rfc have win 20 out of 22 of the game they have play
143 the entire kawasaki racing team be able to race in all of the round
144 carpet be the surface for 16 april 2007
145 the only 3 right hand batter be bear within 21 month of each other
146 in 2008 , the chunnam dragon beat chonburi 1 - 0
147 mauna kea be the summit in the rank 1 , and have a col (m) of 0
148 the highest score achieve be 109 score in both game 22 and 23
149 the shortest time be 11:44 when jbl be eliminate by jericho
150 4 of the segment c show feature foodstuff : plantain chip , soda cracker , sugar , and goat cheese
151 all but 1 game in the season have 53 game
152 the hmjs surrey have a length of 42.8 m , and its max speed be faster than the hmjs fort charles (p 7) max speed
153 the hispanic sounding character mimi be primarily cast by dutch woman
154 there be 2 event at donington park in 1994
155 brazil 's gold and silver medal be down a total of 10
156 jack nicklaus have less than double the win of the rank 2 player
157 the least amount of point the fire score in a game be 1
158 the match between cowdenbeath and the ranger have a higher attendance than the game between ross county and the ranger
159 the senate have an election in 1977 , 1978 and 1979
160 since 2000 , there have be 4 match rank in the top 42 for attendance
161 the result of the election , in which the incumbent be denver s church , be re - elect
162 happy howl - o - ween 4 episode after freaky day / dog tire
163 at the weightlifting at the 2008 summer olympics - men 's 105 kg , dmitry berestov snatch more weigth than marcin dołęga
164 7 of the 10 bike be manufacture by zabel
165 2 team score exactly 139 point during round 20 of the 1978 vfl season
166 in april 1992 , ryan stile be the performer 2 time
167 craig miller be the youngest water polo player list
168 mapiu school have the highest roll in the state authority
169 heikki kovalainen earn one lose in his formula one racing career
170 the central bank for guyana and argentina be call the federal reserve
171 on the earliest date , the score be 6 - 4 , 6 - 4
172 john waite won series 3 , while miranda gore browne be 1 runner - up in series 1
173 like like a dog / cold fish be list as have the highest number of us viewer
174 slovan bratislava be the opponent the year brfore the fight against eintracht frankfurt
175 the record in the 100 m freestyle event be set in 2007
176 the ireland in the eurovision song contest in 1989 have the real me place 1 rank higher than easy
177 dean semmens be not 1 of the 3 player bear after 1981
178 on entertainment tonight , diresta be on at 7:30 , follow by cosby at 8:00
179 in 1983 , aberdeen win
180 mark fellow write 3 big time rush episode
181 nick faldo be 1 of 2 player that finish in first place
182 the penrith panther have a score of 60 - 17 at sydney football stadium in 2006
183 the lowest attendance be 13831
184 the team rusport have a 1:25.361 in qual 2
185 the new york jet score more point against the houston oiler than the new orleans saint
186 catawba and oneota both have the name change 1 time the canonicus - class monitor
187 all of the ship in the bolitho novel be classify as frigate
188 sam mcgregor be the youngest water polo player list
189 d a weibring have less to par point than seve ballesteros
190 only 1 of the top 3 winner be a group act
191 gracia baylor 's term of office end after that of the member for higinbotham
192 the team pacific coast motorsports have a 1:26.582 best record
193 the tarija department have 12755 small (100ha) and 17101 medium (500ha)
194 incumbent del latta be from district ohio 5
195 fm 100.5 , which the note state be license to hope , play child 's music
196 jens hammer sørensen leave by mutual consent and be replace by jakob michelsen
197 seve ballesteros finish ahead of mike reid by 1 shot , and make 4400 more than him
198 singer elvis costello cover a song from the alum the hissing of summer lawn
199 only 1 role be the leading role
200 the september 17 1997 match against košice have the lowest attendance rate of the season
201 the rating (kansai) for the original air date may 25 , 2010 be 15.5
202 the maserati win the 1946 grand prix season on 9 occasion
203 there be 7 unspecified specie and 5 unspecified strain
204 cuba have the second highest number of total medal among all nation
205 the railway with a loco name of the pyramus and a build of 1912 be smr
206 ted kroll lead lew warsham by 3 stroke at the end of round 2 in the 1953 master tournament
207 college / junior / club team kitchener ranger (omjhl) make the 22 pick for the centre position
208 finland be the country with the least point
209 there be a total of 10267578 gaelic speaker in all council area
210 wang xiaoli yu yang win womens double after 2010
211 the game on 12 october 2012 , 10 september 2013 , and 19 november 2008 have a result of 1 - 0
212 kaitlyn lawes be the skip and liz peter be the lead for canada
213 the general classification be silvano contini only 1 time and that be stage 18
214 irving romaine have over 1 hundred run more than david hemp
215 the only game in manchester , england have a record of 5 - 2
216 the average attendance for the series be 52424.40 crowd
217 6 driver complete 75 lap , while only 1 driver complete 74 lap
218 the attendance for all of the home game be over 77000 at each game
219 bagnères - de - bigorre be a leader in 1948 with a stage number 18.0
220 kansa city lose all 7 game with attendance of 47310 or greater during the 1978 season
221 the spelling of יְהוֹשָפָט in english would be jehoshaphat
222 the festival of pacific art be hold at a different location in the pacific every time
223 toronto win all 7 of their home game in december of their 2007 - 2008 season
224 erkranas and hjk helsinki have the highest agg score during the qualifying round
225 the total number of run for and against for april be 173
226 the eagle have 2 game where they score 0 point total
227 12 - 26 - 1 be the record for detroit and decision of denis on december 30
228 the venue mcg be home to the melbourne team
229 there be no school that aren't coed and not under the authority of state integrate in the hawke 's bay region
230 there be 1 round hold in nevada , united state with a time of 1:55
231 the attendance on december 16 at washington redskin be 49484
232 opponent albert montañés santiago ventura score 1 - 6 , 2 - 6 in the final
233 during the supplemental first round selection , more than 6 people be select in the position rhp
234 at the world mind sport game , japan 1 more bronze than israel have
235 in international friendly , england always score at least 2 goal
236 trina feature more than 3 release on the kontor house of house vol 13 (compilation album)
237 bernard mceveety be a director on season 3
238 the sum roll of karaka area be 442
239 there be 5 game with the goal against over 44 and a goal difference of 11
240 on 6 may 1917 , the aircraft locate at s of avion be the sopwith 1 1 / 2 strutter (a1010)
241 in the pga championship greg norman be 5 top 5 finish and 6 top 10 finish
242 the lowest decile be 1
243 limpopo have a population with fewer people than eastern cape
244 lord 's be the venue when the result be eng by wkt and the date be 10 , 12 , 13 aug 1902 with joe darling as the home captain
245 °56′52″ be the declination ( j2000 ) for constellation of ophiuchus and have an apparent magnitude less than 8.6 with a right ascension ( j2000 ) of 16h47 m14.5s
246 the minardi team spa use the minardi m187 chassis 5 out of the 8 time they enter between 1985 and 1987
247 tim duncan be the lead athlete when the spur play the king
248 more game start at 1:00 pm than at any other time
249 the original air date of the episode with a production code of 3x6316 be february 21 , 2011
250 iran end up in the top 5 in 7 of the 13 year they participate in the game
251 jimmy robertson have a higher number of a (not participating in a tournament) in 2003 / 04 than in 2010 / 11
252 3 of the musical guest song have the word the in its name
253 mike miller score the highest assist and highest rebound 1 time each in november , but never have the highest point
254 dieter kindlmann play as a partner in the tournament in rimini , italy
255 maria kirilenko nadia petrova win both 2012 and 2013 french open competition
256 pick 27 have a name of jaimie thomas who have a round of 7
257 the toronto blue jay do not win the first or last game of the season
258 the match in australia on 5 september 1998 , the score be 4 - 1
259 when the 1st round be 2 - 0 and when team 2 be stade brestois (d1) the score be 5 - 3
260 alberta have a more population density even though it have 4257744 less people in 2011
261 adriano buzaid have the fastest lap when dean stoneman be the winning driver and alexander sims have the pole position
262 there be 8 country that win their first french open men 's double championship before the year 1950
263 the ottawa senator boston bruins be the only 2 team the maroon play in back - to - back game against
264 colin montgomerie finish with the same score as tom kite
265 when the cycle be less than 2 , the premiere date be april 6 , 2008
266 detroit red wing be the only team beat with the least record
267 jarno trulli be 1 of 2 driver to retire due to collision damage , after only 2 lap
268 the hornet start march with more loss than win on their record
269 the hawthorn team score the lowest of any of the home team in 1982 while play at prince park
270 tim duncan have the highest number of high assist with 12 , and michael finley alone have the lowest number of high assist with 4
271 juan manuel fangio be the sole driver who have maserati as their constructor

#### show wikitable

In [ ]:
nu-3901 Al Unser, Jr. [S['rick mears']]
3898 nu-3905 Ludwig Wolf from Germany (GER) [S['ludwig wolf']]
3899 nu-3906 2 [N(10.000000)['10']]
3903 nu-3910 3 [N(7.000000)['7']]
3906 nu-3913 Survey USA [D(2007,12,17)['dec. 17, 2007']]
3915 nu-3922 2010 [N(2012.000000)['2012']]
3920 nu-3927 N/A [S['l 29-21']]
3922 nu-3929 Apollo [S['achilles']]
3923 nu-3930 Die heilige Linde [S['walamund']] 下一行存在空行，格式不规范
3924 nu-3931 Mr George Hartigan, R West [S['mr brough scott'], S['pat taaffe'], S['beltran osorio'], S['tommy carberry'], S['stan mellor']]
3929 nu-3936 0 [N(14.000000)['14 years']]
3932 nu-3939 Total number of pasurams [S['thiruvay mozhi']]
3934 nu-3941 11 [N(16.000000)['16']]               给的三行有问题，导致sql有问题
3937 nu-3944 No data available [S['16:14.1']]
3938 nu-3945 Cincinnati, Hamilton [S['cincinnati']]
3942 nu-3949 7DY [S['ulverstone']]
3944 nu-3951 September 29 at #20 Nebraska [D(-1,9,29)['september 29']]
3946 nu-3953 Giuseppe Aquaro [S['rumen trifonov']]
3948 nu-3955 Goodbye City...Hello Country [N(1.000000)['1']]
3952 nu-3959 3 [N(5.000000)['5']]
3956 nu-3963 Above [S['below']]
3962 nu-3969 128 [S['decimal128']]
3968 nu-3975 2 [N(5.000000)['5']]
3970 nu-3977 -18 [N(18.000000)['18']]
3977 nu-3984 38 [N(17.000000)['17']]
3978 nu-3985 Bob Anderson, Chris Amon [S['dan gurney']]
3982 nu-3989 No data from database [S['essentials']]
3984 nu-3991 6 [N(5.000000)['5']]
3985 nu-3992 John Lenthall [S['laramie']]
3990 nu-3997 71,886.6 [N(43674.000000)['43674']]

In [2]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [176]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
i = 1441
def show_table(data, execute=False):
    formatter = TableFormat(format='none', data=data)
    print(data['id'])
    print(data['query'])
    print(formatter.format_psql())
    # print(preds[i])
    # print(SQLs[i])
    # test_df = manager.execute_from_df(SQLs[i], formatter.all_data)
    # print(test_df)
    print(data['label'])

show_table(table_loader.normalize_table(table_loader.dataset[i]) )

nu-1441
who was the first mayor to be inaugurated in witswaterand?
+---------+-------------------+----------+--------------------+----------+---------------------+
| Year    | Name              | Year_1   | Name_1             | Year_2   | Name_2              |
|---------+-------------------+----------+--------------------+----------+---------------------|
| 1903-04 | Mr B. Owen- Jones | 1935-36  | Mr W.Pearce        | 1967-68  | Mr J.F.Serfontein   |
| 1904-05 | Mr B. Owen- Jones | 1936-37  | Mr W.Pearce        | 1968-69  | Mr Ben Steyn        |
| 1905-06 | Mr G. Constable   | 1937 -38 |                    | 1969-70  |                     |
| 1907-08 | Mr T.R.Ziervogel  | 1939 -40 | Mr W.E.Vickers     | 1971-72  | Mr Chris Smith      |
| 1908-09 | Mr T.R.Ziervogel  | 1940-41  | Mr P.Venter        | 1972-73  | Mr Ben Steyn        |
| 1909-10 | Mr J.Morris       | 1941-42  | Mr P.Venter        | 1973-74  | Mr Issy Kramer      |
| 1910-11 |                   | 1942-43  | Mr P.Venter        | 1974-75  |                     |
| 1911-12 | Mr B.Owen- Jones  | 1943-44  | Mr P.Venter        | 1975-76  | Mr Sakkie Blanche   |
| 1912-13 | Mr J.Johnston     | 1944-45  | Mrs E.Myer         | 1977-78  | Mr Sakkie Blanche   |
| 1913-14 | Mr J.Cook         | 1945-46  | Mrs E.Myer         | 1978-79  |                     |
| 1914-15 | Mr J.Cook         | 1946-47  | Mrs E.Myer         | 1979 -80 | Mr Kobus Durand     |
| 1915-16 | Mr R.Champion     | 1947-48  | Mr C.Chambers      | 1980-81  | Mr Meyer            |
| 1916-17 | Mr R.Champion     | 1948-49  | Mrs S.Von Wielligh | 1981-82  | Mr Wiek Steyn       |
| 1917-18 | Mr A.Ruffels      | 1949-50  | Mr A.J.Law         | 1982-83  | Mr Andrew Wheeler   |
| 1918-19 | Mr J.Campbell     | 1950-51  | Mr P.Venter        | 1983-84  |                     |
| 1919-20 | Mr B.Melman       | 1951-52  | Mr P.Venter        | 1984-85  |                     |
| 1920-21 | Mr B.Melman       | 1952-53  | Mr Vic Pretorius   | 1985-86  | Mr J.Prins          |
| 1921-21 | Mr B.Melman       | 1953-54  | Mr Vic Pretorius   | 1986-87  |                     |
| 1922-23 | Mr J.Campbell     | 1954-55  |                    | 1987-88  |                     |
| 1923-24 |                   | 1954-56  | Mr J.H.A.Roets     | 1988-89  | Mr Beyers De Klerk  |
| 1924-25 | Mr E.Murton       | 1956-57  | Mr P.H.Tredoux     | 1989-90  | Mr Gerrie Wolmarans |
| 1925-26 | Mr S.Steenberg    | 1957- 58 |                    | 1990-91  | Mr Gerrie Wolmarans |
| 1926-27 |                   | 1958-59  | Mr J.M.Cawood      | 1991-92  | Mr TJ Ferreira      |
| 1927-28 | Mr J.Stanbury     | 1959-60  | Mr A.P.Scribante   | 1992-93  | Mr Gerrie Wolmarans |
| 1928-29 | Mr E.Murton       | 1960-61  | Mr J.L.Viljoen     | 1993-94  | Mr TJ Ferreira      |
| 1929-30 | Mr K.Turner       | 1961-62  | Mr J.L.Viljoen     |          |                     |
| 1930-31 | Mr J.E.Bigwood    | 1962-63  | Mrs S.Von Wielligh |          |                     |
| 1931-32 | Mr A.Zaretsky     | 1963-64  | Mr F.J.Van Heerden |          |                     |
| 1932-33 | Mr G.J.Malan      | 1964-65  |                    |          |                     |
| 1933-34 |                   | 1965-66  |                    |          |                     |
| 1934-34 |                   | 1966-67  | Mr H.McLennan      |          |                     |
+---------+-------------------+----------+--------------------+----------+---------------------+
['Mr B. Owen- Jones']

In [179]:
table_name = []
for i in range(len(table_loader.dataset)):
    if table_loader.dataset[i]['table']['name'] not in table_name:
        table_name.append(table_loader.dataset[i]['table']['name'])
    else:
        continue

In [38]:
for ind, i in enumerate(table_loader.dataset['question']):
    print(ind, i)

0 how many total orbit pairs are there?
1 the two level 6 seasons were 2012/13 and what other season?
2 which year had an average population of less than 38?
3 how many awards were handed out in 2004?
4 what was the most consecutive losses for the mercury in this season?
5 which year had less votes,1994 or 2009?
6 when was the first season that the team was in tier 6?
7 how many songs were juried about eight?
8 how many games were played in the month of november
9 how many encodings have a decimal above 200 for the capital letter em?
10 what municipality is on average 25 km away?
11 to which team did charleston southern give up at most 40 points?
12 what was the first year that the romanian population was less than 51,000?
13 the films beladingala baale and sparsha have which award in common?
14 how many stations opened before 1926?
15 what was the date of the only match to occur in sapporo, japan?
16 how many parties had more than 50 seats in the third duma?
17 which country won the gold medal?
18 what is the number of plants in ohio?
19 how many days did ultimo gladiador and ultimo vampiro hold the title?
20 what is the number of losses for dinamo tiranë
21 how many times was the venue vasil levski national stadium used?
22 what was the number of competitors during the 1995 finals?
23 who received more points, alex debon or toni elias?
24 how many games went into ot or overtime?
25 how many countries appear more than once on the chart?
26 how many times after the year 1989 did she come in 1st position?
27 how many 'choice tv sidekick' award categories was scrubs nominated for?
28 four corners has 13 premierships listed, what was their nickname?
29 in what season did they finish in first place?
30 what sport has more silver medals: wrestling or rowing
31 which category does each train have in common?
32 which games had an attendance of below 14,000?
33 what were the most points scored by the losing team?
34 what was the game next after birmingham city on november 6th?
35 how many delegates are under the democratic party who represented the frederick county?
36 which two buildings have the same number of floors as bsnl tower and som business square?
37 lucy millard and lynsey harley were both from which nation?
38 how many athletes had times that were at least 8 minutes?
39 what group has under 40 members but at least 2 caucusing?
40 how many total assists per game did 2013 eurobasket have?
41 what is the number of countries listed in the table
42 who had the least amount of attendees?
43 which player competed in women's singles and won a silver medal?
44 how many awards did kang ji-hwan win after 2010?
45 which defendant received the same sentence as reginald shaffer?
46 the date previous to june 14th 1993
47 what was the largest prize awarded to soviet song in 2004?
48 which team scored the highest number of ranking points in games that were won on penalties?
49 what is the number of riders listed?
50 did austria win more games in 1992 or 1996?
51 what km comes after 8.25, but before
52 which institutions have more than 2,000 enrollment?
53 did the wycombe wanderers have more or less points than the plymouth argyle?
54 what year did usl a-league finish 1st?
55 how many division 1 teams were founded before 1950?
56 what is the season listed after 2002?
57 which artist was first in point after nunzio gallo?
58 how many presidents were part of the whig party?
59 how many songs sung were by cláudio zoli?
60 who was the opponent previous to the south georgia wildcats?
61 what is he largest points scored in one game?
62 what country had the top number of silver medals?
63 how long does this table cover in years?
64 did she get the same award in 2005, as she did in 2006?
65 how many gold and silver medals in total did china receive?
66 what was the last team to win in the first round proper?
67 in total, how many athlete medal leaders are from the united states?
68 which country has had the most men's winners?
69 which game had only the driving genre?
70 where was the match held immediately before 2014's at guizhou olympic stadium?
71 how many times is in service listed as the status?
72 what was the last bridge built?
73 what is the difference in win pct under fred jordan and chal port?
74 how many songs are longer than 3:00?
75 on which date did the bombers score the least points?
76 which rifle has the longest barrel?
77 who is the top in giant slalom
78 which terminal had more quay cranes than terminal 6?
79 how many priests were in service between 1845 and 1912?
80 how many consecutive games were released in 2006?
81 how long did it take the german team to finish the race?
82 name two people whose height is at least 174 cm
83 what amount of people, at most, can begin arena hold?
84 what was the score of the first game blackpool played in?
85 who shot the highest single round?
86 kazakhstan had a position of 23rd in 1999 world championships and what other competition?
87 how many airlines have at least three service dates?
88 what is the difference between the number of onthophagus obliquus species released and the number of sisyphus rubrus paschalidis released?
89 what movie was the highest grossing film the most consecutive weekends?
90 what was the most goals scored in one game?
91 which year(s) saw the greatest average audience share?
92 how many cyclists withdrew before stage 6?
93 what is the number of tracks that have no songwriters?
94 what was the first game which was won with a score over 70 points?
95 what was the last title that sid marcus directed?
96 number of wins in the season.
97 which party had the most candidates win in this election?
98 who produced the track "no main topic"?
99 what is the number of flag bearers?
100 what is the total number of players listed in the table?
101 which album did not have more than one song reach the charts?
102 which countries each won 3 gold medals?
103 which duke has the same date of creation as the duke of coimbra?
104 what is the next destination after limestone road north?
105 which player is listed first in the table?
106 which original work from gaetano donizetti did liszt adapt after adapting opera lucrezia borgia?
107 what the number of seats that are in fairfax park?
108 which other athlete from the us ahs the same amount of gold medals as seth wescott?
109 who was the last team to win?
110 in which year was only top ten ranking in monetary earnings recorded?
111 what is the number of silver medals won by italy?
112 what is the total number of years ele opeloge was the samoa flag bearer at the olympics?
113 what is the number of shows on the list?
114 which party won the top place in the election?
115 what was the name of the ship that was built after the jule in this yard?
116 which country has the highest total in the miss supranational pagent?
117 who had the next highest number of gold medals after the unites states?
118 who won the race in 2014?
119 how many assists did the top three have in total?
120 did elvir rhimic score more goals during his time in the anxhi makhachkala club or the cska moscow club?
121 which is the first latin name on the chart
122 how many rankings are there?
123 did china or north korea obtain 5 silver medals?
124 how many losses from 1984 to 1988
125 how many goals did olle ahlund score?
126 what kind of power has the least amount of capacity in 2007?
127 what was the total prize money earned by contestants?
128 what was the only album she produced with the slow motion orchestra?
129 which high school left the same year as fenton high school?
130 who has competed more years, cuba or canada?
131 how long was charlton athletic in administration?
132 the most number of days an australian prime minister was in office was how many days?
133 other than 1977, what year had 53 maps?
134 was the white spruce used in 1985 from michigan or minnesota?
135 which player got the most yards?
136 which artist has the least highest position?
137 name the device above intel x25-e
138 who was in the last position?
139 how long in years total have they played level tier 4?
140 what was the number of awards received by nancy cartwright for her voice work on the simpsons between 1992 and 2011.
141 what country finished after the netherlands?
142 how many students are enrolled at navy?
143 the average silver medal count of the first five ranked nations?
144 how many communities are based in africa?
145 which festival participated for three consecutive awards?
146 how many independent candidates were on the ballot for alderman in 1919?
147 what is the only department witj 5 total deputies
148 what team comes before hank stein?
149 tell me a scorer that had at least 3 scores in cfu club championships.
150 how many locations were listed in total?
151 what is the difference of points in the game between birmingham city and wrexham?
152 the team with the most international caps
153 which party received the least votes?
154 how many people at most are american?
155 what club is after the sevilla fc?
156 did tianjin teda or qingdao jonoon have a higher average attendance?
157 what company has the top revenue?
158 how many films were made by 20th century fox studios?
159 how many club presidents held their position in the 19th century?
160 which was built at the same time as the lou higgens center?
161 how many athletes were faster than bill chisholm?
162 how many wrestlers do not have any notes?
163 which product as rdf for input or output
164 how many landmarks are in the hannover square historic district?
165 what is the last recorded ship sunk on august 25?
166 how many nations scored more total medals than brazil?
167 what is the number of times belgrade is listed as the city?
168 sir john a. macdonald and pierre trudeau both held what job in canada?
169 other new replacement chosen in april 2009 besides kij meesrisuk
170 name the species that has the longest years since divergence from human.
171 who lived longer evelyn irons or arturo islas?
172 how many teams earned winnings above $100,000 between 1986-1996?
173 name a racer that was the winning rider in two consecutive races.
174 what nation did the competitor represent?
175 which county did mccain have the least amount of votes?
176 what is the greatest number of points this team has won by?
177 how many places have no zip code listed?
178 based on the table of brazil's results at the fifa world cup between 1930 and 2010, in which listed year did brazil play on average only a single match in round 1?
179 who was the last deputy judge with finland nationality?
180 which country is last on the table?
181 which township has the least water area in miles?
182 who won the highest amount of rugby matches between new zealand and wales for the last 100 years?
183 at least how many parties have won?
184 the first car that murphy used in the new zealand v8 supercar
185 what model is listed next after tr-2?
186 what is the total number of divisions on the chart?
187 which year had more deaths, 1998 or 2006?
188 what year were prose accessits awarded to the largest number of people?
189 how many times out of the 8 matches did the home team win?
190 what was the total attendance for the september 19th, 1984 game?
191 which party obtained the largest percentage of votes in the 1996 forum?
192 list the first year more than 2000 jamaicans were granted british citizenship.
193 how many trains are demu category?
194 how many points did portugal score in the 1994 europeans men's handball championship preliminary round?
195 which united states president appointed the most ambassador's to mexico
196 what wrestler held the title the longest?
197 how many goals were scored against spain on november 2005?
198 how many gold's has brazil won?
199 other nation to earn no bronze medals besides peru
200 how many consecutive companies had no notes listed?
201 what was the first year in which the result was 1st place?
202 who is the only wrestler to have only 1 combined day?
203 how many riders scored at least 10 final points?
204 how many times did this player play in lionel roberts park?
205 what are the number of times taito is listed as the manufacturer?
206 which player was not a free agent?
207 which timberline lodge lift other than the magic mile express has a slope of 20% or greater?
208 which results were listed the most under the playoffs column?
209 what is the difference in number between the uninominal deputies from potosí and beni?
210 how much longer has the north carolina wolfpack been around compared to the tar heels?
211 what is the number of awards that arisan won in 2004?
212 in which venue was the next performance after the one at verdun auditorium?
213 what is the total number of yachts launched in 2001?
214 how many times was skrein listed as an artist on a song?
215 how many shows won drama desk awards?
216 how many different chokes are there that start with an s
217 how many years are listed in this competition record chart?
218 how many total managers has there been?
219 what livery is listed previous to blackpool tramway green and cream?
220 how many concerts in washington state?
221 which church is listed below christ the king?
222 what type of show is running man?
223 what is the number of awards she won total for the album whitney?
224 how many canadian drivers finished in at least 10th position or better?
225 where did they play after the april 5, 2005 game in reading?
226 after 'lejila' what was malberg's next film?
227 what year what his busiest year with the most roles?
228 the artist with the first letter k
229 how many relegations did andrea costa imola undergo?
230 where was the last match played?
231 on what date did the eagles score the least points?
232 what party was the last provincial representative of gilbert plains?
233 how many locomotives are on display at the narrow gauge railway museum?
234 which athlete from poland had the lowest time?
235 before rudhra gangadharan, how many directors were before him?
236 how many total wins did the team have in 1949?
237 was the wang xin ranked above or below qiu lianhai?
238 what club is listed next to june 4, 1972?
239 how many individual stations are at the times square station complex?
240 which buildings have the same number of floors as at least two others?
241 which player was the only one drafted from finland?
242 what team is first on the list?
243 how long was arthur berry in officer for?
244 which date has the most attendance?
245 which year's were the most japanese titles produced?
246 what song got the same points as straatdeuntje?
247 which record on the chart was set earlier, the 200 or 400 m?
248 on what date did they play the broncos but end up losing the game?
249 when was his last match?
250 how many competitors did not start the race at all?
251 what was the total number of destroyers completed in august 1939?
252 what is the number of world championships?
253 which driver scored the most points?
254 how many medals did france and cuba win?
255 tell me the number of times they qualified for the playoffs.
256 which team finished last in this conference this season?
257 which episode aired in the same month as "antarctica"?
258 how many summer flag bearers have there been?
259 who was the only titleholder to reach the top 15 at miss world?
260 how many years after sir carne rasch's election was john macnamara elected?
261 what is the top company that has the most employees?
262 which country comes in first place?
263 who was the first president in the 1900's?
264 name a country that only had one of each kind of medal.
265 what is the total number of awards that he has won?
266 what paul nix or hal baird coach in 1986?
267 which country took the least amount of time?
268 what is the number of networks accounted for in this chart?
269 how many creatures are on page 40?
270 name the male/female winners in the 1996 budapest half marathon.
271 what was the total number of points for the medal winners?
272 how many guards were picked?
273 did he score more tds with the los angeles rams or with indianapolis colts?
274 tell me the number of trains headed for jolarpet junction.
275 name a team that scored more than 8 points.
276 who is the last athlete?
277 how many honda motorcycles completed the race?
278 how many games has chorrillo f.c. won?
279 how many championships had at most 900 previous points.
280 which year did dickerson earn the most rushing yards?
281 how many crayons in crayola's crayons with glitter set include twinkling turquoise glitter?
282 how many teams won at most 50% of their games?
283 how many total laps did alex figge complete?
284 what was the total number of countries that the england women's rfu played against?
285 what month would someone attend a game if they wanted to celebrate his/her birthday close to christmas?
286 how many draws did ibv have?
287 what was the first gain on may 30th, 1963?
288 how many teams won by a margin of two or more points?
289 how many consecutive games did jay mills lose to fbs opponents?
290 which airliner attack on the list had the most dead?
291 how many games were played in the regular season?
292 which year saw the largest population of tower division during this time?
293 which author wrote "two loves i have, of comfort and despair", and "on a day (alack the day)"?
294 was kiki jones picked before or after greg gohr?
295 before the jackson state loss, when was their last loss?
296 which game did illinois score more points, the first or last?
297 who is listed previous to prue watt?
298 what country has the least number of rifles in service?
299 what is the total number of games played in november?

In [6]:
from executor import SQLManager
from sqlalchemy import create_engine
from data_loader import TableLoader, TableFormat
table_loader = TableLoader(table_name='sqa', split='test', use_sample=True)
i = 1014
def show_table(data):
    formatter = TableFormat(format='none', data=data)
    print(data['id'])
    print(data['query'])
    print(formatter.format_psql())
    print(data['label'])
    # sum, ope = split_answer(data[ind]['predict'])
    # print(ope)
    # print(manager.format_sql(ope, table_name='DF'))
show_table(table_loader.normalize_table(table_loader.dataset[i])) 
print(all_sql[i])
print(all_data[i])

IndexError: Invalid key: 1014 is out of bounds for size 300

In [5]:
# show table query
#debugger
from data_loader import TableFormat, TableLoader
from executor import SQLManager
from sqlalchemy import create_engine
engine = create_engine('sqlite:///db/sqlite/tabfact.db', echo=False)
manager = SQLManager(engine)
table_loader = TableLoader(table_name='tabfact', split='validation', use_sample=True)
def show_table(data):
    formatter = TableFormat(format='none', data=data)
    print(data['statement'])
    print(data['table']['caption'])
    # print(formatter.format_html())
    print(formatter.format_psql())
    print(data['label'])
    # data.columns = [manager.normalize_col_name(c) for c in formatter.all_data.columns]
    # data.to_sql('DF', manager.engine, if_exists='replace', index=False)
    
    # subtable = pd.read_sql(command, self.engine)
    # test_df = manager.execute_from_df(SQL, formatter.all_data)
    # return test_df
# test_df = show_table(table_loader.dataset[i])
show_table(table_loader.dataset[130])
for ind, i in enumerate(table_loader.dataset['statement']):
    print(ind, i)

ModuleNotFoundError: No module named 'data_loader'

### Evaluate Tabfact

In [160]:
import re
def extract_yes_no_and_map(text):
    # Convert the input text to lowercase for case-insensitive matching
    text = text.lower()

    # Define regular expressions for yes/no matching
    yes_patterns = [r'\byes\b', r'\btrue\b']
    no_patterns = [r'\bno\b', r'\bfalse\b']

    # Check for "0"
    if text == "0":
        return "0"

    # Check for "1"
    if text == "1":
        return "1"

    # Check for yes
    for pattern in yes_patterns:
        if re.search(pattern, text):
            return "1"

    # Check for no
    for pattern in no_patterns:
        if re.search(pattern, text):
            return "0"

    # Return 2 if neither yes nor no is found
    return "2"

def eval_fv_match(pred_list, gold_list):
        acc = 0.0
        for pred, gold in zip(pred_list, gold_list):
            pred, gold = extract_yes_no_and_map(pred), extract_yes_no_and_map(gold)
            if pred == gold:
                acc += 1
        acc = acc / len(pred_list)
        return acc
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [2]:
labels = []
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
for i in range(len(table_loader.dataset)):
    labels.append(table_loader.normalize_table(table_loader.dataset[i])['label'])

NameError: name 'TableLoader' is not defined

In [138]:
data4 = pd.read_csv('./result/answer/tabfact_05-15_10-56-31.csv')

In [139]:
data3 = pd.concat([data3, data4]).reset_index(drop=True)

In [150]:
data3.head()

,preds,statements,ids,tokens,extra,final_answer
0,"To verify whether the claim is true or false, ...",the sweet dream episode happen later in the se...,0,8860,When did the sweet dream episode happen in the...,"To verify whether the claim is true or false, ..."
1,The SQL query is filtering the table DF for ro...,david moore direct 3 episode of series 2 of me...,1,8064,How many episodes of series 2 of Merlin did Da...,The SQL query is filtering the table DF for ro...
2,The SQL query is filtering the data from the t...,the lady of the lake episode have the most uk ...,2,7948,Which episode has the most UK viewers?;What i...,The SQL query is filtering the data from the t...
3,"To verify the claim, we need to check the ""DF""...",lucy watkins only write 1 episode of series 2,3,7887,How many episodes did lucy watkins write for s...,"To verify the claim, we need to check the ""DF""..."
4,The SQL query is filtering the dataframe DF to...,beauty and the beast (part 2) have more uk vie...,4,8096,how many UK viewers did each part of Beauty an...,The SQL query is filtering the dataframe DF to...

In [161]:
import pandas as pd

data = pd.read_csv('../result/answer/tabfact_zh_04-25_15-42-17.csv')
data2 = pd.read_csv('../result/answer/tabfact_05-13_08-47-41.csv')
data3 = pd.read_csv('./result/answer/tabfact_05-16_02-20-54.csv')
data['final_answer'] = data['preds'].apply(lambda x: x.split('Answer:')[-1].strip())
data2['final_answer'] = data2['preds'].apply(lambda x: x.split('Answer:')[-1].strip())
data3['final_answer'] = data3['preds'].apply(lambda x: x.split('Answer:')[-1].strip())

In [162]:
labels = []
preds = []
ids = []
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
for i, row in data3.iterrows():
    ids.append(row['ids'])
    labels.append(table_loader.normalize_table(table_loader.dataset[int(row['ids'])])['label'])
    preds.append(row['final_answer'])

In [147]:
preds[2]

'The SQL query is filtering the data from the table DF to only include the episode titled "the lady of the lake" and then finding the maximum number of UK viewers for that episode.\n\nBased on the sub-table generated by the SQL, it shows that the episode "the lady of the lake" indeed has the maximum UK viewers of 6.3 million.\n\nTherefore, the provided claim/query is true.\n\nReturn: 1'

In [163]:
eval_fv_match(preds, labels)

0.8367139959432048

In [51]:
for i, row in data.iterrows():
    
    label = extract_yes_no_and_map(table_loader.normalize_table(table_loader.dataset[int(row['ids'])])['label'])
    pred3 = extract_yes_no_and_map(row['final_answer'])
    if label != pred3:
        id = row['ids']
        print(f'********{id}***************')
        
        print(label, pred3)
        print(row['preds'])
        print(row['extra'].split(';'))

********1***************
1 0
Thought: Based on the sub-table, it appears that David Moore did not direct any episodes of series 2 of Merlin. Therefore, the answer to the query is 0 episodes.
Answer: 0
[' Which episodes did David Moore direct for series 2 of Merlin?', 'How many episodes did David Moore direct for series 2 of Merlin?', 'how many episodes of series 2 of Merlin did David Moore direct?']
********3***************
1 0
Thought: Based on the SQL query provided, Lucy Watkins wrote 0 episodes for series 2.
Answer: 0
[' Which episode did Lucy Watkins write for series 2?', 'how many episodes of series 2 did lucy watkins write?', 'How many episodes did Lucy Watkins write for series 2?']
********8***************
0 1
Thought: Based on the SQL query provided, there is no data from the database that matches the condition of Lucy Watkins writing 6 episodes of series 2.
Answer: 1
['how many episodes did lucy watkins write for series 2?', 'How many episodes did Lucy Watkins write for series 2?', ' Which episodes did Lucy Watkins write for series 2?']
********11***************
1 0
Thought: Based on the SQL query provided, the player who scored 4 more goals than Matías Suárez in the Belgian First Division A league and also played in the Belgian Cup is the next highest rank player in the league.
Answer: 0
['How many goals did Jonathan Legear and Matías Suárez score in the Belgian First Division A league and the Belgian Cup?', 'How many goals did Jonathan Legear score in the Belgian First Division A league?', ' How many goals did Matías Suárez score in the Belgian First Division A league?']
********12***************
0 1
Thought: Based on the SQL query provided, Jonathan Legear scored 7 goals, and the other players combined to score a total of 68 goals. Therefore, Jonathan Legear scored more goals than the other players combined.
Answer: 1
[' How many goals did Jonathan Legear score?', 'which player scored the most goals in the Belgian cup?', 'How many players are there who play in the Belgian cup?', ' How many goals did the other players combine to score?']
********13***************
0 1
Thought: Based on the SQL query provided, Guillaume Gillet scored 9 goals, Thomas Chatelle scored 4 goals, and Jelle Van Damme scored 3 goals in the UEFA Champion League tournament. Guillaume Gillet scored 3 times as much as Thomas Chatelle and 3 times as much as Jelle Van Damme.
Answer: 1
['How many goals did Guillaume Gillet score in the UEFA Champion League tournament compared to the other two players?', ' How many goals did each of the other 2 players score in the UEFA Champion League tournament?', 'How many goals did Guillaume Gillet score in the UEFA Champion League tournament?']
********14***************
1 0
Thought: Based on the SQL query provided, the top scorer in the Belgian first division is Mbark Boussoufa with 11 goals, and Matias Suarez scored 3 goals. Therefore, the claim that the top scorer (Matias Suarez) has 8 fewer goals than Mbark Boussoufa is false.
Answer: 0
['', ' How many goals did Matias Suarez score in the Belgian first division?', 'Who is the top scorer in the Belgian first division?', 'who is the top scorer in the Belgian first division and how many goals did they score?']
********19***************
0 1
Thought: The SQL query provided filters the players from the Belgian first division who have either 11 or 3 goals. The players are Mbark Boussoufa, Matías Suárez, and Bart Goor. The extra information states that Mbark Boussoufa has 11 goals, Matías Suárez has 3 goals, and Bart Goor has 1 goal. The top scorer in the Belgian first division is Mbark Boussoufa with 11 goals. Matías Suárez has 5 fewer goals than Bart Goor.
Answer: 1
[' How many goals does Bart Goor have?', ' How many goals does Matias Suarez have?', 'Who is the top scorer in the Belgian first division?', 'who are the top scorers in the Belgian first division and how many goals did they score?']
********20***************
1 0
Thought: Based on the SQL query provided, 3 people tied for ninth place in the United States. However, based on the sub-table, there were actually 4 people who tied for ninth place, not 3.
Answer: 0
[' How many people from the United States tied for ninth place?', 'which players tied for ninth place?', 'How many people tied for ninth place?']
********21***************
1 0
Thought: The sub-table only provides the count of people who scored under par from the United States. It does not provide the count of people who scored under par from other countries. Therefore, the query cannot be answered based on the given sub-table.
Answer: 0
['which players scored under par and what country are they from?', 'How many people who scored under par were from the United States?', ' How many people who scored over par were from the United States?']
********22***************
1 0
Thought: Based on the SQL query provided, the average score for players from Japan is 70. The average score for players from Japan is 70, not 281.
Answer: 0
[' What is the average to_par for players from Japan?', 'What is the average score for players from Japan?', 'What is the average score for players from each country?']
********24***************
1 0
Thought: Based on the SQL query provided, the maximum amount of money won by someone from Wales was 67823. However, the winner received 200,000 units of money, and the player who won the most amount of money is Curtis Strange, not someone from Wales.
Answer: 0
[' How much money did the winner receive?', 'how much money did the player from wale win?', 'Who won the most amount of money?']
********37***************
1 0
Thought: The SQL query filters the data to show players who come from either a college program or a junior/club team. The sub-table shows that there is no data from the database.
Answer: 0
[' What is the college, junior, or club team for Rob Bellamy?', 'where do the players come from?', 'What is the college, junior, or club team for Ladislav Scurko?']
********41***************
1 0
Thought: Based on the sub-table, the West Berkshire Brewery's Dr Hexter Healer beer won a total of 4 gold medals between 1995 and 2009. Therefore, the claim that it won 3 gold medals is false.
Answer: 0
["how many gold medals did west berkshire brewery's dr hexter healer beer win between 1995 and 2009?", " How many gold medals did west berkshire brewery's dr hexter healer beer win between 1995 and 2009?", "How many gold medals did west berkshire brewery's dr hexter healer beer win between 1995 and 2009?"]
********43***************
0 1
Thought: Based on the SQL query provided, 3 of West Berkshire Brewery's beers each won a single award between 1995 and 2009. The beers are "Dr Hexter's Wedding Ale," "Mash Tun," and "Old Father Thames." Each of these beers won a single award during this time period.
Answer: 1
["What awards did west berkshire brewery's beer win between 1995 and 2009?", " How many awards did west berkshire brewery's beer win between 1995 and 2009?", 'Which beers from West Berkshire Brewery won awards between 1995 and 2009?']
********49***************
1 0
Thought: Based on the SQL query provided, the sub-table shows that only 1 game was played at the US Airways Center with the same attendance. Therefore, the claim that 3 of the games at the US Airways Center have the same attendance is false.
Answer: 0
['how many games at the us airways center have the same attendance?', 'Which games were played at the US Airways Center?', ' How many games were played at the US Airways Center?']
********61***************
1 0
Thought: Based on the SQL query provided, Linda Fratianne was ranked in first place and Anett Pötzsch was ranked in second place in the 1979 world figure skate championship.
Answer: 0
['Who won the 1979 world figure skate championship and who was ranked in second place?', ' Who was ranked in second place in the 1979 world figure skate championship?', 'Who won the 1979 world figure skate championship?']
********64***************
0 1
Thought: Based on the SQL query provided, Emi Watanabe was ranked third in the 1979 world figure skate championship. This is 1 place higher than Dagmar Lurz, who was ranked 4th.
Answer: 1
['Who was ranked third in the 1979 world figure skate championship?', ' Who was ranked fifth in the 1979 world figure skate championship?', 'what is the ranking of emi watanabe and dagmar lurz in the 1979 world figure skate championship?']
********66***************
0 1
Thought: Based on the SQL query provided, Linda Fratianne finished in first place, and Anett Pötzsch did not manage to get in the top 3.
Answer: 1
[' Who did not manage to get in the top 3?', 'Who finished in first place?', 'Which skater finished in first place and which skater did not manage to get in the top 3?']
********80***************
1 0
Thought: Based on the SQL query provided, the highest score of the season for Detroit was 5, achieved on January 22nd. The claim that the highest score of the season for Detroit was on January 5th with 6 points is false.
Answer: 0
[' When did Detroit score the highest in the season?', 'What was the highest score of the season for Detroit?', 'what was the highest score of the season and which team achieved it?']
********84***************
0 1
Thought: Based on the SQL query provided, Detroit tied for the highest home team score 2 times. The highest home team score in the game is 4. The team that tied for the highest score in a game is "detroit". Therefore, the claim is true.
Answer: 1
[' How many times did Detroit tie for the highest home team score?', 'What is the highest home team score in the game?', 'which team tied for the highest score in a game?']
********85***************
0 1
Thought: Based on the SQL query provided, the minimum score for Detroit in January was 1 - 2. This is the lowest score for Detroit in January.
Answer: 1
[' What is the score of the game between Detroit and Dallas on January 26?', 'What is the score of the game between Detroit and Los Angeles on January 22?', 'which team had the lowest score by late January?']
********87***************
0 1
Thought: Based on the SQL query provided, the query filters the data to only show scores that contain a hyphen, which indicates a tie. The sub-table shows that there are two instances where there is a tie in the score.
Answer: 1
['How many times was there a tie for the largest point gap during the season?', 'how many times was there a tie for the largest point gap during the season?']
********89***************
1 0
Thought: Based on the SQL query provided, the names Ilir Meta, Bashkim Fino, and Pandeli Majko (1st time) are all members of the socialist party of Albania political party. Ylli Bufi is not included in the sub-table.
Answer: 0
[' Was Bashkim Fino a member of the socialist party of albania political party?', 'which members were part of the socialist party of albania political party?', 'Was Ilir Meta a member of the socialist party of albania political party?']
********101***************
1 0
Thought: Based on the SQL query provided, the player James Donaldson had 1 stint on the Jazz's roster.
Answer: 0
[' How many years did Adrian Dantley play for the Jazz?', "how many stints did each player have on the jazz's roster?", 'How many years did James Donaldson play for the Jazz?']
********121***************
0 1
Thought: Based on the SQL query provided, the count of viral families with a helical virion shape is 7.
Answer: 1
['how many viral families have a helical virion shape?', 'Which viral families have a helical virion shape?']
********129***************
0 1
Thought: Based on the SQL query provided, there are 7 viral families that have a helical virion shape.
Answer: 1
['Which viral families have a helical virion shape?']
********133***************
0 1
Thought: Based on the SQL query provided, the table shows the different virion shapes of viral diseases. The table does not include any viral diseases with a spherical virion shape.
Answer: 1
['what are the different virion shapes of the viral diseases listed?', 'Which viral diseases have a spherical virion shape?']
********135***************
0 1
Thought: Based on the SQL query provided, the viral disease in Baltimore group iii is reoviridae.
Answer: 1
['Which viral diseases are in Baltimore group iii?', 'Which viral diseases are in baltimore group iii?']
********139***************
1 0
Thought: Based on the sub-table, Galina Voskoboeva's win rate on clay and hard court surfaces is 0.5 for both surfaces. The winrate of Galina Voskoboeva on hard court is 0.333333, as calculated from the sub-table provided. Therefore, the claim that Galina Voskoboeva has an equal win rate between both clay and hard court is false.
Answer: 0
['What is the winrate of Galina Voskoboeva on clay court?', "What is Galina Voskoboeva's win rate on clay and hard court surfaces?", ' What is the winrate of Galina Voskoboeva on hard court?']
********140***************
1 0
Thought: Based on the SQL query provided, the opponent 'galina voskoboeva' played the same opponent more than once, as the count of the opponent is greater than 1.
Answer: 0
['How many times did Galina Voskoboeva play the same opponent?', ' Did Galina Voskoboeva play the same opponent more than once?', 'how many times has Galina Voskoboeva played the same opponent?']
********148***************
1 0
Thought: Based on the SQL query provided, Alfredo Binda won 6 races in the 1933 Giro d'Italia, and he was the race leader for 13 races.
Answer: 0
[" How many races was Alfredo Binda the race leader for in the 1933 Giro d'Italia?", "how many races did Alfredo Binda win in the 1933 Giro d'Italia and how many races was he the race leader for?", "How many races did Alfredo Binda win in the 1933 Giro d'Italia?"]
********149***************
1 0
Thought: Based on the SQL query provided, the winner of the 1933 Giro d'Italia race on May 26 was not Gerard Loncke, it was Learco Guerra. Additionally, the race leader was Alfredo Binda, not Gerard Loncke.
Answer: 0
["who won the 1933 Giro d'Italia race on May 26?", "When did Gerard Loncke win the race in the 1933 Giro d'Italia?", " Who was the race leader in the 1933 Giro d'Italia?"]
********163***************
0 1
Thought: Based on the SQL query provided, Wes Roberts and Ed Whitley were both picked in the 3rd round.
Answer: 1
[' When was Ed Whitley picked?', 'When was Wes Robert picked?', 'were Wes Robert and Ed Whitley both picked in the 3rd round?']
********169***************
1 0
Thought: Based on the SQL query provided, only one country received 6 bronze medals, which is East Germany (GDR). The extra information states that Finland and the United States received the same number of bronze medals, which is 2, not 6.
Answer: 0
['Which countries received the same number of bronze medals?', 'Which 6 countries received the same number of bronze medals?']
********170***************
1 0
Thought: Based on the sub-table provided, the query cannot be answered as there is no data to determine which countries received medals in all categories.
Answer: 0
['Which countries on the table did not receive a medal in one of the categories?', 'Which countries received medals in all categories?', ' Which countries did not receive a medal in one of the categories?']
********180***************
1 0
Thought: Based on the SQL query provided, there is no data from the database that matches the criteria. Therefore, it is not possible to verify the claim.
Answer: 0
[' What is the declination of ngc 1947?', 'What is the declination of ngc 2082?', 'what is the declination of each galaxy in the dorado group?']
********181***************
0 1
Thought: Based on the SQL query provided, the celestial object with the lowest right ascension is ngc 1533 with a right ascension of 4 hours 9 minutes and 51.8 seconds.
Answer: 1
[' What is the right ascension of ngc 2082?', 'What is the right ascension of ngc 1533?', 'What is the right ascension for each of the listed celestial objects?']
********188***************
1 0
Thought: The sub-table provided does not contain the necessary information to answer the query.
Answer: 0
['What is the earliest date for volleyball?', ' What is the second earliest date for volleyball?', 'Which sport had the second earliest date?']
********193***************
0 1
Thought: Based on the SQL query provided, the earliest date for volleyball in the table is 2007-09-08. This is the earliest date for volleyball in the table.
Answer: 1
['which sport has the earliest date?', 'What is the earliest date for volleyball in the table?']
********210***************
1 0
Thought: Based on the SQL query provided, Lleyton Hewitt was a runner-up 5 times. The total number of times he was a runner-up is 5, and the total number of times he participated is not given.
Answer: 0
['how many times was Lleyton Hewitt a runner-up in total?', ' How many times did Lleyton Hewitt be a runner-up?', 'How many times did Lleyton Hewitt win a championship?']
********213***************
0 1
Thought: Based on the SQL query provided, there were no instances of a master series final where one side finished with 4 points.
Answer: 1
["How many of Lleyton Hewitt's master series final have one side finishing with 4 points?", "How many of Lleyton Hewitt's master series finals ended with one side finishing with 4 points?", " How many of Lleyton Hewitt's master series final have the other side finishing with 4 points?"]
********225***************
0 1
Thought: Based on the sub-table, it appears that no team scored in the first game of the World Cup in France on June 19, 1998.
Answer: 1
['What was the score for the first game of the world cup in France?', 'which team did not score in the first game of the world cup in France?', ' Did any team score for the first game of the world cup in France?']
********227***************
0 1
Thought: Based on the SQL query provided, the Solheim Cup was hosted in the US 7 times from 1990 through 2013, as indicated by the sub-table.
Answer: 1
[' When was the Solheim Cup hosted in the US from 1990 through 2013?', 'How many times was the Solheim Cup hosted in the US from 1990 through 2013?', 'how many times was the Solheim Cup hosted in the US from 1990 through 2013?']
********228***************
1 0
Thought: Based on the SQL query provided, the United States team won 8 Solheim Cup tournaments between 1990 and 2009. The last win for the United States team before 2009 was in 2007.
Answer: 0
['How many Solheim Cup tournaments did the United States team win from 1990 to 2009?', 'how many Solheim Cup tournaments did the United States team win between 1990 and 2009?', ' When was the last Solheim Cup win for the United States team before 2009?']
********229***************
1 0
Thought: Based on the SQL query provided, the captains who have won the cup multiple times are Mickey Walker and Kathy Whitworth. Patty Sheehan, Judy Rankin, and Kathy Whitworth are not the only captains who have won the cup 2 times.
Answer: 0
['How many times did Patty Sheehan win the cup as captain?', ' How many times did Judy Rankin win the cup as captain?', ' How many times did Kathy Whitworth win the cup as captain?', 'which captains have won the cup multiple times?']
********234***************
0 1
Thought: Based on the sub-table, Patty Sheehan, Judy Rankin, and Kathy Whitworth all captained a winning team in the Solheim Cup 1 time.
Answer: 1
['How many times did Patty Sheehan captain a winning team in the Solheim Cup?', 'how many times did each captain win the solheim cup?', ' How many times did Judy Rankin captain a winning team in the Solheim Cup?', ' How many times did Kathy Whitworth captain a winning team in the Solheim Cup?']
********239***************
1 0
Thought: Based on the SQL query provided, the attendance on August 26 was 48063 and the attendance on August 27 was 48032.
Answer: 0
[' What was the attendance on August 27?', 'What was the attendance on August 26?', 'what was the attendance on August 26 and August 27?']
********240***************
1 0

In [11]:

eval_fv_match(preds, labels)

0.8241256969082615

In [64]:
acc

227

In [93]:
all_data.head()

,preds_1,statements_1,final_answer_1,preds_2,statements_2,final_answer_2,preds,statements,tokens,extra,final_answer
ids,,,,,,,,,,,
0,"Thought: Based on the SQL query provided, the ...",the sweet dream episode happen later in the se...,1,"Thought: The ""Sweet Dreams"" episode happened o...",the sweet dream episode happen later in the se...,1,"Thought: Based on the SQL query provided, the ...",the sweet dream episode happen later in the se...,7622,"What was the air date of the episode ""The Witc...",1
1,"Thought: Based on the SQL query provided, ther...",david moore direct 3 episode of series 2 of me...,0,"Thought: Based on the SQL query provided, ther...",david moore direct 3 episode of series 2 of me...,0,"Thought: Based on the SQL query provided, ther...",david moore direct 3 episode of series 2 of me...,5548,How many episodes did David Moore direct in se...,0
2,"Thought: Based on the SQL query provided, the ...",the lady of the lake episode have the most uk ...,1,"Thought: Based on the SQL query provided, the ...",the lady of the lake episode have the most uk ...,1,"Thought: Based on the SQL query provided, the ...",the lady of the lake episode have the most uk ...,5608,What was the title of the episode with the hig...,1
3,"Thought: Based on the SQL query provided, ther...",lucy watkins only write 1 episode of series 2,0,"Thought: Based on the SQL query provided, Lucy...",lucy watkins only write 1 episode of series 2,0,"Thought: Based on the SQL query provided, ther...",lucy watkins only write 1 episode of series 2,5484,How many episodes did Lucy Watkins write for s...,0
4,"Thought: Based on the SQL query provided, the ...",beauty and the beast (part 2) have more uk vie...,1,"Thought: Based on the SQL query provided, the ...",beauty and the beast (part 2) have more uk vie...,1,"Thought: Based on the SQL query provided, the ...",beauty and the beast (part 2) have more uk vie...,7682,"What was the original air date of ""the curse o...",1

In [90]:
all_data = data.set_index(keys='ids').join(data2.set_index(keys='ids'), how='inner',lsuffix='_1', rsuffix='_2').join(data3.set_index(keys='ids'), how='inner',lsuffix='_1', rsuffix='_3')

In [100]:
acc

144

In [102]:
acc

1628

In [104]:
from collections import Counter
labels = []
preds = []
ids = []
acc = 0
err = 0
table_loader = TableLoader(table_name='tabfact', split='test', use_sample=False, small_test=True)
for i, row in all_data.iterrows():
    label = extract_yes_no_and_map(table_loader.normalize_table(table_loader.dataset[int(i)])['label'])
    pred1 = extract_yes_no_and_map(row['final_answer_1'])
    pred2 = extract_yes_no_and_map(row['final_answer_2'])
    pred3 = extract_yes_no_and_map(row['final_answer'])
    print(Counter([pred1,pred2,pred3]).most_common())
    if Counter([pred1,pred2,pred3]).most_common()[0][0] == label:
        acc += 1
    else:
        print
    if pred1 != label and pred2 != label and pred3 != label:
        # print(label, pred1, pred2)
        err += 1

[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('2', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('2', 1), ('1', 1), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('2', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('2', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('2', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('2', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('2', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('2', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('2', 2), ('0', 1)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('2', 1)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('0', 2), ('1', 1)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('0', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 3)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('1', 3)]
[('1', 3)]
[('0', 3)]
[('0', 3)]
[('1', 3)]
[('0', 2), ('1', 1)]
[('1', 2), ('0', 1)]

In [134]:
acc = 0
errors = []
for i in range(len(preds)):
    pred, gold = extract_yes_no_and_map(preds[i]), extract_yes_no_and_map(labels[i])
    if pred != gold:
        print(ids[i], pred, gold)
        errors.append(i)
    else:
        acc += 1

1 0 1
3 0 1
7 1 0
11 0 1
14 0 1
16 1 0
17 1 0
21 0 1
22 0 1
26 0 1
32 0 1
37 0 1
39 1 0
42 0 1
43 1 0
46 1 0
47 1 0
51 0 1
58 1 0
59 0 1
62 0 1
63 1 0
64 1 0
66 1 0
69 0 1
72 0 1
73 1 0
76 1 0
79 0 1
80 0 1
82 0 1
84 1 0
87 1 0
91 0 1
100 0 1
101 0 1
103 1 0
106 1 0
107 1 0
108 0 1
115 2 0
121 1 0
126 1 0
133 1 0
135 1 0
138 1 0
140 0 1
148 0 1
151 0 1
160 0 1
169 0 1
180 0 1
181 1 0
184 1 0
188 0 1
192 1 0
196 1 0
199 0 1
210 0 1
211 0 1
213 1 0
216 2 0
225 1 0
227 1 0
236 1 0
240 0 1
241 0 1
249 0 1
254 1 0
259 0 1
261 0 1
265 1 0
268 0 1
276 1 0
277 1 0
281 0 1
291 0 1
292 1 0
296 1 0
300 1 0
301 0 1
309 0 1
315 0 1
341 1 0
349 1 0
350 1 0
355 0 1
362 1 0
375 0 1
390 1 0
392 1 0
393 1 0
396 1 0
397 1 0
398 1 0
408 0 1
422 1 0
425 0 1
426 1 0
430 1 0
431 1 0
432 1 0
435 0 1
436 0 1
438 0 1
439 0 1
441 1 0
442 1 0
444 1 0
457 1 0
463 1 0
473 1 0
475 0 1
476 0 1
488 0 1
489 0 1
491 1 0
493 1 0
495 0 1
499 0 1
502 1 0
503 1 0
504 0 1
510 1 0
511 1 0
517 0 1
520 0 1
522 1 0
534 1 0
538 0 1
539 0 1
542 1 0
544 1 0
545 0 1
546 0 1
547 0 1
555 0 1
557 0 1
566 2 0
567 0 1
569 0 1
573 1 0
576 0 1
590 1 0
591 1 0
594 1 0
595 0 1
596 0 1
599 0 1
601 0 1
607 0 1
616 0 1
619 0 1
621 0 1
622 1 0
627 0 1
628 0 1
635 0 1
636 0 1
638 0 1
643 1 0
645 0 1
656 0 1
661 1 0
663 1 0
668 0 1
670 1 0
674 1 0
677 0 1
683 0 1
684 0 1
691 1 0
692 0 1
693 0 1
698 1 0
700 1 0
701 1 0
709 0 1
730 1 0
737 0 1
739 1 0
744 0 1
746 1 0
749 1 0
763 0 1
764 0 1
766 0 1
770 1 0
773 0 1
775 0 1
777 0 1
779 1 0
781 1 0
789 1 0
791 1 0
793 0 1
795 0 1
796 0 1
808 1 0
809 1 0
810 1 0
812 1 0
813 0 1
817 1 0
823 0 1
824 0 1
827 1 0
829 1 0
837 0 1
847 1 0
852 0 1
853 0 1
854 0 1
861 0 1
864 0 1
868 1 0
869 1 0
871 0 1
875 1 0
881 0 1
886 1 0
888 1 0
894 0 1
896 1 0
898 1 0
910 0 1
912 0 1
914 0 1
917 0 1
920 0 1
923 0 1
926 1 0
928 1 0
933 1 0
939 0 1
941 0 1
943 0 1
945 1 0
951 0 1
967 1 0
968 1 0
982 0 1
1001 0 1
1007 1 0
1010 0 1
1022 0 1
1067 0 1
1070 0 1
1076 0 1
1077 1 0
1082 1 0
1100 0 1
1111 1 0
1112 0 1
1113 0 1
1114 0 1
1119 0 1
1148 0 1
1162 0 1
1171 1 0
1174 0 1
1175 0 1
1176 0 1
1179 1 0
1185 1 0
1190 1 0
1215 1 0
1237 0 1
1239 1 0
1245 1 0
1248 0 1
1252 0 1
1269 0 1
1281 1 0
1285 0 1
1296 0 1
1297 0 1
1298 0 1
1299 0 1
1300 0 1
1316 1 0
1342 0 1
1346 1 0
1358 1 0
1361 0 1
1363 1 0
1386 0 1
1398 0 1
1399 1 0
1403 0 1
1405 0 1
1418 0 1
1427 2 0
1430 0 1
1444 0 1
1447 1 0
1451 0 1
1462 1 0
1466 0 1
1480 1 0
1481 0 1
1498 0 1
1504 1 0
1505 1 0
1506 0 1
1514 0 1
1544 1 0
1550 1 0
1590 0 1
1593 1 0
1598 2 1
1609 1 0
1617 0 1
1620 1 0
1625 1 0
1630 0 1
1638 0 1
1641 0 1
1666 0 1
1670 1 0
1704 1 0
1709 0 1
1748 1 0
1754 1 0
1757 1 0
1774 1 0
1784 1 0
1790 0 1
1794 0 1
1814 1 0
1822 0 1
1825 0 1
1831 1 0
1833 1 0
1841 1 0
1845 0 1
1853 0 1
1857 0 1
1859 1 0
1872 1 0
1875 1 0
1906 0 1
1915 1 0
1931 0 1
1938 0 1
1942 1 0
1946 1 0
1979 0 1
1981 0 1
1982 0 1
1985 1 0
1987 1 0

In [ ]:
data = pd.read_csv('./result/answer/tabfact_05-10_07-12-50.csv')
data['final_answer'] = data['preds'].apply(lambda x: x.split('Answer:')[-1].strip())

if len(predict_ans) == 0:
    predict_ans = json.loads(l)['pred'][-3:]
    if '0' in predict_ans:
        predict_ans = '0'
    elif '1' in predict_ans:
        predict_ans = '1'
    else:
        predict_ans = '2'
    pred_label.append(predict_ans)
if verbose:
    print(pred_label)
    print(gold_list)
    print(np.where(np.array(pred_label) != np.array(gold_list)))
return eval_fv_match(pred_label, gold_list)

10
10

### Evaluate WikiTable

In [27]:
import re
import string
import recognizers_suite
import recognizers_suite as Recognizers
from recognizers_text import Culture, ModelResult
def str_normalize(user_input, recognition_types=None):
    """A string normalizer which recognize and normalize value based on recognizers_suite"""
    user_input = str(user_input)
    user_input = user_input.replace("\\n", "; ")

    def replace_by_idx_pairs(orig_str, strs_to_replace, idx_pairs):
        assert len(strs_to_replace) == len(idx_pairs)
        last_end = 0
        to_concat = []
        for idx_pair, str_to_replace in zip(idx_pairs, strs_to_replace):
            to_concat.append(orig_str[last_end : idx_pair[0]])
            to_concat.append(str_to_replace)
            last_end = idx_pair[1]
        to_concat.append(orig_str[last_end:])
        return ''.join(to_concat)

    if recognition_types is None:
        recognition_types = [
            "datetime",
            "number",
            "ordinal",
            "percentage",
            "age",
            "currency",
            "dimension",
            "temperature",
        ]
    culture = Culture.English
    for recognition_type in recognition_types:
        if re.match("\d+/\d+", user_input):
            # avoid calculating str as 1991/92
            continue
        recognized_list = getattr(
            recognizers_suite, "recognize_{}".format(recognition_type)
        )(
            user_input, culture
        )  # may match multiple parts
        strs_to_replace = []
        idx_pairs = []
        for recognized in recognized_list:
            if not recognition_type == 'datetime':
                recognized_value = recognized.resolution['value']
                if str(recognized_value).startswith("P"):
                    # if the datetime is a period:
                    continue
                else:
                    strs_to_replace.append(recognized_value)
                    idx_pairs.append((recognized.start, recognized.end + 1))
            else:
                if recognized.resolution:  # in some cases, this variable could be none.
                    if len(recognized.resolution['values']) == 1:
                        strs_to_replace.append(
                            recognized.resolution['values'][0]['timex']
                        )  # We use timex as normalization
                        idx_pairs.append((recognized.start, recognized.end + 1))

        if len(strs_to_replace) > 0:
            user_input = replace_by_idx_pairs(user_input, strs_to_replace, idx_pairs)

    if re.match("(.*)-(.*)-(.*) 00:00:00", user_input):
        user_input = user_input[: -len("00:00:00") - 1]
        # '2008-04-13 00:00:00' -> '2008-04-13'
    return user_input


def normalize_answer(s):
    def remove_articles(text):
        return re.sub(re.compile(r"\b(a|an|the)\b", re.UNICODE), " ", text)

    def whilt_space_fix(text):
        return " ".join(text.split())

    def remove_punc(text):
        exclude = set(string.punctuation)
        return "".join(ch for ch in text if ch not in exclude)

    def lower(text):
        return text.lower()

    return whilt_space_fix(remove_articles(remove_punc(lower(s))))

In [28]:

import sys, os, re, argparse
import unicodedata
from codecs import open
from math import isnan, isinf
from abc import ABCMeta, abstractmethod


################ String Normalization ################

def normalize(x):
    if not isinstance(x, str):
        x = x.decode('utf8', errors='ignore')
    # Remove diacritics
    x = ''.join(c for c in unicodedata.normalize('NFKD', x)
                if unicodedata.category(c) != 'Mn')
    # Normalize quotes and dashes
    x = re.sub(r"[‘’´`]", "'", x)
    x = re.sub(r"[“”]", "\"", x)
    x = re.sub(r"[‐‑‒–—−]", "-", x)
    while True:
        old_x = x
        # Remove citations
        x = re.sub(r"((?<!^)\[[^\]]*\]|\[\d+\]|[•♦†‡*#+])*$", "", x.strip())
        # Remove details in parenthesis
        x = re.sub(r"(?<!^)( \([^)]*\))*$", "", x.strip())
        # Remove outermost quotation mark
        x = re.sub(r'^"([^"]*)"$', r'\1', x.strip())
        if x == old_x:
            break
    # Remove final '.'
    if x and x[-1] == '.':
        x = x[:-1]
    # Collapse whitespaces and convert to lower case
    x = re.sub(r'\s+', ' ', x, flags=re.U).lower().strip()
    return x


################ Value Types ################

class Value(object):
    __metaclass__ = ABCMeta

    # Should be populated with the normalized string
    _normalized = None

    @abstractmethod
    def match(self, other):
        """Return True if the value matches the other value.
        Args:
            other (Value)
        Returns:
            a boolean
        """
        pass

    @property
    def normalized(self):
        return self._normalized


class StringValue(Value):

    def __init__(self, content):
        assert isinstance(content, str)
        self._normalized = normalize(content)
        self._hash = hash(self._normalized)

    def __eq__(self, other):
        return isinstance(other, StringValue) and self.normalized == other.normalized

    def __hash__(self):
        return self._hash

    def __str__(self):
        return 'S' + str([self.normalized])

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        return self.normalized == other.normalized


class NumberValue(Value):

    def __init__(self, amount, original_string=None):
        assert isinstance(amount, (int, float))
        if abs(amount - round(amount)) < 1e-6:
            self._amount = int(amount)
        else:
            self._amount = float(amount)
        if not original_string:
            self._normalized = str(self._amount)
        else:
            self._normalized = normalize(original_string)
        self._hash = hash(self._amount)

    @property
    def amount(self):
        return self._amount

    def __eq__(self, other):
        return isinstance(other, NumberValue) and self.amount == other.amount

    def __hash__(self):
        return self._hash

    def __str__(self):
        return ('N(%f)' % self.amount) + str([self.normalized])

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        if self.normalized == other.normalized:
            return True
        if isinstance(other, NumberValue):
            return abs(self.amount - other.amount) < 1e-6
        return False

    @staticmethod
    def parse(text):
        """Try to parse into a number.
        Return:
            the number (int or float) if successful; otherwise None.
        """
        try:
            return int(text)
        except:
            try:
                amount = float(text)
                assert not isnan(amount) and not isinf(amount)
                return amount
            except:
                return None


class DateValue(Value):

    def __init__(self, year, month, day, original_string=None):
        """Create a new DateValue. Placeholders are marked as -1."""
        assert isinstance(year, int)
        assert isinstance(month, int) and (month == -1 or 1 <= month <= 12)
        assert isinstance(day, int) and (day == -1 or 1 <= day <= 31)
        assert not (year == month == day == -1)
        self._year = year
        self._month = month
        self._day = day
        if not original_string:
            self._normalized = '{}-{}-{}'.format(
                year if year != -1 else 'xx',
                month if month != -1 else 'xx',
                day if day != '-1' else 'xx')
        else:
            self._normalized = normalize(original_string)
        self._hash = hash((self._year, self._month, self._day))

    @property
    def ymd(self):
        return (self._year, self._month, self._day)

    def __eq__(self, other):
        return isinstance(other, DateValue) and self.ymd == other.ymd

    def __hash__(self):
        return self._hash

    def __str__(self):
        return (('D(%d,%d,%d)' % (self._year, self._month, self._day))
                + str([self._normalized]))

    __repr__ = __str__

    def match(self, other):
        assert isinstance(other, Value)
        if self.normalized == other.normalized:
            return True
        if isinstance(other, DateValue):
            return self.ymd == other.ymd
        return False

    @staticmethod
    def parse(text):
        """Try to parse into a date.
        Return:
            tuple (year, month, date) if successful; otherwise None.
        """
        try:
            ymd = text.lower().split('-')
            assert len(ymd) == 3
            year = -1 if ymd[0] in ('xx', 'xxxx') else int(ymd[0])
            month = -1 if ymd[1] == 'xx' else int(ymd[1])
            day = -1 if ymd[2] == 'xx' else int(ymd[2])
            assert not (year == month == day == -1)
            assert month == -1 or 1 <= month <= 12
            assert day == -1 or 1 <= day <= 31
            return (year, month, day)
        except:
            return None


################ Value Instantiation ################

def to_value(original_string, corenlp_value=None):
    """Convert the string to Value object.
    Args:
        original_string (basestring): Original string
        corenlp_value (basestring): Optional value returned from CoreNLP
    Returns:
        Value
    """
    if isinstance(original_string, Value):
        # Already a Value
        return original_string
    if not corenlp_value:
        corenlp_value = original_string
    # Number?
    amount = NumberValue.parse(corenlp_value)
    if amount is not None:
        return NumberValue(amount, original_string)
    # Date?
    ymd = DateValue.parse(corenlp_value)
    if ymd is not None:
        if ymd[1] == ymd[2] == -1:
            return NumberValue(ymd[0], original_string)
        else:
            return DateValue(ymd[0], ymd[1], ymd[2], original_string)
    # String.
    return StringValue(original_string)


def to_value_list(original_strings, corenlp_values=None):
    """Convert a list of strings to a list of Values
    Args:
        original_strings (list[basestring])
        corenlp_values (list[basestring or None])
    Returns:
        list[Value]
    """
    assert isinstance(original_strings, (list, tuple, set))
    if corenlp_values is not None:
        assert isinstance(corenlp_values, (list, tuple, set))
        assert len(original_strings) == len(corenlp_values)
        return list(set(to_value(x, y) for (x, y)
                        in zip(original_strings, corenlp_values)))
    else:
        return list(set(to_value(x) for x in original_strings))


################ Check the Predicted Denotations ################

def check_denotation(target_values, predicted_values):
    """Return True if the predicted denotation is correct.

    Args:
        target_values (list[Value])
        predicted_values (list[Value])
    Returns:
        bool
    """
    # Check size
    if len(target_values) != len(predicted_values):
        return False
    # Check items
    for target in target_values:
        if not any(target.match(pred) for pred in predicted_values):
            return False
    return True
def tsv_unescape(x):
    """Unescape strings in the TSV file.
    Escaped characters include:
        newline (0x10) -> backslash + n
        vertical bar (0x7C) -> backslash + p
        backslash (0x5C) -> backslash + backslash

    Args:
        x (str or unicode)
    Returns:
        a unicode
    """
    return x.replace(r'\n', '\n').replace(r'\p', '|').replace('\\\\', '\\')

def tsv_unescape_list(x):
    """Unescape a list in the TSV file.
    List items are joined with vertical bars (0x5C)

    Args:
        x (str or unicode)
    Returns:
        a list of unicodes
    """
    return [tsv_unescape(y) for y in x.split('|')]

In [29]:
import os
tagged_dataset_path = '../result/data/wikitable/tagged/data'
target_values_map = {}
for filename in os.listdir(tagged_dataset_path):
    if filename[0]=='.':
        continue
    filename = os.path.join(tagged_dataset_path, filename)
    print('Reading dataset from', filename)
    with open(filename, 'r') as fin:
        header = fin.readline().rstrip('\n').split('\t')
        for line in fin:
            stuff = dict(zip(header, line.rstrip('\n').split('\t')))
            ex_id = stuff['id']
            original_strings = tsv_unescape_list(stuff['targetValue'])
            canon_strings = tsv_unescape_list(stuff['targetCanon'])

            target_values_map[ex_id] = to_value_list(
                original_strings, canon_strings)

Reading dataset from ../result/data/wikitable/tagged/data/training.tagged
Reading dataset from ../result/data/wikitable/tagged/data/pristine-unseen-tables.tagged
Reading dataset from ../result/data/wikitable/tagged/data/pristine-seen-tables.tagged

In [ ]:
st2id = {}
with open(os.path.join('../../datasets/wtq','valid_lower.jsonl')) as f:
    lines = f.readlines()
    for l in lines:
        dic = json.loads(l)
        st = dic['statement']
        ids = dic['ids']
        st2id[st] = ids

##### read_csv

In [198]:
import pandas as pd
# data1 = pd.read_csv('./result/answer/wikitable_zh_05-03_15-27-43.csv', encoding='utf-8') 
# data2 = pd.read_csv('./result/answer/wikitable_zh_05-03_15-46-07.csv', encoding='utf-8') 
data = pd.read_csv('../result/answer/wikitable_05-12_14-25-15.csv')
data2 = pd.read_csv('../result/answer/wikitable_05-14_08-17-04.csv')
data3 = pd.read_csv('../result/answer/wikitable_05-15_12-49-12.csv')

In [97]:
data = pd.concat([data1, data2], axis=0).reset_index()

In [199]:
data['final_answer'] = data['preds'].apply(lambda x: x.split('Answer:')[-1].strip())
data2['final_answer'] = data2['preds'].apply(lambda x: x.split('Answer:')[-1].strip())
data3['final_answer'] = data3['preds'].apply(lambda x: x.split('Answer:')[-1].strip())

In [173]:
all_data = data2.set_index('ids').join(data3.set_index('ids'), how='inner', lsuffix='_1', rsuffix='_2').join(data.set_index('ids'), how='inner')

In [174]:
all_data.head()

,preds_1,statements_1,tokens_1,extra_1,final_answer_1,preds_2,statements_2,tokens_2,extra_2,final_answer_2,preds,statements,sample_n,final_answer
ids,,,,,,,,,,,,,,
nu-0,Thought: The SQL query filtered the top 10 cyc...,which country had the most cyclists finish wit...,5077,Which country were the cyclists who finished w...,ITA,"Thought: Based on the SQL query provided, Ital...",which country had the most cyclists finish wit...,5077,which country had the most cyclists finish wi...,ITA,Thought: The SQL query first extracts the last...,which country had the most cyclists finish wit...,NaN,ITA
nu-1,"Thought: Based on the SQL query provided, 100,...",how many people were murdered in 1940/41?,6199,How many people were murdered in 1940/41?;how ...,"100,000",Thought: The SQL query filtered the data to on...,how many people were murdered in 1940/41?,5864,how many people were murdered in 1940?;How man...,100000,"Thought: Based on the SQL query provided, the ...",how many people were murdered in 1940/41?,NaN,100000
nu-2,Thought: The SQL query filters the data to onl...,how long did it take for the new york american...,5223,When did the New York Americans win the Nation...,1953/54,Thought: The New York Americans won the Nation...,how long did it take for the new york american...,4971,When did the New York Americans win the Nation...,17 years,Thought: The SQL query filters the table to on...,how long did it take for the new york american...,NaN,17 years
nu-3,"Thought: The episode ""Donnell's Birthday Party...",alfie's birthday party aired on january 19. wh...,8830,What was the airdate of the episode after Alfi...,"January 20, 1995",Thought: The SQL query is filtering for the or...,alfie's birthday party aired on january 19. wh...,6850,what was the airdate of the episode that aire...,No data from database,Thought: The original air date of the episode ...,alfie's birthday party aired on january 19. wh...,NaN,1995-01-26
nu-4,Thought: The SQL query is filtering the DataFr...,what is the number of 1st place finishes acros...,5209,How many first place finishes were achieved in...,17,Thought: The SQL query is counting the number ...,what is the number of 1st place finishes acros...,5218,How many first place finishes were achieved in...,17,Thought: The total number of 1st place finishe...,what is the number of 1st place finishes acros...,NaN,17

In [175]:
acc = 0
from collections import Counter
for index, row in all_data.iterrows():
    target = target_values_map[index]
    answer = Counter([row['final_answer_1'], row['final_answer_2'], row['final_answer']]).most_common()[0][0]
    
    if len(target) > 1:
        pred_answer_1 = to_value_list(answer.split(','))
        # pred_answer_2 = to_value_list(row['final_answer_2'].split(','))
        # pred_answer_3 = to_value_list(row['final_answer'].split(','))
    else:
        pred_answer_1 = to_value_list([answer])
        # pred_answer_2 = to_value_list([row['final_answer_2']])
        # pred_answer_3 = to_value_list([row['final_answer']])
    if check_denotation(pred_answer_1, target):
        acc += 1
    else:
        # print(index, row['final_answer_left'],row['final_answer_right'], target)
        pass
print(acc / len(all_data))

0.6758445164275798

In [ ]:
data

#### list

In [200]:
acc = 0

for index, row in data3.iterrows():
    id = row['ids']
    target = target_values_map[id]
    
    preds = [row['final_answer']]
    if len(target) > 1:
        pred_answer = to_value_list(row['final_answer'].split(','))
    else:
        pred_answer = to_value_list(preds)
    
    if check_denotation(pred_answer, target):
        acc += 1
    else:
        print(index,row['ids'], row['final_answer'], target)
        pass
print(acc / len(data))

0 nu-0 ITA [S['italy']]
3 nu-3 No data from database [D(1995,1,26)['january 26, 1995']]
10 nu-10 1970, 1988, 1979 [N(2004.000000)['2004'], N(2005.000000)['2005'], N(2006.000000)['2006']]
11 nu-11 Jamie Cureton [S['john']]
12 nu-12 17 [N(440.000000)['440']]
13 nu-13 0 [N(7.000000)['7']]
14 nu-14 \\0 [S['space']]
15 nu-15 305 [N(68.000000)['68']]
19 nu-19 3 [N(492111.000000)['492,111']]
23 nu-23 Sayonara [S['brindabella']]
25 nu-25 8 [N(3.000000)['3']]
26 nu-26 14 [N(20.000000)['20']]
29 nu-29 Once [N(1.000000)['1']]
34 nu-34 No other contestant(s) [S['patricia valiahmetova'], S['carmen jenockova'], S['mariesea mnesicu'], S['jahaira novgorodova'], S['anastasija larkova']]
35 nu-35 7 [N(0.000000)['0']]
36 nu-36 1 [N(4.000000)['4']]
37 nu-37 0 [N(10.000000)['10']]
42 nu-42 St Nikolai [S["st. mary's church"]]
44 nu-44 2014 [N(1992.000000)['1992']]
46 nu-46 12 [N(20.000000)['20']]
53 nu-53  [N(1935.000000)['1935']]
58 nu-58 David Berger [S['esther shahamorov']]
60 nu-60 Kranjska Gora Slovenia [S['giant slalom']]
66 nu-66 2010-09-06 [D(2010,12,6)['december 6, 2010']]
82 nu-82 0 [N(1.000000)['1']]
90 nu-90 0 sizes have an inner diameter above 50 mm. [N(2.000000)['2']]
91 nu-91 Westwood [S['usa']]
92 nu-92 No [S['yes']]
94 nu-94 7 [N(11.000000)['11']]
103 nu-103 Sears Point [S['westwood']]
105 nu-105 Maurice Bolwerk [S['henk van de lagemaat']]
110 nu-110 1 [N(3.000000)['3']]
112 nu-112 2 [N(1.000000)['1']]
116 nu-116 No [S['yes']]
117 nu-117 Joel [S['joel smith']]
119 nu-119 2 [N(3.000000)['3']]
123 nu-123 Spring [S['becket']]
124 nu-124 9 [N(10.000000)['10']]
126 nu-126 I cannot determine the nation that comes first from the sub-table. [S['united states']]
127 nu-127 No data from database [S['2010-11']]
129 nu-129 2 [N(7.000000)['7']]
133 nu-133 No data from database [S['los angeles']]
136 nu-136 G [S['e']]
138 nu-138 2570 BC–1311 [N(3881.000000)['3881']]
139 nu-139 0 [N(9.000000)['9']]
140 nu-140 The country with the most competitors cannot be determined from the provided sub-table. [S['italy']]
144 nu-144 Strafford Union Academy [S['samuel wyatt house']]
150 nu-150 President [S['george washington']]
153 nu-153 NAnastasiades: 38.2052%, GLillikas: 18.7143%, SMalas: 21.103%, Others: 2.27783% [N(48.400000)['48.4%'], N(25.290000)['25.29%'], N(3.790000)['3.79%'], N(22.520000)['22.52%']]
158 nu-158 1 [N(6.000000)['6']]
160 nu-160 5 [N(6.000000)['6']]
173 nu-173 No data available [S['john mccain']]
183 nu-183 76500 [N(76000.000000)['76,000']]
194 nu-194 1 [N(2.000000)['2 years']]
203 nu-203 5 [N(4.000000)['4']]
206 nu-206 Boston and Maine Railroad Antelope [S['lner class a4 no. 4468 mallard']]
209 nu-209 8 [N(6.000000)['6']]
212 nu-212 Asian Games [S['asian indoor games']]
213 nu-213 The previous name of Ajax is the name in the third row. [S['ajax the great']]
214 nu-214 Seven, Out Here, It Ain't A Thang, Digging, Lady In The Jaguar, They Pray with Snakes, Rollin Hard, The Harvest, Sippin, Lake of Fire, Red Mist, Angel Like [S['intro']]
215 nu-215 North Carolina [S['texas pan-american']]
216 nu-216 12 [N(11.000000)['11']]
221 nu-221 BAA Buffalo, BAA Indianapolis [S['baltimore bullets']]
224 nu-224 Graham Moore [S['gerry poulson']]
228 nu-228 Cannot be determined [S['nightrain']]
236 nu-236 Austria [S['united states'], S['canada']]
237 nu-237 Higgins [S['kevin higgins']]
238 nu-238 3 [N(2.000000)['2']]
239 nu-239 Troy Corser [S['carl fogarty']]
240 nu-240 Train Station\nBus Terminal [S['bus terminal']]
245 nu-245 3 [N(18.000000)['18']]
249 nu-249 Guillem Bauza [S['jamie cureton']]
253 nu-253 0 [N(105.000000)['105']]
265 nu-265 Seattle Seahawks [S['san francisco 49ers']]
266 nu-266 Avi Elkabetz [S['elkabetz']]
267 nu-267 9 [N(8.000000)['8']]
268 nu-268 Tore Torgersen [S['paul moor']]
269 nu-269 No data from database [S['jared nathan']]
270 nu-270 3 days, 14 hours, 58 minutes, and 46 seconds [S['3:14:58:46']]
272 nu-272 Klete Keller [S['ian thorpe']]
273 nu-273 Touch the Sky [S['planet pop']]
277 nu-277 1988 [N(1993.000000)['1993']]
278 nu-278 284.143 [N(153.000000)['153']]
279 nu-279 Republican [S['william kent']]
284 nu-284 11 [N(1.000000)['1']]
289 nu-289 7 [N(4.000000)['4']]
290 nu-290 3 [N(20.000000)['20']]
293 nu-293 2007 [N(2014.000000)['2014']]
294 nu-294 Denny Hulme drove more laps. [S['denny hulme']]
295 nu-295 7, 25 [S['1953/54']]
299 nu-299 £1,031,660 [D(1998,6,28)['june 28, 1998']]
310 nu-310  [N(70.000000)['70']]
312 nu-312 May 25 [D(-1,12,21)['dec 21']]
314 nu-314 2006 [N(1997.000000)['1997']]
320 nu-320 Wimbledon [S['tsuruya open']]
321 nu-321 184 [N(200.000000)['200']]
328 nu-328 75 [N(112.000000)['112']]
332 nu-332 2003 [N(2010.000000)['2010']]
334 nu-334 Ben Cardin and Steny Hoyer were re-elected with at least 60% of the vote. [S['steny hoyer'], S['albert wynn'], S['roscoe bartlett'], S['wayne gilchrest'], S['elijah cummings'], S['ben cardin']]
337 nu-337 13 [N(4.000000)['4']]
338 nu-338 472.038 [N(525.260000)['525.26']]
339 nu-339 1988-1989 [S['1982-1985']]
340 nu-340 William C. Canby, Jr. [S['d. lawrence gunnels']]
341 nu-341 Thaddeus Bell [S['klaus jurgen schneider']]
344 nu-344 5 [N(4.000000)['4']]
346 nu-346 Himalayan Elm, Indian Elm [S['tamarind']]
349 nu-349 0 [N(3.000000)['3']]
350 nu-350 Larisa Verbitskaya [S['larisa verbitskaya 43.the tv presenter']]
351 nu-351 less than 10 [S['less']]
356 nu-356 National Rugby League [S['super rugby']]
359 nu-359 Denny Morrison, Mathieu Giroux, and Lucas Makowsky [S['canada']]
364 nu-364 2 writers [N(3.000000)['3']]
366 nu-366 132 miles [N(132.000000)['132 mi']]
368 nu-368 2008 [N(2012.000000)['2012']]
369 nu-369 0 [N(4.000000)['4']]
370 nu-370 6 [N(8.000000)['8']]
377 nu-377 PG16 [S['no']]
379 nu-379 8 [N(6.000000)['6']]
385 nu-385 John Byrne [S['francis forde']]
391 nu-391 No data from database [N(70.000000)['070']]
394 nu-394 5 [N(202.000000)['202']]
403 nu-403 Not available [S['bansko, bulgaria']]
412 nu-412 7 [N(14.000000)['14']]
415 nu-415 8 [N(3.000000)['3']]
420 nu-420 5 [N(3.000000)['3']]
422 nu-422 Itumeleng Khune [S['moeneeb josephs']]
427 nu-427 No data from database [S['keiko yoshida']]
428 nu-428 Christian Tiboni [S['spas delev']]
430 nu-430 18.3 [N(18.800000)['18.8']]
432 nu-432 15 [N(16.000000)['16']]
439 nu-439 Feb 1 2013 [D(2013,2,1)['1 february 2013']]
442 nu-442 5 [N(4.000000)['4']]
443 nu-443 2011-11-06 [D(1987,11,25)['25 november 1987']]
448 nu-448 252,000 [N(352000.000000)['352,000']]
457 nu-457 6 [N(3.000000)['3']]
458 nu-458 With Eliel Saarinen; solo addition in 1962. Designated a National Historic Landmark in 2009. [S['cross']]
463 nu-463 4 [N(3.000000)['3']]
464 nu-464 0 [N(9.000000)['9']]
467 nu-467 38 [N(19.000000)['19']]
472 nu-472 Fullback [S['dick bielski']]
474 nu-474 278 [N(845.000000)['845']]
476 nu-476 1979 [N(1.000000)['1 year']]
484 nu-484 2013, 2014 [N(2014.000000)['2014']]
487 nu-487 0 [N(3.000000)['3']]
488 nu-488 20 [N(2.000000)['2']]
492 nu-492 1 in 2,000 [N(2000.000000)['2,000']]
493 nu-493 No data from database [S['giant slalom']]
495 nu-495 0 [N(3.000000)['3']]
502 nu-502 Lord Privy Seal [S['below']]
506 nu-506 5 [N(2.000000)['2']]
508 nu-508 George Shaw, Max Boydston [S['max boydston']]
509 nu-509 Yes, the Chennai Open tournament and the Swiss Open tournament have the same surface listed. [S['no']]
512 nu-512 0 [N(4.000000)['4']]
513 nu-513 4 [N(8.000000)['8']]
522 nu-522 at Hamilton Tiger-Cats [S['hamilton tiger-cats']]
523 nu-523 0 [N(11.000000)['11']]
524 nu-524 South Asia [S['no']]
526 nu-526 3 [N(71.000000)['71']]
527 nu-527 Edgar D. Bush [S['oliver p. morton']]
534 nu-534 1.5 [N(2.000000)['2']]
538 nu-538 28 [N(1950.000000)['1950 hours']]
540 nu-540 5 [N(2.000000)['2']]
542 nu-542 2007 [N(2006.000000)['2006']]
543 nu-543 18 [N(8.000000)['8']]
548 nu-548 0 [N(6.000000)['6']]
553 nu-553 Fiat 500 1.4 LOUNGE 3D
Fiat 500 1.4 POP
Fiat 500 1.4 SPORT [S['peugeot 207 xs 1.4 5dr 5spd m p'], S['suzuki swift glxh 1.5 5dr'], S['citroen c4 2.0 sx 5dr 6sp a d'], S['suzuki swift glxh2 1.5 5dr'], S['suzuki swift glx 1.5 5dr'], S['fiat 500 1.4 sport'], S['saab 9-3 linear convertible 1.9tid m'], S['fiat 500 1.4 lounge 3d'], S['volkswagen golf tdi 103kw 4motion']]
554 nu-554 3.00 [S['£3.00']]
561 nu-561 2 [N(3.000000)['3']]
563 nu-563 New York Jets [S['seattle seahawks']]
569 nu-569 53 [N(198.000000)['198']]
571 nu-571 I cannot get an answer from the sub-table. [N(1.000000)['1']]
576 nu-576 1 [N(2.000000)['2']]
580 nu-580 Giulio Ciotti [S['tora harris']]
586 nu-586 No [S['yes']]
587 nu-587 Forbidden Fruit
Need You [S['need you']]
596 nu-596 0 [N(2.000000)['2']]
597 nu-597 The match that was in the same month as the one in Atlanta, Georgia was the match on May 9, 1994 in Pinehurst, USA where the player was the runner-up against Jared Palmer. [S['pinehurst, usa']]
598 nu-598 Milka Duno [S['danica patrick']]
599 nu-599 6 [N(3.000000)['3']]
601 nu-601 at Dallas Cowboys [S['dallas cowboys']]
603 nu-603 Tsuruya Open [S['asia-pacific panasonic open']]
605 nu-605 7 [N(5.000000)['5']]
608 nu-608 3551 [N(710.200000)['710.2']]
611 nu-611 Randy Savage [S['lanny poffo']]
614 nu-614 No data from database [S['dig me out']]
617 nu-617 Indiana [S['michigan']]
619 nu-619 32 [N(4.000000)['4']]
626 nu-626 1 [N(3.000000)['3']]
627 nu-627 No data from database [S['male']]
635 nu-635 Abraham to Isaac and Descendants of Esau [S['esau']]
642 nu-643 Sound Movie film, S-8, Type A [S['kodachrome 40 film']]
644 nu-645 0 [N(11.000000)['11']]
646 nu-647 0 [N(20.000000)['20']]
648 nu-649 Canada [S['andorra']]
654 nu-655 4 [N(6.000000)['6']]
658 nu-659 5 [N(3.000000)['3']]
661 nu-662 372 [S['6:10.02']]
662 nu-663 6 [N(4.000000)['4']]
664 nu-665 58 [S['58-13']]
666 nu-667 The first award Leona Lewis won was not specified in the provided sub-table. Therefore, I cannot provide an answer based on the sub-table. [S['cosmopolitan ultimate woman of the year']]
669 nu-670 $12 [N(12000000000.000000)['$12 billion']]
670 nu-671 Withdrew after 3 games [N(1.000000)['1st']]
671 nu-672 8 [N(3.000000)['3']]
673 nu-674 Aleksandar Krajišnik [S['srđan dincic']]
677 nu-678 1 [N(6.000000)['6']]
682 nu-683 4 [N(9.000000)['9']]
685 nu-686 4 [N(5.000000)['5']]
687 nu-688 13 [N(14.000000)['14']]
688 nu-689 Feb. 8, 1964 against Ohio State with a score of 21-0. [S['denver'], D(1964,3,21)['march 21, 1964']]
694 nu-695 4, 4, 0, 0, 0 [N(8.000000)['8 years']]
696 nu-697 1 [N(40.000000)['40']]
704 nu-705 11 [N(7.000000)['7']]
706 nu-707 West Desert [S['el mabrouk']]
709 nu-710 0 [N(9.000000)['9']]
710 nu-711 N/A [N(2.000000)['2']]
715 nu-716 4.60m [N(4.600000)['4.60 m']]
726 nu-727 No data from database [S['rolf stommelen']]
727 nu-728 13 [N(2.000000)['2']]
730 nu-731 No data from database [S['dr salim mehmud']]
738 nu-739 1998 [N(1.000000)['1']]
740 nu-741 1 [N(2.000000)['2']]
742 nu-743 Nagmamahal, Kapamilya: Songs for Global Pinoys [S['h.o.p.e']]
748 nu-749 4220 meters or 13845 feet [N(4220.000000)['4220 m'], N(13845.000000)['13,845 ft']]
750 nu-751 7136 [N(684.000000)['684']]
753 nu-754 35 [N(34.000000)['34']]
754 nu-755 11.7% [N(11.700000)['11.7']]
756 nu-757 Jo Durie [S['judy chaloner']]
758 nu-759 - [S['headquarters']]
761 nu-762 Keflavík and Leiftur [S['leiftur'], S['keflavik']]
762 nu-763 Not provided [S['giants stadium']]
766 nu-767 Cannot be determined [S['cairo']]
770 nu-771 2 [N(3.000000)['3']]
773 nu-774 Marcellino Lucchi [S['henk van de lagemaat']]
774 nu-775 1 [N(4.000000)['4']]
775 nu-776 0 [N(2.000000)['2']]
776 nu-777 Pacifier [S['bleeder']]
779 nu-780 12 [N(2.000000)['2']]
780 nu-781 0.5 seconds [N(4.670000)['4.67']]
781 nu-782 6 [N(5.000000)['5']]
785 nu-786 6 [N(3.000000)['3']]
786 nu-787 3 [N(4.000000)['4']]
787 nu-788 322 [N(3.000000)['3 days']]
793 nu-794 No data from database [S['italy'], S['russia'], S['china']]
794 nu-795 Diana DeGette [S['democratic']]
796 nu-797 Total [S['netherlands']]
800 nu-801 James Ford Cooper [S['dennis f. carter']]
801 nu-802 Perfect Sting [S['check the label']]
804 nu-805 1 [S['yes']]
811 nu-812 less [S['more']]
815 nu-816 4 [N(2.000000)['2']]
817 nu-818 Mikac [S['des wall']]
821 nu-822 2007-12-15 [D(2007,7,25)['july 25, 2007']]
822 nu-823 Leo Penn [S['paul wendkos']]
829 nu-830 Derrick Favors [S['terry furlow']]
830 nu-831 3 [N(2.000000)['2']]
842 nu-843 0 [N(9.000000)['9']]
847 nu-848 10.3333 [N(17259.000000)['17,259']]
853 nu-854 138.1 miles [N(138.100000)['138.1']]
855 nu-856 2002, 2003 [N(2002.000000)['2002']]
856 nu-857 16 [N(26.000000)['26']]
859 nu-860 1.3672 [N(1.000000)['1 mph']]
861 nu-862 Kushi [S['love guru']]
864 nu-865 September, October, December [D(-1,9,-1)['september']]
866 nu-867 Tennessee Titans [S['pittsburgh steelers']]
867 nu-868 60 [N(51.000000)['51']]
871 nu-872 Tennessee Titans [S['buffalo bills']]
886 nu-887 1-1 [N(11.000000)['11']]
891 nu-892 I cannot list the models with diesel fuel produced from 1998-2001 from the sub-table. [S['m57d30 turbocharged i6'], S['m67d40 turbocharged v8']]
895 nu-896 63.50 meters [N(63.500000)['63.50 m']]
897 nu-898 episode 11 and episode 18 [S['danger in the depths']]
903 nu-904 6 [N(2.000000)['2']]
906 nu-907 -1 [N(46.000000)['46']]
907 nu-908 -2 [N(2.000000)['2']]
908 nu-909 No data from database [S['real zaragoza']]
910 nu-911 1978 [N(1979.000000)['1979']]
911 nu-912 0.727273 [N(1.000000)['1']]
918 nu-919 Pennsylvania Avenue Line [N(32.000000)['32']]
921 nu-922 Brown [S['nixon']]
927 nu-928 11 [N(13.000000)['13']]
932 nu-933 0 [N(3.000000)['3']]
951 nu-952 1 [N(2.000000)['2']]
961 nu-962 1 [N(6.000000)['6']]
962 nu-963 No data from database [S['cape lookout']]
964 nu-965 16 [N(5.000000)['5']]
967 nu-968 Unlimited [S['datacenter']]
970 nu-971 50-44 [N(50.000000)['50']]
973 nu-974 12 [N(2.000000)['2']]
977 nu-978 Nagmamahal, Kapamilya: Songs for Global Pinoys, Hotsilog: The ASAP Hotdog Compilation [S['nagmamahal, kapamilya: songs for global pinoys']]
988 nu-989 1986–present [N(28.000000)['28']]
995 nu-996 0 [N(3.000000)['3']]
997 nu-998 2003, 2006, 2007, 2008, 2009, 2010, 2011 [N(2004.000000)['2004'], N(2005.000000)['2005']]
1000 nu-1001 Toronto Argonauts: 5 times, Hamilton Tiger-Cats: 4 times, Montreal Alouettes: 5 times [N(12.000000)['12']]
1004 nu-1005 1.51407e+06 [N(1514069.000000)['1,514,069']]
1005 nu-1006 less than 6 [S['less']]
1007 nu-1008 better [S['worse']]
1008 nu-1009 0 [N(4.000000)['£4.00']]
1013 nu-1014 111 [N(110.000000)['110']]
1029 nu-1030 1 [N(23.000000)['23']]
1030 nu-1031 2.875 [N(2.500000)['2.5']]
1031 nu-1032 Shani Davis, Joey Cheek, Erben Wennemars, Lee Kyou-hyuk, Jan Bos, Chad Hedrick, Yevgeny Lalenkov [S['yevgeny lalenkov']]
1034 nu-1035 16 [N(17.000000)['17']]
1035 nu-1036 Yelena Kondulaynen [S['yelena kondulaynen 44.the actress']]
1036 nu-1037 1 [N(2.000000)['2']]
1048 nu-1049 Remodel [S['charles eames']]
1051 nu-1052 27.88 miles [N(27.880000)['27.88']]
1054 nu-1055 Tim Tam [S['bally ache']]
1055 nu-1056 NOT AWARDED [S['morgan freeman']]
1056 nu-1057 2 [N(1.000000)['1']]
1058 nu-1059 73.23 [N(24.720000)['24.72']]
1065 nu-1066 1910-11, 1923-24, 1926-27, 1933-34, 1934-34 [S['1910-11']]
1073 nu-1074 4 [N(12.000000)['12']]
1077 nu-1078 5 [N(2.000000)['2']]
1082 nu-1083 Launceston [S['ulverstone']]
1087 nu-1088 Polly Umrigar [S['umrigar']]
1088 nu-1089 The kit manufacturer that came next after Umbro is not available in the provided sub-table. [S['henson']]
1089 nu-1090 No Canadian opponent mentioned. [S['milos raonic']]
1091 nu-1092 Jack Brabham and Mike Parkes [S['jack brabham'], S['mike parkes']]
1095 nu-1096 GameStorm 16 [N(1188.000000)['1188']]
1097 nu-1098 1906-05-15 [N(1906.000000)['1906']]
1098 nu-1099 56.70% [N(89.170000)['89.17']]
1103 nu-1104 1 [N(2.000000)['2']]
1104 nu-1105 3, 6, 8 [N(8.000000)['8']]
1105 nu-1106 Say It Again [S['thin line']]
1107 nu-1108 John F. Williams [S['william a. mann']]
1109 nu-1110 381000 [S['1943/44']]
1111 nu-1112 4 [N(7.000000)['7']]
1113 nu-1114 -7.3 [N(7.300000)['7.3']]
1115 nu-1116 November 1, 2009 [D(2009,11,1)['1 november 2009']]
1120 nu-1121 Kenneth W. Dam, Alan C. Kohn [S['alan c. kohn']]
1124 nu-1125 0 [N(7.000000)['7']]
1131 nu-1132 September [D(-1,9,-1)['september'], D(-1,10,-1)['october']]
1136 nu-1137 0 [N(17.000000)['17']]
1138 nu-1139 0 [N(5.000000)['5']]
1144 nu-1145 3 [S['lord high treasurer']]
1146 nu-1147 at Denver Broncos [S['denver broncos']]
1147 nu-1148 5 [N(4.000000)['4']]
1148 nu-1149 1 [N(16.000000)['16']]
1149 nu-1150 Alex Barron [S['alex zanardi']]
1150 nu-1151 PE-12 [S['pe-60']]
1153 nu-1154 1 [N(2.000000)['2']]
1154 nu-1155 19 [N(3.000000)['3']]
1155 nu-1156 1 [N(2.000000)['2']]
1156 nu-1157 No data from database [S['tumon, guam']]
1159 nu-1160 9 [N(7.000000)['7']]
1161 nu-1162 4 TB [N(4.000000)['4']]
1167 nu-1168 1 [N(5.000000)['5']]
1168 nu-1169 Neymar, Cesc Fàbregas, Alexis Sánchez [S['alexis sanchez']]
1169 nu-1170 #6 UCLA [S['ucla']]
1176 nu-1177 The Harvest [S['seven']]
1184 nu-1185 X9 [S['benning road-h street metro extra line']]
1185 nu-1186 Port Douglas Crocs [S['north cairns tigers']]
1187 nu-1188 United Kingdom [S['norway']]
1188 nu-1189 42 [N(22.000000)['22']]
1194 nu-1195 No data from database [N(3.000000)['3']]
1201 nu-1202 56 [N(2.000000)['2 months']]
1205 nu-1206 3,783,070 [S['3 783 069']]
1207 nu-1208 15 [N(2.000000)['2 years']]
1208 nu-1209 2 [N(7.000000)['7']]
1214 nu-1215 365 [N(1.000000)['1 year']]
1215 nu-1216 1 [S['sebastien bourdais']]
1217 nu-1218 Queensland [S['tasmania']]
1219 nu-1220 Dario Franchitti, Ryan Hunter-Reay, Hideki Mutoh, Marco Andretti, Paul Tracy, Graham Rahal, Raphael Matos (R), Tony Kanaan, Oriol Servià, Hélio Castroneves, Justin Wilson, Robert Doornbos (R), E. J. Viso, Dan Wheldon, Ed Carpenter, Richard Antinucci, Danica Patrick, Mike Conway (R), Milka Duno [S['dario franchitti']]
1220 nu-1221 1960-08-24 [D(1960,8,31)['31 august 1960']]
1221 nu-1222 7 [N(0.000000)['0']]
1223 nu-1224 No data from database [S['canada']]
1226 nu-1227 Aalborg [S['anderlecht']]
1228 nu-1229 1 [N(17.000000)['17']]
1229 nu-1230 1960-08-20 [N(54.000000)['54 years']]
1232 nu-1233 91 [N(83.000000)['83']]
1236 nu-1237 0 [N(3.000000)['3']]
1244 nu-1245 1 [N(3.000000)['3']]
1247 nu-1248 Clint Dempsey [S['earnie stewart']]
1249 nu-1250 Career* [N(2003.000000)['2003']]
1255 nu-1256 7th [N(1.000000)['1st']]
1257 nu-1258 3 [N(8.000000)['8']]
1261 nu-1262 We cannot determine if all symbols come before numbers based on the given sub-table. [S['no']]
1262 nu-1263 1 [N(4.000000)['4']]
1263 nu-1264 Peace Memorial Park\n平和記念公園\nHeiwa kinen kōen [S['unesco world heritage list']]
1264 nu-1265 9 [N(8.000000)['8']]
1265 nu-1266 12 [N(6.000000)['6']]
1266 nu-1267 The last game of the season was on January 2, 1995, against #13 Ohio State, at the Citrus Bowl in Orlando, FL. The game was televised on ABC, and the result was a win for the team with a score of 24-17. [D(1995,1,2)['january 2, 1995']]
1269 nu-1270 1 [N(3.000000)['3']]
1270 nu-1271 Thiruvezhukkurrirukkai [S['peria thirumadal'], S['siriya thirumadal'], S['thiruvezhukkurrirukkai']]
1272 nu-1273 1 [N(4.000000)['4']]
1274 nu-1275 0 [N(9.000000)['9']]
1279 nu-1280 Alan McManus [S['stephen hendry']]
1280 nu-1281 1991, 2014 [N(23.000000)['23 years']]
1282 nu-1283 I cannot get the answer from the sub-table. [N(118.000000)['118']]
1283 nu-1284 8 [N(2.000000)['2']]
1285 nu-1286 The game with a score gap less than the February 28th game is the October 14th game between SHELL and their opponent, with a score of 68-62. [D(-1,2,16)['february 16']]
1288 nu-1289 1938, 1955, 1972 [N(1938.000000)['1938'], N(1972.000000)['1972']]
1289 nu-1290 1987 [N(14.000000)['14']]
1295 nu-1296 1044.21 [N(527.460000)['527.46']]
1303 nu-1304 3 [N(4.000000)['4']]
1304 nu-1305 Clyde [S['rangers']]
1305 nu-1306 20081 [N(2008.000000)['2008']]
1308 nu-1309 67 [N(8.000000)['8']]
1310 nu-1311 1 [N(2.000000)['2']]
1317 nu-1318 9 [N(1.000000)['1']]
1320 nu-1321 Mighty Koadiak [S['invader i']]
1322 nu-1323 Camelopardalis B [S['ngc 1569']]
1324 nu-1325 Major General (MG) [S['mg']]
1325 nu-1326 I cannot determine the race caller before Fred Capossela from the given sub-table. [S['bryan field']]

In [130]:
len(data)

1974

In [30]:
acc = 0
for index, row in data3[:100].iterrows():
    id = row['ids']
    target = target_values_map[id]
    
    preds = [row['final_answer']]
    pred_answer = to_value_list(preds)
    if check_denotation(pred_answer, target):
        acc += 1
    else:
        print(index,row['ids'], row['final_answer'], target)
        pass
print(acc)

1 nu-1001 4, 5, 5 [N(12.000000)['12']]
5 nu-1005 -82 [N(1514069.000000)['1,514,069']]
6 nu-1006 less than 6 goals [S['less']]
8 nu-1008 The Bulldogs performed better in the 1906 season than the 1905 season. [S['worse']]
10 nu-1010 1992-08-15 [D(1992,8,29)['29 august 1992']]
14 nu-1014 111 [N(110.000000)['110']]
24 nu-1024 16 [N(13.000000)['13 weeks']]
31 nu-1031 2.875 [N(2.500000)['2.5']]
32 nu-1032 Jan Bos [S['yevgeny lalenkov']]
35 nu-1035 16 [N(17.000000)['17']]
36 nu-1036 Yelena Kondulaynen [S['yelena kondulaynen 44.the actress']]
37 nu-1037 0 [N(2.000000)['2']]
41 nu-1041 Sidney Smith, Ralph Foster, Sam Costen, L. S. LeTellier, George C. Rogers, or Harvey O'Brien. [S['sidney smith']]
43 nu-1043 Jack Brabham, Mike Parkes, Denny Hulme, Jochen Rindt, Dan Gurney [S['dan gurney'], S['denny hulme'], S['jochen rindt'], S['mike parkes'], S['jack brabham']]
47 nu-1047 Who Do You Think You Are [S["everything you've done wrong"]]
49 nu-1049 Matthew Nowicki [S['charles eames']]
52 nu-1052 27.88 miles [N(27.880000)['27.88']]
55 nu-1055 Constitution, Orb, Take Charge Indy, Dialed In, Ice Box, Quality Road, Big Brown, Scat Daddy, Barbaro, High Fly, Friends Lake, Empire Maker, Harlan's Holiday, Monarchos, Hal's Hope, Vicar, Cape Town †, Captain Bodgit, Unbridled's Song, Thunder Gulch, Holy Bull, Bull In the Heather, Technology, Fly So Free, Unbridled, Mercedes Won, Brian's Time, Cryptoclearance, Snow Chief, Proud Truth, Swale, Croeso, Timely Writer, Lord Avie, Plugged Nickle, Spectacular Bid, Alydar, Ruthie's Native, Coined Silver, Honest Pleasure, Prince Thou Art, Judger, Royal and Regal, Upper Case, Eastern Fleet, My Dad George, Top Knight, Forward Pass, In Reality, Williamston Kid †, Native Charger, Northern Dancer, Candy Spots, Ridan, Carry Back, Bally Ache. [S['bally ache']]
56 nu-1056 NOT AWARDED [S['morgan freeman']]
57 nu-1057 2 [N(1.000000)['1']]
59 nu-1059 54.49 [N(24.720000)['24.72']]
63 nu-1063 12 [N(3.000000)['3']]
66 nu-1066 1905-06 [S['1910-11']]
68 nu-1068 Vira-Lata [S['voce decide']]
69 nu-1069 −10\n(14) and −8\n(18) [D(-1,12,-1)['december']]
74 nu-1074 1 [N(12.000000)['12']]
75 nu-1075 The closest second to Alex Song in terms of transfer fee in the year 2012 cannot be determined from the sub-table. [S['jordi alba']]
82 nu-1082 2 [N(1.000000)['1']]
83 nu-1083 Hobart [S['ulverstone']]
86 nu-1086 8, 9 [N(17.000000)['17']]
88 nu-1088 Polly Umrigar [S['umrigar']]
90 nu-1090 None [S['milos raonic']]
92 nu-1092 Jack Brabham and Mike Parkes [S['mike parkes'], S['jack brabham']]
96 nu-1096 March 20–23, 2014 [N(1188.000000)['1188']]
99 nu-1099 40.3% [N(89.170000)['89.17']]
65

In [142]:
acc / 168

0.42857142857142855

In [31]:
culture = Culture.English
Recognizers.recognize_number('The total number of competitions is 20.', culture)[0].resolution['value']

'20'

In [ ]:
print(output.content)

The table provides information about different games played by a football team. It includes details like the week number, date of the game, opponent team, game result, game site, NFL recap, and the attendance for each game.

In [27]:
str_normalize('The total number of competitions is 20.')

'The total number of competitions is 20.'

### Experiement

#### Large table analysis

In [188]:
import tiktoken
encoding = tiktoken.encoding_for_model("gpt-3.5-turbo-0125")

[83, 1609, 5963, 374, 2294, 758]

In [192]:
len(table_loader.dataset)

4344

In [194]:
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
small_tables  = []
middle_tables  = []
large_tables  = []
for i in range(len(table_loader.dataset)):
    sample = table_loader.normalize_table(
                    table_loader.dataset[i])
    formatter = TableFormat(format='none', data=sample, save_embedding=False)
    sample_data = formatter.get_sample_data(sample_type='all')
    table_length = len(encoding.encode(TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption'])))
    if table_length < 2000:
        small_tables.append(sample['id'])
    elif table_length < 4000:
        middle_tables.append(sample['id'])
    else:
        large_tables.append(sample['id'])

In [195]:
len(small_tables)

3466

In [204]:
acc_small = 0
count  = 0
for index, row in data3.iterrows():
    id = row['ids']
    if id not in large_tables:
        continue
    count += 1
    target = target_values_map[id]
    
    if len(target) > 1:
        pred_answer = to_value_list(row['final_answer'].split(','))
    else:
        pred_answer = to_value_list([row['final_answer']])
    
    if check_denotation(pred_answer, target):
        acc_small += 1
    else:
        # print(index,row['ids'], row['final_answer'], target)
        pass
print(acc_small / count)

0.625